<div id="searchPage">
    <div id="searchArea">
        <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch">
                <div class="panel-heading" translate>
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>
                        common.label.search_form
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <dynamic-input  [property]="f['code']"
                                        [labelValue]="'app.system-parameter.code'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                        [autofocus]="'autofocus'"
                                        [maxLength]='100'>
                        </dynamic-input>
                        <dynamic-input  [property]="f['name']"
                                        [labelValue]="'app.system-parameter.name'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                        [maxLength]='100'>
                        </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['effectiveStartDate'].isHide"
                               [ngClass]="{'required': f['effectiveStartDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.system-parameter.startDate' | translate}}
                        </label>
                        <div [hidden]="f['effectiveStartDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <date-picker [property]="f['effectiveStartDate']"></date-picker>
                          <app-control-messages [control]="f['effectiveStartDate']"></app-control-messages>
                        </div>
                        <label [hidden]="f['effectiveEndDate'].isHide"
                               [ngClass]="{'required': f['effectiveEndDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.system-parameter.endDate' | translate}}
                        </label>
                        <div [hidden]="f['effectiveEndDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <date-picker [property]="f['effectiveEndDate']"></date-picker>
                          <app-control-messages [control]="f['effectiveEndDate']"></app-control-messages>
                        </div>
                    </div>
                </div>

                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"> </button>
                </div>
            </form>
        </div>
    </div>
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong class="text-u-c" translate>
                    <i class="fa fa-th"></i>
                    app.system-parameter.listTitle
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <div *ngIf="hasPermission('action.insert')">
                        <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-table">
                <p-table [scrollable]="true" #ptable [value]="resultList.data"
                [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
                [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="size-1">
                        <col *ngIf="hasPermission('action.update')" class="size-1">
                        <col *ngIf="hasPermission('action.delete')" class="size-1">
                        <col class="">
                        <col class="">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="">
                        <col class="">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'common.table.index' | translate}}</th>
                            <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
                            <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                            <th [pSortableColumn]="'code'">
                              {{'app.system-parameter.code' | translate}}
                              <p-sortIcon [field]="'code'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'name'">
                              {{'app.system-parameter.name' | translate}}
                              <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'effectiveStartDate'">
                              {{'app.system-parameter.startDate' | translate}}
                              <p-sortIcon [field]="'effectiveStartDate'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'effectiveEndDate'">
                              {{'app.system-parameter.endDate' | translate}}
                              <p-sortIcon [field]="'effectiveEndDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'value'">
                              {{'app.system-parameter.value' | translate}}
                              <p-sortIcon [field]="'value'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'description'">
                              {{'app.system-parameter.description' | translate}}
                              <p-sortIcon [field]="'description'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <tr>
                            <td class="vt-align-center">{{index}}</td>
                            <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                              <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                            </td>
                            <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                              <a class="btn-table delete" (click)="processDelete(item)" *ngIf="!listParamUsed.includes(item.code)" title="{{'common.button.table.hDelete' | translate}}">
                                <i class="fa fa-trash-alt"></i>
                              </a>
                              <a class="btn-table delete" (click)="processDelete(item)" *ngIf="listParamUsed.includes(item.code)" title="{{'common.button.table.hLock' | translate}}">
                                <i class="fa fa-lock"></i>
                              </a>
                            </td>
                            <td class="vt-align-center">{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td class="vt-align-center">{{item.effectiveStartDate | displayDate}}</td>
                            <td class="vt-align-center">{{item.effectiveEndDate | displayDate}}</td>
                            <td class="vt-align-left">{{item.value}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr class="emptymessage">
                          <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                          </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <table-footer [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
