<div class="modal-body">
  <form id="frmSaveEmpAllowanceProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"
          ><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empAllowanceProcessId').value" translate>
            app.allowanceProcess.addTitle</span
          >
          <span *ngIf="formSave.get('empAllowanceProcessId').value" translate>
            app.allowanceProcess.editTitle</span
          >
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span
            (click)="activeModal.close()"
            title="{{ 'common.button.close' | translate }}"
            class="btn btn-span btn-sm btn-info"
            ><i class="fa fa-times"></i
          ></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input
            [property]="f['decideCode']"
            [objectId]="f['empAllowanceProcessId'].value"
            [labelValue]="'app.allowanceProcess.decideCode'"
            [labelClass]="
              'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'
            "
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
            [autofocus]="'autofocus'"
            [maxLength]="50"
          >
          </dynamic-input>
          <label
            [hidden]="f['decideDate'].isHide"
            [ngClass]="{ required: f['decideDate'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.decideDate" | translate }}
          </label>
          <div
            [hidden]="f['decideDate'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3"
          >
            <date-picker [property]="f['decideDate']"></date-picker>
            <app-control-messages
              [control]="f['decideDate']"
            ></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label
            [hidden]="f['effectiveDate'].isHide"
            [ngClass]="{ required: f['effectiveDate'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
          >
            sfgfdggg{{ "app.allowanceProcess.effectiveDate" | translate }}
          </label>
          <div
            [hidden]="f['effectiveDate'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3"
          >
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages
              [control]="f['effectiveDate']"
            ></app-control-messages>
          </div>
          <label
            [hidden]="f['expiredDate'].isHide"
            [ngClass]="{ required: f['expiredDate'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.expiredDate" | translate }}
          </label>
          <div
            [hidden]="f['expiredDate'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3"
          >
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages
              [control]="f['expiredDate']"
            ></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label
            [hidden]="f['allowanceTypeId'].isHide"
            [ngClass]="{ required: f['allowanceTypeId'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.allowanceType" | translate }}</label
          >
          <div
            [hidden]="f['allowanceTypeId'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3"
          >
            <select-filter
              (onChange)="onAllowanceTypeChange($event)"
              [property]="f['allowanceTypeId']"
              [options]="allowanceTypeList"
              optionLabel="name"
              optionValue="allowanceTypeId"
              [placeHolder]="
                f['allowanceTypeId'].isRequire
                  ? 'common.label.cboMustSelect'
                  : 'common.label.cboSelect'
              "
            >
            </select-filter>
            <app-control-messages
              [control]="f['allowanceTypeId']"
            ></app-control-messages>
          </div>
          <label
            [hidden]="f['allowanceId'].isHide"
            [ngClass]="{ required: f['allowanceId'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.allowance" | translate }}</label
          >
          <div
            [hidden]="f['allowanceId'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3"
          >
            <select-filter
              (onChange)="onAllowanceChange($event)"
              [property]="f['allowanceId']"
              [options]="allowanceList"
              optionLabel="allowanceName"
              optionValue="allowanceId"
              [placeHolder]="
                f['allowanceId'].isRequire
                  ? 'common.label.cboMustSelect'
                  : 'common.label.cboSelect'
              "
            >
            </select-filter>
            <app-control-messages
              [control]="f['allowanceId']"
            ></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label
            [hidden]="f['factor'].isHide"
            [ngClass]="{ required: f['factor'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.factor" | translate }}</label
          >
          <div
            [hidden]="f['factor'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3 vt-align-right"
          >
            <input
              type="text"
              #factor
              class="form-control"
              formControlName="factor"
              readonly
            />
            <app-control-messages
              [control]="f['factor']"
            ></app-control-messages>
          </div>
          <label
            [hidden]="f['money'].isHide"
            [ngClass]="{ required: f['money'].isRequire }"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right"
          >
            {{ "app.allowanceProcess.money" | translate }}</label
          >
          <div
            [hidden]="f['money'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-3 vt-align-right"
          >
            <input
              type="text"
              #money
              class="form-control"
              formControlName="money"
              readonly
            />
            <app-control-messages [control]="f['money']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input
            [property]="f['description']"
            [objectId]="f['empAllowanceProcessId'].value"
            [labelValue]="'app.allowanceProcess.description'"
            [labelClass]="
              'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'
            "
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
            [type]="'text-area'"
            [maxLength]="1000"
          >
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label
            [hidden]="f['file'].isHide"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
          >
            {{ "app.socialInsuranceProcess.file" | translate }}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD"
            ></multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button
          type="submit"
          (click)="processSaveOrUpdate()"
          class="btn btn-sm btn-info"
          [innerHTML]="'common.button.save' | translate"
        ></button>
        <button
          type="button"
          (click)="activeModal.close()"
          class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.cancel' | translate"
        ></button>
      </div>
    </div>
  </form>
</div>
