<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="modal-body">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.schedular.shiftAssignmentTable.importInfo</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()"
                title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [hidden]="orgParentId.isHide" [ngClass]="{'required': orgParentId.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 ui-lg-offset-3 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="orgParentId.isHide" class="ui-g-12 ui-md-10 ui-lg-5">
                <org-selector [property]="orgParentId" operationKey="action.insert"
                  adResourceKey="resource.organization" isRequiredField="true" (onChange)="selectOrg($event)">
                </org-selector>
                <app-control-messages [control]="orgParentId"></app-control-messages>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': startDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 ui-lg-offset-3 control-label vt-align-right" translate>
                app.schedular.fromDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5">
                <date-picker [property]="startDate">
                </date-picker>
                <app-control-messages [control]="startDate"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': startDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 ui-lg-offset-3 control-label vt-align-right" translate>
                app.schedular.toDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5">
                <date-picker [property]="endDate">
                </date-picker>
                <app-control-messages [control]="endDate"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [hidden]="importFile.isHide" [ngClass]="{'required': importFile.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 ui-lg-offset-3 control-label vt-align-right required">
                {{'controls.choseFile' | translate}}
              </label>
              <div [hidden]="importFile.isHide" class="ui-g-12 ui-md-10 ui-lg-5">
                <file-choser [property]="importFile" validType="csv,xls,xlsx">
                </file-choser>
                <div>
                  <a (click)="onDownloadTemplateImport($event)"
                    translate>app.schedular.importWorkEmployee.downloadTemplate</a>
                </div>
                <app-control-messages [control]="importFile"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="vt-area-button">
            <button type="button" class="btn btn-sm btn-info" (click)="onClickImport()"
              title="{{ 'common.label.import' | translate }}">
              <span [innerHtml]="'common.button.import' | translate"></span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" [routerLink]="'../'"
              title="{{ 'common.label.cancel' | translate }}">
              <span [innerHtml]="'common.button.cancel' | translate"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>

  </div>
  <p-dialog header="{{'app.schedular.import.error'|translate}}" modal="true" [baseZIndex]="10000"
    [(visible)]="isImportError" [style]="{width: '700px' }">
    <div class="content">
      <p translate>app.schedular.import.error.content</p>
      <p> <span translate style="padding-right: 5px;">app.schedular.import.error.detail</span>
        <a (click)="onDownloadImportErrorDetails()"><span><a style="color:blue; padding-right: 5px;">{{errorFileName +
              ".xlsx"}}</a> <i class="fa fa-download"></i> </span></a>
      </p>
    </div>
  </p-dialog>
</div>
