<div class="payroll-calendar">
  <div class="panel panel-default">
    <div class="payroll-calendar-header vt-align-center">
      <strong>{{firstDayOfMonth.format('MMMM')}} {{firstDayOfMonth.format('YYYY')}}</strong>
    </div>
    <div class="payroll-calendar-body vt-align-center">
      <table class="table w100">
        <tbody>
          <tr>
            <th style="color: red">Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th style="color: red">Sa</th>
          </tr>
          <tr *ngFor="let week of listWeek">
            <td *ngFor="let day of week" [ngClass]="{disabled: day.month() != firstDayOfMonth.month() || day.format('dd') != 'Sa' || startDate >= day || day >= endDate || Duplidate(day) }">
            <!-- , 'bg-info': isExist(day) -->
              <div class="display-table w100" [ngClass]="{onWorks: mapDateTimekeeping && mapDateTimekeeping[day.toDate().getTime()] }">
                <div class="table-cell holiday-date" (click)="selectedChange(day)">
                  {{day.format('DD')}}
                </div>
                <div class="table-cell holiday-item">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
