<div class="modal-body">
  <form id="frmSavePayslipConfig" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('payslipId').value"  translate> payroll.payslip.config.add</span>
          <span *ngIf="formSave.get('payslipId').value"  translate> payroll.payslip.config.edit</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button type="button" style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
        </div>
      </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
              [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.payslipConfig"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label  [hidden]="f['salaryTypeId'].isHide"
                    [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                    {{'payroll.item.salaryitem' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter  [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['salaryTypeId']"
                            [options]="salaryTypeList"
                            optionLabel="name"
                            optionValue="salaryTypeId"
                            >
              </select-filter>
              <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12">
            <label  [hidden]="f['status'].isHide"
                    [ngClass]="{'required': f['status'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payslip.config.status' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                          [property]="f['status']"
                          [options]="statusList"
                          optionLabel="label"
                          optionValue="id"
                          [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                          [isMultiLanguage]="true">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>

            <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'payroll.payslip.config.fileTemplate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <file-choser
                [property]="f['file']"
                [validMaxSize]="10"
                validType="doc,docx">
              </file-choser>
              <app-control-messages [control]="f['file']"></app-control-messages>
              </div>
          </div>

          <div class="ui-g-12">
            <dynamic-input  [property]="f['dataQuery']"
                            [objectId]="f['payslipId'].value"
                            [labelValue]="'payroll.payslip.config.dataQuery'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-8'"
                            [type]="'text-area'"
                            [autofocus]="'autofocus'"
                            [rows]="4"
                            [maxLength]='8000'>
            </dynamic-input>
          </div>

        </div>
      <div class="panel-footer vt-area-button">
        <button type="submit"  (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button"  (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate">
        </button>
      </div>
    </div>
  </form>
</div>
