
<div class="content" *ngIf="hasPermission('action.insert')">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('templateDynamicId').value">{{'app.templateDynamic.add_form_title' | translate}}</span>
          <span *ngIf="formSave.get('templateDynamicId').value">{{'app.templateDynamic.update_form_title' | translate}}</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.templateDynamic.organizationId' | translate}}
          </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.organization"
              isRequiredField = "true">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
          <label [hidden]="f['formTypeId'].isHide" [ngClass]="{'required': f['formTypeId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.templateDynamic.templateDynamicType' |translate}}
          </label>
          <div [hidden]="f['formTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [placeHolder]="f['formTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['formTypeId']" [options]="templateTypeList" optionLabel="value" optionValue="systemParameterId">
            </select-filter>
            <app-control-messages [control]="f['formTypeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['positionId'].isHide" [ngClass]="{'required': f['positionId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.templateDynamic.positionId
          </label>
          <div [hidden]="f['positionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['positionId']"
              systemCode="report"
              operationKey="action.view"
              adResourceKey="resource.employee"
              objectBO="PositionBO"
              codeField="code"
              nameField="name"
              selectField="positionId"
              isRequiredField = "true">
            </data-picker>
            <app-control-messages [control]="f['positionId']"></app-control-messages>
          </div>
          <label [hidden]="f['labourContractTypeId'].isHide" [ngClass]="{'required': f['labourContractTypeId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.templateDynamic.labourContractTypeId' | translate}}
          </label>
          <div [hidden]="f['labourContractTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['labourContractTypeId']"
              [options]="laboutContractTypeList"
              optionLabel="name"
              optionValue="labourContractTypeId"
              [placeHolder]="f['labourContractTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['labourContractTypeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.templateDynamic.startDate' | translate}}
          </label>
          <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['startDate']"></date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.templateDynamic.endDate' | translate}}
          </label>
          <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['endDate']"></date-picker>
            <app-control-messages [control]="f['endDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.templateDynamic.attachFile' | translate}}
          </label >
          <div class="ui-g-12 ui-md-12 ui-lg-3">
            <file-language-chooser [property]="f['file']" [validMaxSize]="10" validType="xls,xlsx,doc,docx,pdf" ></file-language-chooser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['description']"
                          [objectId]="f['templateDynamicId'].value"
                          [labelValue]="'app.templateDynamic.description'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [rows]='2'
                          [type]="'text-area'"
                          [maxLength]='250'
                          [autofocus]="'autofocus'">
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <template-dynamic-parameter #parameter></template-dynamic-parameter>
        </div>
        <div class="ui-g-12">
          <template-dynamic-sql #sql></template-dynamic-sql>
        </div>
        <div class="ui-g-12" [hidden]= 'true'>
          <template-dynamic-signature #signature></template-dynamic-signature>
        </div>
      </div>

      <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" [routerLink]="['/reports/template-dynamic']"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
