<have-permission actionCode="action.view" resourceCode="resource.occupationalSafety">
  <div class="row">
    <div class="col-md-12">
      <occupational-safety-list></occupational-safety-list>
    </div>
  </div>
</have-permission>

<have-not-permission actionCode="action.view" resourceCode="resource.occupationalSafety" translate>
  common.haveNoPermission
</have-not-permission>
