<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            {{ 'common.label.search_form' | translate }}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['name']"
              [labelValue]="'app.trainingPlan.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [autofocus]="'autofocus'"
              [maxLength]="200">
            </dynamic-input>
            <dynamic-input
              [property]="f['documentNumber']"
              [labelValue]="'app.trainingPlan.documentNumber'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]="20">
            </dynamic-input>
          </div>

          <div class="ui-g-12">
              <dynamic-input
                [property]="f['organization']"
                [labelValue]="'app.trainingPlan.organization'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]="200">
              </dynamic-input>

              <label [hidden]="f['trainingType'].isHide"
                [ngClass]="{'required': f['trainingType'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.trainingPlan.trainingType' | translate}}
              </label>
              <div [hidden]="f['trainingType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['trainingType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  [property]="f['trainingType']"
                  [options]="trainingTypeList"
                  optionLabel="name"
                  (onChange)= "onChangeType($event)"
                  optionValue="sysCatId">
                </select-filter>
                <app-control-messages [control]="f['trainingType']"></app-control-messages>
              </div>
          </div>

          <div class="ui-g-12">
            <label [hidden]="f['workProcessDate'].isHide"
              [ngClass]="{'required': f['workProcessDate'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.trainingPlan.workProcessDate
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['workProcessDate']" yearRange="1919:2120"></date-picker>
              <app-control-messages [control]="f['workProcessDate']"></app-control-messages>
            </div>
            <dynamic-input
              [property]="f['numOfEmployee']"
              [labelValue]="'app.trainingPlan.numOfEmployee'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]="10">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
        </div>
      </form>
    </div>
  </div>

  <div id="listArea">
    <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'app.trainingPlan.listTitle' | translate}}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <div *ngIf="hasPermission('action.insert')">
                <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
              </div>
            </div>
          </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col *ngIf="hasPermission('action.update')" class="size-1">
                  <col *ngIf="hasPermission('action.delete')" class="size-1">
                  <col class="size-9">
                  <col class="size-9">
                  <col class="size-9">
                  <col class="size-6">
                  <col class="size-8">
                  <col class="size-6">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>{{'common.table.index' | translate}}</th>
                    <th *ngIf="hasPermission('action.update')">
                        {{'common.button.table.hEdit' | translate}}
                    </th>
                    <th *ngIf="hasPermission('action.delete')">
                        {{'common.button.table.hDelete' | translate}}
                    </th>
                    <th [pSortableColumn]="'name'">
                        {{'app.trainingPlan.name' | translate}}
                        <p-sortIcon [field]="'name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'documentNumber'">
                        {{'app.trainingPlan.documentNumber' | translate}}
                        <p-sortIcon [field]="'documentNumber'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'organization'">
                        {{'app.trainingPlan.organization' | translate}}
                        <p-sortIcon [field]="'organization'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'trainingType'">
                        {{'app.trainingPlan.trainingType' | translate}}
                        <p-sortIcon [field]="'trainingType'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'workProcessDate'">
                        {{'app.trainingPlan.workProcessDate' | translate}}
                        <p-sortIcon [field]="'workProcessDate'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'numOfEmployee'">
                        {{'app.trainingPlan.numOfEmployee' | translate}}
                        <p-sortIcon [field]="'numOfEmployee'"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                        <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                        <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.documentNumber}}</td>
                    <td>{{item.organization}}</td>
                    <td>{{item.trainingTypeName}}</td>
                    <td class="vt-align-center">{{item.workProcessDate | displayDate}}</td>
                    <td class="vt-align-right">{{item.numOfEmployee}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                  <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
