<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading" translate>
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              common.label.search_form
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                   [ngClass]="{'required': f['organizationId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'payroll.formula.diagram.organizationName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector-payroll
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.formulaDiagram"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector-payroll>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <dynamic-input  [property]="f['payrollDiagramName']"
                            [labelValue]="'payroll.formula.diagram.payrollDiagramName'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='100'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['status'].isHide"
                   [ngClass]="{'required': f['status'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
              {{'payroll.formula.diagram.status' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  (onChange)="onStatusChange($event)"
                  [property]="f['status']"
                  [options]="statusList"
                  optionLabel="name"
                  optionValue="actionType"
                  [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'payroll.formula.diagram.listTitle' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf = "hasPermission('action.insert')">
                <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table [scrollable]="true" #ptable [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col *ngIf = "hasPermission('action.update')" class="size-1">
                <col *ngIf = "hasPermission('action.delete')" class="size-1">
                <col class="">
                <col class="">
                <col class="size-6">
                <col class="size-6">
                <col class="size-8">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'common.table.index' | translate}}</th>
                <th *ngIf = "hasPermission('action.update')" translate>common.button.table.hEdit</th>
                <th *ngIf = "hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                <th [pSortableColumn]="'organizationName'" translate>payroll.formula.diagram.organizationName
                    <p-sortIcon [field]="'organizationName'"></p-sortIcon>
                </th>
                <th  [pSortableColumn]="'payrollDiagramName'" translate>payroll.formula.diagram.payrollDiagramName
                    <p-sortIcon [field]="'payrollDiagramName'"></p-sortIcon>
                </th>
                <th  [pSortableColumn]="'startDate'" translate>payroll.formula.diagram.startDate
                  <p-sortIcon [field]="'startDate'"></p-sortIcon>
                </th>
                <th pSortableColumn="endDate" translate>payroll.formula.diagram.endDate
                  <p-sortIcon field="endDate"></p-sortIcon>
                </th>
                <th pSortableColumn="status" translate>payroll.formula.diagram.status
                  <p-sortIcon field="status"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td *ngIf = "hasPermission('action.update')" class="vt-align-center">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td *ngIf = "hasPermission('action.delete')" class="vt-align-center">
                  <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-left">{{item.organizationCode}} - {{item.organizationName}}</td>
                <td class="vt-align-left">{{item.payrollDiagramName}}</td>
                <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                <td class='vt-align-center'>{{item.endDate | displayDate}}</td>
                <td class="vt-align-left">
                  <span class="label-status info" *ngIf="item.status == 1">{{statusList[1].name}}</span>
                  <span class="label-status danger" *ngIf="item.status == 0">{{statusList[0].name}}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>
