
<div class="content" *ngIf="hasPermission('action.insert')">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('reportDynamicId').value">{{'app.reportDynamic.add_form_title' | translate}}</span>
          <span *ngIf="formSave.get('reportDynamicId').value">{{'app.reportDynamic.update_form_title' | translate}}</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['code']"
                          [labelValue]="'app.reportDynamic.code'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          autofocus="autofocus"
                          [maxLength]='50'>
          </dynamic-input>
          <dynamic-input  [property]="f['name']"
                          [labelValue]="'app.reportDynamic.name'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.reportDynamic.startDate' | translate}}
          </label>
          <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['startDate']"></date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.reportDynamic.endDate' | translate}}
          </label>
          <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['endDate']"></date-picker>
            <app-control-messages [control]="f['endDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.reportDynamic.attachFile' | translate}}
          </label >
          <div class="ui-g-12 ui-md-12 ui-lg-3">
            <file-language-chooser [property]="f['file']" [validMaxSize]="10" validType="xls,xlsx,doc,docx,pdf" ></file-language-chooser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
          <label [hidden]="f['formatReport'].isHide" [ngClass]="{'required': f['formatReport'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.reportDynamic.formatReport' | translate}}
          </label>
          <div [hidden]="f['formatReport'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['formatReport']"
              [options]="listFormatReport"
              optionLabel="value"
              optionValue="code"
              [placeHolder]="f['formatReport'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['formatReport']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12" [hidden]= "f['formatReport'].value !== 'EXCEL'">
          <dynamic-input  [property]="f['startRow']"
                          [labelValue]="'app.reportDynamic.startRow'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'">
          </dynamic-input>
          <dynamic-input  [property]="f['startRowSign']"
                          [labelValue]="'app.reportDynamic.startRowSign'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'">
          </dynamic-input>
        </div>
        <div class="ui-g-12" [hidden]= "f['formatReport'].value !== 'EXCEL'">
          <dynamic-input  [property]="f['endRowSign']"
                          [labelValue]="'app.reportDynamic.endRowSign'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          >
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <report-dynamic-sql #sql></report-dynamic-sql>
        </div>
        <div class="ui-g-12" [hidden]= "f['formatReport'].value !== 'EXCEL'">
          <report-dynamic-column #column></report-dynamic-column>
        </div>
        <div class="ui-g-12">
          <report-dynamic-parameter #parameter></report-dynamic-parameter>
        </div>
      </div>

      <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" [routerLink]="['/reports/report-dynamic']"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
