<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('propertyId').value">{{'app.sys_property.add_form_title' | translate}}</span>
          <span *ngIf="formSave.get('propertyId').value">{{'app.sys_property.update_form_title' | translate}}</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['code']"
                          [objectId]="f['propertyId'].value"
                          [labelValue]="'app.sys_property.code'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='50'>
          </dynamic-input>
          <dynamic-input  [property]="f['name']"
                          [objectId]="f['propertyId'].value"
                          [labelValue]="'app.sys_property.name'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['startDate'].isHide"
                 [ngClass]="{'required': f['startDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.sys_property.startDate' | translate}}
          </label>
          <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['startDate']"></date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label [hidden]="f['endDate'].isHide"
                 [ngClass]="{'required': f['endDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.sys_property.endDate' | translate}}
            </label>
          <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['endDate']"></date-picker>
            <app-control-messages [control]="f['endDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['resourceCode'].isHide"
                 [ngClass]="{'required': f['resourceCode'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.sys_property.resourceCode' | translate}}
          </label>
          <div [hidden]="f['resourceCode'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
            [placeHolder]="f['resourceCode'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['resourceCode']"
              [options]="resources"
              optionLabel="name"
              optionValue="code">
            </select-filter>
            <app-control-messages [control]="f['resourceCode']"></app-control-messages>
          </div>
          <label [hidden]="f['actionForm'].isHide"
                 [ngClass]="{'required': f['actionForm'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.sys_property.actionForm' | translate}}
          </label>
          <div [hidden]="f['actionForm'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
            [placeHolder]="f['actionForm'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['actionForm']"
              [options]="actionForms"
              optionLabel="name"
              optionValue="code">
            </select-filter>
            <app-control-messages [control]="f['actionForm']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['tableName'].isHide"
                 [ngClass]="{'required': f['tableName'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.sys_property.tableName' | translate}}
          </label>
          <div [hidden]="f['tableName'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['tableName'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['tableName']"
              [options]="tables"
              optionLabel="name"
              optionValue="code"
              (onChange)="onChangeFieldTableName($event)">
            </select-filter>
            <app-control-messages [control]="f['tableName']"></app-control-messages>
          </div>
          <label [hidden]="f['columnName'].isHide"
                 [ngClass]="{'required': f['columnName'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.sys_property.columnName' | translate}}
          </label>
          <div [hidden]="f['columnName'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['columnName'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['columnName']"
              [options]="columns"
              optionLabel="name"
              optionValue="code"
              [disabled]="!f['tableName'].value">
            </select-filter>
            <app-control-messages [control]="f['columnName']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['isValidator'].isHide"
                 [ngClass]="{'required': f['isValidator'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.sys_property.isValidator' | translate}}</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <label class="i-switch bg-info m-t-xs m-r">
              <input type="checkbox" name="isValidator" [value]="1" formControlName="isValidator" />
              <i></i>
            </label>
            <app-control-messages [control]="f['isValidator']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
