<div id="searchPage">
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
  <div *ngIf="hasPermission('action.view')">
    <div id="searchArea">
      <div class="panel panel-default">
          <form id="formSearch" [formGroup]="formSearch">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                </strong>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12">
                <label [hidden]="f['organizationId'].isHide"
                      [ngClass]="{'required': f['organizationId'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.position.unitName' | translate}}
                </label>
                <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <org-selector
                    [property]="f['organizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.workProcess"
                    [defaultValue]="true"
                    isRequiredField = "true">
                  </org-selector>
                  <app-control-messages [control]="f['organizationId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['startDate'].isHide"
                      [ngClass]="{'required': f['startDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.payrolls.fromDate' | translate}}
                </label>
                <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['startDate']"></date-picker>
                  <app-control-messages [control]="f['startDate']"></app-control-messages>
                </div>
                <label [hidden]="f['endDate'].isHide"
                      [ngClass]="{'required': f['endDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.payrolls.toDate' | translate}}
                </label>
                <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['endDate']"></date-picker>
                  <app-control-messages [control]="f['endDate']"></app-control-messages>
                </div>
              </div>
            </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearchLockTimekeeping()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
            <button *ngIf="hasPermission('action.lock')" type="button"
                    (click)="processLockUnLock(1, null, null)" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.table.lock' | translate"></button>
            <button *ngIf="hasPermission('action.unLock')" type="button"
                    (click)="processLockUnLock(0, null, null)" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.table.unLock' | translate"></button>
          </div>
        </form>
      </div>
    </div>
    <div id="listArea" style="padding-top: 20px;" *ngIf="showList == true">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.lockOrUnLockList' | translate}}
            </strong>
        </div>
        <div class="panel-body panel-table clearfix" >
          <div style="float:left; width:440px;">
            <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
            (onLazyLoad)="processSearch($event)" [totalRecords]="resultList.recordsTotal"
            [lazyLoadOnInit]="false" [lazy]="true" [rows]="30"
            [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b ">
              <ng-template pTemplate="colgroup" let-columns>
                <col style="width:35px;">
                <col style="width:50px;" *ngIf="hasPermission('action.lock')">
                <col style="width:50px;" *ngIf="hasPermission('action.unLock')">
                <col style="width:90px;">
                <col style="width:210px;">
              </ng-template>
              <ng-template pTemplate="header">
                <tr style="height:71px !important;">
                  <th translate>common.table.index</th>
                  <th *ngIf="hasPermission('action.lock')" translate>
                    common.button.table.hLock
                  </th>
                  <th *ngIf="hasPermission('action.unLock')" translate>
                    common.button.table.hUnLock
                  </th>
                  <th translate>app.organization.code </th>
                  <th translate>app.organization.name </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr style="height: 35px;">
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.lock')">
                    <a style="color:red;cursor: pointer" title="{{'common.button.table.hLock' | translate}}">
                      <i class='fa fa-lock' (click)="processLockUnLock(1, item.organizationId, null)"></i>
                    </a>
                  </td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.unLock')">
                    <a style="color:orange;cursor: pointer;" title="{{'common.button.table.hUnLock' | translate}}">
                      <i class='fa fa-unlock' (click)="processLockUnLock(0, item.organizationId, null)"></i>
                    </a>
                  </td>
                  <td class="vt-align-center ">{{item.organizationCode}}</td>
                  <td class="vt-align-left"><span class="td-name">{{item.organizationName}}</span></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
                  </tr>
                </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
            </p-table>
          </div>
          <div class="keepingTable" style="float:left; width:calc(100% - 440px); overflow-x:scroll; overflow-y:visible;" >
            <p-table #ptable [value]="resultList.data" [lazy]="false" [rows]="30"
            [responsive]="true" tableStyleClass="table table-wrapper tableLayoutFixed table-hover table-striped b-t b-b">
              <ng-template pTemplate="header">
                <tr style="height:36px !important;">
                  <th *ngFor="let header of listHeaderDate" class="vt-align-center" [ngStyle]="{'width': 50*header.length + 'px'}" [attr.colspan]="header.length">
                    <span>{{moment(header[0]).format('MM/YYYY')}}</span>
                  </th>
                </tr>
                <tr style="height:35px !important;" >
                  <th *ngFor="let item of listData" style="width: 50px" [title]="moment(item).format('DD/MM/YYYY')"  [ngClass]="{'color-danger': ['0','6'].indexOf(moment(item).format('d')) >= 0 }">
                    {{moment(item).format('DD') }}<sub>({{moment(item).format('dd')}})</sub>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr style="height: 35px;" >
                  <td  *ngFor="let day of listData" class="vt-align-center" style="width: 50px">
                    <span *ngIf="resultList.extendData.mapLockOrgByDate && resultList.extendData.mapLockOrgByDate.hasOwnProperty(item.organizationId + '_' + day.toDate().getTime())">
                      <span *ngIf="resultList.extendData.mapLockOrgByDate[item.organizationId + '_' + day.toDate().getTime()] === 1"
                            title="{{'common.button.table.hUnLock' | translate}}"
                            (click)="processLockUnLock(0, item.organizationId, day.toDate().getTime())"
                            class="fa fa-lock" style="color:red;cursor: pointer">
                      </span>
                      <span *ngIf="resultList.extendData.mapLockOrgByDate[item.organizationId + '_' + day.toDate().getTime()] === 0"
                            title="{{'common.button.table.hLock' | translate}}"
                            (click)="processLockUnLock(1, item.organizationId, day.toDate().getTime())"
                            class="fa fa-unlock-alt"
                            style="color:orange;cursor: pointer;background: #E8E8E8;">
                      </span>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
