<div class="modal-body">
  <form id="frmSaveSysCatType" [formGroup]="formSave">
      <div class="panel panel-default">
          <div class="panel-heading">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span *ngIf="!formSave.get('nationConfigTypeId').value" translate> app.nation_config_type_add_title</span>
                <span *ngIf="formSave.get('nationConfigTypeId').value" translate> app.nation_config_type_edit_title </span>
              </strong>
              <div class="vt-absolute vt-shotcut-button-in-heading">
                <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
              </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <dynamic-input  [property]="f['code']"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [labelValue]="'app.nation_config.code'"
                              [maxLength]="20"
                              
                              [disabled]="f['nationConfigTypeId'].value">
              </dynamic-input>
              <dynamic-input  [property]="f['name']"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [labelValue]="'app.nation_config.name'"
                              [maxLength]="200"
                              [autofocus]="'autofocus'">
              </dynamic-input>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
              <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
              <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
          </div>
      </div>
  </form>
</div>
