<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'organization.viewDetailTitle' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <span style="display: inline-block;"
          (click)="activeModal.close()"
          title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
    <div class="panel-body padding-xl">
      <p-tabView class="paddingZeroTab">
        <p-tabPanel [header]="'app.organization.commonInformation' | translate">
          <div class="panel panel-default">
            <div class="panel-body padding-xl">
              <table style="width:100%;" class="table table-bordered">
                <tr>
                  <td style="width: 20%; font-weight: bold;" translate>app.organization.code</td>
                  <td style="width: 25%">{{ orgInfo.code }}</td>
                  <td style="width: 25%; font-weight: bold;" translate>app.organization.unitName</td>
                  <td>{{ orgInfo.name }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.shortName</td>
                  <td>{{ orgInfo.shortName }}</td>
                  <td style="font-weight: bold;" translate>app.organization.unitManager</td>
                  <td>{{ orgInfo.orgManager }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.parentUnit</td>
                  <td>{{ orgInfo.orgParent }}</td>
                  <td style="font-weight: bold;" translate>app.organization.lineUnit</td>
                  <td>{{ orgInfo.lineUnit }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.decisionNumber</td>
                  <td>{{ orgInfo.decisionNumber }}</td>
                  <td style="font-weight: bold;" translate>app.organization.decisionSigner</td>
                  <td>{{ orgInfo.decisionSigner }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.decisionDate</td>
                  <td>{{ orgInfo.decisionDate | displayDate }}</td>
                  <td style="font-weight: bold;" translate>app.organization.totalBoundary</td>
                  <td>{{ orgInfo.totalBoundary }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.effectiveDate</td>
                  <td>{{ orgInfo.effectiveDate | displayDate }}</td>
                  <td style="font-weight: bold;" translate>app.organization.expiredDate</td>
                  <td>{{ orgInfo.expiredDate | displayDate }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.address</td>
                  <td>{{ orgInfo.address }}</td>
                  <td style="font-weight: bold;" translate>app.organization.phoneNumber</td>
                  <td>{{ orgInfo.phoneNumber }}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;" translate>app.organization.description</td>
                  <td colspan="3">{{ orgInfo.description }}</td>
                </tr>
              </table>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel [header]="'app.organization.organizationChart' | translate">
          <div class="panel panel-default">
            <div class="panel-body padding-xl" style="overflow-x: scroll"
            (mousedown)="onmousedown($event)"
            (mouseup)="onmouseup($event)"
            (mousemove)="onmousemove($event)"
            (mousewheel)="onmousewheel($event)">
              <div [style.transform]="paneTransform"
              >
              <tree-view [orgId]="organizationId"></tree-view>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
