
<div class="input-group picker dataPicker">
  <input type="text" [disabled]="disabled ? true : false" (focus)="onFocus()" class="form-control" #displayName />
  <div class="input-group-append" *ngIf="!disabled">
    <button class="btn btn-info chosen" type="button" #buttonChose (click)="onChose()" [title]="'app.common.title.select' | translate" [innerHTML]="'common.icon.checkData' | translate"></button>
    <button *ngIf="!isRequiredField" (click)="delete()" class="btn btn-danger" type="button"  [title]="'app.common.title.remove' | translate" [innerHTML]="'common.icon.removeData' | translate"></button>
  </div>
</div>
