<div class="content">
  <div *ngIf="hasPermission('action.view')" >
  <div class="row">
    <div class="col-md-3">
      <app-sys-cat-type [sysCatSearchComp]="sysCatSearchComp"></app-sys-cat-type>
    </div>
    <div class="col-md-9 no-padding-left">
      <sys-cat-search #sysCatSearchComp></sys-cat-search>
    </div>
  </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
