<div class="modal-body">
  <form id="form">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span *ngIf="!formSave.get('timekeepingLockConfigId').value" translate>app.payrolls.timekeepingLockConfig.add</span>
            <span *ngIf="formSave.get('timekeepingLockConfigId').value" translate>app.payrolls.timekeepingLockConfig.edit</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                  [ngClass]="{'required': f['organizationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.organization"
                [disabled]=" f['timekeepingLockConfigId'].value "
                isRequiredField = "true"
                [defaultValue]="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['lockType'].isHide"
                  [ngClass]="{'required': f['lockType'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
              {{'app.payrolls.lockType' | translate}}
            </label>
            <div [hidden]="f['lockType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['lockType']"
                [options]="lockTypeList"
                optionLabel="name"
                optionValue="id"
                (onChange)="onChaneLockType($event)"
                isMultiLanguage="true"
                [placeHolder]="f['lockType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
              </select-filter>
              <app-control-messages [control]="f['lockType']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12" *ngIf="!isDay">
            <dynamic-input  [property]="f['lockDateFrom']"
                          [objectId]="f['timekeepingLockConfigId'].value"
                          [labelValue]="'app.payrolls.lockDateFrom'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]="2">
            </dynamic-input>
            <dynamic-input  [property]="f['lockDateTo']"
                          [objectId]="f['timekeepingLockConfigId'].value"
                          [labelValue]="'app.payrolls.lockDateTo'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]="2" >
            </dynamic-input>
          </div>
          <div class="ui-g-12" *ngIf="!isDay">
            <dynamic-input  [property]="f['closingDate']"
                          [objectId]="f['timekeepingLockConfigId'].value"
                          [labelValue]="'app.payrolls.closingDate'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]="2" >
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
