<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form [formGroup]="formSearch" id="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}</strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                   [ngClass]="{'required': true}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [defaultValue]="false"
                [property]="f['organizationId']"
                adResourceKey="resource.organization"
                isRequiredField="true"
                operationKey="action.view">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['effectiveDate'].isHide"
                   [ngClass]="{'required': f['effectiveDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.effectiveDate' | translate}}
            </label>
            <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['effectiveDate']">
              </date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
            <label [hidden]="f['expiredDate'].isHide"
                   [ngClass]="{'required': f['expiredDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.expiredDate' | translate}}
            </label>
            <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['expiredDate']">
              </date-picker>
              <app-control-messages [control]="f['expiredDate']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button (click)="processSearch()" [innerHTML]="'common.button.search' | translate" class="btn btn-sm btn-info"
                  type="submit"></button>
          <button *ngIf="hasPermission('action.insert')" [innerHTML]="'common.button.addNew' | translate"
                  [routerLink]="['add']"
                  class="btn btn-sm btn-info ng-star-inserted" type="button"><i
            class="fa fa-plus"></i></button>
          <button (click)="processImportOpenCloseMarket()" [innerHTML]="'common.button.import' | translate"
                  class="btn btn-sm btn-info"
                  type="button"></button>
        </div>
      </form>
    </div>
  </div>
  <!-- list -->
  <div id="listArea" style="padding-top: 10px;">
    <div class="panel panel-default">
      <div class="panel-body panel-table">
        <p-table #ptable (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [lazy]="true"
                 [paginator]="true" [rows]="10" [scrollable]="true" [totalRecords]="resultList.totalElements"
                 [value]="resultList.content"
                 tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template let-columns pTemplate="colgroup">
            <colgroup>
              <col class="size-1">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th> Mã đơn vị</th>
              <th> Đơn vị</th>
              <th> Thời gian áp dụng từ ngày</th>
              <th> Thời gian áp dụng đến ngày</th>
              <th>{{'common.button.table.hEdit' | translate}}</th>
              <th>{{'common.button.table.hDelete' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template let-index="rowIndex+1" let-item pTemplate="body">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">{{item.organization != null ? item.organization.code : ''}}</td>
              <td class="vt-align-center">{{item.organization != null ? item.organization.name : ''}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a (click)="prepareSaveOrUpdate(item)" class="btn-table edit"
                   title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                <a (click)="processDelete(item)" [hidden]="item.applyCount" class="btn-table delete"
                   title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


