<div class="modal-body">
  <form id="frmSaveAllowance">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formDocumentType">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;
              <span *ngIf="!formDocumentType.get('documentTypeId').value" translate>app.documentType.add_title</span>
              <span *ngIf="formDocumentType.get('documentTypeId').value" translate>app.documentType.edit_title</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [objectId]="f['documentTypeId'].value"
                            [labelValue]="'app.documentType.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="f['documentTypeId'].value ? '' : 'autofocus'"
                            [disabled]= "f['documentTypeId'].value ? true: false"
                            [maxLength]='50'
                            >
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [objectId]="f['documentTypeId'].value"
                            [labelValue]="'app.documentType.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="f['documentTypeId'].value ? 'autofocus' : ''"
                            [maxLength]='200'
                            >
            </dynamic-input>
          </div>
          <div class="ui-g-12" >
              <label [hidden]="f['used'].isHide"
                     [ngClass]="{'required': f['used'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.documentType.used' | translate}}
              </label>
              <div [hidden]="f['used'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <label class="i-switch bg-info m-t-xs m-r" *ngIf="isUsed === true" style="pointer-events:none; opacity:0.5;">
                  <input type="checkbox" name="used" [checked] = "checked" (change)="OnChangeCB($event)" formControlName="used" />
                  <i></i>
                </label>
                <label class="i-switch bg-info m-t-xs m-r" *ngIf="isUsed === false">
                  <input type="checkbox" name="used" [checked] = "checked" (change)="OnChangeCB($event)" formControlName="used"/>
                  <i></i>
                </label>
              </div>
              <app-control-messages [control]="f['used']"></app-control-messages>

              <label [hidden]="f['inoutFlag'].isHide"
                      [ngClass]="{'required': f['inoutFlag'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.documentType.inoutFlag' | translate}}
              </label>
              <div [hidden]="f['inoutFlag'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                <div class="form-check">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_1" [value]="1" name="inoutFlag" formControlName="inoutFlag">
                    <i></i>
                    {{'app.documentType.enter' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_2" [value]="2" name="inoutFlag" formControlName="inoutFlag">
                    <i></i>
                    {{'app.documentType.outside' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_3" [value]="3" name="inoutFlag" [checked] = "checkedFlag" formControlName="inoutFlag">
                    <i></i>
                    {{'app.documentType.inside' | translate}}
                  </label>
                </div>
                <app-control-messages [control]="f['inoutFlag']"></app-control-messages>
              </div>
          </div>
          <div class="ui-g-12">
                  <div class="panel panel-default">
                    <div class="panel-heading vt-relative color-panel">
                      <strong class="text-u-c">
                        <i class="fa fa-th"></i> <span translate> app.documentType.documentReason</span>
                      </strong>
                    </div>
                    <div class="panel-body panel-table" style="padding: 10px 10px">
                      <p-table [value]="formDocumentReason.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col class="size-6">
                            <col class="size-1">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th translate><span  [ngClass]="{'required':formDocumentReason.controls.length > 0 && formDocumentReason.controls[0].controls.name.isRequire}">app.documentType.documentReasonName</span></th>
                            <th translate >app.documentType.documentReasonAction</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                          <tr [formGroup]="item">
                              <td>
                                  <dynamic-input  [property]="item.controls.name"
                                                  [objectId]="item.controls.documentReasonId.value"
                                                  [maxLength]='100'>
                                  </dynamic-input>
                              </td>
                              <td class="vt-align-center">
                                  <a class="btn-table delete" (click)="removeDocumentReason(index, item)" title="{{'common.button.table.hDelete' | translate}}">
                                      <i class="fa fa-trash-alt"></i>
                                  </a>
                              </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div class="panel-footer vt-relative">
                        <div class="vt-shotcut-button-in-heading vt-align-left">
                            <button  class="btn-icon plus" (mousedown)="addDocumentReason(item)" [innerHTML]="'common.icon.plus' | translate">
                            </button>
                        </div>
                    </div>
                  </div>
                <!-- </p-tabPanel>
              </p-tabView> -->
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
