<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
<div *ngIf="hasPermission('action.view')">
  <div id="searchPage">
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong class="text-u-c" translate>
                    <i class="fa fa-th"></i>
                    app.taxReduction.listTitle
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading" *ngIf="hasPermission('action.insert')">
                    <div>
                        <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-table">
                <p-table [scrollable]="true" #ptable [value]="resultList.data"
                [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
                [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col *ngIf="hasPermission('action.update')" class="size-1">
                        <col *ngIf="hasPermission('action.delete')" class="size-1">
                        <col class="size-1">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-7">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-2">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-5">
                        <col class="size-4">
                        <col class="size-7">
                        <col class="size-12">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'common.table.index' | translate}}</th>
                            <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
                            <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                            <th translate> app.taxReduction.idDeprendants </th>
                            <th translate> app.taxReduction.idFamily </th>
                            <th translate> app.taxReduction.fullName </th>
                            <th [pSortableColumn]="'dateOfBirth'" translate>
                                app.taxReduction.dateOfBirth
                                <p-sortIcon [field]="'dateOfBirth'"></p-sortIcon>
                            </th>
                            <th translate> app.taxReduction.taxCodeNumber </th>
                            <th translate> app.taxReduction.pidPasport </th>
                            <th translate> app.taxReduction.relationship </th>
                            <th translate> app.taxReduction.currentRelated </th>
                            <th translate> app.taxReduction.currentStatus </th>
                            <th [pSortableColumn]="'profileNumber'" translate>
                                app.taxReduction.profileNumber
                                <p-sortIcon [field]="'profileNumber'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'fromDate'" translate>
                              app.taxReduction.fromDate
                              <p-sortIcon [field]="'fromDate'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'toDate'" translate>
                              app.taxReduction.toDate
                              <p-sortIcon [field]="'toDate'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'declareOrganizationName'" translate>
                                app.taxReduction.finalizationDepartment
                                <p-sortIcon [field]="'declareOrganizationName'"></p-sortIcon>
                            </th>
                            <th translate> app.taxReduction.attachmentFile </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <tr>
                            <td class="vt-align-center">{{index}}</td>
                            <td class="vt-align-center" *ngIf="hasPermission('action.update')" >
                              <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                            </td>
                            <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                              <a class="btn-table delete" (click)="processDelete(item.empTaxReductionId)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                            </td>
                            <td class="vt-align-center">{{item.empTaxReductionId}}</td>
                            <td class="vt-align-center">{{item.empFamilyRelationshipId}}</td>
                            <td class="vt-align-left">{{item.empFamilyRelationshipName}}</td>
                            <td class="vt-align-center">{{item.dateOfBirth | displayDate}}</td>
                            <td class="vt-align-left">{{item.taxNumber}}</td>
                            <td class="vt-align-left">{{item.passportNumber}}</td>
                            <td class="vt-align-left">{{item.relationTypeName}}</td>
                            <td class="vt-align-center">
                                <i *ngIf="item.currentRelated" class="fas fa-check table-icon color-info"></i>
                            </td>
                            <td class="vt-align-left">{{item.relativeStatusName}}</td>
                            <td class="vt-align-left">{{item.profileNumber}}</td>
                            <td class="vt-align-center">{{item.fromDate| displayDateMonth}}</td>
                            <td class="vt-align-center">{{item.toDate| displayDateMonth}}</td>
                            <td>{{item.declareOrganizationName}}</td>
                            <td class="vt-align-left">
                                <a *ngFor="let data of item.fileAttachment.file"
                                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                                  (click)="downloadFile(data)">
                                  - {{data.fileName}}
                                </a>
                              </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr class="emptymessage">
                          <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                          </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <table-footer [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
  </div>
</div>
