<div class="content">
  <div class="ui-g">
    <div class="ui-g-12">
      <div id="searchArea">
        <work-flows-search (onChangeWorkFlow)= "onChangeWorkFlow($event)"></work-flows-search>
      </div>
    </div>
    <div *ngIf="workFlowId" class="ui-g-12">
      <p-tabView>
        <p-tabPanel header="{{'app.wfMenuMapping.functions' | translate}}">
            <div id="listArea" *ngIf="workFlowId">
              <div class="ui-g-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong class="text-u-c">
                          <i class="fa fa-th"></i>&nbsp; {{'app.wfMenuMapping.functions' | translate}}
                        </strong>
                    </div>
                    <div class="panel-body padding-xl ui-g">
                      <div class="ui-g-12">
                        <p-scrollPanel [style]="{width: '100%', height: '600px'}" styleClass="custombar2 clearfix">
                          <div>
                            <p-tree [value]="listSource" selectionMode="checkbox" [(selection)]="selectedSrcNode" (onNodeSelect)="onNodeSourceSelect($event)" (onNodeUnselect)="onNodeSourceUnSelect($event)"></p-tree>
                          </div>
                        </p-scrollPanel>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="ui-g-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp; {{'app.wfMenuMapping.mainFunctions' | translate}}
                      </strong>
                  </div>
                  <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                      <p-scrollPanel [style]="{width: '100%', height: '600px'}" styleClass="custombar2 clearfix">
                        <div>
                          <p-tree [value]="listDest" selectionMode="checkbox" [(selection)]="selectedDestNode" ></p-tree>
                        </div>
                      </p-scrollPanel>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"><i class="fa fa-save"></i> Lưu lại</button>
              </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{'app.wfMenuMapping.diagram' | translate}}">
          <div id="diagramArea">
              <work-flows-diagram [workFlowId] = "workFlowId"></work-flows-diagram>
          </div>
        </p-tabPanel>
        <div class="clearfix"></div>
      </p-tabView>
    </div>
  </div>
</div>
