  <div class="panel panel-default active_p" style="padding-bottom: 0px;" id="divWorkdayType">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <a href="javascript:;" *ngIf="isHide === true" (click)="isHide = false;">
          {{'app.longLeaveReason.workdayTypeCode' | translate}}
          <span >(-)</span>
        </a>
        <a href="javascript:;" *ngIf="isHide === false" (click)="isHide = true;">
          {{'app.longLeaveReason.workdayTypeCode' | translate}}
          <span>(+)</span>
        </a>
      </strong>
    </div>
    <div class="panel-body panel-table clearfix" *ngIf="isHide === true" style="height:calc(250px); overflow-y:scroll;overflow-x:hidden;">
      <div>
        <div class="row">
          <div class="col-sm-4">
            <p-table [value]="listWorkdayTypeCodeShift1" [responsive]="false" tableStyleClass="table table-wrapper tableLayoutFixed b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <col style="width:30px;">
                <col style="width:30px;">
                <col style="width:70px;">
                <col style="width:100px;">
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate><span>common.table.index</span></th>
                  <th translate><span>common.form.code</span></th>
                  <th translate><span>common.form.name</span></th>
                  <th translate><span>app.payrolls.attendanceType</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{item.index}}</td>
                  <td class="vt-align-center">{{item.code}}</td>
                  <td class="vt-align-left">{{item.languageName}}</td>
                  <td class="vt-align-left">{{item.attenanceTypeName}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-sm-4">
            <p-table [value]="listWorkdayTypeCodeShift2" [responsive]="false" tableStyleClass="table table-wrapper tableLayoutFixed b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <col style="width:30px;">
                <col style="width:30px;">
                <col style="width:70px;">
                <col style="width:100px;">
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate><span>common.table.index</span></th>
                  <th translate><span>common.form.code</span></th>
                  <th translate><span>common.form.name</span></th>
                  <th translate><span>app.payrolls.attendanceType</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{item.index}}</td>
                  <td class="vt-align-center">{{item.code}}</td>
                  <td class="vt-align-left">{{item.languageName}}</td>
                  <td class="vt-align-left">{{item.attenanceTypeName}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="col-sm-4">
            <p-table [value]="listWorkdayTypeCodeShift3" [responsive]="false" tableStyleClass="table table-wrapper tableLayoutFixed b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <col style="width:30px;">
                <col style="width:30px;">
                <col style="width:70px;">
                <col style="width:100px;">
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate><span>common.table.index</span></th>
                  <th translate><span>common.form.code</span></th>
                  <th translate><span>common.form.name</span></th>
                  <th translate><span>app.payrolls.attendanceType</span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{item.index}}</td>
                  <td class="vt-align-center">{{item.code}}</td>
                  <td class="vt-align-left">{{item.languageName}}</td>
                  <td class="vt-align-left">{{item.attenanceTypeName}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
