#divWorkdayType .dec{
  display: none;
}
#divWorkdayType .plus{
  display: inline;
}
#divWorkdayType .panel-body{
  display: none;
}
#divWorkdayType.active_p .dec{
  display: inline;
}
#divWorkdayType.active_p .plus{
  display: none;
}
#divWorkdayType.active_p .panel-body{
  display: block;
}
