<p-panel class="no-header">
  <div class="pdf-container" [ngStyle]="{'height': styleHeight}">
    <pdf-viewer [autoresize]="true" [src]="pdfSrc" [original-size]="true" (after-load-complete)="onComplete($event)"></pdf-viewer>
  </div>
  <p-footer >
    <div class="ui-g-12"></div>
    <div class="ui-g-12" *ngIf="listPayslip && listPayslip.length > 1" >
      <div *ngFor="let item of listPayslip; index as i" title="{{item.title}}" class="payslip-grow ui-g-12 ui-md-4 ui-lg-4">
        <img src="../../../../assets/img/payslip.png" (click)="changePayslip(i)" class="payslip-img" />
        <br/>
        <div class="payslip-title">{{item.title}}</div>
      </div>
      <div style="float:right;">
          <button class="btn btn-default button-download-payslip" (click)="downloadFile()">Download <i class="fa fa-download"></i></button>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="listPayslip && listPayslip.length == 1" >
      <div style="float:right;">
          <button class="btn btn-default button-download-payslip" (click)="downloadFile()">Download <i class="fa fa-download"></i></button>
      </div>
    </div>
  </p-footer>
</p-panel>