<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formDataType">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span translate>payroll.config.dataInputInfo</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button style="display: inline-block;" type="button" (click)="activeModal.close()"
            title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="panel-body padding-xl">
        <div class="ui-g">
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" title="{{formDataType.value.dataName}}">
              {{'payroll.dataInputType.dataName' | translate}}:
            </label>
            <span class="ui-g-12 ui-md-6 ui-lg-2"
              style="padding-top: 9px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
              title="{{formDataType.value.dataName}}">
              {{formDataType.value.dataName}}
            </span>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.transferService' | translate}}:
            </label>
            <span *ngIf="editting" class="ui-g-12 ui-md-6 ui-lg-6 color-info" style="padding-top: 9px;">
              <a (click)="editTranferservice()"> {{formDataType.value.transferService}} </a>
            </span>
            <div class="ui-g-12 ui-md-6 ui-lg-5" *ngIf="!editting">
              <textarea type="text" class="form-control" formControlName="transferService" [maxLength]='200'></textarea>
            </div>
            <div *ngIf="!editting" class="ui-g-12 ui-md-6 ui-lg-1 vt-area-button btn-transService"
              style="display: inline-block;">
              <button (click)="saveTranferservice()" title="{{'app.payrolls.period.save' | translate}}"
                class="btn btn-sm btn-success"
                style="margin-left: 2px; margin-right: 2px; padding-right: 9px; padding-left: 9px;">
                <i class="fas fa-check"></i>
              </button>
              <button (click)="cancelTranferservice()" title="{{'common.button.close' | translate}}"
                class="btn btn-sm btn-danger"
                style="margin-left: 2px; margin-right: 2px; padding-right: 10px; padding-left: 10px;">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isImport' | translate}}:
            </label>
            <span *ngIf="formDataType.value.isImport==0" class="ui-g-12 ui-md-6 ui-lg-2" style="padding-top: 9px;">
              {{'app.organization.orgLevelManageNo' | translate}}
            </span>
            <span *ngIf="formDataType.value.isImport==1" class="ui-g-12 ui-md-6 ui-lg-2" style="padding-top: 9px;">
              {{'app.organization.orgLevelManageYes' | translate}}
            </span>

            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isSplitProcess' | translate}}:
            </label>
            <span *ngIf="formDataType.value.isSplitProcess==0" class="ui-g-12 ui-md-6 ui-lg-2"
              style="padding-top: 9px;">
              {{'app.organization.orgLevelManageNo' | translate}}
            </span>
            <span *ngIf="formDataType.value.isSplitProcess==1" class="ui-g-12 ui-md-6 ui-lg-2"
              style="padding-top: 9px;">
              {{'app.organization.orgLevelManageYes' | translate}}
            </span>

            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isPutMainTable' | translate}}:
            </label>
            <span *ngIf="formDataType.value.isPutMainTable==0" class="ui-g-12 ui-md-6 ui-lg-2"
              style="padding-top: 9px;">
              {{'app.organization.orgLevelManageNo' | translate}}
            </span>
            <span *ngIf="formDataType.value.isPutMainTable==1" class="ui-g-12 ui-md-6 ui-lg-2"
              style="padding-top: 9px;">
              {{'app.organization.orgLevelManageYes' | translate}}
            </span>
          </div>
          <div class="ui-g-12" style="margin-top: 15px;">
            <strong class="text-u-c">
              <span translate> payroll.dataInputType.dataTypeDetail</span>
            </strong>
            <p-table [scrollable]="true" #ptable [value]="lstSpec" [scrollable]="true" scrollHeight="200px"
              [lazyLoadOnInit]="false" [lazy]="true" [responsive]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-3">
                  <col class="size-3">
                  <col class="size-4">
                  <col class="size-4">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3%;">{{ 'common.table.index' | translate }}</th>
                  <th><span translate>payroll.dataInputType.columnOutput</span>
                  </th>
                  <th><span translate>payroll.dataInputType.attributeType</span>
                  </th>
                  <th><span translate>payroll.dataInputType.resourceKey</span>
                  </th>
                  <th><span translate>payroll.dataInputType.groupData</span>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td style="text-align: center;">{{index}}</td>
                  <td style="text-align: left;">{{item.columnOutput}}</td>
                  <td style="text-align: left;">{{renderAttributeType(item.attributeType)}}</td>
                  <td style="text-align: left;">{{item.resourceKey}}</td>
                  <td style="text-align: left;">{{renderGroupData(item.groupData)}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                  <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>