<form id="formSave" [formGroup]="formSave">
  <p-table [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1">
        <col class="size-6">
        <col class="size-6">
        <col>
        <col class="size-6">
        <col>
        <col>
        <col class="size-2">
        <col class="size-4">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th translate><span>common.table.index</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.languageDegreeId.isRequire}">app.educationProcess.language.foreignLanguage</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.languageDegreeType.isRequire}">app.educationProcess.language.diplomaOrDegree</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.degreeName.isRequire}">app.educationProcess.language.diplomaOrDegreeName</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.degreeIssuedDate.isRequire}">app.educationProcess.language.issuedDate</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.degreeIssuedPlace.isRequire}">app.educationProcess.language.issuedPlace</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.resuilt.isRequire}">app.educationProcess.language.diplomaOrDegreeResuilt</span></th>
        <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.isMainLanguage.isRequire}">app.educationProcess.language.isMainLanguage</span></th>
        <th translate><span>common.button.table.hDelete</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr [formGroup]="item">
        <td class="vt-align-center">
          {{index+1}}
        </td>
        <td class="vt-align-center">
          <select-filter
            [hidden]="item.get('languageDegreeId').isHide"
            [placeHolder]="item.get('languageDegreeId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
            [property]="item.get('languageDegreeId')"
            [options]="listLanguage"
            optionLabel="name"
            optionValue="sysCatId">
          </select-filter>
          <app-control-messages [control]="item.get('languageDegreeId')"></app-control-messages>
        </td>
        <td class="vt-align-center">
          <select-filter
            [hidden]="item.get('languageDegreeType').isHide"
            [placeHolder]="item.get('languageDegreeType').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
            [property]="item.get('languageDegreeType')"
            [options]="listLanguageType"
            optionLabel="label"
            optionValue="id"
            isMultiLanguage="true">
          </select-filter>
          <app-control-messages [control]="item.get('languageDegreeType')"></app-control-messages>
        </td>
        <td class="vt-align-center">
          <dynamic-input  [property]="item.controls.degreeName"
                          [objectId]="item.controls.empLanguageDegreeId.value"
                          [autofocus]="'autofocus'"
                          [maxLength]='50'>
          </dynamic-input>
        </td>
        <td class="vt-align-center">
          <date-picker [property]="item.get('degreeIssuedDate')"></date-picker>
          <app-control-messages [control]="item.get('degreeIssuedDate')"></app-control-messages>
        </td>
        <td class="vt-align-center">
          <dynamic-input  [property]="item.controls.degreeIssuedPlace"
                          [maxLength]='255'>
          </dynamic-input>
        </td>
        <td class="vt-align-center">
          <dynamic-input  [property]="item.controls.resuilt"
                          [objectId]="item.controls.empLanguageDegreeId.value"
                          [maxLength]='50'>
          </dynamic-input>
        </td>
        <td class="vt-align-center">
          <label class="i-checks">
            <input type="checkbox" (change)="checkOnly($event, index, 'isMainLanguage')" class="form-check-input control-label" [value]="1" name="isMainLanguage"
              formControlName="isMainLanguage">
            <i></i>
          </label>
        </td>
        <td class="vt-align-center">
          <button class="btn-icon plus" [title]="'titleAdd' | translate"  type="button" (click)="addLanguageDegreeInfo(index)" [innerHTML]="'common.icon.plus' | translate"></button>
          <button class="btn-icon minus" [title]="'titleDelete' | translate"  type="button" (click)="removeLanguageDegreeInfo(index, item.value.empLanguageDegreeId)" [innerHTML]="'common.icon.minus' | translate"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- <div class="panel-footer vt-relative">
    <div class="vt-shotcut-button-in-heading vt-align-right">
      <button type="button" class="plus btn btn-sm btn-info add-row" (click)="addLanguageDegreeInfo()" [innerHTML]="'app.empIncomeTax.plus' | translate">
      </button>
    </div>
  </div> -->
  <div class="panel-footer vt-area-button">
    <button *ngIf="hasPermission('action.update')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
  </div>
</form>
