<div class="content">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formWorkSchedule">
          <div class="panel-heading" >
            <strong class="text-u-c">
              <span *ngIf="f['workScheduleId'].value == null" translate> <i class="fa fa-th"></i>&nbsp;app.workSchedule.addTitle </span>
              <span *ngIf="f['workScheduleId'].value != null" translate><i class="fa fa-th"></i>&nbsp;app.workSchedule.updateTitle </span>
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12" >
              <label [hidden]="f['organizationId'].isHide"
                [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.position.unitName' | translate}}
              </label>
              <div *ngIf="f['workScheduleId'].value == null" [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3" >
                <org-selector
                  [property]="f['organizationId']"
                  operationKey="action.view"
                  [disabled]=" f['workScheduleId'].value != null "
                  adResourceKey="resource.organization"
                  [defaultValue]="true"
                  isRequiredField = "true">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
              <div *ngIf="f['workScheduleId'].value != null" [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3" >
                <org-selector
                  [property]="f['organizationId']"
                  operationKey="action.view"
                  [disabled]=" f['workScheduleId'].value != null "
                  adResourceKey="resource.organization"
                  [defaultValue]="false"
                  isRequiredField = "true">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
              <label  [hidden]="f['type'].isHide"
                  [ngClass]="{'required': f['type'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                {{'app.payrolls.attendanceConfiguration' | translate}}
              </label>
              <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['type']"
                  [options]="listAttendanceConfig"
                  (onChange)="ChangeHasSatConf()"
                  [disabled]="applyCount > 0 ? true : false"
                  optionLabel="name"
                  optionValue="id"
                  isMultiLanguage="true"
                  >
                </select-filter>
                <app-control-messages [control]="f['type']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12" >
              <label  [hidden]="f['formType'].isHide"
                  [ngClass]="{'required': f['formType'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                  {{'app.payrolls.attendanceForm' | translate}}
              </label>
              <div [hidden]="f['formType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['formType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['formType']"
                  [options]="attendanceFormList"
                  optionLabel="name"
                  [disabled]="applyCount > 0 ? true : false"
                  optionValue="id"
                  isMultiLanguage="true"
                  >
                </select-filter>
                <app-control-messages [control]="f['formType']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
                <label [hidden]="f['effectiveDate'].isHide"
                      [ngClass]="{'required': f['effectiveDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.allowanceProcess.effectiveDate' | translate}}
                </label>
                <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [disabled]="applyCount > 0 ? true : false"
                    [property]="f['effectiveDate']">
                  </date-picker>
                  <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                </div>
                <label [hidden]="f['expiredDate'].isHide"
                      [ngClass]="{'required': f['expiredDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.allowanceProcess.expiredDate' | translate}}
                </label>
                <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['expiredDate']">
                  </date-picker>
                  <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-6 ui-lg-2">
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-8">
              <!-- table -->
                <p-table [scrollable]="false" [value]="formTableConfig.controls"  styleClass="controlOverflow" tableStyleClass="table controls-table table-wrapper b-t b-b">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="size-1">
                      <col class="size-14">
                      <col class="size-14">
                      <col class="size-4">
                      <col class="size-4" [hidden]="applyCount > 0 ? true : false">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th translate><span>common.table.index</span></th>
                      <th translate><span class="required">app.payrolls.workSchedule</span></th>
                      <th translate><span class="required">app.payrolls.attendanceCode</span></th>
                      <th translate><span class="required">app.payrolls.workingHour</span></th>
                      <th translate [hidden]="applyCount > 0 ? true : false"><span>common.label.action</span></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr [formGroup]="item">
                      <td class="vt-align-center">
                          {{index+1}}
                      </td>
                      <td>
                        <multi-select-filter
                        [hidden]="item.controls.lstDayOfWeek.isHide"
                        [property]="item.controls.lstDayOfWeek"
                        [options]="dayOfWeekList"
                        [disabled]="applyCount > 0 ? true : false"
                        optionLabel="name"
                        optionValue="id"
                        isMultiLanguage="true"
                        [placeHolder]="item.controls.lstDayOfWeek.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                        >
                      </multi-select-filter >
                      <app-control-messages [control]="item.controls.lstDayOfWeek" ></app-control-messages>
                      </td>
                      <td>
                        <select-filter
                          [placeHolder]="item.controls.workdayTypeCode.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                          [property]="item.controls.workdayTypeCode"
                          [options]="workdayTypeList"
                          [disabled]="applyCount > 0 ? true : false"
                          optionLabel="codeName"
                          optionValue="code"
                          [disabled]="applyCount > 0 ? true : false"
                          >
                        </select-filter>
                        <app-control-messages [control]="item.controls.workdayTypeCode"></app-control-messages>
                      </td>
                      <td>
                        <dynamic-input
                          [readonly]="applyCount > 0 ? true : false"
                          [property]="item.controls.hours"
                          [maxLength]= "255">
                        </dynamic-input>
                        <app-control-messages [control]="item.controls.hours"></app-control-messages>
                        <!-- <app-control-messages [control]="item.controls.lstAttenanceType"></app-control-messages> -->
                      </td>

                      <td class="vt-align-center" [hidden]="applyCount > 0 ? true : false">
                        <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRow(index, item)" [innerHTML]="'common.icon.plus' | translate">
                        </button>
                        <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeRow(index, item )" [innerHTML]="'common.icon.minus' | translate">
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="ui-g-12" *ngIf="hasSatConf == 2 ? true : false">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              <!-- {{'app.allowanceProcess.effectiveDate' | translate}} -->
              {{'app.empWorkSchedule.specialConfigurationOnSaturday' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <div class="form-check-inline">
                <label class="i-checks">
                    <!-- Thieu ID -->
                    <input type="radio" class="form-check-input control-label" (click)="hide();"  id="Weekly" [value]="1" name="saturdayType"  formControlName="saturdayType" [attr.disabled]='applyCount > 0 ? true : null' >
                  <i></i>
                  {{'app.payrolls.Weekly' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" (click)="show();"  id="BiWeekly" [value]="2" name="saturdayType" formControlName="saturdayType" [attr.disabled]='applyCount > 0 ? true : null'>
                  <i></i>
                  {{'app.payrolls.BiWeekly' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['saturdayType']"></app-control-messages>
            </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-md-6 ui-lg-2">
              </div >
              <div class="ui-g-12 ui-md-6 ui-lg-8">
              <!-- table -->
                <div *ngIf="!isHidden">
                  <p-table [scrollable]="false" [value]="formTableWeekendConfig.controls"  styleClass="controlOverflow" tableStyleClass="table controls-table table-wrapper b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="size-1">
                        <col>
                        <col class="size-4">
                        <col class="size-12">
                        <col class="size-4">
                        <col class="size-4" [hidden]="applyCount > 0 ? true : false">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th translate><span>common.table.index</span></th>
                        <th translate><span>app.workSchedule.selectedDate</span></th>
                        <th translate ><span class="required">app.workSchedule.calendar</span></th>
                        <th translate><span class="required">app.payrolls.attendanceCode</span></th>
                        <th translate><span class="required">app.payrolls.workingHour</span></th>
                        <th translate [hidden]="applyCount > 0 ? true : false"><span>common.label.action</span></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex">
                      <tr [formGroup]="item">
                        <td class="vt-align-center">
                            {{index+1}}
                        </td>
                        <td>
                          {{printSelectedDate(item.controls['lstDateTimekeeping'])}}
                        </td>
                        <td class="vt-align-center">
                          <a class="btn-table delete"
                            (click)="prepareCalendar(item.controls['lstDateTimekeeping']);"
                            title="{{'common.button.table.hCalendar' | translate}}">
                            <i class="glyphicons glyphicons-calendar"></i>
                          </a>
                          <app-control-messages [control]="item.controls.lstDateTimekeeping"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="item.controls.workdayTypeCode.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="item.controls.workdayTypeCode"
                            [options]="workdayTypeList"
                            optionLabel="codeName"
                            optionValue="code"
                            [disabled]="applyCount > 0 ? true : false"
                            >
                          </select-filter>
                          <app-control-messages [control]="item.controls.workdayTypeCode"></app-control-messages>
                        </td>
                        <td>
                          <dynamic-input
                          [readonly]="applyCount > 0 ? true : false"
                            [property]="item.controls.hours"
                            [maxLength]= "255">
                          </dynamic-input>
                          <app-control-messages [control]="item.controls.hours"></app-control-messages>
                        </td>
                        <td class="vt-align-center" [hidden]="applyCount > 0 ? true : false">
                          <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowWeekend(index, item)" [innerHTML]="'common.icon.plus' | translate">
                          </button>
                          <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeRowWeekend(index, item )" [innerHTML]="'common.icon.minus' | translate">
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info save-padding" [innerHTML]="'common.button.save' | translate">
            </button>
            <button type="button" [routerLink]="['/timekeeping/work-schedule']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.previous' | translate">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
