<div class="content">
    <div *ngIf="hasPermission('action.view')">
        <form id="formSave" [formGroup]="formSave">
            <div class="panel panel-default">
                <div class="panel-heading" translate>
                    <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.xnkconfig.title </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <label [hidden]="f['organizationId'].isHide"
                            [ngClass]="{'required': f['organizationId'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'payroll.config.organization' | translate}}
                        </label>
                        <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <org-selector [property]="f['organizationId']" operationKey="action.view"
                                adResourceKey="resource.payrollTableConfig" [defaultValue]="true"
                                isRequiredField="true">
                            </org-selector>
                            <app-control-messages [control]="f['organizationId']"></app-control-messages>
                        </div>

                        <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                            {{'payroll.config.salaryType' | translate}}
                        </label>
                        <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter #inputSalaryType
                                [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                                [property]="f['salaryTypeId']" [options]="listSalaryType" optionLabel="name"
                                optionValue="salaryTypeId" (focus)="checkFocus = 0">
                            </select-filter>
                            <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--Hien thi bang-->
        <div class="panel panel-default" *ngIf="f['organizationId'].value && f['salaryTypeId'].value">
            <div class="panel-heading" translate>
                <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.config.listPayrollItem.titlepayroll</strong>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading vt-relative" translate>
                            <strong class="text-u-c"> <i class="fa fa-th"></i>
                                payroll.config.listPayrollItem.title</strong>
                            <div class="vt-absolute vt-shotcut-button-in-heading" style="width: 300px;">
                                <div class="input-group">
                                    <input type="text" class="form-control org-selector-input" name="nameFilter"
                                        placeholder="{{'payroll.dataInput.config.searchByName' | translate}}"
                                        autocomplete="off" [(ngModel)]="nameFilter" #inputSearch
                                        (focus)="checkFocus = 1" />
                                    <div class="input-group-append">
                                        <button class="btn btn-search" title="{{ 'common.label.search' | translate }}"
                                            type="button">
                                            <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body padding-xl ui-g">
                            <div class="ui-g-12">
                                <p-scrollPanel [style]="{width: '100%', height: '420px'}"
                                    styleClass="custombar2 custombar3 clearfix ">
                                    <div class="ui-g-12 " style="padding-bottom: 18px">
                                        <div style="padding-right: 20px"
                                            class="ui-g-12 ui-md-4 text-truncate payroll-config"
                                            *ngFor="let payroll of listPayroll | findBy: nameFilter : ['name']">
                                            <p-checkbox [(ngModel)]="payroll.isConfig" binary="true"
                                                [title]="payroll.name" label="{{payroll.name}}"
                                                (onChange)="payrollItemCheck(payroll)"></p-checkbox>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" translate>
                            <strong class="text-u-c"> <i class="fa fa-th"></i>
                                payroll.config.listPayrollItemConfig.title </strong>
                        </div>
                        <div class="panel-body padding-xl ui-g">
                            <div class="ui-g-12">
                                <p-scrollPanel [style]="{width: '100%', height: '420px'}"
                                    styleClass="custombar2 custombar3 clearfix">
                                    <div style="padding-bottom: 18px" cdkDropList class="payroll-item-order"
                                        (cdkDropListDropped)="drop($event)" *ngIf="listPayrollConfig.length > 0">
                                        <div class="item" *ngFor="let payroll of listPayrollConfig" cdkDrag>
                                            {{payroll.name}}</div>
                                    </div>
                                </p-scrollPanel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="vt-area-button">
                <button *ngIf="hasPermission('action.update') || hasPermission('action.insert')" type="submit"
                    (click)="processSaveOrUpdate()" class="btn btn-sm btn-info save-padding"
                    [innerHTML]="'common.button.save' | translate">
                </button>
                <button (click)="processCancel()" class="btn btn-sm btn-danger save-padding"
                    [innerHTML]="'common.button.cancel' | translate">
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!hasPermission('action.view')" translate>
        common.haveNoPermission
    </div>
</div>