<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c"><i class="fa fa-th"></i>
      <span translate> app.empWorkSchedule.listTitle</span>
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table #ptable [value]="resultList.data" [paginator]="true"
          (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
          [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-6">
          <col class="size-6">
          <col class="size-10">
          <col class="size-6">
          <col>
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th pSortableColumn="" translate>app.empWorkSchedule.effectiveDate
            <p-sortIcon field=""></p-sortIcon>
          </th>
          <th pSortableColumn="" translate>app.empWorkSchedule.expiredDate
            <p-sortIcon field=""></p-sortIcon>
          </th>
          <th pSortableColumn="" translate>app.payrolls.attendanceConfiguration
            <p-sortIcon field=""></p-sortIcon>
          </th>
          <th pSortableColumn="" translate>app.payrolls.configurationOnSaturday
            <p-sortIcon field=""></p-sortIcon>
          </th>
          <th pSortableColumn="" translate>app.empWorkSchedule.configurationUnit
            <p-sortIcon field=""></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{index}}</td>
          <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
          <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
          <td class="vt-align-left">
            <a class="text-link" (click)="viewCalendar(item)">{{'app.payrolls.Type.' + item.type | translate}}</a>
          </td>
            <td class="vt-align-left">
              <div [hidden]="item.type===1">
                <span *ngIf="item.saturdayType===1" class="label-status info">{{'app.payrolls.configurationOnSaturday.1' | translate}}</span>
                <span *ngIf="item.saturdayType===2" class="label-status warning">{{'app.payrolls.configurationOnSaturday.2' | translate}}</span>
              </div>
          </td>
          <td class="vt-align-left">{{item.organizationName}}</td>
        </tr>
      </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer [resultList]="resultList"></table-footer>
    </ng-template>
    </p-table>
    <emp-work-schedule-calendar #empCalendar></emp-work-schedule-calendar>
  </div>
</div>


