<div class="row" *ngIf="hasPermission('action.view')" >
  <div class="col-md-12">
    <financial-form></financial-form>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
