<div class="row" *ngIf="hasPermission('action.view')">
    <div class="col-md-12">
        <allowance-process-search></allowance-process-search>
    </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
