<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span translate>app.timesheetSchedule.importSettingStandardWorkingDay</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required" translate>
            organizationPlan.importFile
          </label>
          <div class="ui-g-12 ui-md-12 ui-lg-6" [hidden]="f['fileImport'].isHide">
            <file-choser
              [property]="f['fileImport']"
              validMaxSize="10"
              validType="xlsx"
            >
            </file-choser>
            <app-control-messages [control]="f['fileImport']"></app-control-messages>
            <br>
            <a class="text-link" href="javascript:" (click)="actionDownloadTemplate()"><span translate><i class="fa fa-download"></i> app.common.downloadTemplate</span></a>
          </div>
        </div>
      </div>
      <div class="vt-area-button">
        <button type="submit" (click)="actionSubmitForm()" class="btn btn-sm btn-info" [innerHTML]="'common.button.import' | translate"></button>
        <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" translate><span><i class="fa fa-times"></i> common.button.close </span></button>
      </div>
    </form>
  </div>
</div>
<div class="ui-g-12" *ngIf="dataError">
  <import-error [data]="dataError"></import-error>
</div>
