<form id="formParameter" [formGroup]="formParameter">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i> <span translate> app.templateDynamic.parameterForm </span>
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="formParameter.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-10">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate><span>common.table.index</span></th>
              <th translate><span [ngClass]="{'required': formParameter.controls[0] && formParameter.controls[0].controls.parameterCode.isRequire}">app.templateDynamic.parameterCode</span></th>
              <th translate><span [ngClass]="{'required': formParameter.controls[0] && formParameter.controls[0].controls.parameterName.isRequire}">app.templateDynamic.parameterName</span></th>
              <th translate><span [ngClass]="{'required': formParameter.controls[0] && formParameter.controls[0].controls.parameterValue.isRequire}">app.templateDynamic.parameterValue</span></th>
              <th translate><span [ngClass]="{'required': formParameter.controls[0] && formParameter.controls[0].controls.description.isRequire}">app.templateDynamic.description</span></th>
              <th translate><span>app.templateDynamic.add_delete</span></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td>
                <dynamic-input  [property]="item.controls.parameterCode"
                                [maxLength]='50'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.parameterCode"></app-control-messages>
              </td>
              <td>
                <dynamic-input  [property]="item.controls.parameterName"
                                [maxLength]='250'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.parameterName"></app-control-messages>
              </td>
              <td>
                <dynamic-input  [property]="item.controls.parameterValue"
                                [maxLength]='250'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.parameterValue"></app-control-messages>
              </td>
              <td>
                <dynamic-input  [property]="item.controls.description"
                                [rows]='2'
                                [type]="'text-area'"
                                [maxLength]='250'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.description"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" [title]="'titleAdd' | translate" type="button" (click)="addGroup(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="removeGroup(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
