<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i> &nbsp;{{ 'payroll.process.listError.title' | translate }}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button type="button" style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table
        [scrollable]="true"
        [value]="data"
        [paginator]="true"
        [lazyLoadOnInit]="false"
        [lazy]="false"
        [rows]="10"
        [responsive]="true"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        styleClass="controlOverflow"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col>
            <col>
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>payroll.process.listError.location</th>
              <th translate>payroll.process.listError.reason</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td></td>
            <td></td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>
