<div class="content">
  <div *ngIf="!hasPermission('action.import')" translate>
    common.haveNoPermission
  </div>
  <div *ngIf="hasPermission('action.import')" >
    <div class="panel panel-default">
      <form id="formImport" [formGroup]="formImport" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'common.label.import_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                  [ngClass]="{'required': f['organizationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.empTimekeeping"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['startDate'].isHide"
                   [ngClass]="{'required': f['startDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.empTimekeeping.startDate' | translate}}
            </label>
            <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['startDate']">
              </date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label [hidden]="f['endDate'].isHide"
                   [ngClass]="{'required': f['endDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.empTimekeeping.endDate' | translate}}
            </label>
            <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['endDate']">
              </date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['fileImport'].isHide"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'organizationPlan.importFile' | translate}}
            </label>
            <div [hidden]="f['fileImport'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <file-choser
                [property]="f['fileImport']"
                validMaxSize="10"
                validType="xls"
              >
              </file-choser>
              <app-control-messages [control]="f['fileImport']"></app-control-messages>
              <br>
              <a class="text-link" (click)="processDownloadTemplate();"><span translate><i class="fa fa-download"></i> app.common.downloadTemplate</span></a>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processImportTimekeeping()" class="btn btn-sm btn-info" [innerHTML]="'common.button.import' | translate"></button>
          <button type="button" [routerLink]="['/timekeeping/emp-timekeeping']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
    <div *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>
</div>
