<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading" translate>
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            common.label.search_form
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <!-- <label [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.orgSelector.title' | translate}}</label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.empType">
              </org-selector>
            </div> -->
            <label [hidden]="f['lineOrgId'].isHide"
                    [ngClass]="{'required': f['lineOrgId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.lineOrgName' | translate}}
            </label>
            <div [hidden]="f['lineOrgId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                (onChange)="onLineOrgChange($event)"
                [property]="f['lineOrgId']"
                [options]="lineOrgList"
                optionLabel="name"
                optionValue="lineOrgId"
                [autofocus]="'autofocus'"
                [placeHolder]="f['lineOrgId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['lineOrgId']"></app-control-messages>
            </div>
            <label [hidden]="f['majorCareerId'].isHide"
                  [ngClass]="{'required': f['majorCareerId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.majorCareerName' | translate}}
            </label>
            <div [hidden]="f['majorCareerId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['majorCareerId']"
                  [options]="majorCareerList"
                  optionLabel="name"
                  optionValue="majorCareerId"
                  [placeHolder]="f['majorCareerId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['majorCareerId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'app.position.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='50'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'app.position.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='200'>
            </dynamic-input>
          </div>
          <!-- <div class="ui-g-12">
              <label [hidden]="f['status'].isHide"
                      [ngClass]="{'required': f['status'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.position.status' | translate}}
              </label>
              <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    (onChange)="onStatusChange($event)"
                    [property]="f['status']"
                    [options]="statusList"
                    optionLabel="code"
                    optionValue="key"
                    isMultiLanguage="true"
                    [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                  </select-filter>
                  <app-control-messages [control]="f['status']"></app-control-messages>
              </div>
          </div> -->
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"> </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          app.position_title.list
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable
                [value]="resultList.data"
                [paginator]="true"
                (onLazyLoad)="processSearch($event)"
                [lazyLoadOnInit]="false"
                [lazy]="true" [rows]="10"
                [totalRecords]="resultList.recordsTotal"
                [scrollable]="true"
                tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
                styleClass="controlOverflow"
        >
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col>
                  <col>
                  <col>
                  <col>
                  <col class="size-8">
                  <col class="size-4">
                  <col class="size-4">
                  <col class="size-3">
              </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th translate>common.table.index</th>
                  <th translate>common.label.action</th>
                  <!-- <th [pSortableColumn]="'status'">{{'app.position.status' | translate}}
                      <p-sortIcon [field]="'status'"></p-sortIcon>
                  </th> -->
                  <th [pSortableColumn]="'code'">{{'app.position.code' | translate}}
                      <p-sortIcon [field]="'code'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'name'">{{'app.position.name' | translate}}
                      <p-sortIcon [field]="'name'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'lineOrgName'">{{'app.position.lineOrgName' | translate}}
                      <p-sortIcon [field]="'lineOrgName'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'majorCareerName'">{{'app.position.majorCareerName' | translate}}
                      <p-sortIcon [field]="'majorCareerName'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'careerLevelName'">{{'app.position.careerLevelName' | translate}}
                      <p-sortIcon [field]="'careerLevelName'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'effectiveDate'">{{'app.position.effectiveDate' | translate}}
                      <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'expiredDate'">{{'app.position.expiredDate' | translate}}
                      <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'positionOrder'">{{'app.position.positionOrder' | translate}}
                      <p-sortIcon [field]="'positionOrder'"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center btn-action">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-sm btn-info" id="actionD_{{index}}" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu aria-labelledby="actionD_{{index}">
                    <button class="dropdown-item" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" [innerHTML]="'common.button.table.actedit' | translate" *ngIf="hasPermission('action.update')">
                    </button>
                    <button class="dropdown-item" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}" [innerHTML]="'common.button.table.actDelete' | translate" *ngIf="hasPermission('action.delete')">
                    </button>
                    <button class="dropdown-item" (click)="prepareDescription(item)" title="{{'app.position.description' | translate}}" [innerHTML]="'common.button.table.actdescription' | translate">
                    </button>
                  </div>
                </div>
              </td>
              <!-- <td class="vt-align-center">
                  <div class="label-status" *ngIf="item.status==0">{{'common.status.init' | translate}}</div>
                  <div class="label-status info" *ngIf="item.status==1">{{'common.status.approved' | translate}}</div>
                  <div class="label-status danger" *ngIf="item.status==2">{{'common.status.refused' | translate}}</div>
              </td> -->
              <td class="vt-align-center"><a style="color: rgb(0, 153, 255)" (click)="processViewDetail(item)">{{item.code}}</a></td>
              <td>{{item.name}}</td>
              <td>{{item.lineOrgName}}</td>
              <td>{{item.majorCareerName}}</td>
              <td class ='vt-align-left'>
                <span class="label-status danger" *ngIf="item.careerLevelId==1">{{item.careerLevelName}}</span>
                <span class="label-status danger" *ngIf="item.careerLevelId==2">{{item.careerLevelName}}</span>
                <span class="label-status warning" *ngIf="item.careerLevelId==3">{{item.careerLevelName}}</span>
                <span class="label-status warning" *ngIf="item.careerLevelId==4">{{item.careerLevelName}}</span>
                <span class="label-status info" *ngIf="item.careerLevelId==5">{{item.careerLevelName}}</span>
                <span class="label-status" *ngIf="item.careerLevelId==6">{{item.careerLevelName}}</span>
              </td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-right">{{item.positionOrder}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
