<div class="content">
  <div class="panel panel-default">
    <div id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span translate>app.position.descriptionTitle</span>
        </strong>
      </div>
      <div class="panel-body padding-xl">
        <div class="ui-g">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate >app.position.code</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input
              type="text"
              name="code"
              class="form-control"
              formControlName="code"
            />
          </div>
          <label
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right"
            translate >app.position.name</label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input
              type="text"
              name="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12">
            <p-tabView>
              <p-tabPanel [header]="'app.position.step1' | translate">
                <ng-template pTemplate="content">
                  <job-purpose-form [positionId]="positionId"></job-purpose-form>
                </ng-template>
              </p-tabPanel>
              <p-tabPanel [header]="'app.position.step2' | translate">
                <ng-template pTemplate="content">
                  <interaction-form [positionId]="positionId"></interaction-form>
                </ng-template>
              </p-tabPanel>
              <p-tabPanel [header]="'app.position.step3' | translate">
                <ng-template pTemplate="content">
                  <accountab-form [positionId]="positionId"></accountab-form>
                </ng-template>
              </p-tabPanel>
              <p-tabPanel [header]="'app.position.step4' | translate">
                <ng-template pTemplate="content">
                  <authorityand-scope [positionId]="positionId"></authorityand-scope>
                </ng-template>
              </p-tabPanel>
              <p-tabPanel [header]="'app.position.step5' | translate">
                <ng-template pTemplate="content">
                  <job-requirement [positionId]="positionId"></job-requirement>
                </ng-template>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
