<div class="content">

  <!-- form search -->
  <!--  -->
   <div *ngIf="hasPermission('action.export')" >
  <div id="searchArea"  >
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'common.label.report-custom' | translate}}
          </strong>
        </div>

        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-3 ">
             <party-tree-selector
              operationKey="action.view"
              adResourceKey="resource.organization"
              height="400"
              #orgTree
              isGetAll = "true"
              [requestId]= "f['organizationId']"
            >
            </party-tree-selector>

          </div>
          <div class="ui-g-9">
            <div class="ui-g-12">
              <label [ngClass]="{'required': f['reportDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                {{'app.reportCustom.dateReport' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['reportDate']"></date-picker>
                <app-control-messages [control]="f['reportDate']"></app-control-messages>
              </div>


            </div>
            <div class="ui-g-12">
              <!-- timf kiem nang cao start -->
              <p-accordion [multiple]="true">
                <p-accordionTab #searchInfo [header]="'employeeList.searchInfo.title' | translate" [selected]="true">
                  <div class="ui-g">
                    <p-table #ptable [value]="formArrayAdvance.controls" [scrollable]="true" [responsive]="true"
                      tableStyleClass="table table-wrapper table-hover b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="size-1">
                        <col class="size-12">
                        <col>
                        <col class="size-4">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th translate>common.table.index</th>
                        <th translate>app.table.header.condition</th>
                        <th translate>app.table.header.value</th>
                        <th translate>common.label.action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex">
                        <tr>
                            <td class="vt-align-center">{{index+1}}</td>
                            <td class="">
                              <select-filter appendTo="body" (onChange)="onSelectCondition($event, index)" [property]="item.controls.properties"  [options]="listCondition" optionLabel="label" optionValue="properties" [placeHolder]="'common.label.cboSelect'" [isMultiLanguage]="true">
                              </select-filter>
                            </td>
                            <td class="">
                              <div #viewContainerRef attr.data-target="{{index}}"></div>
                            </td>
                            <td class="vt-align-center">
                              <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowCondition(index)" [innerHTML]="'common.icon.plus' | translate">
                              </button>
                              <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeRowCondition(index)" [innerHTML]="'common.icon.minus' | translate">
                              </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                  </div>
                </p-accordionTab>
              </p-accordion>
              <!-- timf kiem nang cao end -->
            </div>


            <div class="ui-g-12">
              <label [ngClass]="{'required': f['reportDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                {{'app.reportCustom.analysis' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3 ">
                <multi-select-area
                  [height]="280"
                  [property]="f['staticalTypes']"
                  [options]="listStaticalTypes"
                  optionLabel="label"
                  [isMultiLanguage] = "true"
                  optionValue="id"
                  [autoFocus]="f['staticalTypes'].value" [filterPlaceHolder]="'common.label.cboSelectAll'"
                  [placeHolder]="'common.label.cboSelectAll'">
                </multi-select-area>
                <app-control-messages [control]="f['staticalTypes']"></app-control-messages>
              </div>
              <label
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.reportCustom.averageAge' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <div class="form-check-inline">
                    <label class="i-checks">
                      <input type="radio"  class="form-check-input control-label" id="lock" [value]="1" name="averageAge"
                        formControlName="averageAge">
                      <i></i>
                      {{'app.reportCustom.yes' | translate}}
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="i-checks">
                      <input type="radio" class="form-check-input control-label" id="unlock" [value]="0" name="averageAge"
                        formControlName="averageAge">
                      <i></i>
                      {{'app.reportCustom.no' | translate}}
                    </label>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
           <button type="submit" (click)="exportCumtomStatistic()"  class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate" ></button>


         <!-- <button *ngIf="hasPermission('action.import')" type="button" routerLink="/evaluation/organization-ki/import" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.import' | translate"></button> -->
        </div>
      </form>
    </div>

  </div>



   </div>

   <div *ngIf="!hasPermission('action.export')" translate>
    common.haveNoPermission
  </div>
</div>
