<div class="modal-body">
    <form id="frmSaveEmpType">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formSave.get('empTypeId').value" translate>app.empType.addTitle</span>
                        <span *ngIf="formSave.get('empTypeId').value" translate>app.empType.updateTitle</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
                    </div>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <dynamic-input  [property]="f['code']"
                                        [objectId]="f['empTypeId'].value"
                                        [labelValue]="'app.empType.code'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                        [autofocus]="'autofocus'"
                                        [readonly]= "f['empTypeId'].value ? true: false"
                                        [maxLength]="50">
                        </dynamic-input>
                        <dynamic-input  [property]="f['name']"
                                        [objectId]="f['empTypeId'].value"
                                        [labelValue]="'app.empType.name'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                        [maxLength]="50">
                        </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['isUsed'].isHide"
                               [ngClass]="{'required': f['isUsed'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.empType.isUsed' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <label [hidden]="f['isUsed'].isHide" class="i-switch bg-info m-t-xs m-r">
                            <input [hidden]="f['isUsed'].isHide" type="checkbox" name="isUsed" [value]="1" formControlName="isUsed" />
                            <i></i>
                        </label>
                        <app-control-messages [control]="f['isUsed']"></app-control-messages>
                        </div>
                        <label [hidden]="f['isInFlag'].isHide"
                               [ngClass]="{'required': f['isInFlag'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.empType.isInFlag' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                          <label [hidden]="f['isInFlag'].isHide" class="i-switch bg-info m-t-xs m-r">
                            <input [hidden]="f['isInFlag'].isHide" type="checkbox" name="isInFlag" [value]="1" formControlName="isInFlag" />
                            <i></i>
                          </label>
                          <app-control-messages [control]="f['isInFlag']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['hasSoldierInfo'].isHide"
                               [ngClass]="{'required': f['hasSoldierInfo'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.empType.hasSoldierInfo' | translate}}
                        </label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <label [hidden]="f['hasSoldierInfo'].isHide" class="i-switch bg-info m-t-xs m-r">
                            <input [hidden]="f['hasSoldierInfo'].isHide" type="checkbox" name="hasSoldierInfo" [value]="1" formControlName="hasSoldierInfo" />
                            <i></i>
                        </label>
                        <app-control-messages [control]="f['hasSoldierInfo']"></app-control-messages>
                        </div>
                        <label [hidden]="f['hasLabourContractInfo'].isHide"
                               [ngClass]="{'required': f['hasLabourContractInfo'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.empType.hasLabourContractInfo' | translate}}
                        </label>
                        <div [hidden]="f['hasLabourContractInfo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <label class="i-switch bg-info m-t-xs m-r">
                            <input type="checkbox" name="hasLabourContractInfo" [value]="1" formControlName="hasLabourContractInfo" />
                            <i></i>
                        </label>
                        <app-control-messages [control]="f['hasLabourContractInfo']"></app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
