<div id="searchPage">
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
  <div *ngIf="hasPermission('action.view')">
    <div id="searchArea">
      <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['organizationId'].isHide"
                    [ngClass]="{'required': f['organizationId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.position.unitName' | translate}}
              </label>
              <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <org-selector
                  [property]="f['organizationId']"
                  operationKey="action.view"
                  adResourceKey="resource.workProcess"
                  isRequiredField = "true"
                  [defaultValue]="true">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
              <label [hidden]="f['lockType'].isHide"
                    [ngClass]="{'required': f['lockType'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                {{'app.payrolls.lockType' | translate}}
              </label>
              <div [hidden]="f['lockType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['lockType']"
                  [options]="lockTypeList"
                  optionLabel="name"
                  optionValue="id"
                  isMultiLanguage="true"
                  [placeHolder]="f['lockType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
                </select-filter>
                <app-control-messages [control]="f['lockType']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearchTimekeepingLockConfig()" class="btn btn-sm btn-info">
              <span [innerHTML]="'common.button.search' | translate"></span>
            </button>
            <button *ngIf="hasPermission('action.insert')" type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" >
              <span [innerHTML]="'common.button.addNew' | translate"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="listArea" style="padding-top: 20px;" *ngIf="showList === true">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c" translate>
            <i class="fa fa-th"></i>
            app.payrolls.timekeepingLockConfig.listTitle
          </strong>
        </div>
        <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
            (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
            [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-1" *ngIf="hasPermission('action.update')" >
                <col class="size-1" *ngIf="hasPermission('action.delete')" >
                <col class="size-12">
                <col class="size-8">
                <col class="size-8">
                <col class="size-8">
                <col class="size-8">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th *ngIf="hasPermission('action.update')" translate>
                  common.button.table.hEdit
                </th>
                <th *ngIf="hasPermission('action.delete')" translate>
                  common.button.table.hDelete
                </th>
                <th translate>app.position.unitName</th>
                <th translate>app.payrolls.lockType</th>
                <th translate>app.payrolls.lockDateFrom</th>
                <th translate>app.payrolls.lockDateTo</th>
                <th translate>app.payrolls.closingDate</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center" *ngIf="hasPermission('action.update')" >
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(resultList.extendData.mapOrgConfig[item.organizationId])" title="{{'common.button.table.hEdit' | translate}}" >
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
                <td class="vt-align-center" *ngIf="hasPermission('action.delete')" >
                  <a class="btn-table delete" (click)="processDelete(resultList.extendData.mapOrgConfig[item.organizationId].timekeepingLockConfigId)" title="{{'common.button.table.hDelete' | translate}}" >
                    <i class="fa fa-trash-alt"></i>
                  </a>
                </td>
                <td class="vt-align-left"><span class="td-name">{{item.organizationName}}</span></td>
                <td class="vt-align-center">
                  <span *ngIf="resultList.extendData.mapOrgConfig[item.organizationId].lockType == 1" translate>
                    app.payrolls.timekeepingLockConfig.lockByPeriod
                  </span>
                  <span *ngIf="resultList.extendData.mapOrgConfig[item.organizationId].lockType == 2" translate>
                    app.payrolls.timekeepingLockConfig.lockByDay
                  </span>
                </td>
                <td class="vt-align-center">{{resultList.extendData.mapOrgConfig[item.organizationId].lockDateFrom | number:'2.0-0'}}</td>
                <td class="vt-align-center">{{resultList.extendData.mapOrgConfig[item.organizationId].lockDateTo | number:'2.0-0'}}</td>
                <td class="vt-align-center">{{resultList.extendData.mapOrgConfig[item.organizationId].closingDate | number:'2.0-0'}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                  <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
