<div class="modal-body dataPickerModal">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c" translate>
        <i class="fa fa-th"></i>&nbsp;
        app.employee.list
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <span (click)="actionClose()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="panel-body modal-content-body">
      <div class="grid-structure org-selector-content">
        <div class="panel-background">
          <div class="row" style="margin-top: 0px;">
            <div class="col-md-12">
              <div class="input-group orgSelector">
                <input type="text" [(ngModel)]="filterText" (input)="onSearchChange()" class="form-control org-selector-input" name="codeInput" placeholder="{{ 'app.orgBoundaryDraff.placeHolder.searchEmployee' | translate }}" />
              </div>
            </div>
          </div>
        </div>
        <div class="table-wrapper table-responsive" style="margin-top: 4px;">
          <p-table
            #pTable
            [scrollable]="true"
            [value]="listTemp"
            [paginator]="true"
            [lazyLoadOnInit]="false"
            [lazy]="false"
            [rows]="10"
            [responsive]="true"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
            styleClass="controlOverflow"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-4">
                <col class="size-8">
                <col class="size-12">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.button.table.hDelete</th>
                <th translate>app.employee.email</th>
                <th translate>app.employee.fullName</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">
                  <a class="btn-btn-danger" (click)="chose(item)" title="{{ 'common.button.table.hDelete' | translate }}">
                    <span class="glyphicons glyphicons-remove" style="color: red"></span>
                  </a>
                </td>
                <td>{{ item.codeField }}</td>
                <td>{{ item.nameField }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
