<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span> {{'app.organizationPlan.refused' | translate}} </span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input
            [property]="f['reason']"
            [objectId]="f['orgPlanId'].value"
            [labelValue]="'organizationPlan.reason'"
            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
            [maxLength]= "1000"
            type="text-area"
            autofocus="autofocus">
          </dynamic-input>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.table.actUnapproved' | translate"><i class="fa fa-save"></i></button>
        <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
      </div>
    </form>
  </div>
</div>
