<p-button class="secondary" label="Add row" (onClick)="onAddRow(card)"></p-button>


<p-table #dt [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="[{}]" [scrollable]="true"
  scrollHeight="400px" frozenWidth="400px">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width:100px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="frozenheader" let-frozenColumns>
    <tr>
      <th>Select</th>
      <th>Action</th>
      <th *ngFor="let col of frozenColumns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="frozenbody" let-rowData let-columns="frozenColumns">
    <ng-container *ngFor="let tr of card[0].rows; let i = index">
      <tr>
        <td>select check-box</td>
        <td>icons come here</td>
        <ng-container *ngFor="let attr of card[0].attributes; let j = index">
          <td>
            <ng-container *ngIf="attr.isPK && attr.type === 'string'">
              <input pInputText style="width: 50%;"
                                                                    (ngModelChange)="onChange($event, i, j, card)"
                                                                    type="text"
                                                                    [(ngModel)]="card[0].rows[i][j].value"
                                                                    [maxlength]="card[0].rows[i][j].maxLength"
                                                                    [minlength]="card[0].rows[i][j].minLength"/>
              <span class="error required-error" *ngIf="card[0].rows[i].validated == true && isSubmitted && card[0].rows[i][j].value === '' && card[0].rows[i][j].required === 'true'">
                                                                </span>
              <span class="error minlength-error" *ngIf="card[0].rows[i].validated == true && isSubmitted && card[0].rows[i][j].value.length < card[0].rows[i][j].minLength">
                                                                </span>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <ng-container *ngFor="let tr of card[0].rows; let i = index">
      <tr>
        <ng-container *ngFor="let attr of card[0].attributes; let j = index">
          <td>
            <ng-container *ngIf="attr.type === 'string'">
              <input pInputText style="width: 100%;"
                                                                    (ngModelChange)="onChange($event, i, j, card)"
                                                                    type="text"
                                                                    [(ngModel)]="card[0].rows[i][j].value"
                                                                    [maxlength]="card[0].rows[i][j].maxLength"
                                                                    [minlength]="card[0].rows[i][j].minLength"/>
              <span class="error required-error" *ngIf="card[0].rows[i].validated == true && isSubmitted && card[0].rows[i][j].value === '' && card[0].rows[i][j].required === 'true'">
                                                                </span>
              <span class="error minlength-error" *ngIf="card[0].rows[i].validated == true && isSubmitted && card[0].rows[i][j].value.length < card[0].rows[i][j].minLength">
                                                                </span>
            </ng-container>
            <ng-container *ngIf="attr.values">
              <select class="dropdown" [(ngModel)]="card[0].rows[i][j].value" (ngModelChange)="onChange($event, i, j, card)">
                                                                    <option *ngFor="let option of attr.values">{{option}}</option>
                                                                </select>
              <span class="error required-error" *ngIf="card[0].rows[i].validated == true && isSubmitted && card[0].rows[i][j].value === '' && card[0].rows[i][j].required === 'true'">
                                                                </span>
            </ng-container>
            <ng-container *ngIf="attr.type === 'date'">
              <p-calendar [readonlyInput]="true" panelStyleClass="datepicker" appendTo="body"
                inputStyleClass="date-input" [(ngModel)]="card[0].rows[i][j].value"
                (ngModelChange)="onChange($event, i, j, card)" dateFormat="mm/dd/yy"></p-calendar>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="emptymessage">
      <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate" ></td>
    </tr>
  </ng-template>
</p-table>