<p-tabView (onChange)="handleTabChange($event)">
  <p-tabPanel [header]="'app.educationProcess.exteriorEducation' | translate">
    <exterior-list #exterior></exterior-list>
  </p-tabPanel>
  <p-tabPanel [header]="'app.educationProcess.interiorEducation' | translate">
    <interior-list #interior></interior-list>
  </p-tabPanel>
</p-tabView>
