<div class="content">
  <div *ngIf="hasPermission('action.insert')">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c"> <i class="fa fa-th"></i> app.employee-info.createEmployee </strong>
      </div>
      <div class="panel-body padding-xl">
        <div style="position: relative; margin: 0 auto; width: 950px">
          <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
        </div>
      </div>
      <!-- Identification Info -->
      <div [ngClass]="{'show': activeIndex === 0}" [hidden]="activeIndex !== 0">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd;">app.employee-info.identification</strong>
          </div>
          <br>
          <form id="formCommonInfo" [formGroup]="formCommonInfo">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-10 ui-lg-10 ui-g-nopad">
                <div class="ui-g-12">
                  <dynamic-input [property]="fCommonInfo['lastName']" [labelValue]="'app.employee-info.lastName'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="20" [autofocus]="'autofocus'">
                  </dynamic-input>
                  <dynamic-input [property]="fCommonInfo['middleName']" [labelValue]="'app.employee-info.middleName'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="20">
                  </dynamic-input>
                  <dynamic-input [property]="fCommonInfo['firstName']" [labelValue]="'app.employee-info.firstName'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="20">
                  </dynamic-input>
                </div>
                <div class="ui-g-12">
                  <label [hidden]="fCommonInfo['dateOfBirth'].isHide"
                    [ngClass]="{'required': fCommonInfo['dateOfBirth'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.dateOfBirth
                  </label>
                  <div [hidden]="fCommonInfo['dateOfBirth'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <date-picker [property]="fCommonInfo['dateOfBirth']">
                    </date-picker>
                    <app-control-messages [control]="fCommonInfo['dateOfBirth']"></app-control-messages>
                  </div>
                  <label [hidden]="fCommonInfo['nationId'].isHide"
                    [ngClass]="{'required': fCommonInfo['nationId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.nationId
                  </label>
                  <div [hidden]="fCommonInfo['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <select-filter [property]="fCommonInfo['nationId']" (onChange)="onChangeNation($event)"
                      [placeHolder]="fCommonInfo['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                      [options]="nationList" optionLabel="name" optionValue="nationId">
                    </select-filter>
                    <app-control-messages [control]="fCommonInfo['nationId']"></app-control-messages>
                  </div>
                  <dynamic-input [property]="fCommonInfo['otherEmail']"
                    [labelValue]="'app.employee-info.recruitmentEmail'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="200">
                  </dynamic-input>
                </div>
                <div class="ui-g-12">
                  <label [hidden]="fCommonInfo['pidNumber'].isHide" *ngIf="checkNation === true"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.pidNumber
                  </label>
                  <label [hidden]="fCommonInfo['pidNumber'].isHide" *ngIf="checkNation === false"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required" translate>
                    app.employee-info.pidNumber
                  </label>
                  <div [hidden]="fCommonInfo['pidNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" id="pidNumber" name="pidNumber" class="form-control" formControlName="pidNumber"
                      maxlength="20" />
                    <app-control-messages [control]="fCommonInfo['pidNumber']"></app-control-messages>
                  </div>
                  <label [hidden]="fCommonInfo['pidIssuedDate'].isHide"
                    [ngClass]="{'required': fCommonInfo['pidIssuedDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.pidIssuedDate
                  </label>
                  <div [hidden]="fCommonInfo['pidIssuedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <date-picker [property]="fCommonInfo['pidIssuedDate']">
                    </date-picker>
                    <app-control-messages [control]="fCommonInfo['pidIssuedDate']"></app-control-messages>
                  </div>
                  <dynamic-input [property]="fCommonInfo['pidIssuedPlace']"
                    [labelValue]="'app.employee-info.pidIssuedPlace'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="200">
                  </dynamic-input>
                </div>
                <div class="ui-g-12">
                  <dynamic-input [property]="fCommonInfo['passportNumber']"
                    [labelValue]="'app.employee-info.passportNumber'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="50">
                  </dynamic-input>
                  <label [hidden]="fCommonInfo['passportIssueDate'].isHide"
                    [ngClass]="{'required': fCommonInfo['passportIssueDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.passportIssueDate
                  </label>
                  <div [hidden]="fCommonInfo['passportIssueDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <date-picker [property]="fCommonInfo['passportIssueDate']">
                    </date-picker>
                    <app-control-messages [control]="fCommonInfo['passportIssueDate']"></app-control-messages>
                  </div>
                  <label [hidden]="fCommonInfo['gender'].isHide"
                    [ngClass]="{'required': fCommonInfo['gender'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.employee-info.gender
                  </label>
                  <div [hidden]="fCommonInfo['gender'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <div class="form-check-inline">
                      <label class="i-checks" translate>
                        <input type="radio" formControlName="gender" class="form-check-input control-label"
                          id="genderMale" value="1" name="gender">
                        <i></i>
                        app.employee-info.male
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="i-checks" translate>
                        <input type="radio" formControlName="gender" class="form-check-input control-label"
                          id="genderFemale" value="2" name="gender">
                        <i></i>
                        app.employee-info.female
                      </label>
                    </div>
                    <app-control-messages [control]="fCommonInfo['gender']"></app-control-messages>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-2">
                <div style="text-align: center">
                  <img class="profileImg" style="width: 140px; border: solid 1px #000000;" #profileImg name="profileImg"
                    src="/assets/images/noimage.png" alt="{{'app.employee-info.imageProfile' | translate}}">
                </div>
                <div class="ui-g-12">
                  <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <file-choser [property]="fCommonInfo['file']" validMaxSize="10" validType="png,jpg"
                      (onFileChange)="onFileChange($event)">
                    </file-choser>
                    <app-control-messages [control]="fCommonInfo['file']"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button type="submit" style="float: right;" (click)="validateFormCommonInfo()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.next' | translate">
          </button>
        </div>
      </div>
      <!-- Employment Info -->
      <div [ngClass]="{'show': activeIndex === 1}" [hidden]="activeIndex !== 1">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd;">app.employee-info.employmentInfo</strong>
          </div>
          <br>
          <form id="formEmploymentInfo" [formGroup]="formEmploymentInfo">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label [hidden]="fEmploymentInfo['organizationId'].isHide"
                  [ngClass]="{'required': fEmploymentInfo['organizationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.organizationName
                </label>
                <div [hidden]="fEmploymentInfo['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <org-selector [property]="fEmploymentInfo['organizationId']" operationKey="action.view"
                    adResourceKey="resource.organization" (onChange)="onChangeUnit($event)" isRequiredField="true"
                    #unit>
                  </org-selector>
                  <app-control-messages [control]="fEmploymentInfo['organizationId']"></app-control-messages>
                </div>
                <div [hidden]="fEmploymentInfo['organizationId'].isHide" class="ui-g-12 ui-md-9 ui-lg-7 vt-align-right">
                  <input type="text" value="{{ unitName }}" name="unitName" class="form-control" readonly=true />
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label [hidden]="fEmploymentInfo['viettelStartDate'].isHide"
                  [ngClass]="{'required': fEmploymentInfo['viettelStartDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.viettelStartDate
                </label>
                <div [hidden]="fEmploymentInfo['viettelStartDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <date-picker [property]="fEmploymentInfo['viettelStartDate']">
                  </date-picker>
                  <app-control-messages [control]="fEmploymentInfo['viettelStartDate']"></app-control-messages>
                </div>
                <dynamic-input [property]="fEmploymentInfo['documentNumber']"
                  [labelValue]="'app.employee-info.decisionNumber'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]="50">
                </dynamic-input>
                <label [hidden]="fEmploymentInfo['positionId'].isHide"
                  [ngClass]="{'required': fEmploymentInfo['positionId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right" translate>
                  app.employee-info.positionId
                </label>
                <div [hidden]="fEmploymentInfo['positionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <data-picker [property]="fEmploymentInfo['positionId']" systemCode="emp" operationKey="action.view"
                    adResourceKey="resource.employee" objectBO="PositionBO" codeField="code" nameField="name"
                    selectField="positionId" [filterCondition]="filterByViettelStartDate" isRequiredField="true">
                  </data-picker>
                  <app-control-messages [control]="fEmploymentInfo['positionId']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label [hidden]="fEmploymentInfo['documentTypeId'].isHide"
                  [ngClass]="{'required': fEmploymentInfo['documentTypeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.documentTypeId
                </label>
                <div [hidden]="fEmploymentInfo['documentTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter (onChange)="onChangeDocument($event)" [property]="fEmploymentInfo['documentTypeId']"
                    [placeHolder]="fEmploymentInfo['documentTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="documentTypeList" optionLabel="name" optionValue="documentTypeId">
                  </select-filter>
                  <app-control-messages [control]="fEmploymentInfo['documentTypeId']"></app-control-messages>
                </div>
                <label [hidden]="fEmploymentInfo['recruitTypeId'].isHide || fEmploymentInfo['documentTypeId'].isHide"
                  *ngIf="checkDocument === false" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required"
                  translate>
                  app.employee-info.recruitType
                </label>
                <label [hidden]="fEmploymentInfo['recruitTypeId'].isHide || fEmploymentInfo['documentTypeId'].isHide"
                  *ngIf="checkDocument === true" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right "
                  translate>
                  app.employee-info.recruitType
                </label>
                <div [hidden]="fEmploymentInfo['recruitTypeId'].isHide || fEmploymentInfo['documentTypeId'].isHide"
                  *ngIf="checkDocument === true" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="fEmploymentInfo['recruitTypeId']"
                    [placeHolder]="fEmploymentInfo['recruitTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="recruitTypeList" optionLabel="name" optionValue="sysCatId" [disabled]="true">
                  </select-filter>
                  <app-control-messages [control]="fEmploymentInfo['recruitTypeId']"></app-control-messages>
                </div>
                <div [hidden]="fEmploymentInfo['recruitTypeId'].isHide || fEmploymentInfo['documentTypeId'].isHide"
                  *ngIf="checkDocument === false" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="fEmploymentInfo['recruitTypeId']"
                    [placeHolder]="fEmploymentInfo['recruitTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="recruitTypeList" optionLabel="name" optionValue="sysCatId">
                  </select-filter>
                  <app-control-messages [control]="fEmploymentInfo['recruitTypeId']"></app-control-messages>
                </div>
              </div>
            </div>
            <br>
          </form>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button type="submit" style="float:left;" (click)="activeIndex = 0;" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.previous' | translate"></button>
          <button type="submit" style="float:right;" (click)="validateFormEmploymentInfo()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.next' | translate"></button>
        </div>
      </div>

      <div [ngClass]="{'show': activeIndex === 2}" [hidden]="activeIndex !== 2">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd;">app.contractProcess.insert</strong>
          </div>
          <br>
          <form id="frmSaveEmpTypeProcess" [formGroup]="formSaveT">

            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label [hidden]="f['empTypeId'].isHide" [ngClass]="{'required': f['empTypeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.contractProcess.empType' | translate}}
                </label>
                <div [hidden]="f['empTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="f['empTypeId']" [options]="empTypeList"
                    (onChange)="onEmpTypeChange($event,null)" optionLabel="name" optionValue="empTypeId"
                    [autofocus]="'autofocus'"
                    [placeHolder]="f['empTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['empTypeId']"></app-control-messages>
                </div>

                <dynamic-input [property]="f['contractDecisionNumber']" [objectId]="f['empTypeProcessId'].value"
                  [labelValue]="'app.contractProcess.contractNumber'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right required'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'" [maxLength]='50'>
                </dynamic-input>

                <label *ngIf="isNotHDLD" [hidden]="f['soldierLevelId'].isHide"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                  {{'app.contractProcess.soldierLevel' | translate}}
                </label>
                <div *ngIf="isNotHDLD" [hidden]="f['soldierLevelId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="f['soldierLevelId']" [options]="soldierLevelList" optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="f['soldierLevelId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['soldierLevelId']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label [hidden]="f['effectiveDate'].isHide" [ngClass]="{'required': f['effectiveDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.contractProcess.effectiveDate' | translate}}
                </label>
                <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <date-picker [property]="f['effectiveDate']"></date-picker>
                  <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                </div>

                <label [hidden]="f['expiredDate'].isHide" [ngClass]="{'required': f['expiredDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                  {{'app.contractProcess.expiredDate' | translate}}
                </label>
                <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <date-picker [property]="f['expiredDate']"></date-picker>
                  <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                </div>
                <label [hidden]="f['signedDate'].isHide" [ngClass]="{'required': f['signedDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.workProcess.signedDate' | translate}}
                </label>
                <div [hidden]="f['signedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <date-picker [property]="f['signedDate']"></date-picker>
                  <app-control-messages [control]="f['signedDate']"></app-control-messages>
                </div>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <label *ngIf="isHDLD" [hidden]="f['labourContractTypeId'].isHide"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'app.labourContractType.title' | translate}}
                </label>
                <div *ngIf="isHDLD" [hidden]="f['labourContractTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter (onChange)="onLabourContractTypeChange($event)" [property]="f['labourContractTypeId']"
                    [options]="laboutTypeList" optionLabel="name" optionValue="labourContractTypeId"
                    [placeHolder]="f['labourContractTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['labourContractTypeId']"></app-control-messages>
                </div>

                <label *ngIf="!isLabourContract" [hidden]="f['labourContractDetailId'].isHide"
                  class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right required">
                  {{'app.contractProcess.contract' | translate}}
                </label>
                <div *ngIf="!isLabourContract" [hidden]="f['labourContractDetailId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="f['labourContractDetailId']" [options]="labourContractDetailList" optionLabel="name"
                    optionValue="labourContractDetailId"
                    [placeHolder]="f['labourContractDetailId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['labourContractDetailId']"></app-control-messages>
                </div>
                <div *ngIf="isHDLD">
                  <label *ngIf="!isLabourNonRequired" class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right required">
                    {{'app.contractProcess.contractPeriodByMonth' | translate}}
                  </label>
                  <label *ngIf="isLabourNonRequired" class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right">
                    {{'app.contractProcess.contractPeriodByMonth' | translate}}
                  </label>
                  <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" name="contractMonth" class="form-control" formControlName="contractMonth" maxlength="4" />
                    <app-control-messages [control]="f['contractMonth']"></app-control-messages>
                  </div>
                  <label *ngIf="isLabourService" [hidden]="f['workingTimeId'].isHide"
                    class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right required">
                    {{'app.contractProcess.workingTime' | translate}}
                  </label>
                  <div *ngIf="isLabourService" [hidden]="f['workingTimeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <select-filter [property]="f['workingTimeId']" [options]="workingTimeList" optionLabel="name"
                      optionValue="sysCatId"
                      [placeHolder]="f['workingTimeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                    </select-filter>
                    <app-control-messages [control]="f['workingTimeId']"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g">
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.workProcess.attachmentFile' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-9">
                  <multil-file-choser [property]="fileControl" [validMaxSize]="10"
                    [validType]="FILE_TYPE_PERSONAL_UPLOAD">
                  </multil-file-choser>
                  <app-control-messages [control]="fileControl"></app-control-messages>
                </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
                <dynamic-input [property]="f['description']" [objectId]="f['empTypeProcessId'].value"
                  [labelValue]="'app.workProcess.description'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'" [type]="'text-area'" [maxLength]='500'>
                </dynamic-input>

              </div>
            </div>

          </form>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button type="submit" style="float:left;" (click)="activeIndex = 1;" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.previous' | translate"></button>
          <button type="submit" style="float: right;" (click)="addEmploymentInfo()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.next' | translate">
          </button>
        </div>
      </div>




      <!-- Personal Info -->
      <div [ngClass]="{'show': activeIndex === 3}" [hidden]="activeIndex !== 3">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd;">app.employee-info.personalInfo</strong>
          </div>
          <br>
          <form id="formPersonalInfo" [formGroup]="formPersonalInfo">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-11 ui-lg-11 ui-g-nopad">
                <label [hidden]="fPersonalInfo['religionId'].isHide"
                  [ngClass]="{'required': fPersonalInfo['religionId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.religionId
                </label>
                <div [hidden]="fPersonalInfo['religionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="fPersonalInfo['religionId']"
                    [placeHolder]="fPersonalInfo['religionId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="religionList" optionLabel="label" optionValue="value">
                  </select-filter>
                  <app-control-messages [control]="fPersonalInfo['religionId']"></app-control-messages>
                </div>
                <label [hidden]="fPersonalInfo['ethnicId'].isHide"
                  [ngClass]="{'required': fPersonalInfo['ethnicId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-1 control-label vt-align-right" translate>
                  app.employee-info.ethnicId
                </label>
                <div [hidden]="fPersonalInfo['ethnicId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter [property]="fPersonalInfo['ethnicId']"
                    [placeHolder]="fPersonalInfo['ethnicId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="ethnicList" optionLabel="label" optionValue="value">
                  </select-filter>
                  <app-control-messages [control]="fPersonalInfo['ethnicId']"></app-control-messages>
                </div>
                <label [hidden]="fPersonalInfo['maritalStatus'].isHide"
                  [ngClass]="{'required': fPersonalInfo['maritalStatus'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.maritalStatus
                </label>
                <div [hidden]="fPersonalInfo['maritalStatus'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 nowrap">
                  <div class="form-check-inline">
                    <label class="i-checks" translate>
                      <input type="radio" formControlName="maritalStatus" class="form-check-input control-label"
                        id="maritalStatus_0" value="1" name="maritalStatus">
                      <i></i>
                      app.employee-info.single
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="i-checks" translate>
                      <input type="radio" formControlName="maritalStatus" class="form-check-input control-label"
                        id="maritalStatus_1" value="2" name="maritalStatus">
                      <i></i>
                      app.employee-info.married
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="i-checks" translate>
                      <input type="radio" formControlName="maritalStatus" class="form-check-input control-label"
                        id="maritalStatus_2" value="3" name="maritalStatus">
                      <i></i>
                      app.employee-info.divorce
                    </label>
                  </div>
                </div>
                <app-control-messages [control]="fPersonalInfo['maritalStatus']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-11 ui-lg-11 ui-g-nopad">
                <label [hidden]="fPersonalInfo['placeOfBirth'].isHide"
                  [ngClass]="{'required': fPersonalInfo['placeOfBirth'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.placeOfBirth
                </label>
                <div [hidden]="fPersonalInfo['placeOfBirth'].isHide" class="ui-g-12 ui-md-6 ui-lg-5">
                  <location-picker [property]="fPersonalInfo['placeOfBirth']" [nation]="fCommonInfo['nationId'].value"
                    [maxLength]="500"></location-picker>
                  <app-control-messages [control]="fPersonalInfo['placeOfBirth']"></app-control-messages>
                </div>
                <label [hidden]="fPersonalInfo['origin'].isHide"
                  [ngClass]="{'required': fPersonalInfo['origin'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.origin
                </label>
                <div [hidden]="fPersonalInfo['origin'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <location-picker [property]="fPersonalInfo['origin']" [nation]="fCommonInfo['nationId'].value"
                    [maxLength]="500"></location-picker>
                  <app-control-messages [control]="fPersonalInfo['origin']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-11 ui-lg-11 ui-g-nopad">
                <label [hidden]="fPersonalInfo['permanentAddress'].isHide"
                  [ngClass]="{'required': fPersonalInfo['permanentAddress'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.permanentAddress
                </label>
                <div [hidden]="fPersonalInfo['permanentAddress'].isHide" class="ui-g-12 ui-md-6 ui-lg-5">
                  <location-picker [property]="fPersonalInfo['permanentAddress']"
                    [nation]="fCommonInfo['nationId'].value" [maxLength]="500"></location-picker>
                  <app-control-messages [control]="fPersonalInfo['permanentAddress']"></app-control-messages>
                </div>
                <label [hidden]="fPersonalInfo['currentAddress'].isHide"
                  [ngClass]="{'required': fPersonalInfo['currentAddress'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.employee-info.currentAddress
                </label>
                <div [hidden]="fPersonalInfo['currentAddress'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <location-picker [property]="fPersonalInfo['currentAddress']" [nation]="fCommonInfo['nationId'].value"
                    [maxLength]="500"></location-picker>
                  <app-control-messages [control]="fPersonalInfo['currentAddress']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-11 ui-lg-11 ui-g-nopad">
                <label [hidden]="fPersonalInfo['mobileNumber'].isHide"
                  [ngClass]="{'required': fPersonalInfo['mobileNumber'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.employee-info.mobileNumber' | translate}}
                </label>
                <div [hidden]="fPersonalInfo['mobileNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 vt-relative">
                  <int-phone-prefix id="mobileNumber" formControlName="mobileNumber" [maxLength]='50'>
                  </int-phone-prefix>
                  <app-control-messages [control]="fPersonalInfo['mobileNumber']"></app-control-messages>
                  <div class="control-action">
                    <button type="button" [innerHTML]="'common.icon.plus' | translate" class="btn-icon plus"
                      title="{{'common.label.add' | translate}} {{'app.employee-info.mobileNumber2' | translate}}"
                      (click)="addMobileNumber2()" [hidden]="columns.length !== 0">
                    </button>
                  </div>
                </div>
                <label [hidden]="fPersonalInfo['mobileNumber2'].isHide"
                  [ngClass]="{'required': fPersonalInfo['mobileNumber2'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngFor="let col of columns; let i=index"
                  [@animation]="'visible'">
                  {{'app.employee-info.mobileNumber2' | translate}}
                </label>
                <div [hidden]="fPersonalInfo['mobileNumber2'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 vt-relative"
                  *ngFor="let col of columns; let i=index" [@animation]="'visible'">
                  <int-phone-prefix id="mobileNumber2" formControlName="mobileNumber2" [maxLength]='50'>
                  </int-phone-prefix>
                  <app-control-messages [control]="fPersonalInfo['mobileNumber2']"></app-control-messages>
                  <div class="control-action">
                    <button type="button" [innerHTML]="'common.icon.plus' | translate" class="btn-icon plus"
                      title="{{'common.label.add' | translate}} {{'app.employee-info.mobileNumber3' | translate}}"
                      (click)="addMobileNumber3()" [hidden]="columns.length === 0 || columns1.length === 1"
                      [disabled]="columns1.length === 1">
                    </button>
                    <button type="button" [innerHTML]="'common.icon.minus' | translate" class="btn-icon minus"
                      title="{{'common.label.delete' | translate}} {{'app.employee-info.mobileNumber2' | translate}}"
                      (click)="removeMobileNumber2()" [hidden]="columns.length === 0 || columns1.length === 1"
                      [disabled]="columns.length === 0">
                    </button>
                  </div>
                </div>
                <label [hidden]="fPersonalInfo['mobileNumber3'].isHide"
                  [ngClass]="{'required': fPersonalInfo['mobileNumber3'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngFor="let col of columns1; let i=index"
                  [@animation]="'visible'">
                  {{ 'app.employee-info.mobileNumber3' | translate }}
                </label>
                <div [hidden]="fPersonalInfo['mobileNumber3'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 vt-relative"
                  *ngFor="let col of columns1; let i=index" [@animation]="'visible'">
                  <int-phone-prefix id="mobileNumber3" formControlName="mobileNumber3" [maxLength]='50'>
                  </int-phone-prefix>
                  <app-control-messages [control]="fPersonalInfo['mobileNumber3']"></app-control-messages>
                  <div class="control-action">
                    <button type="button" [innerHTML]="'common.icon.minus' | translate" class="btn-icon minus"
                      title="{{'common.label.delete' | translate}} {{'app.employee-info.mobileNumber3' | translate}}"
                      (click)="removeMobileNumber3()" [hidden]="columns1.length !== 1"
                      [disabled]="columns1.length === 0">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button type="submit" style="float: left" (click)="activeIndex = 2" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.previous' | translate"></button>
          <button type="submit" style="float: right" (click)="processCancel()" class="btn btn-sm btn-danger"
            [innerHTML]="'common.button.cancel' | translate"></button>
          <button type="submit" style="float: right" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.save' | translate"></button>
        </div>
      </div>

      <!-- Send email -->
      <div [ngClass]="{'show': activeIndex === 4}" [hidden]="activeIndex !== 4">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd; font-style: italic;">app.employee-info.sendInformEmail</strong>
          </div>
          <div class="ui-g">
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" style="padding-top: 1.3%">
                {{ 'app.employee-info.emailAdress' | translate }}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-9">
                <tag-input [(ngModel)]="listEmail" name="tags" [ripple]="false" theme="bootstrap"
                  placeholder="{{ 'app.employee-info.emailTagPlaceHolder' | translate }}" (onAdd)="onAddEmailAddress()"
                  addOnBlur="true" addOnPaste="true"
                  secondaryPlaceholder="{{ 'app.employee-info.emailTagPlaceHolder' | translate }}">
                </tag-input>
              </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{ 'app.employee-info.emailHeader' | translate }}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-9">
                <input type="text" class="form-control" value="{{ 'app.employee-info.newEmployee' | translate }}"
                  disabled="true">
              </div>
            </div>
            <div class="ui-g-12" style="padding-bottom: 15px;">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{ 'app.employee-info.emailContent' | translate }}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-9">
                <div class="email-content">
                  <p>{{ 'app.employee-info.openingEmail' | translate }}</p>
                  <p style="padding-left: 20px">{{ 'app.employee-info.announcement' | translate }}</p>
                  <table style="width:100%;">
                    <thead>
                      <tr style="height: 30px">
                        <th style="width: 3%;">{{ 'common.table.index' | translate }}</th>
                        <th style="width: 10%;">{{ 'app.employee.employee_code' | translate }}</th>
                        <th style="width: 13%;">{{ 'app.employee.fullName' | translate }}</th>
                        <th style="width: 12%;">{{ 'app.employee.email' | translate }}</th>
                        <th style="width: 10%;">{{ 'app.employee.birth_day' | translate }}</th>
                        <th style="width: 35%;">{{ 'app.employee.organization' | translate }}</th>
                        <th style="width: 12%;">{{ 'app.employee.viettelStartDate' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="center-align">1</td>
                        <td class="center-align">{{ employee.employeeCode }}</td>
                        <td class="center-align">{{ employee.fullName }}</td>
                        <td class="center-align">{{ employee.email }}</td>
                        <td class="center-align">{{ employee.dateOfBirth | displayDate }}</td>
                        <td>{{ employee.organizationFullName }}</td>
                        <td class="center-align">{{ employee.viettelStartDate | displayDate }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="padding: 15px 0 0 20px;">{{ 'app.employee.endEmail' | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button style="float:right" type="submit" (click)="sendWarningEmail()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.finish' | translate"></button>
        </div>
      </div>
      <!-- Success -->
      <div [ngClass]="{'show': activeIndex === 5}" [hidden]="activeIndex !== 5">
        <div class="panel-body padding-xl">
          <div class="panel-heading" translate>
            <strong style="color: #0e9cdd;">app.employee-info.success</strong>
          </div>
          <div class="ui-g" style="position: relative; margin: 0 auto; width: 450px">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <div class="ui-g-12">
                <label class="control-label vt-align-left">
                  {{ 'app.employee-info.addEmployeeSuccess' | translate }}
                  <a class="text-link"
                    [routerLink]="['/employees/personal/', employee.employeeId, 'personal-information']"
                    style="font-weight: normal">{{ employee.employeeCode }}.</a>
                </label>
              </div>
              <div class="ui-g-12">
                <label class="control-label vt-align-left ">{{ 'app.employee.email' | translate }}:
                  <span style="font-weight: normal">{{employee.email}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="vt-area-button clearfix" style="padding-bottom: 15px;">
          <button style="float:right" type="submit" [routerLink]="['/employees/update-employee',employee.employeeCode]"
            class="btn btn-sm btn-info" [innerHTML]="'common.button.previous' | translate"></button>
        </div>
      </div>
    </div>
  </div>
  <have-not-permission [actionCode]="'action.insert'" [resourceCode]="'resource.employee'" translate>
    common.haveNoPermission
  </have-not-permission>
</div>
