/** Add them */
.nowrap {
  white-space: nowrap;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
@media screen and (min-width: 40.063em) {
  .labelEmployeeCustom {
    width: 41.5%;
  }
}

@media screen and (min-width: 64.063em) {

  .labelEmployeeCustom {
    width: 13.8%;
  }
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid rgb(198, 200, 204);
}

th {
  text-align: center;
}

.center-align {
  text-align: center;
}

.email-content {
  padding: 15px 15px 0 15px;
  background-color: #e9ecef;
  border: 1px solid #cfdadd;
}
