<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('payrollItemId').value"  translate> payroll.item.add</span>
          <span *ngIf="formSave.get('payrollItemId').value"  translate> payroll.item.add.edit</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
       <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label  [hidden]="f['salaryTypeId'].isHide"
                  [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                  {{'payroll.item.salaryitem' | translate}}
          </label>
         <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter  [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                          [property]="f['salaryTypeId']"
                          [options]="salarytypeList"
                          optionLabel="name"
                          optionValue="salaryTypeId"
                          >
          </select-filter>
          <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
        </div>
           <label  [hidden]="f['attributeType'].isHide"
                   [ngClass]="{'required': f['attributeType'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                   {{'payroll.item.datatype' | translate}}
          </label>
         <div [hidden]="f['attributeType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter  [placeHolder]="f['attributeType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                          [property]="f['attributeType']"
                          [options]="atttributeTyleList"
                          optionLabel="label"
                          optionValue="id"
                          >
          </select-filter>
          <app-control-messages [control]="f['attributeType']"></app-control-messages>
        </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['code']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'payroll.item.payrollitemcode'"
                            [autofocus]="'autofocus'"
                            [maxLength] = 50>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'payroll.item.payrollitemname'"
                            [maxLength] = 100>
            </dynamic-input>
       </div>
       <div class="ui-g-12">
        <dynamic-input  [property]="f['taxCode']"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [labelValue]="'payroll.item.payrollitemtaxcode'"
                        [maxLength] = 20>
        </dynamic-input>
        <label  [hidden]="f['columnOutput'].isHide"
                [ngClass]="{'required': f['columnOutput'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                {{'payroll.item.payrollitemouputname' | translate}}
        </label>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <auto-complete [property]="f['columnOutput']"
                         [options]="columName"
                         optionLabel = "name"
                         optionValue = "name"
                         [maxLength] = 100>
          </auto-complete>
          <app-control-messages [control]="f['columnOutput']"></app-control-messages>
        </div>

     </div>
     <div class="ui-g-12">
        <label  [hidden]="f['salaryFund'].isHide"
                [ngClass]="{'required': f['salaryFund'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                {{'payroll.item.payrollitemsalayryfund' | translate}}
        </label>
        <div [hidden]="f['salaryFund'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter  [placeHolder]="f['salaryFund'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                          [property]="f['salaryFund']"
                          [options]="salaryFundList"
                          optionLabel="value"
                          optionValue="code">
          </select-filter>
          <app-control-messages [control]="f['salaryFund']"></app-control-messages>
        </div>
        <label  [hidden]="f['paymentCode'].isHide"
                [ngClass]="{'required': f['paymentCode'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                {{'payroll.item.payrollitempaymentcode' | translate}}
        </label>
        <div [hidden]="f['paymentCode'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
                        [placeHolder]="f['paymentCode'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                        [property]="f['paymentCode']"
                        [options]="paymentCodeList"
                        optionLabel="value"
                        optionValue="code">
          </select-filter>
          <app-control-messages [control]="f['paymentCode']"></app-control-messages>
        </div>
   </div>
   <div class="ui-g-12">
      <label  [hidden]="f['status'].isHide"
              [ngClass]="{'required': f['status'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.item.payrollitemactivated' | translate}}
      </label>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <label [hidden]="f['status'].isHide" class="i-switch bg-info m-t-xs m-r">
          <input [hidden]="f['status'].isHide" type="checkbox" name="status" [value]="1" formControlName="status" />
          <i></i>
        </label>
          <app-control-messages [control]="f['status']"></app-control-messages>
      </div>
  </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
