<div class="modal-body">
    <form id="frmSaveEmpFile">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formSave.get('empFileId').value" translate>app.empFile.addTitle</span>
                        <span *ngIf="formSave.get('empFileId').value" translate>app.empFile.updateTitle</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
                    </div>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <label [hidden]="f['fileId'].isHide"
                               [ngClass]="{'required': f['fileId'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.employee_manager.profileType' | translate}}
                        </label>
                        <div [hidden]="f['fileId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <select-filter
                            [property]="f['fileId']"
                            [options]="listEmpFileCode"
                            optionLabel="name"
                            [autofocus]="'autofocus'"
                            optionValue="sysCatId"
                            [placeHolder]="f['fileId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                          </select-filter>
                          <app-control-messages [control]="f['fileId']"></app-control-messages>
                        </div>
                        <label [hidden]="f['organizationId'].isHide"
                               [ngClass]="{'required': f['organizationId'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.employee_manager.orgManagerProfile' | translate}}
                        </label>
                        <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-12 ui-lg-3">
                          <org-selector
                            [property]="f['organizationId']"
                            operationKey="action.view"
                            adResourceKey="resource.empFile"
                            isRequiredField="true">
                          </org-selector>
                          <app-control-messages [control]="f['organizationId']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['fixedEmpFile'].isHide"
                               [ngClass]="{'required': f['fixedEmpFile'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.employee_manager.fileHard' | translate}}
                        </label>
                        <div [hidden]="f['fixedEmpFile'].isHide" class="ui-g-12 ui-md-12 ui-lg-3">
                          <select-filter
                            [property]="f['fixedEmpFile']"
                            [options]="listFixedEmpFile"
                            optionLabel="label"
                            optionValue="id"
                            [placeHolder]="f['fixedEmpFile'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            isMultiLanguage="true">
                          </select-filter>
                        </div>
                        <label [hidden]="f['status'].isHide"
                               [ngClass]="{'required': f['status'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.employee_manager.status' | translate}}
                        </label>
                        <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-12 ui-lg-3">
                          <select-filter
                            [property]="f['status']"
                            [options]="listStatus"
                            optionLabel="label"
                            optionValue="id"
                            [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            isMultiLanguage="true">
                          </select-filter>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                               {{'app.employee_manager.attachFile' | translate}}
                              </label >
                        <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-12 ui-lg-3">
                          <file-choser
                            #fileChoser
                            [property]="f['file']"
                            [validMaxSize]="10"
                            [validType]="FILE_TYPE_PERSONAL_UPLOAD">
                          </file-choser>
                          <app-control-messages [control]="f['file']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['description']"
                                      [objectId]="f['empFileId'].value"
                                      [labelValue]="'app.employee_manager.note'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"

                                      [type]="'text-area'"
                                      [maxLength]='200'>
                      </dynamic-input>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
