<div class="modal-body">
  <!-- Là quá trình trong -->
  <form id="frmSaveInnerProcess" [formGroup]="formSaveInnerProcess" [ngClass]="{'show': formType == 1}" [hidden]="formType != 1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSaveInnerProcess.get('workProcessId').value" translate> app.workProcess.addTitle</span>
          <span *ngIf="formSaveInnerProcess.get('workProcessId').value" translate> app.workProcess.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['type'].isHide"
                 [ngClass]="{'required': f['type'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.type' | translate}}
          </label>
          <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onWorkTypeChange($event)"
              [property]="fa['type']"
              [options]="workTypeList"
              optionLabel="label"
              optionValue="type"
              [isMultiLanguage]='true'
              [autofocus]="!formSaveInnerProcess.get('workProcessId').value  ? 'autofocus' : false"
              [disabled]="formSaveInnerProcess.get('workProcessId').value ? true : false ">
            </select-filter>
		        <app-control-messages [control]="f['type']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['organizationId'].isHide"
                 [ngClass]="{'required': f['organizationId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.organizationId' | translate}}
          </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              (onChange)="onChangeUnit($event)"
              adResourceKey="resource.workProcess"
              isRequiredField="true"
              #unit>
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [autofocus]=" formSaveInnerProcess.get('workProcessId').value  ? 'autofocus' : false"
                          [property]="f['documentNumber']"
                          [objectId]="f['workProcessId'].value"
                          [labelValue]="'app.workProcess.documentNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='50'>
          </dynamic-input>
          <label [hidden]="f['signedDate'].isHide"
                 [ngClass]="{'required': f['signedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.signedDate' | translate}}
          </label>
          <div [hidden]="f['signedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['signedDate']"></date-picker>
            <app-control-messages [control]="f['signedDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['documentTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.workProcess.documentTypeId' | translate}}
          </label>
          <div [hidden]="f['documentTypeId'].isHide"
               [ngClass]="{'required': f['documentTypeId'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['documentTypeId']"
              (onChange)="onDocumentTypeChange($event)"
              [placeHolder]="f['documentTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [options]="documentTypeList"
              optionLabel="name"
              optionValue="documentTypeId" >
            </select-filter>
            <app-control-messages [control]="f['documentTypeId']"></app-control-messages>
          </div>
          <label [hidden]="f['documentReasonId'].isHide || isHasReason === false"
                 [ngClass]="{'required': f['documentReasonId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required" >
            {{'app.workProcess.documentReasonId' | translate}}
          </label>
          <div [hidden]="f['documentReasonId'].isHide || isHasReason === false" class="ui-g-12 ui-md-6 ui-lg-3" >
            <select-filter
              [property]="f['documentReasonId']"
              [placeHolder]="f['documentReasonId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [options]="documentReasonList"
              optionLabel="name"
              optionValue="documentReasonId">
            </select-filter>
            <app-control-messages [control]="f['documentReasonId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['intendedJoinDate'].isHide"
                 [ngClass]="{'required': f['intendedJoinDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.intendedJoinDate' | translate}}
          </label>
          <div [hidden]="f['intendedJoinDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['intendedJoinDate']"></date-picker>
            <app-control-messages [control]="f['intendedJoinDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['positionId'].isHide"
                 [ngClass]="{'required': f['positionId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.workProcess.positionId' | translate}}
          </label>
          <div  [hidden]="f['positionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['positionId']"
              systemCode="emp"
              operationKey="action.view"
              adResourceKey="resource.workProcess"
              objectBO="PositionBO"
              codeField="code"
              nameField="name"
              selectField="positionId"
              [filterCondition]="positionPickerFilter"
              isRequiredField = "true">
            </data-picker>
            <app-control-messages [control]="f['positionId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['concurrentOrganizationId'].isHide"
                [ngClass]="{'required': f['concurrentOrganizationId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.concurrentUnit' | translate}}
          </label>
          <div [hidden]="f['concurrentOrganizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['concurrentOrganizationId']"
              operationKey="action.view"
              adResourceKey="resource.workProcess"
              (onChange)="onChangeConcurrentUnit($event)"
              #concurrentUnit>
            </org-selector>
            <app-control-messages [control]="f['concurrentOrganizationId']"></app-control-messages>
          </div>

          <!-- Require concurrentPosition if hasConcurrentUnit -->
          <label [hidden]="f['concurrentPositionId'].isHide"
                [ngClass]="{'required': f['concurrentPositionId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.concurrentPositionId' | translate}}
          </label>
          <div [hidden]="f['concurrentPositionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['concurrentPositionId']"
              systemCode="emp"
              operationKey="action.view"
              adResourceKey="resource.workProcess"
              objectBO="PositionBO"
              codeField="code"
              nameField="name"
              selectField="positionId"
              (onChange)="onChangeConcurrentPosition($event)"
              [filterCondition]="positionPickerFilter"
              #concurrentPosition>
            </data-picker>
            <app-control-messages [control]="f['concurrentPositionId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['workingPlaceId'].isHide"
                 [ngClass]="{'required': f['workingPlaceId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.workingPlaceId' | translate}}
          </label>
          <div [hidden]="f['workingPlaceId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3" >
            <select-filter
              [property]="f['workingPlaceId']"
              [placeHolder]="f['workingPlaceId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [options]="workingPlaceList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="f['workingPlaceId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['description']"
                          [objectId]="f['workProcessId'].value"
                          [labelValue]="'app.workProcess.description'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [type]="'text-area'"
                          [maxLength]='500'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.attachmentFile' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD"
            ></multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
	    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
  <!-- Là quá trình ngoài -->
  <form id="frmSaveOuterProcess" [formGroup]="formSaveOuterProcess" [ngClass]="{'show': formType == 2}" [hidden]="formType != 2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSaveOuterProcess.get('workProcessId').value" translate> app.workProcess.addTitle</span>
          <span *ngIf="formSaveOuterProcess.get('workProcessId').value" translate> app.workProcess.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['type'].isHide"
                 [ngClass]="{'required': f['type'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.workProcess.type' | translate}}
          </label>
          <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              *ngIf="formSaveOuterProcess.get('workProcessId').value"
              (onChange)="onWorkTypeChange($event)"
              [property]="fa['type']"
              [options]="workTypeList"
              optionLabel="label"
              optionValue="type"
              [isMultiLanguage]='true'
              [disabled]='true'>
            </select-filter>
            <select-filter
              *ngIf="!formSaveOuterProcess.get('workProcessId').value"
              (onChange)="onWorkTypeChange($event)"
              [property]="fa['type']"
              [options]="workTypeList"
              optionLabel="label"
              optionValue="type"
              [isMultiLanguage]='true'>
            </select-filter>
		        <app-control-messages [control]="fa['type']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="fa['organization']"
                          [objectId]="fa['workProcessId'].value"
                          [labelValue]="'app.workProcess.organizationId'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='255'>
          </dynamic-input>
          <dynamic-input  [property]="fa['address']"
                          [objectId]="fa['workProcessId'].value"
                          [labelValue]="'app.workProcess.address'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='255'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="fa['position']"
                          [objectId]="fa['workProcessId'].value"
                          [labelValue]="'app.workProcess.positionId'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='255'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="fa['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.workProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="fa['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="fa['effectiveDate']"></date-picker>
            <app-control-messages [control]="fa['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="fa['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="fa['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="fa['expiredDate']"></date-picker>
            <app-control-messages [control]="fa['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="fa['detailDuty']"
                          [objectId]="fa['workProcessId'].value"
                          [labelValue]="'app.workProcess.detailDuty'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='255'>
          </dynamic-input>
        </div>
	    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
