<form id="frmSaveSalaryTable" [formGroup]="formSave">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c"><i class="fa fa-th"></i>
        <span *ngIf="!formSave.get('salaryTableId').value" translate> app.salaryTable.gradeRate.addTitle</span>
        <span *ngIf="formSave.get('salaryTableId').value" translate> app.salaryTable.gradeRate.editTitle</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <dynamic-input  [property]="f['regulationName']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.regulation.name'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [disabled] = "true">
        </dynamic-input>
        <dynamic-input  [property]="f['gradeLadderName']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.gradeLadder.name'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [disabled] = "true">
        </dynamic-input>
      </div>
      <div class="ui-g-12">
        <dynamic-input  [property]="f['code']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.gradeRate.code'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [maxLength]='50'
                        [autofocus]="'autofocus'">
        </dynamic-input>
        <dynamic-input  [property]="f['name']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.gradeRate.name'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [maxLength]='500'>
        </dynamic-input>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['effectiveDate'].isHide"
               [ngClass]="{'required': f['effectiveDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.salaryTable.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.salaryTable.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['currencyId'].isHide"
               [ngClass]="{'required': f['currencyId'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.salaryTable.gradeRate.currency' | translate}}
        </label>
        <div [hidden]="f['currencyId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['currencyId']"
            [options]="listCurrency"
            optionLabel="name"
            optionValue="sysCatId"
            [placeHolder]="f['currencyId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
          </select-filter>
          <app-control-messages [control]="f['currencyId']"></app-control-messages>
        </div>
        <label [hidden]="f['type'].isHide"
               [ngClass]="{'required': f['type'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.salaryTable.gradeRate.type' | translate}}
        </label>
        <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['type']"
            [options]="listGradeRateType"
            optionLabel="label"
            optionValue="id"
            isMultiLanguage="true"
            [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
          </select-filter>
          <app-control-messages [control]="f['type']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <dynamic-input  [property]="f['description']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.description'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                        [type]="'text-area'"
                        [maxLength]='1000'>
        </dynamic-input>
      </div>
    </div>
  </div>
  <div #listChild>

  </div>
  <!-- <list-position-salary-form #posSalary></list-position-salary-form> -->
  <div class="vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    <!-- <button type="button" (click)="actionDelete()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.remove' | translate"></button> -->
  </div>
</form>
