<div *ngIf="hasPermission('action.view')" >
  <div class="panel panel-default">
    <form id="formEmpIncomeTax" [formGroup]="formEmpIncomeTax">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span translate>app.empIncomeTax.addTitle</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['taxNumber']"
                          [labelValue]="'app.empIncomeTax.taxNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='20'>
          </dynamic-input>
          <label [hidden]="f['taxNumberUpdatedTime'].isHide"
                               [ngClass]="{'required': f['taxNumberUpdatedTime'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.empIncomeTax.taxNumberUpdatedTime' | translate}}</label>
          <div [hidden]="f['taxNumberUpdatedTime'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['taxNumberUpdatedTime']"
                           [disabled]="true">
                </date-picker>
              <app-control-messages [control]="f['taxNumberUpdatedTime']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['taxCodeDate'].isHide"
          [ngClass]="{'required': f['taxCodeDate'].isRequire}"
          class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empIncomeTax.taxCodeDate' | translate}}
          </label>
          <div [hidden]="f['taxCodeDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['taxCodeDate']">
            </date-picker>
            <app-control-messages [control]="f['taxCodeDate']"></app-control-messages>
          </div>
          <label [hidden]="f['taxManageOrgId'].isHide"
                  [ngClass]="{'required': f['taxManageOrgId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empIncomeTax.taxManageOrgId' | translate}}</label>
          <div [hidden]="f['taxManageOrgId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['taxManageOrgId']"
                [nationConfigType]="CONSTANTS.NATION_CONFIG_TYPE.TAX_UNIT"
                [placeHolder]="f['taxManageOrgId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
              </select-filter>
              <app-control-messages [control]="f['taxManageOrgId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['taxManageOrg']"
                          [labelValue]="'app.empIncomeTax.taxManageOrg'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <div class="panel panel-default">
              <div class="panel-body panel-table">
                <p-table [value]="formEmpIncomeTaxDetail.controls" tableStyleClass="table controls-table table-wrapper b-t b-b" [scrollable]="true">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="size-1">
                      <col class="size-7">
                      <col class="size-7">
                      <col class="size-7">
                      <col class="size-6">
                      <col class="size-6">
                      <col class="size-5">
                      <col class="size-6">
                      <col class="size-6">
                      <col class="size-8">
                      <col class="size-3" *ngIf="hasPermission('action.delete')">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th translate>common.table.index</th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.calculateTypeId.isRequire}">app.empIncomeTax.calculateTypeId</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.taxNumber.isRequire}">app.empIncomeTax.taxNumber</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.taxPid.isRequire}">app.empIncomeTax.taxPid</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.taxPidIssuedDate.isRequire}">app.empIncomeTax.taxPidIssuedDate</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.taxPidIssuedPlace.isRequire}">app.empIncomeTax.taxPidIssuedPlace</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.commitmentIncome.isRequire}">app.empIncomeTax.commitmentIncome</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.effectiveDate.isRequire}">app.empIncomeTax.effectiveDate</span></th>
                      <th translate><span [ngClass]="{'required': formEmpIncomeTaxDetail.controls.length > 0 && formEmpIncomeTaxDetail.controls[0].controls.expiredDate.isRequire}">app.empIncomeTax.expiredDate</span></th>
                      <th translate>app.empIncomeTax.file</th>
                      <th translate *ngIf="hasPermission('action.delete')">app.empIncomeTax.removeRow</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr [formGroup]="item">
                        <td class="vt-align-center">
                          {{index+1}}
                        </td>
                        <td>
                          <select-filter
                            [property]="item.controls.calculateTypeId"
                            appendTo="body"
                            [options]="calculateTypeList"
                            optionLabel="name"
                            optionValue="sysCatId"
                            [placeHolder]="item.controls.calculateTypeId.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                          </select-filter>
                        </td>
                        <td>
                          <dynamic-input  [property]="item.controls.taxNumber"
                                          [autofocus]="'autofocus'"
                                          [maxLength]='20'>
                          </dynamic-input>
                        </td>
                        <td>
                          <dynamic-input  [property]="item.controls.taxPid"
                                          [maxLength]='20'>
                          </dynamic-input>
                        </td>
                        <td>
                          <date-picker [property]="item.controls.taxPidIssuedDate"
                                       appendTo="body"></date-picker>
                          <app-control-messages [control]="item.controls.taxPidIssuedDate"></app-control-messages>
                        </td>
                        <td>
                          <dynamic-input  [property]="item.controls.taxPidIssuedPlace"
                                          [maxLength]='200'>
                          </dynamic-input>
                        </td>
                        <td>
                          <dynamic-input  [property]="item.controls.commitmentIncome"
                                          [readonly]= "(item.controls.calculateTypeId.value === 123867 || item.controls.calculateTypeId.value === null) ? '' : 'readonly'"
                                          [maxLength]='15'
                                          >
                          </dynamic-input>
                        </td>
                        <td>
                          <date-picker [property]="item.controls.effectiveDate"
                                      [hidden]="item.controls.effectiveDate.isHide"
                                      appendTo="body"></date-picker>
                          <app-control-messages [control]="item.controls.effectiveDate"></app-control-messages>
                        </td>
                        <td>
                          <date-picker [property]="item.controls.expiredDate"
                                      [hidden]="item.controls.expiredDate.isHide"
                                      appendTo="body"></date-picker>
                          <app-control-messages [control]="item.controls.expiredDate"></app-control-messages>
                        </td>
                        <td>
                          <file-choser
                            [property]="item.controls.file"
                            [validMaxSize]="10"
                            [validType]="FILE_TYPE_PERSONAL_UPLOAD"
                            htmlId="{{'filechoser'+index}}">
                          </file-choser>
                          <app-control-messages [control]="item.controls.file"></app-control-messages>
                        </td>
                        <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                            <a class="btn-table delete" (click)="removeRow(index, item.get('empIncomeTaxDetailId').value)" title="{{'common.button.table.hDelete' | translate}}">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="panel-footer vt-relative">
                  <div class="vt-shotcut-button-in-heading vt-align-right">
                      <button type="button" class="plus btn btn-sm btn-info add-row" (click)="addRow(null)" [innerHTML]="'app.empIncomeTax.plus' | translate">
                      </button>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button" *ngIf="hasPermission('action.update')">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
