<div *ngIf="hasPermission('action.view')">
  <p-tabView>
    <p-tabPanel [header]="'app.empHealthInsurance.employee' | translate">
      <ng-template pTemplate="content">
        <emp-health-insurance-list></emp-health-insurance-list>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'app.empHealthInsurance.relative' | translate">
      <ng-template pTemplate="content">
        <family-relationship-health-insurance-list></family-relationship-health-insurance-list>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
