<div id="savePage" class="content">
  <div *ngIf="checkPermission">
    <form id="frmDataType" [formGroup]="formDataType" spellcheck="false">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span *ngIf="!f['dataTypeId'].value" translate> payroll.dataInputType.addTitle</span>
            <span *ngIf="f['dataTypeId'].value" translate> payroll.dataInputType.updateTitle</span>
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['dataName']"
              [objectId]="f['dataTypeId'].value"
              [labelValue]="'payroll.dataInputType.dataName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "200"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <label [hidden]="f['isPutMainTable'].isHide"
                  [ngClass]="{'required': f['isPutMainTable'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isPutMainTable' | translate}}
            </label>
            <div [hidden]="f['isPutMainTable'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isPutMainTable" [value]="1" (change)="isPutMainTableChecked()" formControlName="isPutMainTable">
                <i></i>
              </label>
            </div>
            <label [hidden]="f['isSplitProcess'].isHide"
                  [ngClass]="{'required': f['isSplitProcess'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isSplitProcess' | translate}}
            </label>
            <div [hidden]="f['isSplitProcess'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isSplitProcess" [value]="1" formControlName="isSplitProcess">
                <i></i>
              </label>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['isImport'].isHide"
                  [ngClass]="{'required': f['isImport'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isImport' | translate}}
            </label>
            <div [hidden]="f['isImport'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isImport" [value]="1" (change)="isImportChecked()" formControlName="isImport">
                <i></i>
              </label>
            </div>
            <label [hidden]="f['transferService'].isHide"
                  [ngClass]="{'required': f['transferService'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                  {{ 'payroll.dataInputType.transferService' | translate }}
            </label>
            <div [hidden]="f['transferService'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="f['transferService'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['transferService']"
                [options]="listTransferService"
                optionLabel="value"
                optionValue="code"
                [disabled]="f['isImport'].value ? true : false">
              </select-filter>
              <app-control-messages [control]="f['transferService']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label class="control-label  ui-g-12 ui-md-6 ui-lg-2 vt-align-right">
              {{'app.payrolls.period.isMaxAllowance' | translate}}
            </label>
            <div class="control-label ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
              <label class="i-checks" style="padding-left: 0;">
                <input formControlName="isMaxAllowance" type="checkbox" />
                <i style="margin-left: 0"></i>
              </label>
            </div>
            <label class="control-label  ui-g-12 ui-md-6 ui-lg-2 vt-align-right">
                {{'app.payrolls.period.isSumAllowance' | translate}}
              </label>
              <div class="control-label ui-g-12 ui-md-6 ui-lg-1 vt-align-left">
                <label class="i-checks" style="padding-left: 0;">
                  <input formControlName="isSumAllowance" type="checkbox" />
                  <i style="margin-left: 0"></i>
                </label>
              </div>
          </div>
          <!-- <div class="ui-g-12">
            <a (click)="clickEventQueryField()" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" style="color: #007bff;">
              {{'payroll.payslip.config.dataQuery' | translate}}
            </a>
          </div> -->
          <div class="ui-g-12">
            <!-- <dynamic-input  [property]="f['query']"
              [objectId]="f['dataTypeId'].value"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-8 ui-lg-offset-2'"
              [type]="'text-area'"
              [rows]="4">
            </dynamic-input> -->
            <dynamic-input
              [property]="f['mappingCode']"
              [objectId]="f['dataTypeId'].value"
              [labelValue]="'payroll.dataInputType.mappingCode'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "200">
            </dynamic-input>
          </div>
          <div class="ui-g-12 vt-area-button" style="margin: 0" *ngIf="showQueryField">
            <button type="submit" (click)="generateSpecdata();" class="btn btn-sm btn-info">
              {{'button.dataInput.generateSpecdata' | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate> payroll.dataInputType.dataTypeDetail</span>
          </strong>
        </div>
        <div class="panel-body panel-table">
          <!-- [loading]="loading" [lazy]="true" (onLazyLoad)="loadDataSpecByDataTypeId($event)" -->
          <p-table
            #ptable
            [scrollable]="true"
            scrollHeight="450px"
            [value]="formDataSpecification.controls"
            styleClass="controlOverflow"
            tableStyleClass="table controls-table table-wrapper b-t b-b"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-4">
                <col class="size-12">
                <!-- <col class="size-12"> -->
                <col class="size-12">
                <col *ngIf="!f['isPutMainTable'].value" class="size-12">
                <!-- <col *ngIf="!f['isImport'].value" class="size-12"> -->
                <col class="size-12">
                <col *ngIf="f['isPutMainTable'].value" class="size-12">
                <col *ngIf="f['isPutMainTable'].value" class="size-5">
                <col *ngIf="f['isPutMainTable'].value" class="size-4">
                <col class="size-12">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th translate>app.organization.add_delete</th>
                <th><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.columnOutput.isRequire}">payroll.dataInputType.columnOutput</span></th>
                <!-- <th><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.identifier.isRequire}">payroll.dataInputType.identifier</span></th> -->
                <th><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.attributeType.isRequire}">payroll.dataInputType.attributeType</span></th>
                <th *ngIf="!f['isPutMainTable'].value"><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.mappingColumnOutput.isRequire}">payroll.dataInputType.mappingColumnOutput</span></th>
                <!-- <th *ngIf="!f['isImport'].value"><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.columnJson.isRequire}">payroll.dataInputType.columnJson</span></th> -->
                <th><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.resourceKey.isRequire}">payroll.dataInputType.resourceKey</span></th>
                <th *ngIf="f['isPutMainTable'].value"><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.groupData.isRequire}">payroll.dataInputType.groupData</span></th>
                <th *ngIf="f['isPutMainTable'].value" translate>payroll.dataInputType.editField</th>
                <th *ngIf="f['isPutMainTable'].value" translate>payroll.dataInputType.isPrimary</th>
                <th><span translate [ngClass]="{'required': formDataSpecification.controls.length > 0 && formDataSpecification.controls[0].controls.description.isRequire}">payroll.dataInputType.description</span></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">
                <td class="vt-align-center">
                    {{index+1}}
                </td>
                <td class="vt-align-center">
                  <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addDataSpecification(index, item)" [innerHTML]="'common.icon.plus' | translate">
                  </button>
                  <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeDataSpecification(index, item)" [innerHTML]="'common.icon.minus' | translate">
                  </button>
                </td>
                <td>
                  <auto-complete
                    [property]="item.controls.columnOutput"
                    [options]="f['isPutMainTable'].value ? listMainTableColumn : listSubTableColumn"
                    optionLabel="columnName"
                    optionValue="columnName"
                    (onBlur)="onBlurColumnOutput($event, item)"
                    appendTo = "body"
                    [maxLength]="50"
                    [isValidate]="f['isPutMainTable'].value ? false : true">
                  </auto-complete>
                  <app-control-messages [control]="item.controls.columnOutput"></app-control-messages>
                </td>
                <!-- <td>
                  <dynamic-input
                    [property]="item.controls.identifier"
                    [objectId]="item.controls.dataTypeSpecificationId.value"
                    [maxLength]="50">
                  </dynamic-input>
                </td> -->
                <td>
                  <select-filter
                    [placeHolder]="item.controls.attributeType.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [property]="item.controls.attributeType"
                    [options]="listAttributeType"
                    optionLabel="label"
                    optionValue="id"
                    appendTo = "body"
                  >
                  </select-filter>
                  <app-control-messages [control]="item.controls.attributeType"></app-control-messages>
                </td>
                <td *ngIf="!f['isPutMainTable'].value">
                  <auto-complete
                    [property]="item.controls.mappingColumnOutput"
                    [options]="listMainTableColumn"
                    optionLabel="columnName"
                    optionValue="columnName"
                    appendTo = "body"
                    [maxLength]="50">
                  </auto-complete>
                  <app-control-messages [control]="item.controls.mappingColumnOutput"></app-control-messages>
                </td>
                <!-- <td *ngIf="!f['isImport'].value">
                  <dynamic-input
                    [property]="item.controls.columnJson"
                    [objectId]="item.controls.dataTypeSpecificationId.value"
                    [maxLength]="50">
                  </dynamic-input>
                </td> -->
                <td>
                  <dynamic-input
                    [property]="item.controls.resourceKey"
                    [objectId]="item.controls.dataTypeSpecificationId.value"
                    [maxLength]="200">
                  </dynamic-input>
                </td>
                <td *ngIf="f['isPutMainTable'].value">
                  <select-filter
                    [placeHolder]="item.controls.groupData.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [property]="item.controls.groupData"
                    [options]="listGroupData"
                    optionLabel="value"
                    optionValue="code"
                    appendTo="body"
                  >
                  </select-filter>
                  <app-control-messages [control]="item.controls.groupData"></app-control-messages>
                </td>
                <td *ngIf="f['isPutMainTable'].value" class="vt-align-center">
                  <label [hidden]="item.controls.isRequired.isHide" class="i-checks" [ngClass]="{'required': item.controls.isRequired.isRequire}">
                    <input formControlName="isRequired" type="checkbox" />
                    <i></i>
                  </label>
                </td>
                <td *ngIf="f['isPutMainTable'].value" class="vt-align-center">
                  <label [hidden]="item.controls.isPrimary.isHide" class="i-checks" [ngClass]="{'required': item.controls.isPrimary.isRequire}">
                    <input formControlName="isPrimary" type="checkbox" />
                    <i></i>
                  </label>
                </td>
                <td>
                  <dynamic-input
                    [property]="item.controls.description"
                    [objectId]="item.controls.dataTypeSpecificationId.value"
                    [maxLength]="1000"
                    [type]="'text-area'"
                  >
                  </dynamic-input>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate();" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" [routerLink]="['/payroll/data-input/data-input-type']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.previous' | translate"></button>
      </div>
    </form>
  </div>
  <div *ngIf="!checkPermission" translate>
    common.haveNoPermission
  </div>
</div>
