:host ::ng-deep .export-options {
  border: none;
  width: auto!important;
}

:host ::ng-deep .export-options label{
  color: #fff;
  background-color: #3f51b5;
}

:host ::ng-deep .export-options .ui-dropdown-trigger{
  background-color: #3f51b5;
  color: #fff;
}

p-dropdown{
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.75rem;
  padding-right: 0;
}
