<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="modal-body">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.schedular.shiftAssignmentTable.searchForm</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()"
                title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [hidden]="orgParentId.isHide" [ngClass]="{'required': orgParentId.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="orgParentId.isHide" class="ui-g-12 ui-md-10 ui-lg-5">
                <org-selector [property]="orgParentId" operationKey="action.insert"
                  adResourceKey="resource.organization" isRequiredField="true" (onChange)="selectOrg($event)">
                </org-selector>
                <app-control-messages [control]="orgParentId"></app-control-messages>
              </div>

              <label [hidden]="employeeId.isHide" [ngClass]="{'required': employeeId.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right">
                {{'app.detailReport.employeeCode' | translate}}
              </label>
              <div [hidden]="employeeId.isHide" class="ui-g-12 ui-md-10 ui-lg-5">
                <data-picker [property]="employeeId" systemCode="emp" operationKey="action.view"
                  adResourceKey="resource.employee" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
                  selectField="employeeId" (onChange)="selectEmployee($event)">
                </data-picker>
                <app-control-messages [control]="employeeId"></app-control-messages>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': startDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right" translate>
                app.schedular.fromDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5">
                <date-picker [property]="startDate">
                </date-picker>
                <app-control-messages [control]="startDate"></app-control-messages>
              </div>

              <label [ngClass]="{'required': startDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right" translate>
                app.schedular.toDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5">
                <date-picker [property]="endDate">
                </date-picker>
                <app-control-messages [control]="endDate"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="vt-area-button">
            <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
              title="{{ 'common.label.search' | translate }}">
              <span [innerHtml]="'common.button.search' | translate"></span>
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="onClickExport()"
              title="{{ 'common.label.export' | translate }}">
              <span [innerHtml]="'common.button.table.export' | translate"></span>
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="onClickImport()"
              title="{{ 'common.label.import' | translate }}">
              <span [innerHtml]="'common.button.import' | translate"></span>
            </button>
            <p-splitButton label="{{'app.schedular.shiftAssignmentTable.warningShiftData' | translate}}"
              (onClick)="onExportReportWarningShiftData()" [model]="exportOptions"></p-splitButton>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="modal-body">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate>app.schedular.shiftAssignmentTable.workEmployeeTable</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()"
              title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
        <!-- <div class="panel-body padding-xl ui-g"> -->
        <work-employee-table [workEmployees]="workEmployees" [totalRecords]="totalRecords"
          [searchStartDate]="searchStartDate" [searchEndDate]="searchEndDate"
          (onUpdateWorkEmployee)="onUpdateWorkEmployee($event)"
          (onLoadWorkEmployeePage)="onLoadWorkEmployeePage($event)" [selectorOrganizationId]="selectedOrg && selectedOrg.organizationId"></work-employee-table>
        <!-- </div> -->
      </div>
    </div>

  </div>
</div>
