<div class="modal-body">
  <form id="frmSaveEmpDiscipline" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empDisciplineId').value" translate> app.empDiscipline.addTitle</span>
          <span *ngIf="formSave.get('empDisciplineId').value" translate> app.empDiscipline.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['decissionNumber']"
                          [objectId]="f['empDisciplineId'].value"
                          [labelValue]="'app.empRewardProcess.decissionNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='200'>
          </dynamic-input>
          <label [hidden]="f['organizationId'].isHide"
                 [ngClass]="{'required': f['organizationId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empRewardProcess.unit' | translate}}
          </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.workProcess"
              isRequiredField = "true">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['decissionLevel'].isHide"
                 [ngClass]="{'required': f['decissionLevel'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
            {{'app.empRewardProcess.decissionLevel' | translate}}
          </label>
          <div [hidden]="f['decissionLevel'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['decissionLevel']"
              [options]="disciplineLevelList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['decissionLevel'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['decissionLevel']"></app-control-messages>
          </div>
          <label [hidden]="f['signedDate'].isHide"
                 [ngClass]="{'required': f['signedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empRewardProcess.signedDate' | translate}}
          </label>
          <div [hidden]="f['signedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['signedDate']"></date-picker>
            <app-control-messages [control]="f['signedDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empRewardProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.lineOrg.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['disciplineTypeId'].isHide"
                 [ngClass]="{'required': f['disciplineTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empDiscipline.Offense' | translate}}
          </label>
          <div [hidden]="f['disciplineTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['disciplineTypeId']"
              [options]="disciplineTypeList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['disciplineTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['disciplineTypeId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['reason']"
                          [objectId]="f['empDisciplineId'].value"
                          [labelValue]="'app.empDiscipline.reason'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='100'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['disciplineFormId'].isHide"
                 [ngClass]="{'required': f['disciplineFormId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empDiscipline.disciplineTypeGovernment' | translate}}
          </label>
          <div [hidden]="f['disciplineFormId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['disciplineFormId']"
              [options]="disciplineFormList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['disciplineFormId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['disciplineFormId']"></app-control-messages>
          </div>
          <label [hidden]="f['partyDisciplineFormId'].isHide"
                 [ngClass]="{'required': f['partyDisciplineFormId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empDiscipline.disciplineTypeParty' | translate}}
          </label>
          <div [hidden]="f['partyDisciplineFormId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['partyDisciplineFormId']"
              [options]="partyDisciplineFormList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['partyDisciplineFormId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['partyDisciplineFormId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.organization.attachmentFile' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD"
            ></multil-file-choser>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
      <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
    </div>
  </form>
</div>
