<div id="searchPage">
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          app.empSalaryProcess.listTitle
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
          [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-2">
                <col *ngIf="hasPermission('action.update')" class="size-1">
                <col *ngIf="hasPermission('action.delete')" class="size-1">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-10">
                <col class="size-9">
                <col class="size-7">
                <col class="size-12">
                <col class="size-3">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-3">
                <col class="size-12">
                <col class="size-7">
              </colgroup>
            </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'no'">
                  {{'common.table.index' | translate}}
                  <p-sortIcon [field]="'no'"></p-sortIcon>
                </th>
                <th *ngIf="hasPermission('action.update')">
                  {{'common.button.table.hEdit' | translate}}
                </th>
                <th *ngIf="hasPermission('action.delete')">
                  {{'common.button.table.hDelete' | translate}}
                </th>
                <th [pSortableColumn]="'decideCode'">
                  {{'app.empSalaryProcess.decisionNumber' | translate}}
                  <p-sortIcon [field]="'decideCode'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'decideDate'">
                  {{'app.empSalaryProcess.decisionDate' | translate}}
                  <p-sortIcon [field]="'decideDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'effectiveDate'">
                  {{'app.empSalaryProcess.effectiveDate' | translate}}
                  <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'expiredDate'">
                  {{'app.empSalaryProcess.expiredDate' | translate}}
                  <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'raiseDate'">
                  {{'app.empSalaryProcess.raisedDate' | translate}}
                  <p-sortIcon [field]="'raiseDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'salaryLadderName'">
                  {{'app.empSalaryProcess.salaryTable' | translate}}
                  <p-sortIcon [field]="'salaryLadderName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'salaryRateName'">
                  {{'app.empSalaryProcess.salaryScale' | translate}}
                  <p-sortIcon [field]="'salaryRateName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'salaryGradeStepName'">
                  {{'app.empSalaryProcess.salaryGrade' | translate}}
                  <p-sortIcon [field]="'salaryGradeStepName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'positionSalaryName'">
                  {{'app.empSalaryProcess.titleOfSalary' | translate}}
                  <p-sortIcon [field]="'positionSalaryName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'salaryFator'">
                  {{'app.empSalaryProcess.titleCoefficient' | translate}}
                  <p-sortIcon [field]="'salaryFator'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'money'">
                  {{'app.empSalaryProcess.salary' | translate}}
                  <p-sortIcon [field]="'money'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'bonus'">
                  {{'app.empSalaryProcess.bonus' | translate}}
                  <p-sortIcon [field]="'bonus'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'totalSalary'">
                  {{'app.empSalaryProcess.totalSalary' | translate}}
                  <p-sortIcon [field]="'totalSalary'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'baseSalary'">
                  {{'app.empSalaryProcess.baseSalary' | translate}}
                  <p-sortIcon [field]="'baseSalary'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'bonus13thMonth'">
                  {{'app.empSalaryProcess.bonus13thMonth' | translate}}
                  <p-sortIcon [field]="'bonus13thMonth'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'bonusYear'">
                  {{'app.empSalaryProcess.bonusYear' | translate}}
                  <p-sortIcon [field]="'bonusYear'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'percent'">
                  {{'app.empSalaryProcess.percent' | translate}}
                  <p-sortIcon [field]="'percent'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'description'">
                  {{'app.empSalaryProcess.description' | translate}}
                  <p-sortIcon [field]="'description'"></p-sortIcon>
                </th>
                <th >
                  {{'app.empSalaryProcess.attachedFiles' | translate}}
                </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                  <a class="btn-table delete" (click)="processDelete(item.empPositionSalaryProcessId)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-left">{{item.decideCode}}</td>
                <td class="vt-align-center">{{item.decideDate | displayDate}}</td>
                <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
                <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
                <td class="vt-align-center">{{item.raiseDate | displayDate}}</td>
                <td class="vt-align-left">{{item.salaryLadderName}}</td>
                <td class="vt-align-left">{{item.salaryRateName}}</td>
                <td class="vt-align-right">{{item.salaryGradeStepName}}</td>
                <td class="vt-align-left">{{item.positionSalaryName}}</td>
                <td class="vt-align-right">{{item.salaryFator | number}}</td>
                <td class="vt-align-right">{{item.money | number}}</td>
                <td class="vt-align-right">{{item.bonus | number}}</td>
                <td class="vt-align-right">{{item.totalSalary | number}}</td>
                <td class="vt-align-right">{{item.baseSalary | number}}</td>
                <td class="vt-align-right">{{item.bonus13thMonth | number}}</td>
                <td class="vt-align-right">{{item.bonusYear | number}}</td>
                <td class="vt-align-right">
                  {{item.percent}}
                </td>
                <td class="vt-align-left"> {{item.description}}</td>
                <td class="vt-align-left">
                  <a *ngFor="let data of item.fileAttachment.file"
                        style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                        (click)="downloadFile(data)">
                        - {{data.fileName}}
                  </a>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="17" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
