<div class="modal-body">
  <div class="panel panel-default">
    <form>
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span *ngIf="type === 'SIGN'"> {{'app.organizationPlan.listErrorOrgDraffSign' | translate}} </span>
          <span *ngIf="type === 'APPROVE'"> {{'app.organizationPlan.listErrorOrgDraffApprove' | translate}} </span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
            <i class="fa fa-times"></i>
          </span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <table style="width:100%;" class="table table-bordered">
          <tr style="font-weight: bold; text-align: center; background: #f6f6f6;">
            <th style="width: 20%;" translate>app.organization.code</th>
            <th style="width: 25%" translate>app.organization.unitName</th>
            <th style="width: 25%;" translate>app.organization.unitType</th>
          </tr>
          <tr *ngFor="let item of data; let index = index">
            <td>{{ item.code ? item.code : '(null)' }}</td>
            <td>{{ item.name ? item.name : '(null)' }}</td>
            <td *ngIf="!item.orgTypeId">(null)</td>
            <td *ngIf="item.orgTypeId === 1">{{'orgType.unit' | translate}}</td>
            <td *ngIf="item.orgTypeId === 2">{{'orgType.department' | translate}}</td>
            <td *ngIf="item.orgTypeId === 3">{{'orgType.group' | translate}}</td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
