<div class="app app-header-fixed app-aside-fixed" [ngClass]="{'app-aside-folded': isMinium, 'app-aside-flipped': isBack}">
  <app-header
    #header
    class="app-header navbar"
    (navViewChange)="navViewChange($event)"
    (navFlipChange)="navFlipChange($event)"
  ></app-header>

  <app-nav class="app-aside hidden-xs bg-black"></app-nav>

  <div class="app-content" [ngClass]="{'left-menu-open': !isMinium}">
    <div class="app-content-body fade-in-up">
      <div *ngIf="!disableBreadCrumb" style="padding: 16px 15px 0 15px;">
        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
