<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span *ngIf="!formSave.get('sysCatId').value" translate> app.sys_cat.sys_cat_add_title</span>
              <span *ngIf="formSave.get('sysCatId').value" translate> app.sys_cat.sys_cat_edit_title</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.code'"
                            [autofocus]="'autofocus'"
                            [maxLength]='50'
                            [readonly]="f['sysCatId'].value"
                            [autofocus]="f['sysCatId'].value ? '' : 'autofocus'">
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [styleElm]="f['name']['css']"
                            [objectId]="f['sysCatId'].value"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.name'"
                            [maxLength]='500'
                            [autofocus]="f['sysCatId'].value ? 'autofocus' : ''">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['sysCatTypeName']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.sys_cat_type_name'"
                            [readonly]="'readonly'">
            </dynamic-input>
            <dynamic-input  [property]="f['sortOrder']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.sort_order'"
                            [maxLength]='4'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['status'].isHide"
                   [ngClass]="{'required': f['status'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.sys_cat.is_default
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="status" [value]="1" formControlName="status" />
                <i></i>
              </label>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['description']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-8'"
                            [labelValue]="'app.sys_cat.description'"
                            [type]= "'text-area'"
                            [maxLength]='4000'>
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
            <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </div>
  </form>
</div>
