tbody th.empty-data {
  background-color: #ff000020;
  border: 1px solid #fff;
}

.content .card-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.card-dynamic-content :first-child {
  padding-left: 0;
}

.card-dynamic-content :last-child {
  padding-right: 0;
}

