<div class="modal-body">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.holiday.cloneTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['toYear'].isHide"
                 [ngClass]="{'required': f['toYear'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-5 control-label vt-align-right">
            {{'app.payrolls.holiday.toYear' | translate}}
          </label>
          <div [hidden]="f['toYear'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
            <select-filter
              [property]="f['toYear']"
              [options]="listToYear"
              optionLabel="year"
              optionValue="year"
              [placeHolder]="f['toYear'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['toYear']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processClone()" class="btn btn-sm btn-info" translate><i class="glyphicons glyphicons-more-items"></i> app.common.title.clone</button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
