<div *ngIf="hasPermission('action.view')">
  <p-tabView>
    <p-tabPanel [header]="'app.educationProcess.educationInformation' | translate">
      <ng-template pTemplate="content">
        <education></education>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'app.educationProcess.languageInformation' | translate">
      <ng-template pTemplate="content">
        <language></language>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'app.educationProcess.politicalInformation' | translate">
      <ng-template pTemplate="content">
        <political></political>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
