<div class="card">
  <p-table [value]="workEmployees" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
    tableStyleClass="table table-bordered table-wrapper ">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1" pFrozenColumn />
        <col class="size-3" pFrozenColumn />
        <col class="size-5" pFrozenColumn />
        <col class="size-5" pFrozenColumn />
        <col class="size-1" pFrozenColumn />
        <col *ngFor="let col of searchDays" class="size-1" />
        <col class="size-1" pFrozenColumn />
        <col class="size-2" pFrozenColumn />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableIndex" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableEmployeeCode" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableEmployeeName" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tablePosition" | translate}}</th>
        <th rowspan="2" class="vt-align-center" alignFrozen="right" pFrozenColumn>{{"app.schedular.organizationCode" |
          translate}}</th>
        <th [attr.colspan]="searchDays.length" class="vt-align-center">{{"app.schedular.dayInMonth" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableTotalWorkTime" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableEmployeeStatus" | translate}}</th>
      </tr>
      <tr>
        <th *ngFor="let item of searchDays" class="day-in-month" style="width: 3rem"
          title="{{item.date}}({{item.title | translate}})">{{item.date}}<span
            [ngClass]="{'weekend': item.isWeekend()}">({{item.title | translate}})</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-workEmployee let-index="rowIndex+1">
      <tr *ngIf="isDisplayOrganization(index-1, workEmployee)" class="row-org">
        <td [attr.colspan]="7+searchDays.length">{{workEmployee.employee.organization.name}}</td>
      </tr>
      <tr>
        <td class="vt-align-center">{{index}}</td>
        <td>{{workEmployee.employee.employeeCode}}</td>
        <td>{{workEmployee.employee.fullName}}</td>
        <td>{{workEmployee.employee.position && workEmployee.employee.position.name}}</td>
        <td>{{workEmployee.employee.organization.code}}</td>
        <ng-container *ngIf="workEmployee.works">
          <td *ngFor="let item of searchDays" class="vt-align-center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [ngModel]="getWorkHours(item, workEmployee.works)" (change)="onUpdateCellData({
                  event: $event,
                  workDay: item,
                  employeeId: workEmployee.employee.employeeCode,
                  organizationId: workEmployee.employee.organizationId
                })" (keydown)="onUpdateCellData({
                  event: $event,
                  workDay: item,
                  employeeId: workEmployee.employee.employeeCode,
                  organizationId: workEmployee.employee.organizationId
                })">
              </ng-template>
              <ng-template pTemplate="output">
                <span>{{getWorkHours(item, workEmployee.works)}}</span>
              </ng-template>
            </p-cellEditor>
          </td>
        </ng-container>
        <td>{{workEmployee.hoursShift}}</td>
        <td>{{"app.employee-info.isWorking" | translate}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="7+searchDays.length" [innerHTML]="'app.noRecords' | translate" class="vt-align-center"></td>
      </tr>
    </ng-template>
  </p-table>
  <div class="vt-area-button"><button class="btn btn-info" [innerHTML]="'common.button.save' | translate"
      (click)=onClickUpdate()></button></div>
</div>
