.row-org {
  background-color: #eee8aa;
  font-weight: bold;
}

.table-wrapper .ui-table-thead th.day-in-month{
  color: #000;
  font-weight: bold;
}

.day-in-month span{
  color: #767676;
  font-weight: normal;
  font-size: 0.85em;
}

.day-in-month span.weekend {
  color: #f00;
}
