<div class="payroll-calendar">
  <div class="panel panel-default">
    <div class="payroll-calendar-header vt-align-center">
      <strong>{{firstDayOfMonth.format('MMMM')}} {{firstDayOfMonth.format('YYYY')}}</strong>
    </div>
    <div class="payroll-calendar-body vt-align-center">
      <table class="table w100">
        <tbody>
          <tr>
            <th style="color: red">Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th style="color: red">Sa</th>
          </tr>
          <tr *ngFor="let week of listWeek">
            <td *ngFor="let day of week" [ngClass]="{disabled: day.month() != firstDayOfMonth.month()}" (click)="showPopup(day.toDate().getTime())">
              <div class="display-table w100" [ngClass]="{onWorks: holidayMapByDate && holidayMapByDate[day.toDate().getTime()]}">
                <div class="table-cell holiday-date">
                  {{day.format('DD')}}
                </div>
                <div class="table-cell holiday-item">
                  <span class="holiday-string" title="{{holidayMapByDate[day.toDate().getTime()]}}" *ngIf="day.month() == firstDayOfMonth.month() && holidayMapByDate && holidayMapByDate[day.toDate().getTime()]">
                    {{holidayMapByDate[day.toDate().getTime()]}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
