<div class="card">
  <p-table [value]="shiftEmploys" scrollDirection="both" [scrollable]="true" scrollHeight="400px" [editMode]="'cell'"
    [paginator]="true" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10"
    [totalRecords]="shiftEmploys.length"
    tableStyleClass="table table-bordered table-wrapper shift-employee-table-content">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1" />
        <col class="size-3" />
        <col class="size-7" />
        <col class="size-3" />
        <col class="size-3" />
        <col *ngFor="let col of daysInMonth" class="size-1" />
        <col class="size-3" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" class="vt-align-center">STT</th>
        <th rowspan="2" class="vt-align-center">Mã Nhân viên</th>
        <th rowspan="2" class="vt-align-center">Tên đầy đủ</th>
        <th rowspan="2" class="vt-align-center">Chức danh</th>
        <th rowspan="2" class="vt-align-center">Kí hiệu đơn vị</th>
        <th [attr.colspan]="daysInMonth.length" class="vt-align-center">Ngày trong tháng</th>
        <th rowspan="2" alignFrozen="right" class="vt-align-center">Trạng thái</th>
      </tr>
      <tr>
        <th *ngFor="let item of daysInMonth" style="width: 2rem" title="{{item.title}}">
          <a class="date-col">{{item.date}}</a> <span class='day-col'
            [ngClass]="{'weekend':item.dayOfWeek==0 || item.dayOfWeek ==6}">(<span
              translate>app.schedular.day.{{item.dayOfWeek+1}}</span>)</span>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shiftEmploy let-index="rowIndex+1">
      <tr *ngIf="isDisplayOrganization(index-1, shiftEmploy)" class="row-org">
        <td [attr.colspan]="7+daysInMonth.length">{{shiftEmploy.organizationName}}</td>
      </tr>
      <tr>
        <td>{{index}}</td>
        <td class="td-fit">{{shiftEmploy.employeeCode}}</td>
        <td>{{shiftEmploy.employeeName}}</td>
        <td>{{shiftEmploy.position}}</td>
        <td>{{shiftEmploy.organizationCode}}</td>
        <td *ngFor="let item of daysInMonth;" class="vt-align-center" pEditableColumn
        [ngClass]="{'empty-data':!shiftEmploy.workDayControls[item.date].shiftCodes,
                   'error-cell': !validateCell(shiftEmploy.workDayControls[item.date].shiftCodes),
                   'disabled':!allowEdit(item.date)}"

                   >
          <p-cellEditor title="{{shiftEmploy.workDayControls[item.date].shiftCodes}}" class="td-fit" >

            <ng-template pTemplate="input">
              <input pInputText type="text" [disabled]="!allowEdit(item.date)"
                [(ngModel)]="shiftEmploy.workDayControls[item.date].shiftCodes"
                (change)="onUpdateCellData( $event, shiftEmploy.workDayControls[item.date].shiftCodes)">
            </ng-template>
            <ng-template pTemplate="output" >
              {{shiftEmploy.workDayControls[item.date].shiftCodes}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td alignFrozen="right">{{shiftEmploy.verified}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="6+daysInMonth.length" [innerHTML]="'app.noRecords' | translate"></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer [resultList]="shiftEmploys"></table-footer>
    </ng-template>
    <!-- <ng-template #tipContent >vãi cauz</ng-template> -->
  </p-table>
  <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
    <button type="button" class="btn btn-sm btn-info" (click)="submit()" title="{{ 'app.schedular.save' | translate }}">
      <i class="fa fa-search "></i>
      <span translate>app.schedular.save</span>
    </button>
  </div>

</div>
