th>a.date-col {
  font-weight: 500;
}

th>span.day-col {
  font-size: xx-small;
}

th>span.day-col.weekend {
  color: red;
}
.shift-employee-table-content .ui-table-tbody td.ui-editable-column{
  height: 30px !important;
}
td.error-cell{
  background-color:#f08686;
}

td.empty-data {
  background-color:#f5b0b0;
}
td.disabled{
  background-color:#f7f7f7 !important;
}
.row-org {
  background-color: #eee8aa;
  font-weight: bold;
}

.table-wrapper .ui-table-thead th.day-in-month {
  color: #000;
  font-weight: bold;
}

.day-in-month span {
  color: #767676;
  font-weight: normal;
  font-size: 0.85em;
}

.day-in-month span.weekend {
  color: #f00;
}
