<div class="content">
  <div *ngIf="hasPermission('action.view')" >
  <div class="row">
    <div style="width: 26%; padding-left: 14px">
      <app-nation-config-type [NationConfigSearch]="nationConfigSearch"></app-nation-config-type>
    </div>
    <div style="width: 1%"></div>
    <div style="width: 73%;padding-right: 14px" >
      <nation-config-search #nationConfigSearch></nation-config-search>
    </div>
  </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
