<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span translate> payroll.item.clone</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()"
            title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
              class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
            {{'payroll.item.salaryitem' | translate}}
          </label>
          <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-5">
            <select-filter
              [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['salaryTypeId']" [options]="salarytypeList" optionLabel="name" optionValue="salaryTypeId">
            </select-filter>
            <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processDelete()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.table.delete.payrollItem' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>