<div class="">
  <p-table [value]="workTypeSource" [scrollable]="false" [rows]="10"
    tableStyleClass="table table-bordered table-wrapper ">

    <ng-template pTemplate="header">
      <tr *ngIf="workTypeId != null && workTypeId !== undefined">
        <th colspan="13" translate>app.schedular.timekeeping.{{workTypeId}}</th>
      </tr>
      <tr>
        <th colspan="1">STT</th>
        <th colspan="4">Tên ca</th>
        <th colspan="2">Kí hiệu</th>
        <th colspan="2">Giờ bắt đầu</th>
        <th colspan="2">Giờ kết thúc</th>
        <th colspan="2">Thời gian làm việc</th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-customer let-index="rowIndex+1">
      <tr>
        <td colspan="1" class="vt-align-center">{{page*pageTotal + index}}</td>
        <td colspan="4" class="td-fit" title="{{customer.workName}}">{{customer.workName}}</td>
        <td colspan="2" class="td-fit" title="{{customer.workCode}}">{{customer.workCode}}</td>
        <td colspan="2" class="vt-align-center">{{formatTime(customer.workFrom)}}</td>
        <td colspan="2" class="vt-align-center">{{formatTime(customer.workTo)}}</td>
        <td colspan="2" class="vt-align-center">{{customer.totalWorkTime}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td colspan="5" [innerHTML]="'app.noRecords' | translate"></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer [resultList]="workTypeSource"></table-footer>
    </ng-template>
  </p-table>
</div>
