<div class="input-group picker">
  <div class="input-group-append nation-flag">
    <button class="btn btn-icon"
      [title]="getTitleChooseNation()"
      type="button" [ngClass]="{'btn-icon-info' : propertyNation.value}"
      (click)="op.toggle($event); focusInputSearch();">
      <span class="{{nationObj? nationObj.icon : ''}}" [ngClass]="{'glyphicons glyphicons-globe-af': !nationObj.icon}"></span>
    </button>
  </div>
  <input type="text" class="form-control" 
        [formControl]="property" [attr.disabled]="disabled ? true : null"
         #displayName [maxlength]="maxLength" 
         (input)="searchNationByCode($event)"/>
  <p-overlayPanel #op styleClass="panel-nation" [showCloseIcon]="false" appendTo="body" baseZIndex="20000">
    <div class="nation-picker-search ui-dropdown-panel">
      <div class="ui-dropdown-filter-container">
        <input class="ui-dropdown-filter ui-inputtext ui-widget ui-state-default ui-corner-all" autocomplete="off" type="text"
        [(ngModel)]="nationFilter"
        (focus)="op.show($event)"
        (keyup.arrowdown)="focusElement()"
        (keyup.arrowup)="focusElement()"
        (keydown.arrowdown)="changeIndex(1)"
        (keydown.arrowup)="changeIndex(-1)"
        (keyup.enter)="choseFocusNation();op.hide();"
        #inputSearch
        >
        <span class="ui-dropdown-filter-icon pi pi-search" style="pointer-events: none"></span>
      </div>
    </div>
    <div class="panel-location-nation">
      <ul class="sys-ul">
        <li *ngFor="let nation of listNation | findBy: nationFilter : ['name', 'code']; index as i" (click)="choseNation(nation); op.hide();">
          <button [tabIndex]="i" class="display-table flag-item"
            [ngClass]="{selected: nation == nationSelected}"
            #btnItem
          >
            <div class="table-cell flag-img">
              <span class="{{nation.icon}}" [ngClass]="{'glyphicons glyphicons-globe-af': !nation.icon}"></span>
            </div>
            <div class="table-cell">
              {{nation.name}}
            </div>
          </button>
        </li>
      </ul>
    </div>
  </p-overlayPanel>
</div>
