<div class="modal-body">
  <form id="frmSaveEmpEducationProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empEducationProcessId').value" translate> app.empEducationProcess.interior.addTitle</span>
          <span *ngIf="formSave.get('empEducationProcessId').value" translate> app.empEducationProcess.interior.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['degreeName']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.degreeName'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [autofocus]="'autofocus'"
                      [maxLength]='200'>
          </dynamic-input>
          <dynamic-input  [property]="f['degreeNumber']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.degreeNumber'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='50'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['isMainEduForm'].isHide"
                 [ngClass]="{'required': f['isMainEduForm'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.isMainEduForm' | translate}}
          </label>
          <div [hidden]="f['isMainEduForm'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <label class="i-switch bg-info m-t-xs m-r">
              <input type="checkbox" name="isMainEduForm" [value]="1" formControlName="isMainEduForm" />
              <i></i>
            </label>
            <app-control-messages [control]="f['isMainEduForm']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['educationGradeId'].isHide"
                 [ngClass]="{'required': f['educationGradeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.educationGradeId' | translate}}
          </label>
          <div [hidden]="f['educationGradeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['educationGradeId']"
              [options]="listEducationLevel"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['educationGradeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['educationGradeId']"></app-control-messages>
          </div>
          <label [hidden]="f['educationTypeId'].isHide"
                 [ngClass]="{'required': f['educationTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empEducationProcess.educationTypeId' | translate}}
          </label>
          <div [hidden]="f['educationTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
            [property]="f['educationTypeId']"
            [options]="listEducationForm"
            optionLabel="name"
            optionValue="sysCatId"
            [placeHolder]="f['educationTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['educationTypeId']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <dynamic-input  [property]="f['courseName']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.courseName'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='200'>
          </dynamic-input>
          <dynamic-input  [property]="f['className']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.className'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='200'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['issuedDate'].isHide"
                 [ngClass]="{'required': f['issuedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.issuedDate' | translate}}
          </label>
          <div [hidden]="f['issuedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['issuedDate']"></date-picker>
            <app-control-messages [control]="f['issuedDate']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['issuedPlaceInterior']"
                [objectId]="f['empEducationProcessId'].value"
                [labelValue]="'app.empEducationProcess.issuedPlaceId'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]='200'>
         </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['granduatedRankId'].isHide"
                 [ngClass]="{'required': f['granduatedRankId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.granduatedRankId' | translate}}
          </label>
          <div [hidden]="f['granduatedRankId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['granduatedRankId']"
              [options]="listEducationRank"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['granduatedRankId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['granduatedRankId']"></app-control-messages>
          </div>
          <label [hidden]="f['educationSubjectId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empEducationProcess.educationSubjectId' | translate}}
          </label>
          <div [hidden]="f['educationSubjectId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['educationSubjectId']"
              systemCode="sys"
              operationKey="action.view"
              adResourceKey="resource.sysCat"
              objectBO="SysCatBO"
              codeField="code"
              nameField="name"
              selectField="sysCatId"
              filterCondition=" and obj.sys_cat_type_id = (select sys_cat_type_id from SYS_CAT_TYPE where code = '{{SPECIALITY_CODE}}' and market_company_id={{MARKETCOMPANY_ID}}) "
              nameData="eduSubject"
            ></data-picker>
            <app-control-messages [control]="f['educationSubjectId']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['studyStartDate'].isHide"
                 [ngClass]="{'required': f['studyStartDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.studyStartDate' | translate}}
          </label>
          <div [hidden]="f['studyStartDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['studyStartDate']"></date-picker>
            <app-control-messages [control]="f['studyStartDate']"></app-control-messages>
          </div>
          <label [hidden]="f['studyEndDate'].isHide"
                 [ngClass]="{'required': f['studyEndDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empEducationProcess.studyEndDate' | translate}}
          </label>
          <div [hidden]="f['studyEndDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['studyEndDate']"></date-picker>
            <app-control-messages [control]="f['studyEndDate']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['degreeKept'].isHide"
                 [ngClass]="{'required': f['degreeKept'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.degreeKept' | translate}}
          </label>
          <div [hidden]="f['degreeKept'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <label class="i-switch bg-info m-t-xs m-r">
              <input type="checkbox" name="degreeKept" [value]="1" formControlName="degreeKept" />
              <i></i>
            </label>
            <app-control-messages [control]="f['degreeKept']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label  [hidden]="f['degreeSubmitDate'].isHide"
                  [ngClass]="{'required': f['degreeSubmitDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empEducationProcess.degreeSubmitDate' | translate}}
          </label>
          <div [hidden]="f['degreeSubmitDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['degreeSubmitDate']"></date-picker>
            <app-control-messages [control]="f['degreeSubmitDate']"></app-control-messages>
          </div>
          <label  [hidden]="f['degreeReturnDate'].isHide"
                  [ngClass]="{'required': f['degreeReturnDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empEducationProcess.degreeReturnDate' | translate}}
          </label>
          <div [hidden]="f['degreeReturnDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['degreeReturnDate']"></date-picker>
            <app-control-messages [control]="f['degreeReturnDate']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <dynamic-input  [property]="f['empPayAmount']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.empPayAmount'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='16'>
          </dynamic-input>
          <dynamic-input  [property]="f['viettelPayAmount']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.viettelPayAmount'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='16'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <dynamic-input  [property]="f['totalCost']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.totalCost'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [readonly]= "'readonly'">
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <dynamic-input  [property]="f['description']"
                      [objectId]="f['empEducationProcessId'].value"
                      [labelValue]="'app.empEducationProcess.description'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                      [type] = "'text-area'"
                      [maxLength]='500'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['fileAttachment'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.attachmentFile' | translate}}
          </label>
          <div [hidden]="f['fileAttachment'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['fileAttachment']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD"
            ></multil-file-choser>
            <app-control-messages [control]="f['fileAttachment']"></app-control-messages>
          </div>
        </div>
	    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
