<div class="modal-body">
  <form id="frmSavePayrollMaster">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span translate>payroll.master.title</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button type="button" style="display: inline-block;" (click)="activeModal.close(false)"
              title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.master.clueCode' | translate}}
            </label>
            <div class="ui-g-12 ui-md-7 ui-lg-9 control-label">
              {{clueCode}}
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.master.clueName' | translate}}
            </label>
            <div class="ui-g-12 ui-md-7 ui-lg-9 control-label">
              {{clueName}}
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.master.salaryPeriod' | translate}}
            </label>
            <div class="ui-g-12 ui-md-7 ui-lg-9 control-label">
              {{salaryPeriod}}
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['paymentDate'].isHide" [ngClass]="{'required': f['paymentDate'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.master.paymentDate' | translate}}
            </label>
            <div [hidden]="f['paymentDate'].isHide" class="ui-g-12 ui-md-7 ui-lg-9">
              <date-picker [property]="f['paymentDate']"></date-picker>
              <app-control-messages [control]="f['paymentDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['paymentMoney'].isHide" [ngClass]="{'required': f['paymentMoney'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.master.paymentMoney' | translate}}
            </label>
            <div [hidden]="f['paymentMoney'].isHide" class="ui-g-12 ui-md-7 ui-lg-9">
                <input type="text" class="ui-g-12 ui-md-7 ui-lg-4" formControlName="paymentMoney" #paymentMoney style="text-align: right; width: 100%;" formatCurrencyDirective pInputText/>
                <app-control-messages [control]="f['paymentMoney']"></app-control-messages>
              </div>
            
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
            [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>