<div class="modal-body">
  <form id="frmSaveViewDetail">
    <div class="panel panel-default">
      <form id="formViewDetail" [formGroup]="formViewDetail">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span translate>common.label.view_detail</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
        </div>
        <div class="panel-body padding-xl">
          <div class="ui-g">
            <div class="ui-g-12">
              <p-tabView class="paddingZeroTab">
                <p-tabPanel [header]="'app.organization.commonInformation' | translate">
                  <div class="panel panel-default">
                    <div class="panel-body padding-xl">
                      <table style="width:100%;" class="table table-bordered">
                        <tr>
                          <td style="width: 15%; font-weight: bold;" translate>app.position.code</td>
                          <td style="width: 15%">{{ positionBean.code }}</td>
                          <td style="width: 15%; font-weight: bold;" translate>app.position.name</td>
                          <td style="width: 15%">{{ positionBean.name }}</td>
                          <td style="font-weight: bold;" translate>app.position.careerLevelName</td>
                          <td>{{ positionBean.careerLevelName }}</td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold;" translate>app.position.lineOrgName</td>
                          <td >{{ positionBean.lineOrgName }}</td>
                          <td style="font-weight: bold;" translate>app.position.majorCareerName</td>
                          <td>{{ positionBean.majorCareerName }}</td>
                          <td style="font-weight: bold;" translate>app.position.status</td>
                          <td  *ngIf="positionBean.status==0" translate>app.position.init</td>
                          <td  *ngIf="positionBean.status==1" translate>app.position.approved</td>
                          <td  *ngIf="positionBean.status==2" translate>app.position.refused</td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold;" translate>app.position.effectiveDate</td>
                          <td >{{ positionBean.effectiveDate | displayDate }}</td>
                          <td style="font-weight: bold;" translate>app.position.expiredDate</td>
                          <td>{{ positionBean.expiredDate | displayDate }}</td>
                          <td style="font-weight: bold;" translate></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold;" translate>app.position.createdBy</td>
                          <td >{{ positionBean.createdBy }}</td>
                          <td style="font-weight: bold;" translate>app.position.createdDate</td>
                          <td>{{ positionBean.createdDate | displayDate }}</td>
                          <td style="font-weight: bold;" translate></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td style="font-weight: bold;" translate>app.position.approvedRefusedBy</td>
                          <td >{{ positionBean.approvedRefusedBy }}</td>
                          <td style="font-weight: bold;" translate>app.position.approvedRefusedDate</td>
                          <td>{{ positionBean.approvedRefusedDate | displayDate }}</td>
                          <td style="width: 15%; font-weight: bold;" translate></td>
                          <td style="width: 15%"></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12">
              <p-tabView [activeIndex]="tabIndex">
                <p-tabPanel [header]="'app.position.step1' | translate">
                    <div class="ui-g" formGroupName="positionDescription">
                      <label class="ui-g-12 ui-md-6 ui-lg-2 control-label required vt-align-right" translate>app.position.jobPurpose</label>
                      <div class="ui-g-12 ui-md-9 ui-lg-9">
                        <textarea class="form-control" rows="6" formControlName="jobPurpose" columns="1" md-maxlength="2000"></textarea>
                      </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel [header]="'app.position.step2' | translate">
                  <ng-template pTemplate="content">
                    <div class="ui-g">
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.internalInteraction</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="size-6" translate>app.position.workingRelationships</th>
                              <th class="size-6" translate>app.position.contentPurpose</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionInInteractionList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.InInteraction).controls; let i = index;" [formGroupName]="i">
                              <td class="size-6">
                                <textarea
                                  formControlName="workingRelationship"
                                  name="workingRelationship"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="content"
                                  name="content"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.externalInteraction</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="size-6" translate>app.position.workingRelationships</th>
                              <th class="size-6" translate>app.position.contentPurpose</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionExInteractionList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.ExInteraction).controls; let i = index;" [formGroupName]="i">
                              <td class="size-6">
                                <textarea
                                  formControlName="workingRelationship"
                                  name="workingRelationship"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="content"
                                  name="content"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </p-tabPanel>
                <p-tabPanel [header]="'app.position.step3' | translate">
                  <ng-template pTemplate="content">
                      <div class="ui-g">
                          <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.principalAccountabilities</label>
                          <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <table class="table table-bordered table-vertical-middle">
                              <thead>
                                <tr>
                                  <th class="size-6" translate>app.position.principalAccountabilities</th>
                                  <th class="size-2" translate>app.position.percent</th>
                                  <th class="size-6" translate>app.position.majorActivities</th>
                                  <th class="size-6" translate>app.position.outcomes</th>
                                </tr>
                              </thead>
                              <tbody formArrayName="positionAccountabilityList">
                                <tr  *ngFor="let item of getListFormArray(FORM_ROW_TYPE.Accountabilities).controls; let i = index;" [formGroupName]="i">
                                  <td class="size-6">
                                    <textarea
                                      formControlName="principalAccountability"
                                      name="principalAccountability"
                                      aria-label="text"
                                      class="form-control"
                                      maxlength="2000" ></textarea>
                                  </td>
                                  <td class="size-2">
                                    <textarea
                                      formControlName="percent"
                                      name="percent"
                                      aria-label="text"
                                      class="form-control"
                                      maxlength="2000" ></textarea>
                                  </td>
                                  <td class="size-6">
                                    <textarea
                                      formControlName="majorActivities"
                                      name="majorActivities"
                                      aria-label="text"
                                      class="form-control"
                                      maxlength="2000" ></textarea>
                                  </td>
                                  <td class="size-6">
                                    <textarea
                                      formControlName="outcomes"
                                      name="outcomes"
                                      aria-label="text"
                                      class="form-control"
                                      maxlength="2000" ></textarea>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                  </ng-template>
                </p-tabPanel>
                <p-tabPanel [header]="'app.position.step4' | translate">
                  <ng-template pTemplate="content">
                    <div class="ui-g" formGroupName="positionDescription">
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.authorityAndScope</label>
                      <label class="ui-g-12 ui-md-6 ui-lg-2 control-label required vt-align-right" translate>app.position.authority</label>
                      <div class="ui-g-12 ui-md-9 ui-lg-9">
                        <textarea class="form-control" formControlName="authority" columns="1" md-maxlength="250" rows="3"></textarea>
                      </div>
                      <label class="ui-g-12 ui-md-6 ui-lg-2 control-label required vt-align-right" translate>app.position.scopeOfAuthority</label>
                      <div class="ui-g-12 ui-md-9 ui-lg-9">
                        <textarea class="form-control" formControlName="scopeAuthority" columns="1" md-maxlength="250" rows="3"></textarea>
                      </div>
                    </div>
                  </ng-template>
                </p-tabPanel>
                <p-tabPanel [header]="'app.position.step5' | translate">
                  <ng-template pTemplate="content">
                    <div class="ui-g">
                      <!-- Educational qualifications/ Relevant technical skills -->
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.educationTitle</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered table-vertical-middle">
                          <thead>
                            <tr>
                              <th class="size-4" translate>app.position.educationLevel</th>
                              <th class="size-4" translate>app.position.specicality</th>
                              <th class="size-6" translate>app.position.note</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionEduRequirementList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.EduRequirement).controls; let i = index;" [formGroupName]="i">
                              <td class="size-4 btn-action">
                                  <textarea
                                  formControlName="requirementName"
                                  name="requirementName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-4 btn-action">
                                  <textarea
                                  formControlName="requirementDetailName"
                                  name="requirementDetailName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="note"
                                  name="note"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- Foreign Language -->
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.foreignLanguage</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered table-vertical-middle">
                          <thead>
                            <tr>
                              <th class="size-4" translate>app.position.required</th>
                              <th class="size-4" translate>app.position.detailedRequirement</th>
                              <th class="size-6" translate>app.position.note</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionLanRequirementList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.LanRequirement).controls; let i = index;" [formGroupName]="i">
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementName"
                                  name="requirementName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementDetailName"
                                  name="requirementDetailName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="note"
                                  name="note"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- Other Requirements -->
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.otherRequirements</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered table-vertical-middle">
                          <thead>
                            <tr>
                              <th class="size-4" translate>app.position.required</th>
                              <th class="size-4" translate>app.position.specicalization</th>
                              <th class="size-6" translate>app.position.note</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionOthRequirementList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.OthRequirement).controls; let i = index;" [formGroupName]="i">
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementName"
                                  name="requirementName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementDetailName"
                                  name="requirementDetailName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="note"
                                  name="note"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- Relevant Work Experience -->
                      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.relevantWorkExperience</label>
                      <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <table class="table table-bordered table-vertical-middle">
                          <thead>
                            <tr>
                              <th class="size-4" translate>app.position.required</th>
                              <th class="size-4" translate>app.position.detailedRequirement</th>
                              <th class="size-6" translate>app.position.note</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="positionExpRequirementList">
                            <tr *ngFor="let item of getListFormArray(FORM_ROW_TYPE.ExpRequirement).controls; let i = index;" [formGroupName]="i">
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementName"
                                  name="requirementName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-4 btn-action">
                                <textarea
                                  formControlName="requirementDetailName"
                                  name="requirementDetailName"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                              <td class="size-6">
                                <textarea
                                  formControlName="note"
                                  name="note"
                                  aria-label="text"
                                  class="form-control"
                                  maxlength="2000" ></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </ng-template>
                </p-tabPanel>
              </p-tabView>
            </div>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>

