<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> <span translate> app.salaryTable.steps.title </span>
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="">
          <col class="">
          <col class="">
          <col class="">
          <col class="size-6">
          <col class="size-6">
          <col class="">
          <col class="size-4">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate><span>common.table.index</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.name.isRequire}">app.salaryTable.steps.step</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.factor.isRequire}">app.salaryTable.steps.factor</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.money.isRequire}">app.salaryTable.steps.salaryAgreement</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.duration.isRequire}">app.salaryTable.steps.increasePeriod</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.effectiveDate.isRequire}">app.salaryTable.steps.effectiveDate</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.expiredDate.isRequire}">app.salaryTable.steps.expiredDate</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.description.isRequire}">app.salaryTable.steps.description</span></th>
          <th translate>common.label.action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item">
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <td>
            <dynamic-input  [property]="item.controls.name"
                            [objectId]="item.controls.salaryStepId.value"
                            [maxLength]="100">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.factor"
                            [maxLength]="6">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.money"
                            [maxLength]="16">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.duration"
                            [maxLength]="4">
            </dynamic-input>
          </td>
          <td>
            <date-picker [property]="item.controls.effectiveDate"
                         [hidden]="item.controls.effectiveDate.isHide"
                         appendTo="body">
            </date-picker>
            <app-control-messages [control]="item.controls.effectiveDate"></app-control-messages>
          </td>
          <td>
            <date-picker [property]="item.controls.expiredDate"
                         [hidden]="item.controls.expiredDate.isHide"
                         appendTo="body">
            </date-picker>
            <app-control-messages [control]="item.controls.expiredDate"></app-control-messages>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.description"
                            [type]="'text-area'"
                            [maxLength]="1000">
            </dynamic-input>
          </td>
          <td class="vt-align-center">
            <button class="btn-icon plus" [title]="'titleAdd' | translate" type="button" *ngIf="index+1 == formSave.controls.length" (click)="addSalaryStep(index, item)" [innerHTML]="'common.icon.plus' | translate">
            </button>
            <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="removeSalaryStep(index, item.value.salaryStepId)" [innerHTML]="'common.icon.minus' | translate">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
