<div class="modal-body">
      <div class="panel panel-default">
        <form id="formConfig" [formGroup]="formConfig">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate> app.nation.config</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <dynamic-input  [property]="f['nationName']"
                              [objectId]="f['nationPropertyId'].value"
                              [labelValue]="'app.sys_property.nation'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [readonly]="'readonly'">
              </dynamic-input>
              <dynamic-input  [property]="f['dateFormat']"
                              [objectId]="f['nationPropertyId'].value"
                              [labelValue]="'app.sys_property.dateFormat'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [autofocus]="'autofocus'"
                              [placeHolder]="'common.label.date_format'">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['numberFormat']"
                              [objectId]="f['nationPropertyId'].value"
                              [labelValue]="'app.sys_property.numberFormat'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="50">
              </dynamic-input>
              <dynamic-input  [property]="f['currencyFormat']"
                              [objectId]="f['nationPropertyId'].value"
                              [labelValue]="'app.sys_property.currencyFormat'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="50">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['language'].isHide"
                     [ngClass]="{'required': f['language'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.nation.language' | translate}}
              </label>
              <div [hidden]="f['language'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['language'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['language']"
                  [options]="langs"
                  optionLabel="name"
                  optionValue="code">
                </select-filter>
                <app-control-messages [control]="f['language']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.save' | translate"><i class="fa fa-save"></i></button>
            <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
          </div>
        </form>
      </div>
  </div>
