<div class="modal-body">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.payrolls.holiday.listTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col>
              <col>
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>app.payrolls.holiday.workDayTypeCode</th>
              <th translate>app.payrolls.holiday.hour</th>
              <th translate>app.payrolls.holiday.addOrDelete</th>
            </tr>
          </ng-template>>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td class="vt-align-center">
                <select-filter
                  [placeHolder]="item.controls.workdayTypeCode.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="item.controls.workdayTypeCode"
                  [options]="workdayTypeList"
                  optionLabel="codeName"
                  optionValue="code">
                </select-filter>
                <app-control-messages [control]="item.controls.workdayTypeCode"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <!-- <dynamic-input
                  [property]="item.controls.hours"
                  [maxLength]='4'>
                </dynamic-input> -->
                <input type="text" id="hours" name="hours" class="form-control" formControlName="hours" maxlength="4"/>
                <app-control-messages [control]="item.controls.hours"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addHolidayDefinition(index)" [innerHTML]="'common.icon.plus' | translate"></button>
                <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="processDeleteHoliday(index, item.controls.holidayId.value)" [innerHTML]="'common.icon.minus' | translate"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
