<form id="formJobRequirement" [formGroup]="formJobRequirement">
    <div class="ui-g">
        <!-- Educational qualifications/ Relevant technical skills -->
        <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.educationTitle</label>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <p-table [value]="getListFormArray(FORM_ROW_TYPE.EduRequirement).controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col>
                  <col>
                  <col>
                  <col class="size-4">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th translate>app.position.educationLevel</th>
                <th translate>app.position.specicality</th>
                <th translate>app.position.note</th>
                <th translate>common.label.action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex" formArrayName="positionEduRequirementList">
              <tr [formGroup]="item">
                <td class="vt-align-center">
                    {{index+1}}
                </td>
                <td>
                    <select-filter
                      [property]="item.get('requirementId')"
                      [options]="educationLevelList"
                      optionLabel="name"
                      optionValue="sysCatId"
                      [placeHolder]="item.get('requirementId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                    </select-filter>
                    <app-control-messages [control]="item.get('requirementId')"></app-control-messages>
                </td>
                <td>
                    <select-filter
                      [property]="item.get('requirementDetailId')"
                      [options]="educationMajorList"
                      optionLabel="name"
                      optionValue="sysCatId"
                      [placeHolder]="item.get('requirementDetailId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                    </select-filter>
                    <app-control-messages [control]="item.get('requirementDetailId')"></app-control-messages>
                </td>
                <td>
                    <dynamic-input  [property]="item.get('note')"
                                    [autofocus]="'autofocus'"
                                    [maxLength]='500'
                                    [type]="'text-area'">
                    </dynamic-input>
                </td>
                <td class="vt-align-center">
                    <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowRequirement(FORM_ROW_TYPE.EduRequirement, index)" [innerHTML]="'common.icon.plus' | translate"></button>
                    <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.EduRequirement, index)" [innerHTML]="'common.icon.minus' | translate"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Foreign Language -->
        <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.foreignLanguage</label>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <p-table [value]="getListFormArray(FORM_ROW_TYPE.LanRequirement).controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col>
                  <col>
                  <col>
                  <col class="size-4">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                  <th translate>common.table.index</th>
                  <th translate>app.position.required</th>
                  <th translate>app.position.detailedRequirement</th>
                  <th translate>app.position.note</th>
                  <th translate>common.label.action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex" formArrayName="positionLanRequirementList">
              <tr [formGroup]="item">
                <td class="vt-align-center">
                    {{index+1}}
                </td>
                <td>
                    <select-filter [property]="item.get('requirementId')"
                                  [options]="languageList"
                                  optionLabel="name"
                                  (onChange)="afterSelectLanguage($event, index)"
                                  optionValue="sysCatId"
                                  placeHolder="common.label.cboSelect">
                    </select-filter>
                </td>
                <td>
                    <select-filter [property]="item.get('requirementDetailId')"
                                    [options]="item.controls.languageRequirementList.value"
                                    optionLabel="name"
                                    optionValue="requirementDetailId"
                                    placeHolder="common.label.cboSelect">
                    </select-filter>
                </td>
                <td>
                    <textarea formControlName="note" name="note" aria-label="text" class="form-control" maxlength="500"></textarea>
                </td>
                <td class="vt-align-center">
                    <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowRequirement(FORM_ROW_TYPE.LanRequirement, index)" [innerHTML]="'common.icon.plus' | translate">  </button>
                    <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.LanRequirement, index)" [innerHTML]="'common.icon.minus' | translate"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Other Requirements -->
        <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"translate>app.position.otherRequirements</label>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <p-table [value]="getListFormArray(FORM_ROW_TYPE.OthRequirement).controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col>
                  <col>
                  <col>
                  <col class="size-4">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate>app.position.required</th>
                  <th translate>app.position.specicalization</th>
                  <th translate>app.position.note</th>
                  <th translate>common.label.action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex" formArrayName="positionOthRequirementList">
              <tr [formGroup]="item">
                <td class="vt-align-center">
                    {{index+1}}
                </td>
                <td>
                  <select-filter [property]="item.get('requirementId')"
                                [options]="requirementsList"
                                optionLabel="name"
                                optionValue="sysCatId"
                                (onChange)="afterSelectOther($event, index)"
                                placeHolder="common.label.cboSelect">
                  </select-filter>
                </td>
                <td>
                  <select-filter [property]="item.get('requirementDetailId')"
                                  [options]="item.controls.otherRequirementList.value"
                                  optionLabel="name"
                                  optionValue="requirementDetailId"
                                  placeHolder="common.label.cboSelect">
                  </select-filter>
                </td>
                <td>
                  <textarea formControlName="note" name="note" aria-label="text" class="form-control" maxlength="500"></textarea>
                </td>
                <td class="vt-align-center">
                  <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowRequirement(FORM_ROW_TYPE.OthRequirement, index)" [innerHTML]="'common.icon.plus' | translate"></button>
                  <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.OthRequirement, index)" [innerHTML]="'common.icon.minus' | translate"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Relevant Work Experience -->
        <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.relevantWorkExperience</label>
        <div class="panel-body panel-table ui-g-12 ui-md-12 ui-lg-12">
            <p-table [value]="getListFormArray(FORM_ROW_TYPE.ExpRequirement).controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col>
                  <col>
                  <col>
                  <col class="size-4">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate>app.position.required</th>
                  <th translate>app.position.detailedRequirement</th>
                  <th translate>app.position.note</th>
                  <th translate>common.label.action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex" formArrayName="positionExpRequirementList">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                      {{index+1}}
                  </td>
                  <td>
                    <select-filter [property]="item.get('requirementId')"
                                  [options]="experienceList"
                                  optionLabel="name"
                                  (onChange)="afterSelectExperience($event, index)"
                                  optionValue="sysCatId"
                                  placeHolder="common.label.cboSelect">
                    </select-filter>
                  </td>
                  <td>
                    <select-filter [property]="item.get('requirementDetailId')"
                                   [options]="item.controls.expRequirementList.value"
                                   optionLabel="name"
                                   optionValue="requirementDetailId"
                                   placeHolder="common.label.cboSelect">
                    </select-filter>
                  </td>
                  <td>
                    <textarea formControlName="note" name="note" aria-label="text" class="form-control" maxlength="500"></textarea>
                  </td>
                  <td class="vt-align-center">
                    <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowRequirement(FORM_ROW_TYPE.ExpRequirement, index)" [innerHTML]="'common.icon.plus' | translate"></button>
                    <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.ExpRequirement, index)" [innerHTML]="'common.icon.minus' | translate"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
        </div>
    </div>
    <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="backToList()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
    </div>
</form>
