<div class="modal-body">
  <form id="frmSaveLineOrg">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span *ngIf="!formSave.value.lineOrgId" translate>app.lineOrg.add_title</span>
            <span *ngIf="formSave.get('lineOrgId').value" translate>app.lineOrg.edit_title</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [objectId]="f['lineOrgId'].value"
                            [labelValue]="'app.lineOrg.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='50'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [objectId]="f['lineOrgId'].value"
                            [labelValue]="'app.lineOrg.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='200'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
              <label [hidden]="f['effectiveDate'].isHide"
                      [ngClass]="{'required': f['effectiveDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required" translate>
                app.lineOrg.effectiveDate
              </label>
              <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['effectiveDate']"
                    [onChange]="onChangeDate">
                  </date-picker>
                  <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
              </div>
              <label [hidden]="f['expiredDate'].isHide"
                      [ngClass]="{'required': f['expiredDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
                app.lineOrg.expiredDate
              </label>
              <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker
                  [property]="f['expiredDate']"
                  [onChange]="onChangeDate">
                </date-picker>
                  <app-control-messages [control]="f['expiredDate']"></app-control-messages>
              </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
