
<div class="content" id="searchPage">
    <div id="searchArea">
        <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
              <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                </strong>
              </div>
              <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                  <label [hidden]="f['year'].isHide"
                  class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                    {{'homeReport.year' | translate}}
                  </label>
                  <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
                    <select-filter
                      [property]="f['year']"
                      [options]="listYear"
                      optionLabel="year"
                      optionValue="year"
                      (onChange)="onchangeYear($event)"
                    >
                    </select-filter>
                    <app-control-messages [control]="f['year']"></app-control-messages>
                  </div>
                  <div *ngIf="headerYear==currentYear - 1" class="ui-g-12 ui-md-6 ui-lg-1">
                      <span class="fa fa-info-circle text-info" ngbTooltip="{{ 'annualLeave.warning.canOnlyCalculateTo' | translate }} {{ expiredDateConfig }} " style="margin-top:4px;font-size:20px"></span>
                  </div>
                </div>

                <div class="ui-g-12">
                  <label [hidden]="f['organizationId'].isHide"
                    [ngClass]="{'required': f['organizationId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
                    {{'app.position.unitName' | translate}}
                  </label>
                  <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
                    <org-selector
                      [property]="f['organizationId']"
                      operationKey="action.view"
                      adResourceKey="resource.annualLeave"
                      [defaultValue]="true"
                      isRequiredField = "true">
                    </org-selector>
                    <app-control-messages [control]="f['organizationId']"></app-control-messages>
                  </div>
                </div>

                <div class="ui-g-12">
                  <dynamic-input  [property]="f['employeeCode']"
                    [objectId]="f['employeeCode'].value"
                    [labelValue]="'app.employee.employee_code'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-4'"
                    [autofocus]="'autofocus'"
                    [maxLength]='100'>
                  </dynamic-input>
                </div>
              </div>
              <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
                <button type="button" (click)="processCalculate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.table.calculateAnnualLeave' | translate"></button>
                <button type="button" (click)="processExport()" class="btn btn-sm btn-info" [innerHTML]="'common.button.table.export' | translate"></button>
              </div>
            </form>
        </div>
    </div>

    <div id="listArea">
      <div class="panel panel-default">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp; {{'app.annualLeave.listTitle' | translate}}
            </strong>
          </div>
          <div class="panel-body panel-table">
            <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
                    (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
                    [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
                    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-6">
                  <col class="size-9">
                  <col class="size-5">
                  <col class="size-5">
                  <col class="size-4">
                  <col class="size-7">
                  <col class="size-7">
                  <col class="size-12">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th pSortableColumn="employeeCode" translate>app.employee.employee_code
                    <p-sortIcon field="employeeCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="employeeName" translate>app.employee.full_name
                    <p-sortIcon field="employeeName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="joinInsurance" translate>app.annualLeave.joinInsurance
                    <p-sortIcon field="joinInsurance"></p-sortIcon>
                  </th>
                  <th pSortableColumn="joinContract" translate>app.annualLeave.joinContract
                    <p-sortIcon field="joinContract"></p-sortIcon>
                  </th>
                  <th pSortableColumn="senior" translate>app.annualLeave.senior
                    <p-sortIcon field="senior"></p-sortIcon>
                  </th>
                  <th pSortableColumn="startDate" translate>app.sys_property.startDate
                    <p-sortIcon field="startDate"></p-sortIcon>
                  </th>
                  <th pSortableColumn="endDate" translate>app.sys_property.endDate
                    <p-sortIcon field="endDate"></p-sortIcon>
                  </th>
                  <th pSortableColumn="unitName" translate>app.position.unitName
                    <p-sortIcon field="unitName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="transferAnnualLeave" >{{'app.annualLeave.transferAnnualLeaveIn' | translate}} {{ headerYear }}
                    <p-sortIcon field="transferAnnualLeave"></p-sortIcon>
                  </th>
                  <th pSortableColumn="annualLeaveByProcess" >{{'app.annualLeave.annualLeaveIn' | translate}} {{ headerYear }} ({{'app.annualLeave.byProcess' | translate}})
                    <p-sortIcon field="annualLeaveByProcess"></p-sortIcon>
                  </th>
                  <th pSortableColumn="annualLeave" >{{'app.annualLeave.annualLeaveIn' | translate}} {{ headerYear }}
                    <p-sortIcon field="annualLeave"></p-sortIcon>
                  </th>
                  <th pSortableColumn="usedAnnualLeaveByProcess" >{{'app.annualLeave.usedAnnualLeaveIn' | translate}} {{ headerYear }} ({{'app.annualLeave.byProcess' | translate}})
                    <p-sortIcon field="usedAnnualLeaveByProcess"></p-sortIcon>
                  </th>
                  <th pSortableColumn="usedAnnualLeave" >{{'app.annualLeave.usedAnnualLeaveIn' | translate}} {{ headerYear }}
                    <p-sortIcon field="usedAnnualLeave"></p-sortIcon>
                  </th>
                  <th pSortableColumn="remainAnnualLeave" translate>app.annualLeave.remainAnnualLeave
                    <p-sortIcon field="remainAnnualLeave"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-left"  >{{item.employeeCode}}</td>
                  <td class="vt-align-left"  >{{item.employeeName}}</td>
                  <td class="vt-align-left"  >{{item.joinInsurance}}</td>
                  <td class="vt-align-center"  >{{item.year}}</td>
                  <td class="vt-align-center">{{item.senior}}</td>
                  <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.organizationName}}</td>
                  <td class="vt-align-center">{{item.transferAlPreviousYear}}</td>
                  <td class="vt-align-center">{{item.amountAlByProcess}}</td>
                  <td class="vt-align-center">{{item.amountAl}}</td>
                  <td class="vt-align-center">{{item.usedAlByProcess}}</td>
                  <td class="vt-align-center">{{item.usedAl}}</td>
                  <td class="vt-align-center">{{item.transferAlPreviousYear + item.amountAl - item.usedAl}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                  <td [attr.colspan]="12" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
            </p-table>
          </div>
      </div>
    </div>
</div>

