<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form action="">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate> common.label.search_form</span>
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input [property]="f['code']" [labelValue]="'payroll.item.code'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="50" [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input [property]="f['name']" [labelValue]="'payroll.item.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="100">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.item.type' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['salaryTypeId']" [options]="payrollTypeList" optionLabel="name"
                optionValue="salaryTypeId"
                [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>
            
            <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'payroll.formula.config.isActive' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['status']" [options]="statusList" optionLabel="label" optionValue="id"
                [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                [isMultiLanguage]="true">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
          <button type="submit" (click)="prepareClone()" *ngIf="hasPermission('action.transfer')"
            class="btn btn-sm btn-info" [innerHTML]="'common.button.clonePayrollItem' | translate"></button>
          <button type="submit" (click)="processDeleteBySalary()" *ngIf="hasPermission('action.delete')"
            class="btn btn-sm btn-info" [innerHTML]="'common.button.table.delete.payrollItem' | translate"><i
              class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- start list -->
    <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'payroll.item.listTitle' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf="hasPermission('action.insert')">
              <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
                [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
            (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [lazy]="true" [rows]="10"
            [totalRecords]="resultList.recordsTotal" [scrollable]="true"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col *ngIf="hasPermission('action.update')" class="size-1">
                <col *ngIf="hasPermission('action.delete')" class="size-1">
                <col style="width: 35%">
                <col style="width: 65%">
                <col class="size-8">
                <col class="size-10">
                <col class="size-8">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th *ngIf="hasPermission('action.update')">{{'payroll.item.edit' | translate}}</th>
                <th *ngIf="hasPermission('action.delete')">{{'payroll.item.delete' | translate}}</th>
                <th pSortableColumn="salaryTypeName">
                  {{'payroll.item.type' | translate}}
                  <p-sortIcon field="salaryTypeName"></p-sortIcon>
                </th>
                <th pSortableColumn="name" translate>payroll.item.name
                  <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="code" translate>payroll.item.code
                  <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="columnOutput" translate>payroll.item.columoutput
                  <p-sortIcon field="columnOutput"></p-sortIcon>
                </th>
                <th pSortableColumn="status" translate>payroll.item.status
                  <p-sortIcon field="status"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
                    title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                  <a class="btn-table delete" (click)="processDelete(item)"
                    title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-left">{{item.salaryTypeName}}</td>
                <td class="vt-align-left">{{item.name}}</td>
                <td class="vt-align-left">{{item.code}}</td>
                <td>{{item.columnOutput}}</td>
                <td class="vt-align-left">
                  <!-- <i *ngIf="item.status===1" class="fas fa-check table-icon color-info"></i> -->
                  <span *ngIf="item.status===0" class="label-status danger" translate>payroll.item.status.no</span>
                  <span *ngIf="item.status===1" class="label-status info" translate>payroll.item.status.yes</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <!-- end list -->
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>