<p-breadcrumb *ngIf="itemsBreadcrumb.length > 0" [model]="itemsBreadcrumb"></p-breadcrumb>
<div class="mb15"></div>
<p-tabView class="paddingZeroTab orgTabs">
  <p-tabPanel [header]="'app.organization.commonInformation' | translate">
    <div class="">
      <form id="orgFormInfo" [formGroup]="formInfo" spellcheck="false">
        <p-accordion [multiple]="true">
          <p-accordionTab #commonInfoTab [header]="'app.organization.commonInformation' | translate" [selected]="true">
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12">
                <label [hidden]="f['isOrgLevelManage'].isHide" [ngClass]="{'required': f['isOrgLevelManage'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.hasManagementLevel' | translate}}
                </label>
                <div [hidden]="f['isOrgLevelManage'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <div class="form-check-inline" style="margin-left: 20px;">
                    <label class="i-checks">
                      <input type="radio" formControlName="isOrgLevelManage" [value]="1"
                        class="form-check-input control-label" id="radioYes" name="isOrgLevelManage" />
                      <i></i> {{'app.organization.orgLevelManageYes' | translate}}
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="i-checks">
                      <input type="radio" formControlName="isOrgLevelManage" [value]="0"
                        class="form-check-input control-label" id="radioNo" name="isOrgLevelManage" />
                      <i></i> {{'app.organization.orgLevelManageNo' | translate}}
                    </label>
                  </div>
                  <app-control-messages [control]="f['isOrgLevelManage']"></app-control-messages>
                </div>
                <dynamic-input
                  [property]="f['orgOrder']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.unitOrder'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "10"
                  [autofocus]="'autofocus'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['orgParentId'].isHide"
                       [ngClass]="{'required': f['orgParentId'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.parentUnit' | translate}}
                </label>
                <div [hidden]="f['orgParentId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <org-selector
                    [property]="f['orgParentId']"
                    operationKey="action.insert"
                    adResourceKey="resource.organization"
                    isRequiredField = "true"
                    #orgParentId>
                  </org-selector>
                  <app-control-messages [control]="f['orgParentId']"></app-control-messages>
                </div>
                <label [hidden]="f['orgTypeId'].isHide"
                       [ngClass]="{'required': f['orgTypeId'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.organization.unitType' | translate}}
                </label>
                <div [hidden]="f['orgTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['orgTypeId']"
                    [options]="listOrgType"
                    optionLabel="name"
                    optionValue="organizationTypeId"
                    [placeHolder]="f['orgTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['orgTypeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['code']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.unitCode'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "50"
                  [disabled]= "codeFieldReadOnly">
                </dynamic-input>
                <dynamic-input
                  [property]="f['name']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.unitName'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "500">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['shortName']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.shortName'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "500">
                </dynamic-input>
                <dynamic-input
                  [property]="f['decisionNumber']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.decisionNumber'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "500">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['decisionDate'].isHide"
                       [ngClass]="{'required': f['decisionDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.decisionDate' | translate}}
                </label>
                <div [hidden]="f['decisionDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['decisionDate']"></date-picker>
                  <app-control-messages [control]="f['decisionDate']"></app-control-messages>
                </div>
                <dynamic-input
                  [property]="f['orgDecision']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.decisionUnit'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "50">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['decisionSigner']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.decisionSigner'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "50">
                </dynamic-input>
                <label [hidden]="f['orgManager'].isHide"
                       [ngClass]="{'required': f['orgManager'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.organization.unitManager' | translate}}
                </label>
                <div [hidden]="f['orgManager'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <data-picker
                    [property]="f['orgManager']"
                    systemCode="emp"
                    operationKey="action.view"
                    adResourceKey="resource.employee"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    selectField="employeeId"
                    filterCondition=" and status = 1 ">
                  </data-picker>
                  <app-control-messages [control]="f['orgManager']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['lineOrgId'].isHide"
                       [ngClass]="{'required': f['lineOrgId'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.lineUnit' | translate}}
                </label>
                <div [hidden]="f['lineOrgId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['lineOrgId']"
                    [options]="lineOrgList"
                    optionLabel="name"
                    optionValue="lineOrgId"
                    [placeHolder]="f['lineOrgId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['lineOrgId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['address'].isHide"
                    [ngClass]="{'required': f['address'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.address' | translate}}
                </label>
                <div [hidden]="f['address'].isHide" class="ui-g-12 ui-md-6 ui-lg-9">
                  <location-picker [property]="f['address']" [maxLength]="500"></location-picker>
                  <app-control-messages [control]="f['address']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['effectiveDate'].isHide"
                       [ngClass]="{'required': f['effectiveDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.effectiveDate' | translate}}
                </label>
                <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['effectiveDate']">
                  </date-picker>
                  <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                </div>
                <label [hidden]="f['expiredDate'].isHide"
                       [ngClass]="{'required': f['expiredDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.organization.expiredDate' | translate}}
                </label>
                <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <div class="input-group picker datePicker">
                    <date-picker
                      #expiredDate
                      [property]="f['expiredDate']"
                      [showIcon]="false"
                      [onChange]="checkIsDisabled()">
                    </date-picker>
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button" title="{{'common.button.table.hDelete' | translate}}" (click)="expiredDate.setValue(null); clearExpiredDate(); isHidden=true;">
                        <i class="fa fa-times"></i>
                      </button>
                      <button class="btn btn-info chosen" type="button" title="{{'common.button.table.hShowHidden' | translate}}" (click)="isHidden=!isHidden">
                        <i class="glyphicons glyphicons-pencil"></i>
                      </button>
                    </div>
                  </div>
                  <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                </div>
              </div>
              <div *ngIf="!isHidden || f['expiredDate'].isHide" class="ui-g-12">
                <dynamic-input
                  [property]="f['expiredDecision']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.expiredDecision'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "100"
                  [disabled]="isDisabled ? 'readonly' : ''">
                </dynamic-input>
                <label [hidden]="f['expiredType'].isHide"
                       [ngClass]="{'required': f['expiredType'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.organization.expiredType' | translate}}
                </label>
                <div [hidden]="f['expiredType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['expiredType']"
                    [placeHolder]="f['expiredType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="listExpiredType"
                    optionLabel="label"
                    optionValue="id"
                    [disabled]="isDisabled ? true : false"
                    [isMultiLanguage]='true'>
                  </select-filter>
                  <app-control-messages [control]="f['expiredType']"></app-control-messages>
                </div>
              </div>
              <div *ngIf="!isHidden || f['expiredDate'].isHide" class="ui-g-12">
                <dynamic-input
                  [property]="f['expiredDescription']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.expiredDescription'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "200"
                  [disabled]="isDisabled ? 'readonly' : ''"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['establishReason']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.establishmentReason'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "500"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['description']"
                  [objectId]="f['organizationId'].value"
                  [labelValue]="'app.organization.description'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]="200"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
            </div>
          </p-accordionTab>
          <p-accordionTab #relationTab [header]="'app.organization.establishmentHistory' | translate" [selected]="true">
            <p-table [scrollable]="true" [value]="formOrgRelation.controls" styleClass="controlOverflow" tableStyleClass="table controls-table table-wrapper b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-12">
                  <col class="size-10">
                  <col class="size-10">
                  <col class="size-10">
                  <col class="size-12">
                  <col class="size-4">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate>app.organization.relatedUnit</th>
                  <th translate>app.organization.relatedType</th>
                  <th translate>app.organization.changeEventDate</th>
                  <th translate>app.organization.note</th>
                  <th translate>app.organization.attachmentFile</th>
                  <th translate>app.organization.add_delete</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                      {{index+1}}
                  </td>
                  <td>
                    <org-selector
                      [hidden]="item.controls.relativeOrganizationId.isHide"
                      [property]="item.controls.relativeOrganizationId"
                      operationKey="action.view"
                      adResourceKey="resource.organization">
                    </org-selector>
                    <app-control-messages [control]="item.controls.relativeOrganizationId"></app-control-messages>
                  </td>
                  <td>
                    <select-filter
                      [hidden]="item.controls.relationTypeId.isHide"
                      [property]="item.controls.relationTypeId"
                      [options]="listRelationType"
                      optionLabel="label"
                      [placeHolder]="item.controls.relationTypeId.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                      optionValue="id"
                      [isMultiLanguage]="true"
                      appendTo="body">
                    </select-filter>
                    <app-control-messages [control]="item.controls.relationTypeId"></app-control-messages>
                  </td>
                  <td>
                    <date-picker
                      [hidden]="item.controls.eventDate.isHide"
                      [property]="item.controls.eventDate"
                      appendTo="body">
                    </date-picker>
                    <app-control-messages [control]="item.controls.eventDate"></app-control-messages>
                  </td>
                  <td>
                    <dynamic-input
                      [property]="item.controls.description"
                      [objectId]="item.controls['orgRelationId'].value"
                      [maxLength]= "200">
                    </dynamic-input>
                  </td>
                  <td>
                    <file-choser
                      [hidden]="item.controls.file.isHide"
                      [property]="item.controls.file"
                      [validMaxSize]="10"
                      validType="xls,xlsx,doc,docx,pdf"
                      htmlId="{{'filechoserFormOrgRelation'+index}}">
                    </file-choser>
                    <app-control-messages [control]="item.controls.file"></app-control-messages>
                  </td>
                  <td class="vt-align-center">
                    <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addOrgRelation(index, item)" [innerHTML]="'common.icon.plus' | translate">
                    </button>
                    <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeOrgRelation(index, item)" [innerHTML]="'common.icon.minus' | translate">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordionTab>
        </p-accordion>
        <div class="vt-area-button">
          <button type="submit" *ngIf="hasPermission('action.update')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info save-padding" [innerHTML]="'common.button.save' | translate">
          </button>
          <button type="button" [routerLink]="['/organizations/manage/search']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.previous' | translate">
          </button>
        </div>
      </form>
    </div>
    
  </p-tabPanel>
  <p-tabPanel *ngIf="f['organizationId'].value > 0" [header]="'app.organization.additionalInformation' | translate">
    <ng-template pTemplate="content">
      <additional-info></additional-info>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel *ngIf="f['organizationId'].value > 0" [header]="'app.organization.boundary' | translate">
    <ng-template pTemplate="content">
      <boundary></boundary>
    </ng-template>
  </p-tabPanel>
</p-tabView>


