<div id="searchPage">
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.empSalaryProcess.listTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="resultList.data" [paginator]="true" [scrollable]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
          [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-2">
              <col class="size-1">
              <col class="size-1">
              <col class="size-7">
              <col class="size-8">
              <col class="size-7">
              <col class="size-8">
              <col class="size-8">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-12">
              <col class="size-8">
              <col class="size-9">
              <col class="size-12">
              <col class="size-12">
              <col class="size-8">
              <col class="size-5">
              <col class="size-7">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'no'">
                {{'app.empSalaryProcess.no' | translate}}
                <p-sortIcon [field]="'no'"></p-sortIcon>
              </th>
              <th>
                {{'common.button.table.hDelete' | translate}}
              </th>
              <th>
                {{'common.button.table.hEdit' | translate}}
              </th>
              <th [pSortableColumn]="'decisionNumber'">
                {{'app.empSalaryProcess.decisionNumber' | translate}}
                <p-sortIcon [field]="'decisionNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'decisionDate'">
                {{'app.empSalaryProcess.decisionDate' | translate}}
                <p-sortIcon [field]="'decisionDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'effectiveDate'">
                {{'app.empSalaryProcess.effectiveDate' | translate}}
                <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'expiredDate'">
                {{'app.empSalaryProcess.expiredDate' | translate}}
                <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'raisedDate'">
                {{'app.empSalaryProcess.raisedDate' | translate}}
                <p-sortIcon [field]="'raisedDate'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salaryTable'">
                {{'app.empSalaryProcess.salaryTable' | translate}}
                <p-sortIcon [field]="'salaryTable'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salaryScale'">
                {{'app.empSalaryProcess.salaryScale' | translate}}
                <p-sortIcon [field]="'salaryScale'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salaryGrade'">
                {{'app.empSalaryProcess.salaryGrade' | translate}}
                <p-sortIcon [field]="'salaryGrade'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'titleOfSalary'">
                {{'app.empSalaryProcess.titleOfSalary' | translate}}
                <p-sortIcon [field]="'titleOfSalary'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'titleCoefficient'">
                {{'app.empSalaryProcess.titleCoefficient' | translate}}
                <p-sortIcon [field]="'titleCoefficient'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salary'">
                {{'app.empSalaryProcess.salary' | translate}}
                <p-sortIcon [field]="'salary'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'percent'">
                {{'app.empSalaryProcess.percent' | translate}}
                <p-sortIcon [field]="'percent'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'seniorityOverload'">
                {{'app.empSalaryProcess.seniorityOverload' | translate}}
                <p-sortIcon [field]="'seniorityOverload'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'dateOfSeniorityOverload'">
                {{'app.empSalaryProcess.dateOfSeniorityOverload' | translate}}
                <p-sortIcon [field]="'dateOfSeniorityOverload'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                {{'app.empSalaryProcess.description' | translate}}
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'attachedFiles'">
                {{'app.empSalaryProcess.attachedFiles' | translate}}
                <p-sortIcon [field]="'attachedFiles'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center"><a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"
                  [innerHTML]="'common.icon.delete' | translate"></a></td>
              <td><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"
                  [innerHTML]="'common.icon.update' | translate"></a></td>
              <td class="vt-align-center">
                {{item.decisionNumber}}
              </td>
              <td class="vt-align-center">
                {{item.decisionDate | displayDate}}
              </td>
              <td class="vt-align-center">
                {{item.effectiveDate | displayDate}}
              </td>
              <td class="vt-align-center">
                {{item.expiredDate | displayDate}}
              </td>
              <td class="vt-align-center">
                {{item.raisedDate | displayDate}}
              </td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center">
                {{item.salaryGradeId}}
              </td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center">
                {{item.salary}}
              </td>
              <td class="vt-align-center">
                {{item.percent}}
              </td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center"></td>
              <td class="vt-align-center">
                {{item.description}}
              </td>
              <td class="vt-align-center"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="17" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
