<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <military-information-form></military-information-form>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
