<div class="modal-body">
    <form id="frmSaveSysCat" [formGroup]="formSave">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>
                    <span *ngIf="!formSave.get('payrollReportTypeId').value" translate>
                        payroll.payrollReportType.addTitle</span>
                    <span *ngIf="formSave.get('payrollReportTypeId').value" translate>
                        payroll.payrollReportType.editTitle</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <span style="display: inline-block;" (click)="activeModal.close()"
                        title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                            class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.salaryType' | translate}}
                    </label>
                    <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter
                            [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['salaryTypeId']" [options]="salaryTypeList" optionLabel="name"
                            optionValue="salaryTypeId">
                        </select-filter>
                        <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
                    </div>

                    <label [hidden]="f['reportType'].isHide" [ngClass]="{'required': f['reportType'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.reportType' | translate}}
                    </label>
                    <div [hidden]="f['reportType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter [property]="f['reportType']" [options]="reportTypeList" optionLabel="name"
                            optionValue="sysCatId"
                            [placeHolder]="f['reportType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                        </select-filter>
                        <app-control-messages [control]="f['reportType']"></app-control-messages>
                    </div>


                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['empTypeId'].isHide" [ngClass]="{'required': f['empTypeId'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.empType' | translate}}
                    </label>
                    <div [hidden]="f['empTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter [property]="f['empTypeId']" [options]="empTypeList" optionLabel="label"
                            optionValue="id" isMultiLanguage="true"
                            [placeHolder]="f['empTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                        </select-filter>
                        <app-control-messages [control]="f['empTypeId']"></app-control-messages>
                    </div>

                    <label [hidden]="f['file'].isHide"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                        {{'payroll.payrollReportType.fileTemplate' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <file-choser [property]="f['file']" [validMaxSize]="10" validType="rptdesign">
                        </file-choser>
                        <app-control-messages [control]="f['file']"></app-control-messages>
                    </div>
                </div>

                <div class="ui-g-12">
                    <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.startDate' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['startDate']" yearRange="1919:2120"></date-picker>
                        <app-control-messages [control]="f['startDate']"></app-control-messages>
                    </div>
                    <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.endDate' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['endDate']" yearRange="1919:2120"></date-picker>
                        <app-control-messages [control]="f['endDate']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['organizationId'].isHide"
                        [ngClass]="{'required': f['organizationId'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'payroll.payrollReportType.organization' | translate}}
                    </label>
                    <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <org-selector [property]="f['organizationId']" operationKey="action.insert"
                            adResourceKey="resource.period" isRequiredField="false">
                        </org-selector>
                        <app-control-messages [control]="f['organizationId']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.save' | translate"></button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate"></button>
            </div>
        </div>
    </form>
</div>