<div class="panel panel-default">
  <div class="panel-heading vt-relative sys-cat-type-title">
    <strong class="text-u-c" title="{{'app.sys_cat.sys_cat_type_list_title' | translate}}">
      <i class="fa fa-th"></i>
      <span translate> app.sys_cat.sys_cat_type_list_title</span>
    </strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <div *ngIf="hasPermission('action.insert')">
        <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate" id="addSysCatType" ></button>
      </div>
    </div>
  </div>
  <p-scrollPanel [style]="{width: '100%', height: '700px'}"
          styleClass="custombar2 custombar3 clearfix nopadding-custombar">
    <div class="panel-body vt-nopadding">
      <div class="table-responsive" style="width: 100%; margin: 0px;">
        <table class="table table-wrapper table-hover">
          <thead class="ui-table-thead">
            <tr>
              <th translate class="size-1">common.table.index</th>
              <th translate>app.sys_cat.sys_cat_type_name</th>
            </tr>
            <tr>
              <th colspan="2">
                <input placeholder="{{'app.sys_cat.search_by_sys_cat_type_name' | translate}}" class="input-sm form-control" type="search" [(ngModel)]="scTypeFillter" id="searchSysCatType"/>
              </th>
            </tr>
          </thead>
            <tbody>
              <tr *ngFor="let item of resultList | filter : scTypeFillter; index as i" [ngClass]="{'bg-info' : item.sysCatTypeId === scTypeId}" (click)="onSelectSysCatType(item)" id="sysCatTypeTable">
                <td class="vt-align-center">{{i + 1}}</td>
                <td>{{item.code}} - {{item.name}}
                  <span  *ngIf="item.sysCatTypeId === scTypeId">
                    <span *ngIf="hasPermission('action.insert')" class="icon-export-2 pull-right" (click)="prepareTransfer(item)"
                      style="cursor: pointer" [title]="'app.sys_cat.tranfer' | translate" id="transfer">
                    </span>
                    <span class="fa fa-lock pull-right icon-delete-sys-cat-type" *ngIf="paramUsedList.includes(item.code) && hasPermission('action.delete')"
                    (click)="processDelete(item)" style="cursor: pointer" [title]="'common.label.lock' | translate" id="deleteSysCatType">
                    </span>
                    <span class="fa fa-trash pull-right icon-delete-sys-cat-type " style="cursor: pointer"
                    (click)="processDelete(item)" *ngIf="!paramUsedList.includes(item.code) && hasPermission('action.delete')" [title]="'common.label.delete' | translate"  id="deleteSysCatType">
                    </span>
                    <span *ngIf="hasPermission('action.update')" class="fa fa-edit pull-right icon-edit-sys-cat-type"
                      (click)="prepareSaveOrUpdate(item)" style="cursor: pointer" [title]="'common.label.edit' | translate" id="editSysCatType">
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </p-scrollPanel>
</div>
