<div class="content">
  <div *ngIf="hasPermission('action.export')" >
    <!-- *ngIf="hasPermission('action.export')"  -->
    <form id="formSearch" [formGroup]="formSearch" spellcheck="false">

    <div class="panel panel-default">

        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'employeeList.titleReport' | translate}}
          </strong>
        </div>

        <div class="panel-body padding-xl ui-g">

          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view"
                adResourceKey="resource.workProcess" [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>

            <label [hidden]="f['reportDate'].isHide"
                  [ngClass]="{'required': f['reportDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'employeeList.reportDate' | translate}}
            </label>
            <div [hidden]="f['reportDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['reportDate']"></date-picker>
              <app-control-messages [control]="f['reportDate']"></app-control-messages>
            </div>
          </div>
          <!-- timf kiem nang cao start -->
          <p-accordion [multiple]="true">
            <p-accordionTab #searchInfo [header]="'employeeList.searchInfo.title' | translate" [selected]="true">
              <div class="ui-g">
                <p-table #ptable [value]="formArrayAdvance.controls" [scrollable]="true" [responsive]="true"
                  tableStyleClass="table table-wrapper table-hover b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-12">
                    <col>
                    <col class="size-4">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th translate>common.table.index</th>
                    <th translate>app.table.header.condition</th>
                    <th translate>app.table.header.value</th>
                    <th translate>common.label.action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr>
                        <td class="vt-align-center">{{index+1}}</td>
                        <td class="">
                          <select-filter appendTo="body" (onChange)="onSelectCondition($event, index)" [property]="item.controls.properties"  [options]="listCondition" optionLabel="label" optionValue="properties" [placeHolder]="'common.label.cboSelect'" [isMultiLanguage]="true">
                          </select-filter>
                        </td>
                        <td class="">
                          <div #viewContainerRef attr.data-target="{{index}}"></div>
                        </td>
                        <td class="vt-align-center">
                          <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowCondition(index)" [innerHTML]="'common.icon.plus' | translate">
                          </button>
                          <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeRowCondition(index)" [innerHTML]="'common.icon.minus' | translate">
                          </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
              </div>
            </p-accordionTab>
          </p-accordion>
          <!-- timf kiem nang cao end -->
        </div>

        <div class="panel-footer vt-area-button">
          <!-- <div *hasPermission="['action.insert','resource.category']"> *ngIf="hasPermission('action.insert')" -->
          <button type="button" (click)="processExport()"
            class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate" ></button>

          <div *ngIf="isGetData" style="padding-top: 15px;" class="emp-list-progress">
            <div >
              <label class="control-label">{{'employeeList.progress.orgName' | translate}} {{organizationName}} {{currentIdx}}/{{numOfOrg}}</label>
              <div style="width: 50%;  margin:0 auto;" ><p-progressBar [value]="progressStatus" mode="indeterminate"></p-progressBar></div>
            </div>
          </div>

        </div>


      <!-- THÔNG TIN LỰA CHỌN CÁC TRƯỜNG XUẤT BÁO CÁO  -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i> {{'employeeList.titleReportField' | translate}}
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left" >
              {{'employeeList.commonInfo' | translate}}
            </label>
            <multi-select-area [property]="f['lstCommonInfo']" [options]="listCommonInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstCommonInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'">
            </multi-select-area>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left">
              {{'employeeList.workProcessInfo' | translate}}
            </label>
            <multi-select-area [property]="f['lstWorkProcessInfo']" [options]="listWorkProcessInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstWorkProcessInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'">
            </multi-select-area>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left" >
              {{'employeeList.educationProcessInfo' | translate}}
            </label>
            <multi-select-area [property]="f['lstEducationProcessInfo']" [options]="listEducationProcessInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstEducationProcessInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'" >
            </multi-select-area>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left">
              {{'employeeList.partyInfo' | translate}}
            </label>
            <multi-select-area [property]="f['lstPartyInfo']" [options]="listPartyInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstPartyInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'">
            </multi-select-area>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left">
              {{'employeeList.financialInfo' | translate}}
            </label>
            <multi-select-area [property]="f['lstFinancialInfo']" [options]="listFinancialInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstFinancialInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'">
            </multi-select-area>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <label class=" control-label vt-align-left">
              {{'employeeList.salaryFactor' | translate}}
            </label>
            <multi-select-area [property]="f['lstSalaryFactorInfo']" [options]="listSalaryFactorInfo" optionLabel="value" [isMultiLanguage] = "true"
                optionValue="name" [autoFocus]="f['lstSalaryFactorInfo'].value" [filterPlaceHolder]="'common.label.cboSelectAll'">
            </multi-select-area>
          </div>
        </div>
      </div>
    </div>

  </form>
  </div>
  <div *ngIf="!hasPermission('action.export')" translate>
    common.haveNoPermission
  </div>
</div>
