<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            &nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['dataName']"
              [labelValue]="'payroll.dataInputType.dataName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "200"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <label [hidden]="f['isPutMainTable'].isHide"
                   [ngClass]="{'required': f['isPutMainTable'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isPutMainTable' | translate}}
            </label>
            <div [hidden]="f['isPutMainTable'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isPutMainTable" [value]="1" formControlName="isPutMainTable">
                <i></i>
              </label>
              <app-control-messages [control]="f['isPutMainTable']"></app-control-messages>
            </div>
            <label [hidden]="f['isSplitProcess'].isHide"
                   [ngClass]="{'required': f['isSplitProcess'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isSplitProcess' | translate}}
            </label>
            <div [hidden]="f['isSplitProcess'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isSplitProcess" [value]="1" formControlName="isSplitProcess">
                <i></i>
              </label>
              <app-control-messages [control]="f['isSplitProcess']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['isImport'].isHide"
                   [ngClass]="{'required': f['isImport'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputType.isImport' | translate}}
            </label>
            <div [hidden]="f['isImport'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isImport" [value]="1" (change)="isImportChecked()" formControlName="isImport" >
                <i></i>
              </label>
              <app-control-messages [control]="f['isImport']"></app-control-messages>
            </div>
            <label [hidden]="f['transferService'].isHide"
                  [ngClass]="{'required': f['transferService'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                  {{ 'payroll.dataInputType.transferService' | translate }}
            </label>
            <div [hidden]="f['transferService'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="f['transferService'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                [property]="f['transferService']"
                [options]="listTransferService"
                optionLabel="value"
                optionValue="code"
                [disabled]="f['isImport'].value ? true : false">
              </select-filter>
              <app-control-messages [control]="f['transferService']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
              <dynamic-input
                [property]="f['specDataTypeCode']"
                [labelValue]="'payroll.dataInputType.specCode'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "200"
                [autofocus]="'autofocus'">
              </dynamic-input>
            </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          &nbsp;{{ 'payroll.dataInputType.listTitle' | translate }}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" [routerLink]="['/payroll/data-input/data-input-type/add']" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length"
          (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false"
          [lazy]="true" [scrollable]="true"
          [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [responsive]="true"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col style="width: 60%">
              <col style="width: 40%">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
              <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
              <th [pSortableColumn]="'dataName'">
                {{'payroll.dataInputType.dataName' | translate}}
                <p-sortIcon [field]="'dataName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'transferService'">
                {{'payroll.dataInputType.transferService' | translate}}
                <p-sortIcon [field]="'transferService'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isImport'">
                {{'payroll.dataInputType.isImport' | translate}}
                <p-sortIcon [field]="'isImport'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isPutMainTable'">
                {{'payroll.dataInputType.isPutMainTable' | translate}}
                <p-sortIcon [field]="'isPutMainTable'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isSplitProcess'">
                {{'payroll.dataInputType.isSplitProcess' | translate}}
                <p-sortIcon [field]="'isSplitProcess'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <!-- Action update nation -->
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" [routerLink]="['/payroll/data-input/data-input-type/edit', item.dataTypeId]" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <!-- Action delete nation -->
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td>{{item.dataName}}</td>
              <td>{{item.transferService}}</td>
              <td class="vt-align-center">
                <i *ngIf="item.isImport===1" class="fas fa-check table-icon color-info"></i>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isPutMainTable===1" class="fas fa-check table-icon color-info"></i>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isSplitProcess===1" class="fas fa-check table-icon color-info"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
