<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;
          <span translate>app.longLeaveProcess.listTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true"
              (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
              [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-8">
              <col class="size-5">
              <col class="size-5">
              <col class="size-4">
              <col class="size-10">
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
              <th pSortableColumn="longLeaveReasonId" translate>app.longLeaveProcess.reason
                <p-sortIcon field="longLeaveReasonId"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.longLeaveProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate>app.longLeaveProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="isLaborDisciplinary" translate>app.longLeaveProcess.isLaborDisciplinary
                <p-sortIcon field="isLaborDisciplinary"></p-sortIcon>
              </th>
              <th pSortableColumn="note" translate>app.longLeaveProcess.note
                <p-sortIcon field="note"></p-sortIcon>
              </th>
              <th translate>app.longLeaveProcess.file
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDeletes(item)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-left">{{item.longLeaveReasonName}}</td>
              <td class="vt-align-center">{{item.effectiveDate | date:'dd/MM/yyyy'}}</td>
              <td class="vt-align-center">{{item.expiredDate | date:'dd/MM/yyyy'}}</td>
                  <td class="vt-align-center">
                    <i *ngIf="item.isLaborDisciplinary==1" class="fas fa-check table-icon color-info"></i>
                  </td>
              <td class="vt-align-left">{{item.note}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
            </tr>
          </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
