<div class="modal-body">
    <form id="frmSaveSysCat" [formGroup]="formSave">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>
                    <span *ngIf="!formSave.get('id').value" translate> app.payrolls.servicePrice.add</span>
                    <span *ngIf="formSave.get('id').value" translate> app.payrolls.servicePrice.edit</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <button type="button" style="display: inline-block;" (click)="activeModal.close()"
                        title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <dynamic-input  [property]="f['serviceCode']"
                          [labelValue]="'app.payrolls.servicePrice.serviceCode'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>

                    <label [hidden]="f['isByQuantity'].isHide" [ngClass]="{'required': f['isByQuantity'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'app.payrolls.servicePrice.isByQuantity' | translate}}
                    </label>
                    <div [hidden]="f['isByQuantity'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <label class="i-switch bg-info m-t-xs m-r">
                            <input type="checkbox" name="isByQuantity" [value]="1" formControlName="isByQuantity" />
                            <i></i>
                        </label>
                        <app-control-messages [control]="f['isByQuantity']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.period.datefrom' | translate}}
                    </label>
                    <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['startDate']">
                        </date-picker>
                        <app-control-messages [control]="f['startDate']"></app-control-messages>
                    </div>
                    <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'app.payrolls.period.dateto' | translate}}
                    </label>
                    <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['endDate']">
                        </date-picker>
                        <app-control-messages [control]="f['endDate']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <dynamic-input  [property]="f['salePrice']"
                          [labelValue]="'app.payrolls.servicePrice.salePrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                    <dynamic-input  [property]="f['accountingPrice']"
                          [labelValue]="'app.payrolls.servicePrice.accountingPrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                </div>
                <div class="ui-g-12">
                    <dynamic-input  [property]="f['technicalPrice']"
                          [labelValue]="'app.payrolls.servicePrice.technicalPrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                    <dynamic-input  [property]="f['warehousePrice']"
                          [labelValue]="'app.payrolls.servicePrice.warehousePrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                </div>
                <div class="ui-g-12">
                    <dynamic-input  [property]="f['leadPrice']"
                          [labelValue]="'app.payrolls.servicePrice.leadPrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                    <dynamic-input  [property]="f['managerPrice']"
                          [labelValue]="'app.payrolls.servicePrice.managerPrice'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
                    </dynamic-input>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.save' | translate"></button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate">
                </button>
            </div>
        </div>
    </form>
</div>

