<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="col-md-12">
    <div class="">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.schedular.shiftAssignmentTable.importInfo</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="buttonClick()" title="{{'common.button.close' | translate}}"
                class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <!-- <dynamic-input [property]="f['periodOrganizationId']" [labelValue]="'organizationPlan.unit'"
                [labelClass]="'ui-g-12 ui-md-1 ui-lg-1 control-label vt-align-right required'"
                [inputClass]="'ui-g-6 ui-md-6 ui-lg-5'" [maxLength]='50'>
              </dynamic-input> -->
              <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <org-selector [property]="f['organizationId']" operationKey="action.view"
                (onChange)="organizationOnChange($event)" adResourceKey="resource.organization" isRequiredField="true">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>


              <label [ngClass]="{'required': f['fromDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.fromDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['fromDate']">
                </date-picker>
                <app-control-messages [control]="f['fromDate']"></app-control-messages>
              </div>

            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">

              <label [hidden]="f['fileImport'].isHide" [ngClass]="{'required': f['fileImport'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right">
                {{'organizationPlan.importFile' | translate}}
              </label>
              <div [hidden]="f['fileImport'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <file-choser [property]="f['fileImport']" validMaxSize="10" validType="xlsx,xls"
                  (onValid)="disableSubmit =$event">
                </file-choser>
                <app-control-messages [control]="f['fileImport']"></app-control-messages>
                <br>
                <a class="text-link" href="javascript:" (click)="actionDownloadTemplate()"><span translate><i
                      class="fa fa-download"></i> app.common.downloadTemplate</span></a>
              </div>

              <label [ngClass]="{'required': f['toDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.toDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['toDate']">
                </date-picker>
                <app-control-messages [control]="f['toDate']"></app-control-messages>
              </div>
            </div>
            <!-- buttton -->
            <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
              <button type="button" [disabled]="disableSubmit" (click)="actionSubmitForm();" class="btn btn-sm btn-info"
                [innerHTML]="'common.button.import' | translate">
              </button>
              <button type="button" [routerLink]="'../'" class="btn btn-sm btn-danger"
                [innerHTML]="'common.button.cancel' | translate"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>

  <p-dialog header="{{'app.schedular.import.error'|translate}}" modal="true" [baseZIndex]="10000"
    [(visible)]="openPopup" [style]="{width: '700px' }" (onHide)="cancel()">
    <div class="content">
      <p translate>app.schedular.import.error.content</p>
      <p > <span translate style="padding-right: 5px;">app.schedular.import.error.detail</span>
      <a (click)="downloadFile()"><span ><a style="color:blue; padding-right: 5px;">{{fileName}}</a> <i class="fa fa-download"></i> </span></a>
    </p>
    </div>
  </p-dialog>

</div>
