<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                      [labelValue]="'app.positionSalary.code'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [autofocus]="'autofocus'"
                      [maxLength]='50'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                      [labelValue]="'app.positionSalary.name'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                      [maxLength]='50'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['positionTypeId'].isHide"
                   [ngClass]="{'required': f['positionTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.positionSalary.positionTypeId' | translate}}
            </label>
            <div [hidden]="f['positionTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['positionTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  [property]="f['positionTypeId']"
                  [options]="positionTypeList"
                  optionLabel="name"
                  optionValue="sysCatId">
                </select-filter>
                <app-control-messages [control]="f['positionTypeId']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'app.positionSalary.listTitle' | translate}}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <div *ngIf="hasPermission('action.insert')">
                  <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
                </div>
            </div>
        </div>
        <div class="panel-body panel-table">
          <p-table [scrollable]="true" #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col *ngIf="hasPermission('action.update')" class="size-1">
                  <col *ngIf="hasPermission('action.delete')" class="size-1">
                  <col class="size-12">
                  <col class="">
                  <col class="">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
                <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
                <th [pSortableColumn]="'code'">
                    {{'app.positionSalary.code' | translate}}
                    <p-sortIcon [field]="'code'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'name'">
                    {{'app.positionSalary.name' | translate}}
                    <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'positionTypeId'">
                    {{'app.positionSalary.positionTypeId' | translate}}
                    <p-sortIcon [field]="'positionTypeId'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center" *ngIf="hasPermission('action.update')" ><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a></td>
                <td class="vt-align-center" *ngIf="hasPermission('action.delete')" ><a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a></td>
                <td class="vt-align-center">{{item.code}}</td>
                <td class="vt-align-left">{{item.name}}</td>
                <td class="vt-align-left">
                  <!-- <span class="label-status info" *ngIf="item.positionTypeId==505">{{item.positionTypeName}}</span>
                  <span class="label-status warning" *ngIf="item.positionTypeId==504">{{item.positionTypeName}}</span> -->
                  {{item.positionTypeName}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                  <td [attr.colspan]="4" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
    </div>
  </div>
</div>
