<div class="modal-body">
  <form id="frmSavePayrollGenaral">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;
                <span  *ngIf="!formSave.value.payrollGeneralId" translate>app.calculate.addNew</span>
                <span *ngIf="formSave.value.payrollGeneralId" translate>app.calculate.edit</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <button type="button" style="display: inline-block;" (click)="activeModal.close(false)" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </button>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
              [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [rootId] = "f['orgId'].value"
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.period"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['startDate'].isHide"
                    [ngClass]="{'required': f['startDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.system-parameter.startDate' | translate}}
            </label>
            <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['startDate']"></date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label [hidden]="f['endDate'].isHide"
                    [ngClass]="{'required': f['endDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.system-parameter.endDate' | translate}}
            </label>
            <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['endDate']"></date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['employeeCode']"
                            [labelValue]="'app.employee.employee_code'"
                            [objectId]="f['payrollGeneralId'].value"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='45'
                            [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input  [property]="f['employeeName']"
                            [labelValue]="'payroll.dataInputProcess.employeeName'"
                            [objectId]="f['payrollGeneralId'].value"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='100'>
            </dynamic-input>
          </div>

          <ng-container *ngFor="let masterConfig of listMasterConfig">
            <div class="ui-g-12">
              <ng-container *ngFor="let column of masterConfig.listConfig; let i=index; let o = odd; let e = even;">
                <ng-container *ngIf="column">
                  <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngIf="e">{{column.header}}</label>
                  <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" *ngIf="o ">{{column.header}}</label>
                  <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="column.attributeType == 6 || column.attributeType == 5 || column.attributeType == 4">
                    <input type="text" class="form-control" name="{{column.field}}" formControlName="{{column.field}}" />
                    <app-control-messages [control]="f[column.field]"></app-control-messages>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="column.attributeType == 1 ">
                    <input type="text" class="form-control" name="{{column.field}}" formControlName="{{column.field}}" [placeholder]="'dd/MM/yyyy'" />
                    <app-control-messages [control]="f[column.field]"></app-control-messages>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="column.attributeType == 2">
                    <input type="text" class="form-control" name="{{column.field}}" formControlName="{{column.field}}" [placeholder]="'MM/dd/yyyy'" />
                    <app-control-messages [control]="f[column.field]"></app-control-messages>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-3" *ngIf="column.attributeType == 3">
                    <input type="text" class="form-control" name="{{column.field}}" formControlName="{{column.field}}" [placeholder]="'yyyy/MM/dd'"/>
                    <app-control-messages [control]="f[column.field]"></app-control-messages>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
