<div [hidden]="!error" class="alert alert-danger">
  {{ error }}
</div>

<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form-group">
      <label class="d-block">
        <input type="text" class="form-control" [placeholder]="'Username'" formControlName="username">
        <app-control-messages [control]="f['username']"></app-control-messages>
      </label>
      <label class="d-block">
        <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
        <app-control-messages [control]="f['password']"></app-control-messages>
      </label>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-raised" type="submit" [disabled]="loginForm.invalid">
          <span [hidden]="isLoading">Login</span>
          <span [hidden]="!isLoading"><i class="fas fa-asterisk fa-2x fa-spin"></i></span>
        </button>
      </div>
      <a [routerLink]="['/auth/forgotpwd']">Forgot password?</a>
    </div>
</form>
