<div id="searchPage">
  <div *ngIf="hasPermission('action.view')">
    <div id="searchArea">
      <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                </strong>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12" >
                <label  [hidden]="f['attenanceType'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >{{'app.payrolls.attendanceType' | translate}}</label>
                <div [hidden]="f['attenanceType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <multi-select-filter  [property]="f['attenanceType']"
                                  [options]="attenanceTypeList"
                                  optionLabel="name"
                                  optionValue="code"
                                  [placeHolder]="f['attenanceType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                                  >
                  </multi-select-filter>
                </div>
              </div>
              <div class="ui-g-12">
                <dynamic-input  [property]="f['code']"
                                [labelValue]="'common.form.code'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [maxLength]= "20"
                                [autofocus]="'autofocus'">
                </dynamic-input>
                <dynamic-input  [property]="f['name']"
                                [labelValue]="'app.system_config.name'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [maxLength]= "200"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'">
                </dynamic-input>
              </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSearchArray()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
            </div>
        </form>
      </div>
    </div>
    <div id="listArea" style="padding-top: 20px;">
      <div class="panel panel-default">
        <div class="panel-body panel-table">
          <p-table [scrollable]="true" [value]="formSave.controls"
            styleClass="controlOverflow"
            scrollHeight="450px"
            [totalRecords]="resultList.recordsTotal"
            tableStyleClass="table controls-table table-wrapper b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-4">
                <col class="size-3">
                <col class="size-10">
                <col class="size-12">
                <col class="size-8">
                <col class="size-4">
                <col class="size-4">
                <col class="size-4">
                <col class="size-4">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate><span>common.table.index</span></th>
                <th translate><span>common.label.action</span></th>
                <th translate><span [ngClass]="{'required': formSave.controls[0].controls.code.isRequire}">common.form.code</span></th>
                <th translate><span [ngClass]="{'required': formSave.controls[0].controls.name.isRequire}">common.form.name</span></th>
                <th translate><span [ngClass]="{'required': formSave.controls[0].controls.lstAttenanceType.isRequire}">app.payrolls.attendanceType</span></th>
                <th translate><span>app.organization.note</span></th>
                <th translate><span>app.sys_property.createdBy</span></th>
                <th translate><span>app.position.createdDate</span></th>
                <th translate><span>app.payrolls.modifiedBy</span></th>
                <th translate><span>app.payrolls.modifiedDate</span></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">
                <td class="vt-align-center">
                    {{index+1}}
                </td>
                <td class="vt-align-center">
                  <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRow(index, item)" [innerHTML]="'common.icon.plus' | translate">
                  </button>
                  <button *ngIf="hasPermission('action.delete')" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeRow(index, item ,item.controls['workdayTypeId'].value)"
                        [innerHTML]="'common.icon.minus' | translate">
                  </button>
                </td>
                <td>
                  <dynamic-input
                    [property]="item.controls.code"
                    [objectId]="item.controls['workdayTypeId'].value"
                    [maxLength]= "20">
                  </dynamic-input>
                  <!-- <app-control-messages [control]="item.controls.code"></app-control-messages> -->
                </td>
                <td>
                  <dynamic-input
                    [property]="item.controls.name"
                    [objectId]="item.controls['workdayTypeId'].value"
                    [maxLength]= "200">
                  </dynamic-input>
                  <!-- <app-control-messages [control]="item.controls.name"></app-control-messages> -->
                </td>
                <td>
                  <multi-select-filter
                    [hidden]="item.controls.lstAttenanceType.isHide"
                    [property]="item.controls.lstAttenanceType"
                    [placeHolder]="item.controls.lstAttenanceType.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [options]="attenanceTypeList"
                    optionLabel="name"
                    optionValue="code"
                    appendTo="body"
                    >
                  </multi-select-filter >
                  <app-control-messages [control]="item.controls.lstAttenanceType"></app-control-messages>
                </td>
                <td>
                  <dynamic-input
                    [property]="item.controls.note"
                    [objectId]="item.controls['workdayTypeId'].value"
                    [maxLength]= "255">
                  </dynamic-input>
                  <!-- <app-control-messages [control]="item.controls.note"></app-control-messages> -->
                </td>
                <td class="vt-align-center">{{item.controls['createdBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['createdDate'].value | displayDate}}</td>
                <td class="vt-align-center">{{item.controls['modifiedBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['modifiedDate'].value | displayDate}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="panel-footer vt-area-button">
          <button *ngIf="hasPermission('action.insert')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate" style="margin-right: 0px;"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>

