<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            &nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'app.nation.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='50'
                            autofocus="autofocus">
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'app.nation.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [maxLength]='200'
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['isDefault'].isHide"
                   [ngClass]="{'required': f['isDefault'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.nation.isDefault' | translate}}
            </label>
            <div [hidden]="f['isDefault'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isDefault" [value]="1" formControlName="isDefault">
                <i></i>
              </label>
              <app-control-messages [control]="f['isDefault']"></app-control-messages>
            </div>
            <label [hidden]="f['requirePersionalId'].isHide"
                   [ngClass]="{'required': f['requirePersionalId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.nation.requirePersionalId' | translate}}
            </label>
            <div [hidden]="f['requirePersionalId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="requirePersionalId" [value]="1" formControlName="requirePersionalId">
                <i></i>
              </label>
              <app-control-messages [control]="f['requirePersionalId']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          &nbsp;{{ 'app.nation.listTitle' | translate }}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareInsertOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length"
          (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false"
          [lazy]="true" [scrollable]="true"
          [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [responsive]="true"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-3">
            <col *ngIf="hasPermission('action.update')" class="size-1">
            <col *ngIf="hasPermission('action.delete')" class="size-1">
            <col class="size-6">
            <col class="size-10">
            <col class="size-6">
            <col class="size-6">
            <col class="size-10">
            <!-- <col class="size-10"> -->
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th>{{'common.button.table.hConfig' | translate}}</th>
            <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
            <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
            <th [pSortableColumn]="'code'">
              {{'app.nation.code' | translate}}
              <p-sortIcon [field]="'code'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'name'">
              {{'app.nation.name' | translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'isDefault'">
              {{'app.nation.isDefault' | translate}}
              <p-sortIcon [field]="'isDefault'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'requirePersionalId'">
              {{'app.nation.requirePersionalId' | translate}}
              <p-sortIcon [field]="'requirePersionalId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'description'">
              {{'app.nation.description' | translate}}
              <p-sortIcon [field]="'description'"></p-sortIcon>
            </th>
            <!-- <th [pSortableColumn]="'phoneAreaCode'">
              {{'app.nation.phoneAreaCode' | translate}}
              <p-sortIcon [field]="'phoneAreaCode'"></p-sortIcon>
            </th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td class="vt-align-center">
              <a class="btn-table edit" (click)="config(item)" title="{{'common.button.table.hConfig' | translate}}" [innerHTML]="'common.icon.go_detail' | translate">
              </a>
            </td>
            <!-- Action update nation -->
            <td *ngIf="hasPermission('action.update')" class="vt-align-center">
              <a class="btn-table edit" (click)="prepareInsertOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
            </td>
            <!-- Action delete nation -->
            <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
              <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
            </td>
            <td class="vt-align-center">{{item.code}}</td>
            <td><span class = "{{item.icon}}"></span>&nbsp;&nbsp;&nbsp;{{item.name}}</td>
            <td class="vt-align-center">
              <i *ngIf="item.isDefault==1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center">
              <i *ngIf="item.requirePersionalId==1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td>{{item.description}}</td>
            <!-- <td>{{item.phoneAreaCode}}</td> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
  </div>
</div>
