<div class="modal-body">
    <form id="frmSaveSysCat" [formGroup]="formSave">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span *ngIf="!formSave.get('salaryTypeId').value"  translate> salarytype.add.titleadd</span>
            <span *ngIf="formSave.get('salaryTypeId').value"  translate> salarytype.add.titleupdate</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
        </div>
         <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'salarytype.add.code'"
                            [autofocus]="'autofocus'"
                            [maxLength]='50'
                            >
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'salarytype.add.name'"
                            [maxLength]='200'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label  [hidden]="f['type'].isHide"
                    [ngClass]="{'required': f['type'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                    {{'salarytype.add.classify' | translate}}
            </label>
           <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter  [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                            [property]="f['type']"
                            [options]="salaryTypeList"
                            optionLabel="value"
                            optionValue="code">
            </select-filter>
            <app-control-messages [control]="f['type']"></app-control-messages>
          </div>
              <!-- <label [hidden]="f['status'].isHide"
                     [ngClass]="{'required': f['status'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                     salarytype.add.active
              </label>
              <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-5">
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input formControlName="status" [value]="0" type="radio" class="form-check-input control-label" id="statusAll">
                    <i></i>
                    {{'salarytype.add.statustoff' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input formControlName="status" [value]="1" type="radio"class="form-check-input control-label" id="statusActive">
                    <i></i>
                    {{'salarytype.add.statuston' | translate}}
                  </label>
                </div>
                <app-control-messages [control]="f['status']"></app-control-messages>
              </div> -->
              <label  [hidden]="f['regulationSalary'].isHide"
                    [ngClass]="{'required': f['regulationSalary'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                    {{'salary.type.salaryregulation' | translate}}
            </label>
           <div [hidden]="f['regulationSalary'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter  [placeHolder]="f['regulationSalary'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                            [property]="f['regulationSalary']"
                            [options]="regulationSalaryList"
                            optionLabel="value"
                            optionValue="code">
            </select-filter>
            <app-control-messages [control]="f['regulationSalary']"></app-control-messages>
          </div>
            <!-- <app-control-messages [control]="f['status']"></!-->
          </div>
          <div class ="ui-g-12">
            <label *ngIf = "checkIsLock === true"  [hidden]="f['status'].isHide"
                  [ngClass]="{'required': f['status'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                 {{'app.payrolls.period.status' | translate}}
          </label>
            <div *ngIf = "checkIsLock === true"   [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
               <input type="checkbox" name="status" [value]="1" formControlName="status" />
                <i></i>
              </label>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()"  class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </div>
    </form>
  </div>

