<p-scrollPanel [style]="{width: '100%', height: '800px'}" styleClass="custombar2 clearfix">
  <div>
    <p-tree
      [value]="nodes"
      selectionMode ="single"
      [(selection)] ="selectedNode"
      (onNodeSelect) ="nodeSelect($event)"
      [contextMenu] = "cm"
      (onNodeContextMenuSelect)="nodeContextMenuSelect($event)"
      draggableNodes="true"
      droppableNodes="true"
      (onNodeDrop)="onDrop($event)"
      #tree
      >
    </p-tree>
    <p-contextMenu #cm [model]="items" appendTo="body" >
    </p-contextMenu>
  </div>
</p-scrollPanel>
