<div style="position: relative; margin: 0 auto; margin-top: 15px;" *ngIf="showView">
  <div class="payroll-calendar full-calendar">
    <div class="panel panel-default" style="margin-bottom: 0px;">
      <div class="payroll-calendar-header tool vt-align-center clearfix">
        <div class="display-table w100">
          <div class="table-cell tool">
            <button type="button" (click)="goTo(toolFirst)" [ngClass]="{disabled: !toolFirst}"><span class="glyphicons glyphicons-step-backward"></span></button>
          </div>
          <div class="table-cell tool">
            <button type="button" (click)="goTo(toolPrev)" [ngClass]="{disabled: !toolPrev}"><span class="glyphicons glyphicons-play r180"></span></button>
          </div>
          <div class="table-cell w100">
            <strong>{{firstDayOfMonth.format('MMMM')}} {{firstDayOfMonth.format('YYYY')}}</strong>
          </div>
          <div class="table-cell tool">
            <button type="button" (click)="goTo(toolNext)" [ngClass]="{disabled: !toolNext}"><span class="glyphicons glyphicons-play"></span></button>
          </div>
          <div class="table-cell tool">
              <button type="button" (click)="goTo(toolLast)" [ngClass]="{disabled: !toolLast}"><span class="glyphicons glyphicons-step-forward"></span></button>
          </div>
        </div>
      </div>
      <div class="payroll-calendar-body vt-align-center">
        <table class="table w100">
          <tbody>
            <tr>
              <th style="color: red">Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th style="color: red">Saturday</th>
            </tr>
            <tr *ngFor="let week of listWeek">
              <td *ngFor="let itemWorking of week" [ngClass]="{disabled: itemWorking.isDisabled}">
                <div class="display-table w100" [ngClass]="{'onWorks': itemWorking.isWork==1}">
                  <div class="table-cell cell-timekeeping" (contextmenu)="openCm($event, cm, itemWorking)">
                    <div class="date-number" [ngClass]="{today: itemWorking.dateTimeKeeping.toDate().getTime() === today}">
                      {{itemWorking.dateTimeKeeping.format('DD')}}
                    </div>
                    <div class="timekeeping">
                      <span *ngIf="empTimekeeping[itemWorking.dateTimeKeeping.toDate().getTime()]" [title]="printEmpTimekeeping(itemWorking.dateTimeKeeping.toDate().getTime())" class="tag-text">{{printEmpTimekeeping(itemWorking.dateTimeKeeping.toDate().getTime(), true)}}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
        </table>
        <p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
      </div>
    </div>
  </div>
</div>
