<div class="row" *ngIf="hasPermission('action.view')" >
  <div class="col-md-12">
    <emp-salary-process-list></emp-salary-process-list>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
