<div class="content">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <form [formGroup]="formWorkSchedule" id="formSave">
          <div class="panel-heading">
            <strong class="text-u-c">
              <span *ngIf="f['id'].value == null" translate> <i class="fa fa-th"></i>&nbsp;app.timesheetSchedule.addOpenClose </span>
              <span *ngIf="f['id'].value != null" translate><i class="fa fa-th"></i>&nbsp;app.timesheetSchedule.updateOpenClose </span>
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['organizationId'].isHide"
                     [ngClass]="{'required': f['organizationId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.position.unitName' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <org-selector
                  [defaultValue]="true"
                  [property]="f['organizationId']"
                  adResourceKey="resource.organization"
                  isRequiredField="true"
                  operationKey="action.view">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['effectiveDate'].isHide"
                     [ngClass]="{'required': f['effectiveDate'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Thời gian áp dụng (từ ngày)
              </label>
              <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker
                  [disabled]="applyCount > 0 ? true : false"
                  [property]="f['effectiveDate']">
                </date-picker>
                <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
              </div>
              <label [hidden]="f['expiredDate'].isHide"
                     [ngClass]="{'required': f['expiredDate'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Thời gian áp dụng (đến ngày)
              </label>
              <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker
                  [property]="f['expiredDate']">
                </date-picker>
                <app-control-messages [control]="f['expiredDate']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-8">
                <!-- table -->
                <div>
                  <p-table [scrollable]="false" [value]="formTableWeekendConfig.controls" styleClass="controlOverflow"
                           tableStyleClass="table controls-table table-wrapper b-t b-b">
                    <ng-template let-columns pTemplate="colgroup">
                      <colgroup>
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th><span></span></th>
                        <th><span class="required">Mở cửa</span></th>
                        <th><span class="required">Đóng cửa</span></th>
                      </tr>
                    </ng-template>
                    <ng-template let-index="rowIndex" let-item pTemplate="body">
                      <tr>
                        <td>
                          <label class="vt-align-right">
                            Ngày thường (từ T2 - T6)
                          </label>
                        </td>
                        <td>
                          <label class="d-block">
                            <input class="form-control vt-align-left" formControlName="workFrom" placeholder="HH:mm:ss"
                                   type="time">
                            <app-control-messages [control]="f['workFrom']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['workFrom']"></app-control-messages>
                        </td>
                        <td [hidden]="applyCount > 0 ? true : false" class="vt-align-center">
                          <input class="form-control vt-align-left" formControlName="workTo" placeholder="HH:mm:ss"
                                 type="time"/>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="vt-align-right">
                            Ngày cuối tuần (từ T7 - CN)
                          </label>
                        </td>
                        <td>
                          <label class="d-block">
                            <input class="form-control vt-align-left" formControlName="workFromWeekend"
                                   placeholder="HH:mm:ss"
                                   type="time">
                            <app-control-messages [control]="f['workFromWeekend']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['workToWeekend']"></app-control-messages>
                        </td>
                        <td [hidden]="applyCount > 0 ? true : false" class="vt-align-center">
                          <input class="form-control vt-align-left" formControlName="workToWeekend"
                                 placeholder="HH:mm:ss"
                                 type="time"/>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button (click)="processSaveOrUpdate()" [innerHTML]="'common.button.save' | translate"
                    class="btn btn-sm btn-info save-padding"
                    type="submit">
            </button>
            <button [innerHTML]="'common.button.previous' | translate" [routerLink]="['/timesheet/open-close']"
                    class="btn btn-sm btn-danger"
                    type="button">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
