<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector *ngIf="isSearchOnly" [property]="f['organizationId']" operationKey="action.view"
                            adResourceKey="resource.organization" [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <org-multi-selector-payroll *ngIf="!isSearchOnly"
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.organization"
                isRequiredField = "true">
              </org-multi-selector-payroll>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['salaryTypeId'].isHide"
                [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'payroll.formula.config.salaryType' | translate}}
            </label>
              <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <multi-select-filter
                    [property]="f['salaryTypeId']"
                    [options]="salaryTypeList"
                    optionLabel="name"
                    optionValue="salaryTypeId"
                    [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
                </multi-select-filter>
                <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
              </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['year'].isHide"
                [ngClass]="{'required': f['year'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.payrolls.period.year' | translate}}
            </label>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [property]="f['year']"
                  [options]="yearList"
                  optionLabel="year"
                  optionValue="year"
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>
            <label [hidden]="f['periodId'].isHide"
                [ngClass]="{'required': f['periodId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.payroll.periodSalary' | translate}}
            </label>
            <div [hidden]="f['periodId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [property]="f['periodId']"
                  [options]="periodList"
                  optionLabel="periodName"
                  optionValue="periodId"
                  [placeHolder]="f['periodId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['periodId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['employeeCode']"
              [labelValue]="'EmployeeBO.employeeCode'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "100"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input
              [property]="f['employeeName']"
              [labelValue]="'EmployeeBO.fullName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "100">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" *ngIf="finishedProcess" (click)="actionSearchCalculate()"  class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.payrollCalculate') && finishedProcess "  type="button" (click)="actionCalculate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.table.calculatorSalary' | translate"><i class="fa fa-calculator"></i></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.payrollDestroy') && finishedProcess" type="button" (click)="actionCancelCalculate()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.table.cancelPayroll' | translate"><i class="fa fa-trash-alt"></i></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.syncTax') && finishedProcess && checkSingle" type="button" (click)="prepareTaxSync()" class="btn btn-sm btn-info" [innerHTML]="'payroll.calculate.taxSync' | translate"></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.syncPayroll') && finishedProcess && checkSingle" type="button" (click)="preparePaymentSync()" class="btn btn-sm btn-info" [innerHTML]="'payroll.calculate.paymentSync' | translate"></button>

            <button type="submit" *ngIf="!finishedProcess"  class="btn btn-sm btn-info disabled" [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.payrollCalculate') && !finishedProcess " type="button"  class="btn btn-sm btn-info disabled" [innerHTML]="'common.button.table.calculatorSalary' | translate"><i class="fa fa-calculator"></i></button>
            <button *ngIf="!isSearchOnly && hasPermission('action.payrollDestroy') && !finishedProcess"  type="button" class="btn btn-sm btn-danger disabled" [innerHTML]="'common.button.table.cancelPayroll' | translate"><i class="fa fa-trash-alt"></i></button>
        </div>
      </form>
    </div>
    <!-- hien thi bang -->
    <div class="panel panel-default" *ngIf="f['organizationId'].value && f['salaryTypeId'].value && checkSingle">
      <div class="panel-body panel-table">
        <div class="col-md-12" *ngIf="listDataType.length > 0">
          <p-scrollPanel #pScroll [style]="{width: '100%', height: '70px'}" styleClass="custombar3 clearfix">
            <table class="table-process" [ngStyle]="{'width' : (listDataType.length > 3 ? 100 + 10*listDataType.length : 100) + '%'}" cellspacing="0" cellpadding="0" >
              <tr>
                <td style="padding-left: 5px; width: 30px">
                  <div style="position: relative; padding-top: 20px; z-index: 1;">
                    <label class="text-process" style="left: 0; width: 0;">{{'payroll.calculate.process.start' | translate}}</label>
                    <div class="table-process-circle" [ngClass]="listPayrollPayload[0].value || 0 === 100 ? 'process-success' : ''"></div>
                  </div>
                </td>
                <ng-container *ngFor="let item of listDataType; index as i">
                  <td [ngStyle]="{'width' : 100/(listDataType.length+1) + '%','min-width':'125px', 'padding-top':'20px'}">
                    <p-progressBar [value]="listPayrollPayload[i+1].value || 0" [showValue]="false"></p-progressBar>
                  </td>
                  <td style="width: 30px">
                    <div style="position: relative; padding-top: 20px; z-index: 1;" [title]="listPayrollPayload[i+1].status === 0 ? ('ERROR.haveError' | translate) : ''">
                      <label class="text-process" style="position: absolute;">
                        {{item.dataName}} {{listPayrollPayload[i+1].time/1000 > 0 ? ' (' + listPayrollPayload[i+1].time/1000 + 's)' : ''}}
                      </label>
                      <div class="table-process-circle"
                        [ngClass]="(listPayrollPayload[i+1].value > 0 && listPayrollPayload[i+1].status === 0)
                          ? listPayrollPayload[i+1].value || 0 > 0 ? 'process-error' : ''
                          : (listPayrollPayload[i+1].value > 0 && listPayrollPayload[i+1].status === 1)? listPayrollPayload[i+1].value || 0 > 0 ? 'process-success' : ''
                          : listPayrollPayload[i+1].value || 0 > 0 ? 'process-warning' : ''"
                          (click)="showMessage(listPayrollPayload[i+1])" >
                        <span class="text">
                          {{i+1}}
                        </span>
                        <span class="fa fa-check"></span>
                        <span class="fa fa-exclamation-triangle"></span>
                      </div>
                    </div>
                    <!-- <p-overlayPanel #op appendTo="body">
                      Có lỗi xảy ra
                    </p-overlayPanel> -->
                  </td>
                </ng-container>
                <td [ngStyle]="{'width' : 100/(listDataType.length+1) + '%','min-width':'250px', 'padding-top':'20px'}">
                  <p-progressBar [value]="listPayrollPayload[listDataType.length+1].value || 0" [showValue]="false"></p-progressBar>
                </td>
                <td style="width: 30px">
                  <div style="position: relative; padding-top: 20px; z-index: 1;">
                    <label class="text-process" style="left: 0; width: 0;">{{'payroll.calculate.process.finish' | translate}}</label>
                    <div class="table-process-circle" [ngClass]="listPayrollPayload[listDataType.length+1].value || 0 === 100 ? 'process-success' : ''"></div>
                  </div>
                </td>
              </tr>
            </table>
          </p-scrollPanel>
        </div>
        <div class="col-md-12" *ngIf="listDataType.length === 0" translate>
          payroll.calculate.configDataInputEmpty
        </div>
      </div>
    </div>

    <!-- bang loi qua trinh-->
    <p-dialog header="{{titlePopup| translate}}" modal="true" [baseZIndex]="10000" [(visible)]="display" [style]="{width: '700px', height: '200px'}">
        <p-table [value]="listMessageCal"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" [resizableColumns]="true">
          <ng-template pTemplate="header">
            <tr>
              <th class="size-5" translate>app.payrolls.period.organization</th>
              <th class="size-5" translate>payroll.dataInput.config.salaryType</th>
              <th class="size-2" translate>app.empHealthInsurance.status</th>
              <th class="size-5" translate>app.messageSummary</th>
          </tr>
          </ng-template>
          <ng-template pTemplate="body" let-content>
            <tr>
              <td class="size-5">{{content.orgSalary}}</td>
              <td class="size-5">{{content.salaryType}}</td>
              <td class="size-2">
                <span *ngIf="content.status == 1" translate style="background-color: seagreen">payroll.calculate.status.success</span>
                <span *ngIf="content.status != 1" translate style="background-color: orangered">payroll.calculate.status.error</span>
              <td class="size-5">{{content.message | translate}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-dialog>
    <div class="ui-g" *ngIf="f['organizationId'].value && f['salaryTypeId'].value">
      <div class="ui-g-12 ui-md-12 ui-lg-3" style="padding-left: 0">
        <div class="panel panel-default" style="position: relative">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'app.organization.listData' | translate}}
            </strong>
          </div>
          <p-scrollPanel [style]="{width: '100%', height: 450 + 'px'}" [ngClass] = "!finishedProcess ? 'custombar2 clearfix display-spinner' :  'custombar2 clearfix'">
            <div class="lds-spinner" *ngIf="!finishedProcess"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <p-tree
              *ngIf="finishedProcess"
              [value]="nodes"
              selectionMode="single"
              [(selection)]="selectedNode"
              (onNodeSelect)="nodeSelect($event, null)"
              (onNodeExpand)="actionLazyRead($event)"
              [ngClass]="{'show-org-expried' : showOrgExpried}"
            ></p-tree>
          </p-scrollPanel>
          <div class="payroll-tree-mask" *ngIf="finishedProcess && errorProcess"><span title="{{'ERROR.haveError' | translate}}" class="fa fa-exclamation-triangle"></span></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-9 payroll-table" style="padding-right: 0">
        <div class="panel panel-default">
          <div class="panel-heading vt-relative">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>
              </strong>
              <div style="float: left; position: absolute; left: 5px;" class=" vt-absolute vt-shotcut-button-in-heading">
                <div ngbDropdown class="d-inline-block" placement="bottom-left" style="padding-right: 5px;">
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                  <div ngbDropdownMenu>
                    <div *ngIf="hasPermission('action.export')">
                      <button class="dropdown-item"
                      (click)="processExport($event)"
                      title="{{'common.button.table.hExport' | translate}}"
                      [innerHTML]="'common.button.table.actExport' | translate">
                      </button>
                    </div>
                    <div *ngIf="hasPermission('action.insert')">
                      <button class="dropdown-item"
                      (click)="prepareSaveOrUpdate()"
                      title="{{'common.button.table.plus' | translate}}"
                      [innerHTML]="'common.button.payroll.addNew' | translate">
                      </button>
                    </div>
                    <div *ngIf="hasPermission('action.import')">
                      <button class="dropdown-item"
                      (click)="prepareImport($event)"
                      title="{{'common.label.import' | translate}}"
                      [innerHTML]="'common.button.payroll.import' | translate">
                      </button>
                    </div>
                    <div style="cursor: pointer; padding: 5px" title="{{'payrolls.caculate.sentpayslip' | translate}}" (click)="processSendPayslipAll()">
                      <span class="glyphicons glyphicons-message-out"
                        style="color: #2e8ccd; padding-right: 5px"></span>
                      <span style="color: #58666e;">
                        {{'payrolls.caculate.sentpayslip' | translate}}
                      </span>
                    </div>
                    <div *ngIf="hasPermission('action.export') && checkSingle">
                      <button class="dropdown-item"
                      (click)="processExportProgress()"
                      [innerHTML]="'common.button.table.actionExportProgress' | translate">
                      </button>
                    </div>
                    <div *ngIf="hasPermission('action.delete') && checkSingle">
                      <button class="dropdown-item"
                      (click)="processDeleteDataImport()"
                      [innerHTML]="'common.button.table.actionDeleteImport' | translate">
                      </button>
                    </div>
                  </div>
                </div>
                <div ngbDropdown class="d-inline-block" placement="bottom-left">
                  <button class="btn btn-sm btn-info" ngbDropdownToggle translate>payroll.calculate.payrollReport</button>
                  <div ngbDropdownMenu >
                    <div *ngFor="let item of listPayrollReportType">
                      <button class="dropdown-item"
                      (click)="processExportReport(item)"
                      [title]=item.reportTypeName
                      [innerHTML]=item.reportTypeName>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="progress-bar-area">
                <p-progressBar [value]="valueCal" *ngIf="valueCal" [showValue]="true" ></p-progressBar>
              </div>
          </div>

          <div class="panel-body panel-table" [ngClass]="{'area-display-center' : !finishedProcess || errorProcess}"  style="min-height: 450px">
            <p-table #ptable [value]="resultList.data" *ngIf="resultList.data && finishedProcess"
              [resizableColumns]="true" columnResizeMode="expand"
              [columns]="resultList.headerConfig"
              [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="actionSearchCalculate($event)"
              [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b table-ellipsis"
              [(contextMenuSelection)]="selectedObject"
              [contextMenu]="(menuItems && menuItems.length) > 0 ? cm : ''">
              <ng-template pTemplate="header" let-columns>
                <tr class="header-trim-text">
                  <th class="size-1">{{'common.table.index' | translate}}</th>
                  <th *ngIf="hasPermission('action.delete') && isShowDelete" class="size-1">{{'common.button.table.hDelete' | translate}}</th>
                  <th class="size-4">{{'payrolls.caculate.payslip' | translate}}</th>
                  <th style="width: 100px;" pResizableColumn *ngFor="let column of columns">{{column.header}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1" let-columns>
                <tr [pContextMenuRow]="item">
                  <td class="size-1 vt-align-center">{{index}}</td>
                  <td class="size-1 vt-align-center" *ngIf="hasPermission('action.delete') && isShowDelete">
                      <a class="btn-table delete" *ngIf="item.isImport && item.isImport == 1" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                  </td>
                  <!-- cột mới thêm -->
                  <td class="size-4 vt-align-center">
                    <a class="btn-table" [ngClass]="item.isConfigPayslip ? 'edit' : 'disabled'" title="{{'payrolls.caculate.viewpayslip' | translate}}" (click)="processViewPayslip(item)">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn-table" [ngClass]="item.isConfigPayslip ? 'edit' : 'disabled'" title="{{'payrolls.caculate.downloadpayslip' | translate}}" (click)="processDownloadPayslip(item)">
                      <i class="fa fa-download"></i>
                    </a>
                    <a class="btn-table" [ngClass]="(item.isConfigPayslip && item.employeeEmail) ? 'edit' : 'disabled'" title="{{'payrolls.caculate.sentpayslip' | translate}}" (click)="processSendPayslip(item)">
                      <span class="glyphicons glyphicons-message-out"></span>
                    </a>
                  </td>
                  <td style="width: 100px;" class="ui-resizable-column" [ngClass]="getStyle(column)" *ngFor="let column of resultList.headerConfig">
                    {{ (column.attributeType === '5' || column.attributeType === '4') ? ( item[column.field] | formatCurrency:'VND' ) : (item[column.field]) }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr class="emptymessage">
                  <td *ngIf="finishedProcess" [attr.colspan]="columns.length + 2" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
            </p-table>
            <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
            <span title="{{'ERROR.haveError' | translate}}" *ngIf="errorProcess" class="fa fa-exclamation-triangle" style="font-size: 24px; cursor: pointer; color: red;"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
