<div class="content" *ngIf="hasPermission('action.view')">
    <div class="row">
        <div class="col-md-12">
            <position-category-search></position-category-search>
        </div>
    </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
</div>
