<div class="card">
  <p-table [value]="lockShiftOrgs" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
    tableStyleClass="table table-bordered table-wrapper ">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1" pFrozenColumn />
        <col class="size-1" pFrozenColumn />
        <col class="size-1" pFrozenColumn />
        <col class="size-3" pFrozenColumn />
        <col class="size-5" pFrozenColumn />
        <col *ngFor="let col of searchDays" class="size-1" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableIndex" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableLock" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableUnlock" | translate}}</th>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.organizationCode" | translate}}</th>
        <th rowspan="2" class="vt-align-center" alignFrozen="right" pFrozenColumn>{{"app.schedular.organizationName" | translate}}</th>
        <th [attr.colspan]="searchDays.length" class="vt-align-center">{{"app.schedular.dayInMonth" | translate}}</th>
      </tr>
      <tr>
        <th *ngFor="let item of searchDays" class="day-in-month" style="width: 3rem" title="{{item.date}}({{item.title | translate}})">{{item.date}}<span
            [ngClass]="{'weekend': item.isWeekend()}">({{item.title | translate}})</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lockShiftOrg let-index="rowIndex+1">
      <tr [ngClass]="{'selected-organization': lockShiftOrg.hasChild}">
        <td class="vt-align-center">{{index}}</td>
        <td class="vt-align-center tbl-action" (click)="onClickUpdateLock(lockShiftOrg.id, true)"><i *ngIf="!lockShiftOrg.hasChild" class="fa fa-lock fa-inverse" aria-hidden="true"></i></td>
        <td class="vt-align-center tbl-action" (click)="onClickUpdateLock(lockShiftOrg.id, false)"><i *ngIf="!lockShiftOrg.hasChild" class="fa fa-lock-open" aria-hidden="true"></i></td>
        <td>{{lockShiftOrg.organizationCode}}</td>
        <td>{{formatOrganizationName(lockShiftOrg)}}</td>
        <ng-container *ngIf="lockShiftOrg.data && lockShiftOrg.data.length > 0">
          <td *ngFor="let item of searchDays" class="vt-align-center"
            [ngClass]="{ 'locked': isLocked(item, lockShiftOrg) }">
            <i class="fa fa-lock fa-inverse" aria-hidden="true" *ngIf="isLocked(item, lockShiftOrg)"></i>
            <i class="fa fa-lock-open" aria-hidden="true" *ngIf="!isLocked(item, lockShiftOrg)"></i>
          </td>
        </ng-container>
        <ng-container *ngIf="!(lockShiftOrg.data && lockShiftOrg.data.length > 0)">
          <td [attr.colspan]="searchDays.length"></td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="5+searchDays.length" [innerHTML]="'app.noRecords' | translate" class="vt-align-center"></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer [resultList]="lockShiftOrgs"></table-footer>
    </ng-template>
  </p-table>

</div>
