<system-intro
  screenCode="POSITION_CARRER"
></system-intro>
<div id="searchPage">
    <div id="searchArea">
        <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch">
                <div class="panel-heading" translate>
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>
                        common.label.search_form
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['code']"
                                      [labelValue]="'common.form.code'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [maxLength]="50">
                      </dynamic-input>
                      <dynamic-input  [property]="f['name']"
                                      [labelValue]="'app.system_config.name'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]="200">
                      </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['managementType'].isHide"
                               [ngClass]="{'required': f['managementType'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                          positionCareer.managementType
                        </label>
                        <div [hidden]="f['managementType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter
                              [property]="f['managementType']"
                              [options]="managementTypeList"
                              optionLabel="name"
                              optionValue="sysCatId"
                              [placeHolder]="f['managementType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                              >
                            </select-filter>
                            <app-control-messages [control]="f['managementType']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['effectiveDate'].isHide"
                               [ngClass]="{'required': f['effectiveDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                          positionCareer.effectiveDate
                        </label>
                        <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['effectiveDate']" [onChange]="onChangeDate">
                            </date-picker>
                            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                        </div>
                        <label [hidden]="f['expiredDate'].isHide"
                               [ngClass]="{'required': f['expiredDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
                          positionCareer.expiredDate
                        </label>
                        <div [hidden]="f['expiredDate'].isHide"class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['expiredDate']" [onChange]="onChangeDate">
                            </date-picker>
                            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
                </div>
            </form>
        </div>
    </div>
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong class="text-u-c" translate>
                    <i class="fa fa-th"></i>
                    positionCareer.list_title
                </strong>
            </div>
            <div class="panel-body panel-table">
                <p-table #ptable [value]="resultList.data" [paginator]="true"
                        (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
                        [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                        [scrollable]="true" [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                  <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                          <col class="size-1">
                          <col *ngIf="hasPermission('action.update')" class="size-1">
                          <col *ngIf="hasPermission('action.delete')" class="size-1">
                          <col>
                          <col class="size-6">
                          <col class="size-5">
                          <col class="size-5">
                          <col class="size-8">
                      </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                        <tr>
                            <th translate>common.table.index</th>
                            <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
                            <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                            <th  [pSortableColumn]="'name'" translate>positionCareer.name
                                <p-sortIcon [field]="'name'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'code'" translate>positionCareer.code
                                <p-sortIcon [field]="'code'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'effectiveDate'" translate>positionCareer.effectiveDate
                                <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'expiredDate'" translate>positionCareer.expiredDate
                                <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'managementType'" translate>positionCareer.managementType
                                <p-sortIcon [field]="'managementType'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <tr>
                            <td class="vt-align-center">{{index}}</td>
                            <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a></td>
                            <td class="vt-align-center" *ngIf="item.isUsed == 0 && hasPermission('action.delete')"><a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a></td>
                            <td class="vt-align-center" *ngIf="item.isUsed == 1 && hasPermission('action.delete')" ><a class="btn-table" title="{{'common.button.table.hLock' | translate}}"><i class="fa fa-lock"></i></a></td>
                            <td class="vt-align-left">{{item.name}}</td>
                            <td class="vt-align-center">{{item.code}}</td>
                            <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
                            <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
                            <td class="vt-align-left" *ngIf="item.managementType == 1" translate><div class="label-status warning">positionCareer.managementType.1</div></td>
                            <td class="vt-align-left" *ngIf="item.managementType == 2" translate><div class="label-status info">positionCareer.managementType.2</div></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr class="emptymessage">
                            <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <table-footer [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
