<div class="modal-body">
  <form id="frmSaveEmpType">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span *ngIf="!formSave.value.requirementDetailId" translate>app.requirementDetail.addTitle</span>
            <span *ngIf="formSave.value.requirementDetailId" translate>app.requirementDetail.editTitle</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
                     [ngClass]="{'required': f['requirementId'].isRequire}">
                {{'app.requirementDetail.requirementId' | translate}}
              </label>
              <div [hidden]="f['requirementId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                    [placeHolder]="f['requirementId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [property]="f['requirementId']"
                    [options]="group"
                    [group]="true"
                    [autofocus]="'autofocus'"
                    [disabled] = "isDisable"
                    >
                </select-filter>
                <app-control-messages [control]="f['requirementId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['code']"
                              [labelValue]="'common.form.code'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="100">
              </dynamic-input>
              <dynamic-input  [property]="f['name']"
                              [labelValue]="'common.form.name'"
                              [objectId]="f['requirementDetailId'].value"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="200">
              </dynamic-input>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['description']"
                            [type]="'text-area'"
                            [labelValue]="'app.requirementDetail.note'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                            [maxLength]="1000">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
