<div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.payrolls.applyEmpTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button style="margin-bottom: 15px;" class="btn btn-span btn-sm btn-info" title="{{'common.button.close' | translate}}" type="button" (click)="activeModal.close()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    <form [formGroup]="makeDefaultRelationForm()" spellcheck="false">
          <p-table [value]="formEmpRelation.controls" styleClass="controlOverflow" tableStyleClass="table controls-table table-wrapper b-t b-b">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col>
                  <col class="size-4">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate><span [ngClass]="{'required': formEmpRelation.controls[0].controls.employeeId.isRequire}">app.employee.employee</span></th>
                  <th translate>app.organization.add_delete</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center">
                      {{index+1}}
                  </td>
                  <td >
                      <data-picker
                        #dp
                        [hidden]="item.controls.employeeId.isHide"
                        [property]="item.controls.employeeId"
                        systemCode="emp"
                        operationKey="action.view"
                        adResourceKey="resource.employee"
                        objectBO="EmployeeBO"
                        codeField="employeeCode"
                        nameField="fullName"
                        selectField="employeeId"
                        isRequiredField="true"
                        [filterCondition]="conditionByOrganization">
                      </data-picker>
                      <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
                  </td>
                  <td class="vt-align-center">
                    <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addEmpRelation(index)" [innerHTML]="'common.icon.plus' | translate">
                    </button>
                    <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeEmpRelation(index)" [innerHTML]="'common.icon.minus' | translate">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
      </form>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processApplyEmp()" class="btn btn-sm btn-info" [innerHTML]="'common.button.actApply' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </div>

