<form id="formSignature" [formGroup]="formSignature">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i> <span translate> app.templateDynamic.signatureForm </span>
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="formSignature.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-10">
              <col class="size-10">
              <col class="size-3">
              <col class="size-6">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate><span>common.table.index</span></th>
              <th translate><span [ngClass]="{'required': formSignature.controls[0] && formSignature.controls[0].controls.title.isRequire}">app.templateDynamic.title</span></th>
              <th translate><span [ngClass]="{'required': formSignature.controls[0] && formSignature.controls[0].controls.employeeId.isRequire}">app.templateDynamic.employeeId</span></th>
              <th translate><span [ngClass]="{'required': formSignature.controls[0] && formSignature.controls[0].controls.isViewImage.isRequire}">app.templateDynamic.isViewImage</span></th>
              <th translate><span [ngClass]="{'required': formSignature.controls[0] && formSignature.controls[0].controls.numberOrder.isRequire}">app.templateDynamic.numberOrder</span></th>
              <th translate><span>app.templateDynamic.add_delete</span></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td>
                <dynamic-input  [property]="item.controls.title"
                                [maxLength]='250'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.title"></app-control-messages>
              </td>
              <td>
                <data-picker
                  [hidden]="item.controls.employeeId.isHide"
                  [property]="item.controls.employeeId"
                  systemCode="emp"
                  operationKey="action.view"
                  adResourceKey="resource.employee"
                  objectBO="EmployeeBO"
                  codeField="employeeCode"
                  nameField="fullName"
                  selectField="employeeId">
                </data-picker>
                <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <label class="i-checks" [hidden]="item.controls.isViewImage.isHide">
                  <input type="checkbox" class="form-check-input control-label" [value]="1" name="isViewImage"
                  formControlName="isViewImage">
                  <i></i>
                </label>
                <app-control-messages [control]="item.controls.isViewImage"></app-control-messages>
              </td>
              <td>
                <dynamic-input  [property]="item.controls.numberOrder">
                </dynamic-input>
                <app-control-messages [control]="item.controls.numberOrder"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" [title]="'titleAdd' | translate" type="button" (click)="addGroup(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="removeGroup(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
