<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.empRewardProcess.listReward</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading"*ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
            (onLazyLoad)="processSearch($event)"
            [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            [scrollable]="true" [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-6">
              <col class="size-8">
              <col class="size-5">
              <col class="size-5">
              <col class="size-8">
              <col class="size-8">
              <col class="size-6">
              <col class="size-10">
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
              <th pSortableColumn="decissionNumber" translate>app.empRewardProcess.decissionNumber
                <p-sortIcon field="decissionNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="decissionLevel" translate>app.empRewardProcess.rewardTypeId
                <p-sortIcon field="decissionLevel"></p-sortIcon>
              </th>
              <th pSortableColumn="signedDate" translate>app.empRewardProcess.signedDate
                <p-sortIcon field="signedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.empRewardProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="rewardTypeId" translate>app.empRewardProcess.rewardFormId
                <p-sortIcon field="rewardTypeId"></p-sortIcon>
              </th>
              <th pSortableColumn="reason" translate>app.empRewardProcess.rewardTitleId
                <p-sortIcon field="reason"></p-sortIcon>
              </th>
              <th pSortableColumn="amountOfMoney" translate>app.empRewardProcess.amountOfMoney
                <p-sortIcon field="amountOfMoney"></p-sortIcon>
              </th>
              <th pSortableColumn="rewardFormId" translate>app.empRewardProcess.reason
                <p-sortIcon field="rewardFormId"></p-sortIcon>
              </th>
              <th translate>app.salaryTable.attachmentFile
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDelete(item.empRewardProcessId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
              <td class="vt-align-center">{{item.decissionNumber}}</td>
              <td class="vt-align-left"  >{{item.rewardTypeName}}</td>
              <td class="vt-align-center">{{item.signedDate | displayDate}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-left"  >{{item.rewardFormName}}</td>
              <td class="vt-align-left"  >{{item.rewardTitleName}}</td>
              <td class="vt-align-right" >{{item.amountOfMoney | formatCurrency:'VND'}}</td>
              <td class="vt-align-left"  >{{item.reason}}</td>
              <td class="vt-align-left"  >
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<!-- <have-not-permission actionCode="action.view" resourceCode="resource.empRewardDiscipline">
  {{'common.noPermission' | translate }}
</have-not-permission> -->
