<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.contractProcess.listContractProcess</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #pTable
          [value]="resultList.data"
          [paginator]="true"
          [responsive]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-3" *ngIf="hasPermission('action.export')">
              <col class="size-3">
              <col class="size-8">
              <col class="size-8">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-12">
              <col class="size-12">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
              <th translate *ngIf="hasPermission('action.export')">app.contractProcess.exportContract</th>
              <th translate>app.contractProcess.exportTerminationContract</th>
              <th pSortableColumn="labourContractTypeId" translate>app.contractProcess.empType
                <p-sortIcon field="labourContractTypeId"></p-sortIcon>
              </th>
              <th pSortableColumn="labourContractDetailName" translate>app.labourContractType.title
                <p-sortIcon field="labourContractDetailName"></p-sortIcon>
              </th>
              <th pSortableColumn="contractDecisionNumber" translate>app.contractProcess.contractNumber
                <p-sortIcon field="contractDecisionNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="signedDate" translate>app.workProcess.signedDate
                <p-sortIcon field="signedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="contractMonth" translate>app.contractProcess.contractPeriodByMonth
                <p-sortIcon field="contractMonth"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.contractProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate>app.contractProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="description" translate>app.system_config.description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th translate>app.otherInformation.attachmentFile
              </th>
              <th pSortableColumn="isCurrent" translate>app.contractProcess.isCurrent
                <p-sortIcon field="isCurrent"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDeletes(item)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.export')"><a class="btn-table edit" (click)="exportContract(item.empTypeProcessId)" title="{{'common.button.table.hExport' | translate}}" ><i class="fa fa-download"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.export')"><a class="btn-table edit" (click)="exportTerminationAgreement(item.empTypeProcessId)" title="{{'common.button.table.hExport' | translate}}" ><i class="fa fa-download"></i></a></td>
              <td class="vt-align-left">{{item.empTypeName}}</td>
              <td class="vt-align-left">{{item.labourContractTypeName}}</td>
              <td class="vt-align-left">{{item.contractDecisionNumber}}</td>
              <td class="vt-align-center">{{item.signedDate | displayDate}}</td>
              <td class="vt-align-center"  >{{item.contractMonth}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-left">{{item.description}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                    style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                    (click)="downloadFile(data)">
                    - {{data.fileName}}
                </a>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isCurrent==1" class="fas fa-check table-icon color-info"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="13" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>

