<p-scrollPanel [style]="{width: '100%', height: height + 'px'}" styleClass="border-cus">
  <p-table #ptable [value]="listData" selectionMode="multiple" [(selection)]="lstSelected">
    <ng-template pTemplate="header" let-columns>
      <th >
        <p-tableHeaderCheckbox   (click)="selectedChange()"></p-tableHeaderCheckbox> {{ 'common.label.cboSelectAll' | translate}}
      </th>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr [pSelectableRow]="item"   (click)="selectedChange()">
        <td class="vt-align-left">
          <p-tableCheckbox [value]="item"></p-tableCheckbox> {{item.label}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- [pSelectableRow]="item"   (onRowSelect)="onRowSelect($event)"-->

  <!-- <div class="ui-g-12">
    <p-checkbox name="group1" value="{{ 'common.label.cboSelectAll' | translate}}" label="{{ 'common.label.cboSelectAll' | translate}}" [(ngModel)]="selectedCities" inputId="checkAll" ></p-checkbox>
  </div>
  <div *ngFor="let item of listData; let i = index;">
    <div class="ui-g-12">
      <p-checkbox name="group1" value="{{item.value}}" label="{{item.label}}" [(ngModel)]="lstSelected" inputId="{{item.value}}" (click)="selectedChange()"></p-checkbox>
    </div>
  </div> -->
</p-scrollPanel>
