<div class="content">

  <!-- form search -->
  <div id="searchArea" *ngIf="hasPermission('action.view')" >
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">

        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>

        <div class="panel-body padding-xl ui-g">

          <div class="ui-g-12">
            <!-- ky danh gia: thang/quy/nam -->
            <label [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
              [ngClass]="{'required': f['year'].isRequire}" style="margin-top: 5px">
              {{'evaluation.employeeKi.type' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
                <select-filter [property]="f['type']" [options]="listType" optionLabel="label" optionValue="id"
                  [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  (onChange)="changeType($event)" [isMultiLanguage]="true">
                </select-filter>
                <app-control-messages [control]="f['type']"></app-control-messages>
              </div>
              <div [hidden]="f['month'].isHide" class="ui-g-12 ui-md-6 ui-lg-4" id="cbMonth" *ngIf="f['type'].value==1">
                <select-filter [property]="f['month']" [options]="listMonth" optionLabel="month" optionValue="month"
                  [placeHolder]="f['month'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['month']"></app-control-messages>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4" id="cbQuarter" *ngIf="f['type'].value==2">
                <!-- [hidden]="true" -->
                <select-filter [property]="f['quarter']" [options]="listQuarter" optionLabel="quarter"
                  optionValue="quarter"
                  [placeHolder]="f['quarter'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['quarter']"></app-control-messages>
              </div>
              <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-4" >
                <select-filter [property]="f['year']" [options]="listYear" optionLabel="year" optionValue="year"
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['year']"></app-control-messages>
              </div>
            </div>

            <!-- organizationId -->
            <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view"
                adResourceKey="resource.workProcess" [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>

          </div>

          <div class="ui-g-12">
            <!-- status -->
            <label [ngClass]="{'required': f['status'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.evaluation.status' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="all" [value]="3" name="status"
                    formControlName="status">
                  <i></i>
                  {{'organization.status.all' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="lock" [value]="0" name="status"
                    formControlName="status">
                  <i></i>
                  {{'organization.status.rate' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="unlock" [value]="1" name="status"
                    formControlName="status">
                  <i></i>
                  {{'organization.status.Notrate' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>

            <dynamic-input [property]="f['numberRecord']" [labelValue]="'app.organization.numberRecord'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right '"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="4" (onChange)="changeNumberRecord()" >
            </dynamic-input>
          </div>


        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.search' | translate"></button>


          <button *ngIf="hasPermission('action.import')" type="button" routerLink="/evaluation/organization-ki/import" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.import' | translate"></button>
        </div>
      </form>
    </div>
    <!-- list danh sach -->
    <div  *ngIf="resultList.data" >
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'app.organization.titleList' | translate}}
          </strong>
        </div>
        <div class="panel-body panel-table">
          <p-table 
            #ptable 
            [value]="formSave.controls" 
            [paginator]=" resultList.data && resultList.data.length"  
            [lazy]="true" 
            [rows]="this.formSearch.controls['numberRecord'].value"
            [totalRecords]="resultList.recordsTotal" 
            [responsive]="true" 
            [lazyLoadOnInit]="false"
            
            (onLazyLoad)="processSearch($event)" 
            styleClass="controlOverflow" tableStyleClass="table controls-table   table-wrapper b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-5">
                <col class="size-6">
                <col class="size-4">
                <col class="size-5">
                <col class="size-2">
                <col class="size-5">
                <col class="size-4">
                <col class="size-4">
                <col class="size-4">
                <col class="size-4">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate><span> common.table.index</span> </th>
                <th translate><span> organization.type.code</span> </th>
                <th translate><span>organization.type.name</span></th>
                <th translate><span [ngClass]="{'required': true}">organization.type.KiPoint</span></th>
                <th translate><span [ngClass]="{'required': true}" >organization.type.Ki</span></th>
                <th translate><span>organization.type.noteRated</span></th>
                <th translate><span>organization.type.note</span></th>
                <th translate><span>organization.type.createBy</span></th>
                <th translate><span>organization.type.createTime</span></th>
                <th translate><span>organization.type.modifiedBy</span></th>
                <th translate><span>organization.type.modifiedTime</span></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
              <tr [formGroup]="item">

                <td class="vt-align-center"> {{index+1}} </td>
                <td class="vt-align-center">{{item.controls['unitCode'].value}}</td>
                <td class="vt-align-left">{{item.controls['unitName'].value}}</td>
                <td >
                    <!-- <input type="text"
                    maxlength="50"
                   
                    formControlName="item.controls.orgKiPoint" 
                    class="input-align-right"
                    style="    line-height: 21px;
                    width: 100%;"
                    [attr.disabled]="(item.controls['isRate'].value|| item.controls['isLock'].value==1) ? true: null"
                  /> -->
                  <dynamic-input 
                    [disabled]="(item.controls['isRate'].value == 1|| item.controls['isLock'].value==1) ? true: null"
                    [property]="item.controls.orgKiPoint"
                    [maxLength]="50"
                    inputClass="input-align-right  " >
                   
                  </dynamic-input>
                </td>
                <td class="vt-align-left"  >
                  <select-filter [property]="item.controls.orgKi" [options]="sysCatList" optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="'common.label.cboMustSelect'"
                    [disabled]="item.controls['isRate'].value  || item.controls['isLock'].value==1">
                  </select-filter>
                  <app-control-messages [control]="item.controls.orgKi"></app-control-messages>
                </td>  
                <td class="vt-align-center">
                   
                    <label *ngIf="item.controls['isLock'].value==1" class="i-checks disable" style="padding-left: 0;">
                      <input type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                      [formControl]="item.controls.isRate" disabled/> <i style="margin-left: 0"></i>
                    </label>
                    <label *ngIf="item.controls['isLock'].value!=1" class="i-checks" style="padding-left: 0;">
                      <input type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                      [formControl]="item.controls.isRate" /> <i style="margin-left: 0"></i>
                    </label>
             
                </td>
                <td>
                  <dynamic-input [property]="item.controls.note"
                    [disabled]="( item.controls['isLock'].value==1) ? true: null"
                    [objectId]="item.controls['organizationKiProcessId'].value" [maxLength]="100">
                  </dynamic-input>
                </td>
                <td class="vt-align-center">{{item.controls['createdBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['createdDate'].value | displayDate}}</td>
                <td class="vt-align-center">{{item.controls['modifiedBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['modifiedDate'].value | displayDate}}</td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
          <div class="panel-footer vt-area-button">
            <button *ngIf="hasPermission('action.update')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
              [innerHTML]="'common.button.save' | translate"></button>

            <button  *ngIf="hasPermission('action.export')" type="button" (click)="processExport()" class="btn btn-sm btn-info"
              [innerHTML]="'common.button.export' | translate"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>


</div>