<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
      <annual-leave-search></annual-leave-search>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
