<div class="input-group picker">
  <div class="input-group-append nation-flag">
    <button class="btn btn-icon" type="button" (click)="op.toggle($event)">
      <span class="{{selectIcon? selectIcon : ''}}"
        [ngClass]="{'glyphicons glyphicons-globe-af': !selectIcon}"></span>
    </button>
  </div>
  <p-overlayPanel #op [dismissable]="true" styleClass="panel-nation"
    [showCloseIcon]="false" appendTo="body" baseZIndex="20000">
  <div class="panel-location-nation">
    <ul class="sys-ul">
      <li (click)="chooseNation('flag flag-ax')">
        <div class="display-table flag-item">
            <div class="table-cell flag-img">
                <span class="flag flag-ax"></span>
            </div>
            <div class="table-cell">AALAND ISLANDS</div>
        </div>
      </li>


      <li (click)="chooseNation('flag flag-az')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-az"></span>
              </div>
              <div class="table-cell">AZERBAIJAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bs')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bs"></span>
              </div>
              <div class="table-cell">BAHAMAS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bh"></span>
              </div>
              <div class="table-cell">BAHRAIN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bd')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bd"></span>
              </div>
              <div class="table-cell">BANGLADESH</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bb')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bb"></span>
              </div>
              <div class="table-cell">BARBADOS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-by')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-by"></span>
              </div>
              <div class="table-cell">BELARUS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-be')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-be"></span>
              </div>
              <div class="table-cell">BELGIUM</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bz"></span>
              </div>
              <div class="table-cell">BELIZE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bj')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bj"></span>
              </div>
              <div class="table-cell">BENIN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bm"></span>
              </div>
              <div class="table-cell">BERMUDA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bt"></span>
              </div>
              <div class="table-cell">BHUTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bo')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bo"></span>
              </div>
              <div class="table-cell">BOLIVIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ba')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ba"></span>
              </div>
              <div class="table-cell">BOSNIA AND HERZEGOWINA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bw"></span>
              </div>
              <div class="table-cell">BOTSWANA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-br')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-br"></span>
              </div>
              <div class="table-cell">BRAZIL</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-io')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-io"></span>
              </div>
              <div class="table-cell">BRITISH INDIAN OCEAN TERRITORY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bn"></span>
              </div>
              <div class="table-cell">BRUNEI DARUSSALAM</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bg"></span>
              </div>
              <div class="table-cell">BULGARIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bf"></span>
              </div>
              <div class="table-cell">BURKINA FASO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bi')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bi"></span>
              </div>
              <div class="table-cell">BURUNDI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kh"></span>
              </div>
              <div class="table-cell">CAMBODIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cm"></span>
              </div>
              <div class="table-cell">CAMEROON</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ca')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ca"></span>
              </div>
              <div class="table-cell">CANADA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cv')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cv"></span>
              </div>
              <div class="table-cell">CAPE VERDE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bq')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bq"></span>
              </div>
              <div class="table-cell">CARIBBEAN NETHERLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ky')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ky"></span>
              </div>
              <div class="table-cell">CAYMAN ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cf"></span>
              </div>
              <div class="table-cell">CENTRAL AFRICAN REPUBLIC</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-td')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-td"></span>
              </div>
              <div class="table-cell">CHAD</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cl"></span>
              </div>
              <div class="table-cell">CHILE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cn"></span>
              </div>
              <div class="table-cell">CHINA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cx')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cx"></span>
              </div>
              <div class="table-cell">CHRISTMAS ISLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-co')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-co"></span>
              </div>
              <div class="table-cell">COLOMBIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-km')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-km"></span>
              </div>
              <div class="table-cell">COMOROS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cd')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cd"></span>
              </div>
              <div class="table-cell">CONGO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cg"></span>
              </div>
              <div class="table-cell">CONGO REPUBLIC</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ck')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ck"></span>
              </div>
              <div class="table-cell">COOK ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cr"></span>
              </div>
              <div class="table-cell">COSTA RICA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ci')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ci"></span>
              </div>
              <div class="table-cell">COTE DIVOIRE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-hr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-hr"></span>
              </div>
              <div class="table-cell">CROATIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cu"></span>
              </div>
              <div class="table-cell">CUBA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cw"></span>
              </div>
              <div class="table-cell">CURACAO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cy')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cy"></span>
              </div>
              <div class="table-cell">CYPRUS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-cz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-cz"></span>
              </div>
              <div class="table-cell">CZECH REPUBLIC</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-dk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-dk"></span>
              </div>
              <div class="table-cell">DENMARK</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-dj')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-dj"></span>
              </div>
              <div class="table-cell">DJIBOUTI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-dm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-dm"></span>
              </div>
              <div class="table-cell">DOMINICA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-do')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-do"></span>
              </div>
              <div class="table-cell">DOMINICAN REPUBLIC</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ec')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ec"></span>
              </div>
              <div class="table-cell">ECUADOR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-eg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-eg"></span>
              </div>
              <div class="table-cell">EGYPT</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sv')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sv"></span>
              </div>
              <div class="table-cell">EL SALVADOR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gq')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gq"></span>
              </div>
              <div class="table-cell">EQUATORIAL GUINEA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-er')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-er"></span>
              </div>
              <div class="table-cell">ERITREA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ee')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ee"></span>
              </div>
              <div class="table-cell">ESTONIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-et')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-et"></span>
              </div>
              <div class="table-cell">ETHIOPIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fk"></span>
              </div>
              <div class="table-cell">FALKLAND ISLANDS (MALVINAS)</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fo')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fo"></span>
              </div>
              <div class="table-cell">FAROE ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fj')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fj"></span>
              </div>
              <div class="table-cell">FIJI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fi')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fi"></span>
              </div>
              <div class="table-cell">FINLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fr"></span>
              </div>
              <div class="table-cell">FRANCE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gf"></span>
              </div>
              <div class="table-cell">FRENCH GUIANA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pf"></span>
              </div>
              <div class="table-cell">FRENCH POLYNESIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ga')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ga"></span>
              </div>
              <div class="table-cell">GABON</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gm"></span>
              </div>
              <div class="table-cell">GAMBIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ge')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ge"></span>
              </div>
              <div class="table-cell">GEORGIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-de')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-de"></span>
              </div>
              <div class="table-cell">GERMANY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gh"></span>
              </div>
              <div class="table-cell">GHANA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gi')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gi"></span>
              </div>
              <div class="table-cell">GIBRALTAR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gr"></span>
              </div>
              <div class="table-cell">GREECE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gl"></span>
              </div>
              <div class="table-cell">GREENLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gd')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gd"></span>
              </div>
              <div class="table-cell">GRENADA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gp')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gp"></span>
              </div>
              <div class="table-cell">GUADELOUPE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gu"></span>
              </div>
              <div class="table-cell">GUAM</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gt"></span>
              </div>
              <div class="table-cell">GUATEMALA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gg"></span>
              </div>
              <div class="table-cell">GUERNSEY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gn"></span>
              </div>
              <div class="table-cell">GUINEA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gw"></span>
              </div>
              <div class="table-cell">GUINEA-BISSAU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gy')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gy"></span>
              </div>
              <div class="table-cell">GUYANA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ht')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ht"></span>
              </div>
              <div class="table-cell">HAITI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-hn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-hn"></span>
              </div>
              <div class="table-cell">HONDURAS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-hk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-hk"></span>
              </div>
              <div class="table-cell">HONG KONG</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-hu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-hu"></span>
              </div>
              <div class="table-cell">HUNGARY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-is')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-is"></span>
              </div>
              <div class="table-cell">ICELAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-in')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-in"></span>
              </div>
              <div class="table-cell">INDIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-id')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-id"></span>
              </div>
              <div class="table-cell">INDONESIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ir')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ir"></span>
              </div>
              <div class="table-cell">IRAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-iq')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-iq"></span>
              </div>
              <div class="table-cell">IRAQ</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ie')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ie"></span>
              </div>
              <div class="table-cell">IRELAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-im')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-im"></span>
              </div>
              <div class="table-cell">ISLA DE MAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-il')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-il"></span>
              </div>
              <div class="table-cell">ISRAEL</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-it')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-it"></span>
              </div>
              <div class="table-cell">ITALY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-jm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-jm"></span>
              </div>
              <div class="table-cell">JAMAICA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-jp')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-jp"></span>
              </div>
              <div class="table-cell">JAPAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-je')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-je"></span>
              </div>
              <div class="table-cell">JERSEY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-jo')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-jo"></span>
              </div>
              <div class="table-cell">JORDAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kz"></span>
              </div>
              <div class="table-cell">KAZAKHSTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ke')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ke"></span>
              </div>
              <div class="table-cell">KENYA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ki')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ki"></span>
              </div>
              <div class="table-cell">KIRIBATI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kp')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kp"></span>
              </div>
              <div class="table-cell">KOREA NORTH</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kr"></span>
              </div>
              <div class="table-cell">KOREA SOUTH</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-xk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-xk"></span>
              </div>
              <div class="table-cell">KOSOVO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kw"></span>
              </div>
              <div class="table-cell">KUWAIT</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kg"></span>
              </div>
              <div class="table-cell">KYRGYZSTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-la')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-la"></span>
              </div>
              <div class="table-cell">LAO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lv')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lv"></span>
              </div>
              <div class="table-cell">LATVIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lb')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lb"></span>
              </div>
              <div class="table-cell">LEBANON</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ls')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ls"></span>
              </div>
              <div class="table-cell">LESOTHO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lr"></span>
              </div>
              <div class="table-cell">LIBERIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ly')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ly"></span>
              </div>
              <div class="table-cell">LIBYAN ARAB JAMAHIRIYA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-li')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-li"></span>
              </div>
              <div class="table-cell">LIECHTENSTEIN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lt"></span>
              </div>
              <div class="table-cell">LITHUANIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lu"></span>
              </div>
              <div class="table-cell">LUXEMBOURG</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mo')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mo"></span>
              </div>
              <div class="table-cell">MACAU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mk"></span>
              </div>
              <div class="table-cell">MACEDONIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mg"></span>
              </div>
              <div class="table-cell">MADAGASCAR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mw"></span>
              </div>
              <div class="table-cell">MALAWI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-my')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-my"></span>
              </div>
              <div class="table-cell">MALAYSIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mv')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mv"></span>
              </div>
              <div class="table-cell">MALDIVES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ml')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ml"></span>
              </div>
              <div class="table-cell">MALI</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mt"></span>
              </div>
              <div class="table-cell">MALTA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mh"></span>
              </div>
              <div class="table-cell">MARSHALL ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mq')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mq"></span>
              </div>
              <div class="table-cell">MARTINIQUE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mr"></span>
              </div>
              <div class="table-cell">MAURITANIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mu"></span>
              </div>
              <div class="table-cell">MAURITIUS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-yt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-yt"></span>
              </div>
              <div class="table-cell">MAYOTTE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mx')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mx"></span>
              </div>
              <div class="table-cell">MEXICO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-fm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-fm"></span>
              </div>
              <div class="table-cell">MICRONESIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-md')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-md"></span>
              </div>
              <div class="table-cell">MOLDOVA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mc"></span>
              </div>
              <div class="table-cell">MONACO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mn"></span>
              </div>
              <div class="table-cell">MONGOLIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-me')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-me"></span>
              </div>
              <div class="table-cell">MONTENEGRO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ms')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ms"></span>
              </div>
              <div class="table-cell">MONTSERRAT</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ma')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ma"></span>
              </div>
              <div class="table-cell">MOROCCO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mz"></span>
              </div>
              <div class="table-cell">MOZAMBIQUE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mm"></span>
              </div>
              <div class="table-cell">MYANMAR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-na')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-na"></span>
              </div>
              <div class="table-cell">NAMIBIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nr"></span>
              </div>
              <div class="table-cell">NAURU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-np')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-np"></span>
              </div>
              <div class="table-cell">NEPAL</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nl"></span>
              </div>
              <div class="table-cell">NETHERLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nc"></span>
              </div>
              <div class="table-cell">NEW CALEDONIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nz"></span>
              </div>
              <div class="table-cell">NEW ZEALAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ni')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ni"></span>
              </div>
              <div class="table-cell">NICARAGUA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ne')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ne"></span>
              </div>
              <div class="table-cell">NIGER</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ng')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ng"></span>
              </div>
              <div class="table-cell">NIGERIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nu"></span>
              </div>
              <div class="table-cell">NIUE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-nf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-nf"></span>
              </div>
              <div class="table-cell">NORFOLK ISLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-mp')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-mp"></span>
              </div>
              <div class="table-cell">NORTHERN MARIANA ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-no')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-no"></span>
              </div>
              <div class="table-cell">NORWAY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-om')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-om"></span>
              </div>
              <div class="table-cell">OMAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pk"></span>
              </div>
              <div class="table-cell">PAKISTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pw"></span>
              </div>
              <div class="table-cell">PALAU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ps')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ps"></span>
              </div>
              <div class="table-cell">PALESTINA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pa')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pa"></span>
              </div>
              <div class="table-cell">PANAMA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pg"></span>
              </div>
              <div class="table-cell">PAPUA NEW GUINEA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-py')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-py"></span>
              </div>
              <div class="table-cell">PARAGUAY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pe')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pe"></span>
              </div>
              <div class="table-cell">PERU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ph')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ph"></span>
              </div>
              <div class="table-cell">PHILIPPINES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pl"></span>
              </div>
              <div class="table-cell">POLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pt"></span>
              </div>
              <div class="table-cell">PORTUGAL</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pr"></span>
              </div>
              <div class="table-cell">PUERTO RICO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-qa')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-qa"></span>
              </div>
              <div class="table-cell">QATAR</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-re')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-re"></span>
              </div>
              <div class="table-cell">REUNION</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ro')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ro"></span>
              </div>
              <div class="table-cell">ROMANIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ru')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ru"></span>
              </div>
              <div class="table-cell">RUSSIAN FEDERATION</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-rw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-rw"></span>
              </div>
              <div class="table-cell">RWANDA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sh"></span>
              </div>
              <div class="table-cell">SAINT HELENA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-kn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-kn"></span>
              </div>
              <div class="table-cell">SAINT KITTS AND NEVIS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lc"></span>
              </div>
              <div class="table-cell">SAINT LUCIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-pm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-pm"></span>
              </div>
              <div class="table-cell">SAINT PIERRE AND MIQUELON</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-vc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-vc"></span>
              </div>
              <div class="table-cell">SAINT VINCENT AND THE GRENADINES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ws')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ws"></span>
              </div>
              <div class="table-cell">SAMOA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-bl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-bl"></span>
              </div>
              <div class="table-cell">SAN BARTOLOMÉ</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sm"></span>
              </div>
              <div class="table-cell">SAN MARINO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-st')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-st"></span>
              </div>
              <div class="table-cell">SAO TOME AND PRINCIPE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sa')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sa"></span>
              </div>
              <div class="table-cell">SAUDI ARABIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sn"></span>
              </div>
              <div class="table-cell">SENEGAL</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-rs')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-rs"></span>
              </div>
              <div class="table-cell">SERBIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sc"></span>
              </div>
              <div class="table-cell">SEYCHELLES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sl"></span>
              </div>
              <div class="table-cell">SIERRA LEONE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sg"></span>
              </div>
              <div class="table-cell">SINGAPORE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sx')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sx"></span>
              </div>
              <div class="table-cell">SINT MAARTEN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sk"></span>
              </div>
              <div class="table-cell">SLOVAKIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-si')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-si"></span>
              </div>
              <div class="table-cell">SLOVENIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sb')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sb"></span>
              </div>
              <div class="table-cell">SOLOMON ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-so')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-so"></span>
              </div>
              <div class="table-cell">SOMALIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-za')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-za"></span>
              </div>
              <div class="table-cell">SOUTH AFRICA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ss')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ss"></span>
              </div>
              <div class="table-cell">SOUTH SUDAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-es')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-es"></span>
              </div>
              <div class="table-cell">SPAIN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-lk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-lk"></span>
              </div>
              <div class="table-cell">SRI LANKA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sd')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sd"></span>
              </div>
              <div class="table-cell">SUDAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sr"></span>
              </div>
              <div class="table-cell">SURINAME</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sj')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sj"></span>
              </div>
              <div class="table-cell">SVALBARD AND JAN MAYEN ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sz"></span>
              </div>
              <div class="table-cell">SWAZILAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-se')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-se"></span>
              </div>
              <div class="table-cell">SWEDEN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ch')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ch"></span>
              </div>
              <div class="table-cell">SWITZERLAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-sy')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-sy"></span>
              </div>
              <div class="table-cell">SYRIAN ARAB REPUBLIC</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tw"></span>
              </div>
              <div class="table-cell">TAIWAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tj')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tj"></span>
              </div>
              <div class="table-cell">TAJIKISTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tz"></span>
              </div>
              <div class="table-cell">TANZANIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-th')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-th"></span>
              </div>
              <div class="table-cell">THAILAND</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tl')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tl"></span>
              </div>
              <div class="table-cell">TIMOR-LESTE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tg"></span>
              </div>
              <div class="table-cell">TOGO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tk')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tk"></span>
              </div>
              <div class="table-cell">TOKELAU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-to')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-to"></span>
              </div>
              <div class="table-cell">TONGA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tt')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tt"></span>
              </div>
              <div class="table-cell">TRINIDAD AND TOBAGO</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tn"></span>
              </div>
              <div class="table-cell">TUNISIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tr')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tr"></span>
              </div>
              <div class="table-cell">TURKEY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tm"></span>
              </div>
              <div class="table-cell">TURKMENISTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tc')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tc"></span>
              </div>
              <div class="table-cell">TURKS AND CAICOS ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-tv')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-tv"></span>
              </div>
              <div class="table-cell">TUVALU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ug')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ug"></span>
              </div>
              <div class="table-cell">UGANDA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ua')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ua"></span>
              </div>
              <div class="table-cell">UKRAINE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ae')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ae"></span>
              </div>
              <div class="table-cell">UNITED ARAB EMIRATES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-gb')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-gb"></span>
              </div>
              <div class="table-cell">UNITED KINGDOM</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-us')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-us"></span>
              </div>
              <div class="table-cell">UNITED STATES</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-uy')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-uy"></span>
              </div>
              <div class="table-cell">URUGUAY</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-uz')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-uz"></span>
              </div>
              <div class="table-cell">UZBEKISTAN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-vu')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-vu"></span>
              </div>
              <div class="table-cell">VANUATU</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-va')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-va"></span>
              </div>
              <div class="table-cell">VATICAN CITY STATE</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ve')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ve"></span>
              </div>
              <div class="table-cell">VENEZUELA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-vn')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-vn"></span>
              </div>
              <div class="table-cell">VIET NAM</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-vg')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-vg"></span>
              </div>
              <div class="table-cell">VIRGIN ISLANDS (BRITISH)</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-vi')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-vi"></span>
              </div>
              <div class="table-cell">VIRGIN ISLANDS (U.S.)</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-wf')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-wf"></span>
              </div>
              <div class="table-cell">WALLIS AND FUTUNA ISLANDS</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-eh')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-eh"></span>
              </div>
              <div class="table-cell">WESTERN SAHARA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-ye')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-ye"></span>
              </div>
              <div class="table-cell">YEMEN</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-zm')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-zm"></span>
              </div>
              <div class="table-cell">ZAMBIA</div>
          </div>
      </li>


      <li (click)="chooseNation('flag flag-zw')">
          <div class="display-table flag-item">
              <div class="table-cell flag-img">
                  <span class="flag flag-zw"></span>
              </div>
              <div class="table-cell">ZIMBABWE</div>
          </div>
      </li>
    </ul>
  </div>
  </p-overlayPanel>
</div>
