<form id="formPositionDescription" [formGroup]="formPositionDescription" spellcheck="false">
  <div class="ui-g-12">
    <dynamic-input  [property]="f['jobPurpose']"
                    [objectId]="f['positionDescriptionId'].value"
                    [labelValue]="'app.position.jobPurpose'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-9 ui-lg-9'"
                    [maxLength]='2000'
                    [type]="'text-area'"
                    [rows]="3"
                    [autofocus]="'autofocus'">
    </dynamic-input>
  </div>
  <div class="vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    <button type="button" (click)="backToList()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
  </div>
</form>

