<div class="modal-body">
    <form id="frmSaveAllowanceType">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formSave.value.systemParameterId" translate>app.system-parameter.addTitle</span>
                        <span *ngIf="formSave.value.systemParameterId" translate>app.system-parameter.editTitle</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                      <button type="button" style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['code']"
                                      [objectId]="f['systemParameterId'].value"
                                      [labelValue]="'app.system-parameter.code'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [readonly]= "isDisabled"
                                      [maxLength]='100'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['name']"
                                      [objectId]="f['systemParameterId'].value"
                                      [labelValue]="'app.system-parameter.name'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='100'>
                      </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['effectiveStartDate'].isHide"
                               [ngClass]="{'required': f['effectiveStartDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                          {{'app.system-parameter.startDate' | translate}}
                        </label>
                        <div [hidden]="f['effectiveStartDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <date-picker [property]="f['effectiveStartDate']"></date-picker>
                          <app-control-messages [control]="f['effectiveStartDate']"></app-control-messages>
                        </div>
                        <label [hidden]="f['effectiveEndDate'].isHide"
                               [ngClass]="{'required': f['effectiveEndDate'].isRequire}"
                               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                          {{'app.system-parameter.endDate' | translate}}
                        </label>
                        <div [hidden]="f['effectiveEndDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <date-picker [property]="f['effectiveEndDate']"></date-picker>
                          <app-control-messages [control]="f['effectiveEndDate']"></app-control-messages>
                        </div>
                    </div>
                     <div class="ui-g-12">
                        <dynamic-input  [property]="f['value']"
                                        [labelValue]="'app.system-parameter.value'"
                                        [objectId]="f['systemParameterId'].value"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                        [maxLength]='400'>
                        </dynamic-input>
                     </div>
                      <div class="ui-g-12">
                        <dynamic-input  [property]="f['description']"
                                        [objectId]="f['systemParameterId'].value"
                                        [labelValue]="'app.allowanceType.description'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                                        [type]="'text-area'"
                                        [maxLength]='200'>
                        </dynamic-input>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
