<div class="modal-body">
  <div id="searchArea"></div>
    <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'common.button.table.hCalendar' | translate}}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info btn-span"><i class="fa fa-times"></i></span>
          </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['year'].isHide"
                     [ngClass]="{'required': f['year'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-5 control-label vt-align-right">
                {{'app.payrolls.year' | translate}}
              </label>
              <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                <select-filter
                  [property]="f['year']"
                  [options]="listYear"
                  optionLabel="year"
                  optionValue="year"
                  (onChange)="processSearchByYear()"
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
                </select-filter>
                <app-control-messages [control]="f['year']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-body panel-footer padding-xl ui-g">
              <div class="ui-g-12">
                <div *ngFor="let item of listMonth" class="ui-g-4 ui-md-4 ui-lg-4">
                  <payroll-calendar-saturday
                    [property]="lstDateTimekeeping"
                    [month]="item"
                    [startDate]="dateStart"
                    [endDate] = "endDate"
                    [mapToTal] = "mapDateTimekeepingToTal"
                  >
                  </payroll-calendar-saturday>
                </div>
              </div>
            </div>
        </form>
      
      </div>

  </div>

