<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('trainingPlanId').value" translate>app.trainingPlan.addTitle</span>
          <span *ngIf="formSave.get('trainingPlanId').value" translate>app.trainingPlan.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
            <i class="fa fa-times"></i>
          </span>        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['name']"
              [objectId]="f['trainingPlanId'].value"
              [labelValue]="'app.trainingPlan.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [autofocus]="'autofocus'"
              [maxLength]="200">
            </dynamic-input>
            <dynamic-input
              [property]="f['documentNumber']"
              [labelValue]="'app.trainingPlan.documentNumber'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]="20">
            </dynamic-input>
          </div>

          <div class="ui-g-12">
              <dynamic-input
                [property]="f['organization']"
                [labelValue]="'app.trainingPlan.organization'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]="200">
              </dynamic-input>

              <label [hidden]="f['trainingType'].isHide"
                [ngClass]="{'required': f['trainingType'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.trainingPlan.trainingType' | translate}}
              </label>
              <div [hidden]="f['trainingType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['trainingType']"
                  [options]="trainingTypeList"
                  optionLabel="name"
                  optionValue="sysCatId"
                  [placeHolder]="f['trainingType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['trainingType']"></app-control-messages>
              </div>
          </div>

          <div class="ui-g-12">
            <label [hidden]="f['workProcessDate'].isHide"
              [ngClass]="{'required': f['workProcessDate'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.trainingPlan.workProcessDate
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['workProcessDate']" yearRange="1919:2120"></date-picker>
              <app-control-messages [control]="f['workProcessDate']"></app-control-messages>
            </div>
            <dynamic-input
              [property]="f['numOfEmployee']"
              [labelValue]="'app.trainingPlan.numOfEmployee'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]="10">
            </dynamic-input>
          </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
