<div class="content">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formWorkSchedule">
          <div class="panel-heading">
            <strong class="text-u-c">
              <span *ngIf="f['workTypeId'].value == null || f['workTypeId'].value == 0" translate> <i
                class="fa fa-th"></i>&nbsp;app.workSchedule.addTitle </span>
              <span *ngIf="f['workTypeId'].value != null && f['workTypeId'].value !== 0" translate><i
                class="fa fa-th"></i>&nbsp;app.workSchedule.updateTitle </span>
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['workCode'].isHide" [ngClass]="{'required': f['workCode'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                Ký hiệu
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label class="d-block">
                  <input type="text" class="form-control" formControlName="workCode" required>
                  <app-control-messages [control]="f['workCode']"></app-control-messages>
                </label>
                <app-control-messages [control]="f['workCode']"></app-control-messages>

                <input id="workTypeId" name="workTypeId" type="hidden">
              </div>
              <label [hidden]="f['workName'].isHide" [ngClass]="{'required': f['workName'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Tên ca
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <label class="d-block">
                  <input type="text" class="form-control" formControlName="workName" required>
                  <app-control-messages [control]="f['workName']"></app-control-messages>
                </label>
                <app-control-messages [control]="f['workName']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['workTypeId'].isHide"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                Loại công
              </label>
              <div [hidden]="f['workTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['workTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['workTypeId']" [options]="listAttendanceConfig" (onChange)="ChangeHasSatConf()" required
                  [disabled]="applyCount > 0 ? true : false" optionLabel="name" optionValue="id" isMultiLanguage="true">
                </select-filter>
                <app-control-messages [control]="f['workTypeId']"></app-control-messages>
              </div>
              <label [hidden]="f['insuranceId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Hưởng chế độ
              </label>
              <div [hidden]="f['insuranceId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['insuranceId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['insuranceId']" [options]="insuranceFormList" optionLabel="name"
                  optionValue="id" isMultiLanguage="true">
                </select-filter>
                <app-control-messages [control]="f['insuranceId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['note'].isHide" [ngClass]="{'required': f['note'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"> Mô tả </label>
              <div class="ui-g-12 ui-md-12 ui-lg-8">
                <label class="d-block">
                  <textarea type="text" class="form-control" mdbInput formControlName="note"></textarea>
                  <app-control-messages [control]="f['note']"></app-control-messages>
                </label>
                <app-control-messages [control]="f['note']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [ngClass]="{ required: true }" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Có chích nộp lương
              </label>
              <div [hidden]="f['isDecrease'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <label class="i-checks vt-align-right padder-lg">
                  <input type="radio" class="form-check-input control-label" id="isDecrease" [value]="1"
                         name="isDecrease" formControlName="isDecrease">
                  <i></i>
                  {{'app.otherInformation.isPolicy.yes' | translate}}
                </label>

                <label class="i-checks vt-align-left">
                  <input type="radio" class="form-check-input control-label" id="isDecrease" [value]="0"
                         name="isDecrease" formControlName="isDecrease">
                  <i></i>
                  {{'app.otherInformation.isPolicy.no' | translate}}
                </label>
              </div>

              <label [hidden]="f['effectiveDate'].isHide" [ngClass]="{'required': f['effectiveDate'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.allowanceProcess.effectiveDate' | translate}}
              </label>
              <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['effectiveDate']" [ngClass]="{'required': f['effectiveDate'].isRequire}"
                             date-format="dd-MM-yyyy hh:mm">
                </date-picker>
                <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-9 ui-md-6 ui-lg-2">
                </div>
                <div class="ui-g-9 ui-md-9 ui-lg-8">
                  <!-- table -->
                  <p-table [scrollable]="false" styleClass="controlOverflow"
                           tableStyleClass="table controls-table table-wrapper b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col class="size-10">
                        <col class="size-10">
                        <col class="size-10">
                        <!--<col class="size-4" [hidden]="applyCount > 0 ? true : false">-->
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header" let-item let-index="rowIndex">
                      <tr>
                        <th><span>Giờ bắt đầu</span></th>
                        <th><span>Giờ kết thúc</span></th>
                        <th> Tổng thời gian:</th>
                      </tr>
                      <tr>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="time" class="form-control vt-align-left" formControlName="workFrom"
                                   placeholder="HH:mm:ss">
                            <app-control-messages [control]="f['workFrom']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['workFrom']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <input type="time" class="form-control vt-align-left" formControlName="workTo"
                                 placeholder="HH:mm:ss"/>
                        </td>

                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="totalWorkTime">
                            <app-control-messages [control]="f['totalWorkTime']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['totalWorkTime']"></app-control-messages>
                        </td>
                      </tr>
                    </ng-template>

                  </p-table>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.save' | translate"></button>
            <button type="button" (click)="processCancel()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
