<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')">
    <div class="col-md-3">
      <salary-table-tree
        (treeSelectNode)="treeSelectNode($event)"
        (onRemoveNode)="onRemoveNode($event)"
        #salaryTree
        >
      </salary-table-tree>
    </div>
    <div class="col-md-9 no-padding-left">
      <div #childContainer>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
