<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="col-md-12">
    <div class="">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.shift.history</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">

            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <!-- <dynamic-input [property]="f['periodOrganizationId']" [labelValue]="'organizationPlan.unit'"
                [labelClass]="'ui-g-12 ui-md-1 ui-lg-1 control-label vt-align-right required'"
                [inputClass]="'ui-g-6 ui-md-6 ui-lg-5'" [maxLength]='50'>
              </dynamic-input> -->
              <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <org-selector [property]="f['organizationId']" operationKey="action.view" isRequiredField="true"
                  adResourceKey="resource.organization" >
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>

              <label [hidden]="f['employeeId'].isHide" [ngClass]="{'required': f['employeeId'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right">
                {{'app.detailReport.employeeCode' | translate}}
              </label>
              <div [hidden]="f['employeeId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <data-picker [property]="f['employeeId']" systemCode="emp" operationKey="action.view"
                adResourceKey="resource.employee" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
                (onChange)="onEmployeeChange($event)"  selectField="employeeCode">
              </data-picker>
                <app-control-messages [control]="f['employeeId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': f['fromDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.fromDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['fromDate']">
                </date-picker>
                <app-control-messages [control]="f['fromDate']"></app-control-messages>
              </div>

              <label [ngClass]="{'required': f['toDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.toDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['toDate']">
                </date-picker>
                <app-control-messages [control]="f['toDate']"></app-control-messages>
              </div>
            </div>
            <!-- buttton -->
            <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
              <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
                title="{{ 'common.label.search' | translate }}">
                <i class="fa fa-search "></i>
                <span translate>common.label.search</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>


  <!-- Lập lịch phân ca -->
  <div class="col-md-12 mt-1 card-panel">
    <div class="">
      <p-table [value]="shiftLogEmploy" [paginator]="true" [scrollable]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
      [lazy]="true" [rows]="10" [totalRecords]="totalPage" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">

      <ng-template pTemplate="colgroup">
        <colgroup>
          <col class="size-1">
          <col class="size-2">
          <col class="size-4">
          <col class="size-2">
          <col class="size-2">
          <col class="size-2">
          <col class="size-2">
          <col class="size-2">
          <col class="size-2">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <td  class="vt-align-center">STT</td>
          <td  class="vt-align-center">Mã Nhân Viên</td>
          <td  class="vt-align-center">Tên Nhân viên</td>
          <td  class="vt-align-center">Trường thông tin thay đổi</td>
          <td  class="vt-align-center"  class="vt-align-center">Ngày công</td>
          <td  class="vt-align-center">Trông tin trước thay đổi </td>
          <td  class="vt-align-center">thông tin sau thay đổi</td>
          <td  class="vt-align-center">Thời gian thay đổi</td>
          <td  class="vt-align-center">Người thay đổi</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td  class="vt-align-center">{{index}}</td>
          <td  class="vt-align-center">{{item.employeeId}}</td>
          <td  class="vt-align-center">{{item.fullName}}</td>
          <td  class="vt-align-center">{{item.fieldChange}}</td>
          <td  class="vt-align-center">{{item.shiftsDate |displayDate}}</td>
          <td  class="vt-align-center">{{item.beforChange}}</td>
          <td  class="vt-align-center">{{item.afterChange}}</td>
          <td  class="vt-align-center">{{item.createDate|displayDate}}</td>
          <td  class="vt-align-center">{{item.userEdit}}</td>
        </tr>
      </ng-template>


      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="17" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <table-footer [resultList]="resultList"></table-footer>
      </ng-template>
    </p-table>

  </div>


</div>
