<div class="modal-body">
      <div class="panel panel-default">
          <form id="formSave" [formGroup]="formSave">
              <div class="panel-heading vt-relative">
                  <strong class="text-u-c">
                      <i class="fa fa-th"></i>&nbsp;
                      <span *ngIf="!formSave.get('empFamilyRelationshipId').value" translate>app.family_realtionship.addTitle</span>
                      <span *ngIf="formSave.get('empFamilyRelationshipId').value" translate>app.family_realtionship.updateTitle</span>
                  </strong>
                  <div class="vt-absolute vt-shotcut-button-in-heading">
                      <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
                  </div>
              </div>
              <div class="panel-body padding-xl ui-g">
                  <div class="ui-g-12">
                      <dynamic-input  [property]="f['fullName']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.employee.full_name'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [maxLength]='100'>
                      </dynamic-input>
                      <label [hidden]="f['relationTypeId'].isHide"
                             [ngClass]="{'required': f['relationTypeId'].isRequire}"
                             class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                             {{'app.family_realtionship.relationship' | translate}}
                            </label>
                      <div [hidden]="f['relationTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter
                          [placeHolder]="f['relationTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                          [property]="f['relationTypeId']"
                          [options]="relationList"
                          optionLabel="name"
                          optionValue="sysCatId">
                        </select-filter>
                        <app-control-messages [control]="f['relationTypeId']"></app-control-messages>
                      </div>
                  </div>
                  <div class="ui-g-12">
                    <label [hidden]="f['dateOfBirth'].isHide"
                           [ngClass]="{'required': f['dateOfBirth'].isRequire}"
                           class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                           {{'app.family_realtionship.birthYear' | translate}}
                          </label>
                    <div [hidden]="f['dateOfBirth'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['dateOfBirth']" yearRange="1900:2030" ></date-picker>
                        <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
                    </div>
                    <label [hidden]="f['gender'].isHide"
                      [ngClass]="{'required': f['gender'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
                        app.taxReduction.gender
                      </label>
                      <div [hidden]="f['gender'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                        <div class="form-check-inline">
                          <label class="i-checks" translate>
                            <input type="radio" formControlName="gender" class="form-check-input control-label" id="gender_0" [value]="1" name="gender">
                            <i></i>
                            app.taxReduction.gender.Male
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <label class="i-checks" translate>
                            <input type="radio" formControlName="gender" class="form-check-input control-label" id="gender_1" [value]="2" name="gender">
                            <i></i>
                            app.taxReduction.gender.Female
                          </label>
                        </div>
                        <app-control-messages [control]="f['gender']"></app-control-messages>
                      </div>
                  </div>
                  <div class="ui-g-12">
                      <dynamic-input  [property]="f['passportNumber']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.employee.passport_number'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='50'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['taxNumber']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.family_realtionship.tax_code'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='50'>
                      </dynamic-input>
                  </div>
                  <div class="ui-g-12">
                    <label [hidden]="f['relativeStatusId'].isHide"
                           [ngClass]="{'required': f['relativeStatusId'].isRequire}"
                           class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                        {{'app.family_realtionship.condition' | translate}}
                      </label>
                      <div [hidden]="f['relativeStatusId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <select-filter
                            [placeHolder]="f['relativeStatusId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['relativeStatusId']"
                            [options]="conditionList"
                            optionLabel="name"
                            optionValue="sysCatId">
                          </select-filter>
                          <app-control-messages [control]="f['relativeStatusId']"></app-control-messages>
                      </div>
                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.family_realtionship.relationshipNow' | translate}}</label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" name="currentRelated" [value]="1" formControlName="currentRelated" />
                        <i></i>
                      </label>
                      <app-control-messages [control]="f['currentRelated']"></app-control-messages>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <label [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >{{'app.employee.nation' | translate}}</label>
                      <div [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                          <select-filter placeHolder="common.label.cboSelect" [property]="f['nationId']" [options]="nationList" optionLabel="name" optionValue="nationId"></select-filter>
                          <app-control-messages [control]="f['nationId']"></app-control-messages>
                      </div>
                    <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.family_realtionship.isLivingAbroad' | translate}}</label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" name="isLivingAbroad" [value]="1" formControlName="isLivingAbroad" />
                        <i></i>
                    </label>
                    <app-control-messages [control]="f['isLivingAbroad']"></app-control-messages>
                    </div>
                  </div>
                  <div class="ui-g-12">
                      <dynamic-input  [property]="f['permanentResidence']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.family_realtionship.permanentResidence'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='200'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['currentResidence']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.employee.current_address'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='200'>
                      </dynamic-input>
                  </div>
                  <div class="ui-g-12">
                      <dynamic-input  [property]="f['job']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.family_realtionship.job'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='200'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['workOrganization']"
                                      [objectId]="f['empFamilyRelationshipId'].value"
                                      [labelValue]="'app.family_realtionship.workOrganization'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='200'>
                      </dynamic-input>
                  </div>
                  <div class="ui-g-12">
                    <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.family_realtionship.member' | translate}}</label>
                    <div class="ui-g-12 ui-md-6 ui-lg-4">
                      <div class="form-check-inline">
                        <label class="i-checks">
                          <input type="radio"class="form-check-input control-label" id="unionParty" [value]="0" name="unionParty" formControlName="unionParty">
                          <i></i>
                          {{'app.family_realtionship.unionParty' | translate}}
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="i-checks">
                          <input type="radio"class="form-check-input control-label" id="universityParty" [value]="1" name="unionParty" formControlName="unionParty">
                          <i></i>
                          {{'app.family_realtionship.universityParty' | translate}}
                        </label>
                      </div>
                      <app-control-messages [control]="f['unionParty']"></app-control-messages>
                    </div>
                    <label [hidden]="f['policyType'].isHide"
                           [ngClass]="{'required': f['policyType'].isRequire}"
                           class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                           {{'app.family_realtionship.policyType' | translate}}
                    </label>
                    <div [hidden]="f['policyType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                      <select-filter
                      [placeHolder]="f['policyType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                        [property]="f['policyType']"
                        [options]="policyTypeList"
                        optionLabel="name"
                        optionValue="sysCatId">
                      </select-filter>
                      <app-control-messages [control]="f['policyType']"></app-control-messages>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <dynamic-input  [property]="f['description']"
                                    [objectId]="f['empFamilyRelationshipId'].value"
                                    [labelValue]="'app.sys_property.description'"
                                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                                    [type]="'text-area'"
                                    [maxLength]='2000'>
                    </dynamic-input>
                  </div>
                  <div class="ui-g-12">
                    <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.empHealthInsurance.attachFile' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-6 ui-lg-3">
                      <multil-file-choser
                      [property]="f['file']"
                      validMaxSize="10"
                      [validType]="FILE_TYPE_PERSONAL_UPLOAD">
                    </multil-file-choser>
                    <app-control-messages [control]="f['file']"></app-control-messages>
                    </div>
                  </div>
              </div>
              <div class="panel-footer vt-area-button">
                  <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                  <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
              </div>
          </form>
      </div>
</div>

