<system-intro
  screenCode="PERSONAL_INFORMATION"
></system-intro>
<form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <span translate>app.employee-info.listTitle</span>
      </strong>
        </div>
        <div class="panel-body ui-g personal-information-body">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['lastName']"
              [objectId]="f['employeeId'].value"
              [labelValue]="'app.employee-info.lastName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
              [maxLength]= "20"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input
              [property]="f['middleName']"
              [objectId]="f['employeeId'].value"
              [labelValue]="'app.employee-info.middleName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
              [maxLength]= "20">
            </dynamic-input>
            <dynamic-input
              [property]="f['firstName']"
              [objectId]="f['employeeId'].value"
              [labelValue]="'app.employee-info.firstName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
              [maxLength]= "20">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['dateOfBirth'].isHide"
                    [ngClass]="{'required': f['dateOfBirth'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                app.employee-info.dateOfBirth
              </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <date-picker [property]="f['dateOfBirth']" yearRange="1919:2120"></date-picker>
              <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
            </div>
            <label [hidden]="f['nationId'].isHide"
              [ngClass]="{'required': f['nationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right requỉed">
              {{'app.employee-info.nationId' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <select-filter
                [placeHolder]="f['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['nationId']"
                (onChange)="onChangeNation($event)"
                [options]="nationList"
                optionLabel="name"
                optionValue="nationId">
              </select-filter>
              <app-control-messages [control]="f['nationId']"></app-control-messages>
            </div>
            <dynamic-input  [property]="f['otherEmail']"
              [labelValue]="'app.employee-info.recruitmentEmail'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
              [objectId]="f['employeeId'].value"
              [maxLength]='200'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['pidNumber'].isHide" *ngIf="checkNation === true" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.pidNumber
            </label>
            <label [hidden]="f['pidNumber'].isHide" *ngIf="checkNation === false" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required" translate>
              app.employee-info.pidNumber
            </label>
            <div [hidden]="f['pidNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
              <input type="text" id="pidNumber" name="pidNumber" class="form-control" formControlName="pidNumber" maxlength="20" />
              <app-control-messages [control]="f['pidNumber']"></app-control-messages>
            </div>
              <label [hidden]="f['pidIssuedDate'].isHide"
                      [ngClass]="{'required': f['pidIssuedDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                app.employee-info.pidIssuedDate
              </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <date-picker [property]="f['pidIssuedDate']"></date-picker>
            </div>
            <dynamic-input
              [property]="f['pidIssuedPlace']"
              [labelValue]="'app.employee-info.pidIssuedPlace'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
              [maxLength]='200'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['passportNumber']"
                            [labelValue]="'app.employee-info.passportNumber'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-2 vt-align-right'"
                            [maxLength]='50'>
            </dynamic-input>
            <label [hidden]="f['passportIssueDate'].isHide"
                    [ngClass]="{'required': f['passportIssueDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                app.employee-info.passportIssueDate
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <date-picker [property]="f['passportIssueDate']"></date-picker>
            </div>
            <label [hidden]="f['gender'].isHide"
                    [ngClass]="{'required': f['gender'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.employee-info.gender' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="male" [value]="1" name="gender"
                    formControlName="gender">
                    <i></i>
                    {{'app.employee-info.male' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="female" [value]="2" name="gender"
                    formControlName="gender">
                    <i></i>
                    {{'app.employee-info.female' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['gender']"></app-control-messages>
            </div>
          </div>
        </div>
        <hr />
        <div class="panel-body personal-information-body ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['placeOfBirth'].isHide"
              [ngClass]="{'required': f['placeOfBirth'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.placeOfBirth
            </label>
            <div [hidden]="f['placeOfBirth'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <location-picker [property]="f['placeOfBirth']" [nation]="f['nationId'].value" [maxLength]="500"></location-picker>
              <!-- <mobile-number-picker [property]="f['placeOfBirth']" [nation]="f['nationId'].value" [maxLength]="500"></mobile-number-picker> -->
              <app-control-messages [control]="f['placeOfBirth']"></app-control-messages>
            </div>

            <label [hidden]="f['currentAddress'].isHide"
              [ngClass]="{'required': f['currentAddress'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.currentAddress
            </label>
            <div [hidden]="f['currentAddress'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <location-picker [property]="f['currentAddress']" [nation]="f['nationId'].value" [maxLength]="500"></location-picker>
              <app-control-messages [control]="f['currentAddress']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['permanentAddress'].isHide"
              [ngClass]="{'required': f['permanentAddress'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.permanentAddress
            </label>
            <div [hidden]="f['permanentAddress'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <location-picker [property]="f['permanentAddress']" [nation]="f['nationId'].value" [maxLength]="500"></location-picker>
              <app-control-messages [control]="f['permanentAddress']"></app-control-messages>
            </div>

            <label [hidden]="f['origin'].isHide"
              [ngClass]="{'required': f['origin'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.origin
            </label>
            <div [hidden]="f['origin'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <location-picker [property]="f['origin']" [nation]="f['nationId'].value" [maxLength]="500"></location-picker>
              <app-control-messages [control]="f['origin']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['religionId'].isHide"
                    [ngClass]="{'required': f['religionId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.religionId
            </label>
            <div [hidden]="f['religionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
              <select-filter
                [property]="f['religionId']"
                [placeHolder]="f['religionId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [options]="religionList"
                optionLabel="label"
                optionValue="value" >
              </select-filter>
              <app-control-messages [control]="f['religionId']"></app-control-messages>
            </div>
            <label [hidden]="f['ethnicId'].isHide"
                    [ngClass]="{'required': f['ethnicId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right" translate>
              app.employee-info.ethnicId
            </label>
            <div [hidden]="f['ethnicId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
              <select-filter
                [property]="f['ethnicId']"
                [placeHolder]="f['ethnicId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [options]="ethnicList"
                optionLabel="label"
                optionValue="value">
              </select-filter>
              <app-control-messages [control]="f['ethnicId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['mobileNumber'].isHide"
                    [ngClass]="{'required': f['mobileNumber'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee-info.mobileNumber' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 vt-relative">
              <int-phone-prefix
                formControlName="mobileNumber"
                [maxLength]='50'>
              </int-phone-prefix>
              <app-control-messages [control]="f['mobileNumber']"></app-control-messages>
              <div class="control-action">
                <button type="button" [innerHTML]="'common.icon.plus' | translate" class="btn-icon plus" title="{{'common.label.add' | translate}} {{'app.employee-info.mobileNumber2' | translate}}"
                  (click)="addMobileNumber2()" [hidden]="columns.length !== 0">
                </button>
              </div>
            </div>
            <label [hidden]="f['mobileNumber2'].isHide" [ngClass]="{'required': f['mobileNumber2'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              {{'app.employee-info.mobileNumber2' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 vt-relative" *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              <int-phone-prefix
                id="mobileNumber2"
                formControlName="mobileNumber2"
                [maxLength]='50'>
              </int-phone-prefix>
              <app-control-messages [control]="f['mobileNumber2']"></app-control-messages>
              <div class="control-action">
                <button type="button" [innerHTML]="'common.icon.plus' | translate" class="btn-icon plus" title="{{'common.label.add' | translate}} {{'app.employee-info.mobileNumber3' | translate}}"
                  (click)="addMobileNumber3()" [hidden]="columns.length === 0 || columns1.length === 1" [disabled]="columns1.length === 1">
                </button>
                <button type="button" [innerHTML]="'common.icon.minus' | translate" class="btn-icon minus" title="{{'common.label.delete' | translate}} {{'app.employee-info.mobileNumber2' | translate}}"
                  (click)="removeMobileNumber2()" [hidden]="columns.length === 0 || columns1.length === 1" [disabled]="columns.length === 0">
                </button>
              </div>
            </div>
            <label [hidden]="f['mobileNumber3'].isHide" [ngClass]="{'required': f['mobileNumber3'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" *ngFor="let col of columns1; let i=index" [@animation]="'visible'">
              {{'app.employee-info.mobileNumber3' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-2 vt-relative" *ngFor="let col of columns1; let i=index" [@animation]="'visible'">
              <int-phone-prefix
                id="mobileNumber3"
                formControlName="mobileNumber3"
                [maxLength]='50'>
              </int-phone-prefix>
              <app-control-messages [control]="f['mobileNumber3']"></app-control-messages>
              <div class="control-action">
                <button type="button" [innerHTML]="'common.icon.minus' | translate" class="btn-icon minus" title="{{'common.label.delete' | translate}} {{'app.employee-info.mobileNumber3' | translate}}"
                  (click)="removeMobileNumber3()" [hidden]="columns1.length !== 1" [disabled]="columns1.length === 0">
                </button>
              </div>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['maritalStatus'].isHide" [ngClass]="{'required': f['maritalStatus'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.employee-info.maritalStatus
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="maritalStatus" formControlName="maritalStatus">
                  <i></i>
                  {{'app.employee-info.single' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="married" [value]="2" name="maritalStatus"
                    formControlName="maritalStatus">
                  <i></i>
                  {{'app.employee-info.married' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="disvorce" [value]="3" name="maritalStatus"
                    formControlName="maritalStatus">
                  <i></i>
                  {{'app.employee-info.divorce' | translate}}
                </label>
              </div>
            </div>
            <app-control-messages [control]="f['maritalStatus']"></app-control-messages>
          </div>
        </div>
        <hr />
        <div class="panel-body personal-information-body ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['recruitTypeId'].isHide"
                    [ngClass]="{'required': f['recruitTypeId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.employee-info.recruitType' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <select-filter
              [placeHolder]="f['recruitTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['recruitTypeId']"
                [options]="recuitList"
                optionLabel="name"
                optionValue="sysCatId"
                [disabled]="true">
              </select-filter>
              <app-control-messages [control]="f['recruitTypeId']"></app-control-messages>
            </div>
            <label [hidden]="f['status'].isHide"
            [ngClass]="{'required': f['status'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">{{'app.employee-info.status' | translate}}</label>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
              <select-filter
                [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['status']"
                [options]="status"
                optionLabel="label"
                optionValue="id"
                [disabled]="true"
                [isMultiLanguage]=true>
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button" *ngIf="hasPermission('action.update')">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        </div>
    </div>
</form>
