<div class="modal-body">
  <form id="frmSaveOrgPlan">
      <div class="panel panel-default">
          <form id="formSave" [formGroup]="formSave" spellcheck="false">
            <div class="panel-heading vt-relative">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span *ngIf="!formSave.get('orgPlanId').value"> {{'organizationPlan.addTitle' | translate}} </span>
                <span *ngIf="formSave.get('orgPlanId').value"> {{'organizationPlan.editTitle' | translate}} </span>
              </strong>
              <div class="vt-absolute vt-shotcut-button-in-heading">
                <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                  <i class="fa fa-times"></i>
                </span>
              </div>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12">
                <dynamic-input
                  [property]="f['planName']"
                  [objectId]="f['orgPlanId'].value"
                  [labelValue]="'organizationPlan.name'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                  [maxLength]= "200"
                  [autofocus]="'autofocus'">
                </dynamic-input>
                <label [hidden]="f['orgParentId'].isHide"
                       [ngClass]="{'required': f['orgParentId'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'organizationPlan.unit' | translate}}
                </label>
                <div [hidden]="f['orgParentId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <org-selector
                    [property]="f['orgParentId']"
                    operationKey="action.insert"
                    adResourceKey="resource.organization"
                    isRequiredField="true"
                    [disabled]="isCreatedDraffTree ? true : ''">
                  </org-selector>
                  <app-control-messages [control]="f['orgParentId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['type'].isHide"
                       [ngClass]="{'required': f['type'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'organizationPlan.type' | translate}}
                </label>
                <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['type']"
                    [options]="typeList"
                    optionLabel="label"
                    optionValue="id"
                    isRequiredField="true"
                    [isMultiLanguage]="true"
                    [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [disabled]="isCreatedDraffTree ? true : ''"
                    >
                  </select-filter>
                  <app-control-messages [control]="f['type']"></app-control-messages>
                </div>
                <label [hidden]="f['effectiveDate'].isHide"
                       [ngClass]="{'required': f['effectiveDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'organizationPlan.effectiveDate' | translate}}
                </label>
                <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="f['effectiveDate']">
                  </date-picker>
                  <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="panel-footer vt-area-button">
              <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.save' | translate"><i class="fa fa-save"></i></button>
              <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
            </div>
        </form>
      </div>
  </form>
</div>
