<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <long-leave-process-list></long-leave-process-list>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>