<div class="modal-body">
    <form id="frmSaveLabourContractType">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formLabourContractType">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formLabourContractType.get('labourContractTypeId').value" translate>app.labourContractType.addTitle</span>
                        <span *ngIf="formLabourContractType.get('labourContractTypeId').value" translate>app.labourContractType.updateTitle</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></span>
                    </div>
                </div>
                <div class="panel-body padding-xl ui-g">
                  <div class="ui-g-12">
                    <dynamic-input  [property]="f['code']"
                                    [objectId]="f['labourContractTypeId'].value"
                                    [labelValue]="'common.form.code'"
                                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                    [autofocus]="'autofocus'"
                                    [disabled]= "formLabourContractType.get('labourContractTypeId').value? true: false"
                                    [maxLength]="50">
                    </dynamic-input>
                    <dynamic-input  [property]="f['name']"
                                    [objectId]="f['labourContractTypeId'].value"
                                    [labelValue]="'common.form.name'"
                                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                    [autofocus]="'autofocus'"
                                    [maxLength]="200">
                    </dynamic-input>
                  </div>
                  <div class="ui-g-12" >
                    <label [hidden]="f['status'].isHide"
                           [ngClass]="{'required': f['status'].isRequire}"
                           class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                      {{'app.labourContractType.status' | translate}}
                    </label>
                    <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" name="status" [value]="1" formControlName="status" />
                        <i></i>
                      </label>
                    </div>
                    <app-control-messages [control]="f['status']"></app-control-messages>
                  </div>
                  <div class="ui-g-12">
                    <!-- <p-tabView class="paddingZeroTab">
                      <p-tabPanel [header]="'app.labourContractType.labourContractDetail' | translate"> -->
                        <div class="panel panel-default">
                          <div class="panel-heading vt-relative color-panel">
                            <strong class="text-u-c">
                              <i class="fa fa-th"></i> <span translate> app.labourContractType.labourContractDetail</span>
                            </strong>
                          </div>
                          <div class="panel-body panel-padding">
                            <p-table [value]="formlabourContractDetail.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
                              <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                  <col class="size-5">
                                  <col class="size-3">
                                  <col class="size-1">
                                </colgroup>
                              </ng-template>
                              <ng-template pTemplate="header">
                                <tr>
                                  <th translate><span [ngClass]="{'required': formlabourContractDetail.controls.length > 0 && formlabourContractDetail.controls[0].controls.name.isRequire}">app.labourContractType.labourContractDetailName</span></th>
                                  <th translate><span [ngClass]="{'required': formlabourContractDetail.controls.length > 0 && formlabourContractDetail.controls[0].controls.effectiveDuration.isRequire}">app.labourContractType.labourContractDetailTime</span></th>
                                  <th translate>app.labourContractType.labourContractDetailAction</th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-item let-index="rowIndex">
                                <tr [formGroup]="item" >
                                    <td>
                                      <dynamic-input [property]="item.controls.name" [maxLength]='200' [objectId]="item.controls.labourContractDetailId.value"></dynamic-input>
                                    </td>
                                    <td>
                                        <dynamic-input [property]="item.controls.effectiveDuration" [maxLength]='2'></dynamic-input>
                                    </td>
                                    <td class="vt-align-center">
                                        <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeLabourContractDetail(index, item)" [innerHTML]="'common.icon.minus' | translate">
                                        </button>
                                    </td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div>
                          <div class="panel-footer vt-relative">
                            <div class="vt-shotcut-button-in-heading vt-align-right">
                                <button type="button" class="plus btn btn-sm btn-info add-row" (click)="addLabourContractDetail(item)" [innerHTML]="'app.empIncomeTax.plus' | translate">
                                </button>
                            </div>
                          </div>
                        </div>
                      <!-- </p-tabPanel>
                    </p-tabView> -->
                  </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
