<div class="modal-body">
  <form id="frmSaveEmpRewardProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empRewardProcessId').value" translate> app.empRewardProcess.addTitle</span>
          <span *ngIf="formSave.get('empRewardProcessId').value" translate> app.empRewardProcess.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['decissionNumber']"
                          [objectId]="f['empRewardProcessId'].value"
                          [labelValue]="'app.empRewardProcess.decissionNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='200'>
          </dynamic-input>
          <label [hidden]="f['organizationId'].isHide"
                 [ngClass]="{'required': f['organizationId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.organizationId' | translate}}
          </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.workProcess"
              isRequiredField = "true">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['signedDate'].isHide"
                 [ngClass]="{'required': f['signedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empRewardProcess.signedDate' | translate}}
          </label>
          <div [hidden]="f['signedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['signedDate']"></date-picker>
            <app-control-messages [control]="f['signedDate']"></app-control-messages>
          </div>
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
            {{'app.empRewardProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['rewardTypeId'].isHide"
                 [ngClass]="{'required': f['rewardTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empRewardProcess.rewardTypeId' | translate}}
          </label>
          <div [hidden]="f['rewardTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['rewardTypeId']"
              [options]="rewardTypeList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['rewardTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['rewardTypeId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['amountOfMoney']"
                          [objectId]="f['empRewardProcessId'].value"
                          [labelValue]="'app.empRewardProcess.amountOfMoney'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='16'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['rewardFormId'].isHide"
                 [ngClass]="{'required': f['rewardFormId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
            {{'app.empRewardProcess.rewardFormId' | translate}}
          </label>
          <div [hidden]="f['rewardFormId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['rewardFormId']"
              [options]="rewardFormList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['rewardFormId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['rewardFormId']"></app-control-messages>
          </div>
          <label [hidden]="f['rewardTitleId'].isHide"
                 [ngClass]="{'required': f['rewardTitleId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empRewardProcess.rewardTitleId' | translate}}
          </label>
          <div [hidden]="f['rewardTitleId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['rewardTitleId']"
              [options]="rewardHonorList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['rewardTitleId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['rewardTitleId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['reason']"
                          [objectId]="f['empRewardProcessId'].value"
                          [labelValue]="'app.empRewardProcess.reason'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='1000'
                          [rows]="2">
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empRewardProcess.fileAttachmentId' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD"
            ></multil-file-choser>
          </div>
        </div>
    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
