<div class="app-footer wrapper b-t bg-light">
  <span class="pull-right"><a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
  &copy; Viettel Software 2018.
</div>
