<div class="content">
  <div *ngIf="!hasPermission('action.export')" translate>
    common.haveNoPermission
  </div>
  <div *ngIf="hasPermission('action.export')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.detail_report_title' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                  [ngClass]="{'required': f['organizationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'evaluation.employeeKi.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.empTimekeeping"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['listWorkdayTypeCode'].isHide"
                  [ngClass]="{'required': f['listWorkdayTypeCode'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.detailReports.attendanceCode' | translate}}
            </label>
            <div [hidden]="f['listWorkdayTypeCode'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-select-filter [property]="f['listWorkdayTypeCode']"
                                   [options]="attendanceCodeList"
                                   optionLabel="codeName"
                                   optionValue="code"
                                   [placeHolder]="f['listWorkdayTypeCode'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
              </multi-select-filter>
              <app-control-messages [control]="f['listWorkdayTypeCode']"></app-control-messages>
            </div>
            <label [hidden]="f['employeeId'].isHide"
                  [ngClass]="{'required': f['employeeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.detailReport.employeeCode' | translate}}
            </label>
            <div [hidden]="f['employeeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker
                [property]="f['employeeId']"
                systemCode="emp"
                operationKey="action.view"
                adResourceKey="resource.empTimekeeping"
                objectBO="EmployeeBO"
                codeField="employeeCode"
                nameField="fullName"
                selectField="employeeId">
              </data-picker>
              <app-control-messages [control]="f['employeeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['startDate'].isHide"
                  [ngClass]="{'required': f['startDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.detailReport.fromDate' | translate}}
            </label>
            <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['startDate']">
              </date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label [hidden]="f['endDate'].isHide"
                  [ngClass]="{'required': f['endDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.detailReport.toDate' | translate}}
            </label>
            <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['endDate']">
              </date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="button" (click)="processExportDetail()" class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate"></button>
        </div>
      </form>
    </div>
