<div class="content">
  <div *ngIf="!hasPermission('action.view') || !hasPermission('action.export')" translate>
    common.haveNoPermission
  </div>
  <div *ngIf="hasPermission('action.export')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.summary_report_title' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['startDate'].isHide"
                  [ngClass]="{'required': f['startDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.fromDate' | translate}}
            </label>
            <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['startDate']">
              </date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label [hidden]="f['endDate'].isHide"
                  [ngClass]="{'required': f['endDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.payrolls.toDate' | translate}}
            </label>
            <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['endDate']">
              </date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                  [ngClass]="{'required': f['organizationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.empTimekeeping"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
              <dynamic-input  [property]="f['employeeCode']"
                [objectId]="f['employeeCode'].value"
                [autofocus]="'autofocus'"
                [labelValue]="'app.employee.employee_code'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'">
              </dynamic-input>
               <div class ="ui-g-12 ui-md-6 ui-lg-3"  style="margin-left: 67%;">
                  <p style="font-style: italic" >{{'app.empTimekeeping.explanation' | translate}}</p>
              </div>
          </div>
          </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearchTimekeeping()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
          <button type="button" (click)="processExportSummary()" class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate"></button>
        </div>
      </form>
    </div>

    <div class="panel panel-default timkeepingTable" *ngIf="resultList.data">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.empTimekeeping.listTitle' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table clearfix">
        <div style="float:left; width:340px;">
          <p-table #ptable [value]="resultList.groupItem" [paginator]="resultList.groupItem && resultList.groupItem.length"
          (onLazyLoad)="processSearchTimekeeping($event)" [totalRecords]="resultList.recordsTotal"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="30"
          [responsive]="true" tableStyleClass="table table-wrapper b-t format-tb">
            <ng-template pTemplate="colgroup" let-columns>
              <col style="width:50px;">
              <col style="width:90px;">
              <col style="width:200px;">
            </ng-template>
            <ng-template pTemplate="header">
              <tr style="height:71px !important;">
                <th translate>common.table.index</th>
                <th translate>app.employee.employee_code</th>
                <th translate>app.employee.full_name</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-group let-indexGroup="rowIndex+1">
              <tr class="departmentRow">
                <td class="vt-align-left" colspan="3">
                  <span class="td-name">{{group[0].organizationName}}</span>
                </td>
              </tr>
              <tr *ngFor="let item of group">
                <td class="vt-align-center">{{item.index}}</td>
                <td class="vt-align-center">{{item.employeeCode}}</td>
                <td class="vt-align-left"><span class="td-name">{{item.fullName}}</span></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
        <div class="keepingTable" style="float:left; width:calc(100% - 340px); overflow-x:scroll; overflow-y:visible;">
          <p-table #ptable2 [value]="resultList.groupItem"
            [responsive]="false" tableStyleClass="table table-wrapper tableLayoutFixed b-t b-b">
            <ng-template pTemplate="header">
              <tr style="height:36px !important;">
                <th *ngFor="let header of listHeaderDate" class="vt-align-center" [ngStyle]="{'width': 60*header.length + 'px'}" [attr.colspan]="header.length">{{moment(header[0]).format('MM/YYYY')}}</th>
              </tr>
              <tr style="height:35px !important;" >
                <th *ngFor="let item of listDateSearch" style="width: 60px" [title]="moment(item).format('DD/MM/YYYY')"  [ngClass]="{'color-danger': ['0','6'].indexOf(moment(item).format('d')) >= 0 }">
                  {{moment(item).format('DD') }}<sub>({{moment(item).format('dd')}})</sub>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-group let-indexGroup="rowIndex+1">
              <tr class="departmentRow">
                <td class="vt-align-left" [attr.colspan]="listDateSearch.length">&nbsp;</td>
              </tr>
              <tr *ngFor="let item of group">
                <td *ngFor="let date of listDateSearch; let i = index;" class="et-td" style="width: 60px; text-align: left;" [title]="item.timkeepingStr[date.toDate().getTime()]">
                  {{item.timkeepingStr[date.toDate().getTime()]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
