<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')">
    <div class="col-md-3">
      <position-career-selector
        (treeSelectNode)="positionSearch.searchByNode($event)"
        (treeNewNode)="positionSearch.prepareSaveOrUpdate($event)"
        #positionTree
        (onRemoveNode)="positionSearch.processDelete($event)"
        (onDroppableNode) = "positionSearch.droppableNode($event)"
      >
      </position-career-selector>
    </div>
    <div class="col-md-9 no-padding-left">
      <position-career-search #positionSearch
        (onReloadTree) = "positionTree.actionInitAjax()"
      ></position-career-search>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
