<div class="content">
 <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
    <div class="col-md-12">
      <work-schedule-search></work-schedule-search>
    </div>
  <!--</div>-->
 <!-- <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>-->
</div>
