<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span> {{'organizationPlan.cloneTitle' | translate }} </span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g" style="width: 100%">
          <div class="ui-g-12 ui-md-7 ui-lg-7">
            <div class="ui-g-12">
              <label [hidden]="f['organizationId'].isHide"
                     [ngClass]="{'required': f['organizationId'].isRequire}"
                     class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-9 ui-lg-9">
                <org-selector
                  [property]="f['organizationId']"
                  operationKey="action.insert"
                  adResourceKey="resource.organization"
                  (onChange)="tree.setRootNode($event.organizationId)"
                  isRequiredField="true"
                  [checkPermission]="false">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['cloneType'].isHide"
                     [ngClass]="{'required': f['cloneType'].isRequire}"
                     class="ui-g-12 ui-md-3 ui-lg-3 control-label vt-align-right required">
                {{'organizationPlan.cloneType' | translate}}
              </label>
              <div [hidden]="f['cloneType'].isHide" class="ui-g-12 ui-md-9 ui-lg-9">
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio" formControlName="cloneType" [value]="1" class="form-check-input control-label" id="radioPart" name="cloneType" />
                    <i></i> {{'organizationPlan.cloneTypeAPart' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio" formControlName="cloneType" [value]="2" class="form-check-input control-label" id="radioFull" name="cloneType" />
                    <i></i> {{'organizationPlan.cloneTypeFull' | translate}}
                  </label>
                </div>
                <app-control-messages [control]="f['cloneType']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-5 ui-lg-5">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-12 ui-lg-12">
                <!-- insert nav menu here -->
                <org-tree
                  #tree
                  operationKey="action.view"
                  adResourceKey="resource.organization"
                  [rootId]="f['organizationId'].value"
                  height="500">
                </org-tree>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="button" (click)="save()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
