<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="row">
      <div class="col-md-3">
        <!-- nav menu -->
        <org-tree
          operationKey="action.view"
          adResourceKey="resource.organization"
          (treeSelectNode)="treeSelectNode($event)"
          height="735"
          (nodeContextMenuBuilder)="nodeContextMenuBuilder($event)"
          (nodeContextMenuBuilder2)="nodeContextMenuBuilder2($event)"
          #orgTree
        >
        </org-tree>
      </div>
      <div class="col-md-9 no-padding-left">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
