<div id="searchPage">
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'app.employee_manager.listTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col class="size-7">
              <col class="size-10">
              <!-- <col class="size-11"> -->
              <col class="size-8">
              <col class="size-8">
              <col class="size-8">
              <col class="size-8">
              <col class="size-8">
              <col class="size-7">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf="hasPermission('action.update')">
                {{'common.button.table.hEdit' | translate}}
              </th>
              <th *ngIf="hasPermission('action.delete')">
                {{'common.button.table.hDelete' | translate}}
              </th>
              <th [pSortableColumn]="'empFileType'">
                {{'app.employee_manager.profileType' | translate}}
                <p-sortIcon [field]="'empFileType'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'organizationName'">
                {{'app.employee_manager.orgManagerProfile' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'toOrganizationName'">
                {{'app.employee_manager.isActive' | translate}}
                <p-sortIcon [field]="'toOrganizationName'"></p-sortIcon>
              </th>
              <!-- <th>
                {{'app.employee_manager.infoDetailFile' | translate}}
              </th> -->
              <th>
                {{'app.employee_manager.attachFile' | translate}}
              </th>
              <th [pSortableColumn]="'fixedEmpFile'">
                {{'app.employee_manager.fileHard' | translate}}
                <p-sortIcon [field]="'fixedEmpFile'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'status'">
                {{'app.employee_manager.status' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'statusProcess'">
                {{'app.employee_manager.empFileStatus' | translate}}
                <p-sortIcon [field]="'statusProcess'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                {{'app.employee_manager.note' | translate}}
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item.empFileId)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-left">{{item.empFileType}}</td>
              <td class="vt-align-left">{{item.organizationName}}</td>
              <td class="vt-align-left">{{item.toOrganizationName}}</td>
              <!-- <td class="vt-align-center"></td> -->
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
              <td class="vt-align-left" translate>
                <span class="label-status info" *ngIf="item.fixedEmpFile==1">app.empFile.saved</span>
                <span class="label-status" *ngIf="item.fixedEmpFile==2">app.empFile.notSaved</span>
              </td>
              <td class="vt-align-left" translate>
                <span class="label-status" *ngIf="item.status==1">app.empFile.pendingForApproval</span>
                <span class="label-status info" *ngIf="item.status==2">app.empFile.approved</span>
                <span class="label-status danger" *ngIf="item.status==3">app.empFile.rejected</span>
                <span class="label-status info" *ngIf="item.status==4">app.empFile.acceptHardCopy</span>
                <span class="label-status info" *ngIf="item.status==5">app.empFile.hasBeenStored</span>
                <span class="label-status warning" *ngIf="item.status==6">app.empFile.individualHandover</span>
              </td>
              <td class="vt-align-center">{{item.statusProcess}}</td>
              <td class="vt-align-left">{{item.description}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
