<div class="panel-default">
  <form id="formSync" [formGroup]="formSync">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i> {{'payroll.paymentSync.title' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <label [hidden]="f['paymentMonth'].isHide" [ngClass]="{'required': f['paymentMonth'].isRequire}"
          class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'payroll.paymentSync.paymentMonth' | translate}}
        </label>
        <div [hidden]="f['paymentMonth'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['paymentMonth']" [view]="'month'"></date-picker>
          <app-control-messages [control]="f['paymentMonth']"></app-control-messages>
        </div>
        <label [hidden]="f['paymentItemId'].isHide" [ngClass]="{'required': f['paymentItemId'].isRequire}"
          class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'payroll.taxSync.income' | translate}}
        </label>
        <div [hidden]="f['paymentItemId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter [property]="f['paymentItemId']" [options]="listPaymentItem" optionLabel="name" optionValue="id"
            [placeHolder]="f['paymentItemId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
          </select-filter>
          <app-control-messages [control]="f['paymentItemId']"></app-control-messages>
        </div>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processPaymentSync()" class="btn btn-sm btn-info"
        [innerHTML]="'payroll.paymentSync.processSync' | translate"></button>
      <button type="submit" (click)="cancelPaymentSync()" class="btn btn-sm btn-danger"
        [innerHTML]="'payroll.paymentSync.cancel' | translate"></button>
      <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
        [innerHTML]="'common.button.cancel' | translate"></button>
    </div>
  </form>
</div>