<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.empHealthInsurance.listTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true"
              (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
              [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <!-- <col class="size-1"> -->
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-6">
              <col class="size-5">
              <col class="size-5">
              <col class="size-5">
              <col class="size-10">
              <col class="size-12">
              <!-- <col class="size-3"> -->
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <!-- <th  translate>common.button.table.viewDetail</th> -->
              <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
              <th pSortableColumn="insuranceNumber" translate>app.empHealthInsurance.insuranceNumber
                <p-sortIcon field="insuranceNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="issuedDate" translate>app.empHealthInsurance.issuedDate
                <p-sortIcon field="issuedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.empHealthInsurance.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate>app.empHealthInsurance.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="description" translate>app.empHealthInsurance.description
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th translate>app.empHealthInsurance.attachFile
              </th>
              <!-- <th pSortableColumn="status" translate>app.empHealthInsurance.status
                <p-sortIcon field="status"></p-sortIcon>
              </th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <!-- <td class="vt-align-center">
                <label class="i-checks">
                    <input type="radio" class="form-check-input control-label" id="viewDetail" [value]="1" name="viewDetail" >
                    <i></i>
                </label>
              </td> -->
              <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDelete(item.empHealthInsuranceId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
              <!-- <td class="vt-align-left"  >{{item.insuranceForm}}</td> -->
              <td class="vt-align-left">{{item.insuranceNumber}}</td>
              <td class="vt-align-center">{{item.issuedDate | displayDate}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-left">{{item.description}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
              <!-- <td class="vt-align-center">{{item.status}}</td> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
