<div class="content">
    <div *ngIf="hasPermission('action.view')">
        <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
                <div class="panel-heading">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <dynamic-input [property]="f['search']"
                            [labelValue]="'common.label.search'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-4'" [maxLength]="200" [autofocus]="'autofocus'">
                        </dynamic-input>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
                    <button type="submit" (click)="processExport()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.label.export' | translate"><i class="fa fa-download"></i></button>
                    <button type="button" (click)="prepareImport()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.button.import' | translate"><i class="fa fa-upload"></i></button>
                </div>
            </form>
        </div>
        <!-- Hien thi bang -->
        <div id="listArea">
            <div class="panel panel-default">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.orgMapping.listTitle' | translate}}
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <div *ngIf="hasPermission('action.insert')">
                            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
                                [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <p-table #ptable [scrollable]="true" [value]="resultList.data"
                        [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
                        [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col class="size-1">
                                <col class="size-1" *ngIf="hasPermission('action.update')">
                                <col class="size-1" *ngIf="hasPermission('action.delete')">
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                                <col class="size-7">
                                <col class="size-7">
                                <col class="size-7">
                                <col class="size-7">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th translate>common.table.index</th>
                                <th *ngIf="hasPermission('action.update')">{{'app.payrolls.period.edit' | translate}}
                                </th>
                                <th *ngIf="hasPermission('action.delete')">{{'app.payrolls.period.delete' | translate}}
                                </th>
                                <th pSortableColumn="organnizationName" translate>app.payrolls.orgMapping.organnizationName
                                    <p-sortIcon field="organnizationName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="osOrgannizationName" translate>app.payrolls.orgMapping.osOrgannizationName
                                    <p-sortIcon field="osOrgannizationName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="shopCode" translate>app.payrolls.orgMapping.shopCode
                                    <p-sortIcon field="shopCode"></p-sortIcon>
                                </th>
                                <th pSortableColumn="erpShopCode" translate>app.payrolls.orgMapping.erpShopCode
                                    <p-sortIcon field="erpShopCode"></p-sortIcon>
                                </th>
                                <th pSortableColumn="marketLocation" translate>app.payrolls.orgMapping.marketLocation
                                    <p-sortIcon field="marketLocation"></p-sortIcon>
                                </th>
                                <th pSortableColumn="marketGroup" translate>app.payrolls.orgMapping.marketGroup
                                    <p-sortIcon field="marketGroup"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                            <tr>
                                <td class="vt-align-center">{{index}}</td>
                                <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                                    <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
                                        title="{{'common.button.table.hEdit' | translate}}"><i
                                            class="fa fa-edit"></i></a>
                                </td>
                                <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                                    <a class="btn-table delete" (click)="processDelete(item)"
                                        title="{{'common.button.table.hDelete' | translate}}"><i
                                            class="fa fa-trash-alt"></i></a>
                                </td>
                                <td class="vt-align-left">{{item.organnizationName}}</td>
                                <td class="vt-align-left">{{item.osOrgannizationName}}</td>
                                <td class="vt-align-left">{{item.shopCode}}</td>
                                <td class="vt-align-left">{{item.erpShopCode}}</td>
                                <td class="vt-align-center">{{item.marketLocation}}</td>
                                <td class="vt-align-center">{{item.marketGroup}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="emptymessage">
                                <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <table-footer [resultList]="resultList"></table-footer>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hasPermission('action.view')" translate>
        common.haveNoPermission
    </div>
</div>