<form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c" translate>
            <i class="fa fa-th"></i>
            Employee.Menu.MilitaryInformation
          </strong>
        </div>
        <div class="panel-body vt-relative ui-g">
            <div class="ui-g-12">
              <dynamic-input  [property]="f['militaryNumber']"
                              [labelValue]="'app.militaryInformation.militaryNumber'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [autofocus]="'autofocus'"
                              [maxLength]='20'>
              </dynamic-input>
            </div>
            <div class="ui-g-12">
                <label [hidden]="f['callUpDate'].isHide"
                       [ngClass]="{'required': f['callUpDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right " translate>
                  app.militaryInformation.callUpDate
                </label>
                <div [hidden]="f['callUpDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['callUpDate']" [onChange]="onChangeDate"></date-picker>
                    <app-control-messages [control]="f['callUpDate']"></app-control-messages>
                </div>
                <label [hidden]="f['expiredDate'].isHide"
                       [ngClass]="{'required': f['expiredDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right " translate>
                  app.militaryInformation.expiredDate
                </label>
                <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['expiredDate']" [onChange]="onChangeDate"></date-picker>
                    <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                </div>
            </div>
        </div>
        <have-permission actionCode="action.update" resourceCode="resource.militaryInformation">
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate">Save</button>
        </div>
      </have-permission>
    </div>
</form>
