<div class="card">
  <p-table [value]="lockWorkOrgs" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
    tableStyleClass="table table-bordered table-wrapper ">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1" pFrozenColumn />
        <col class="size-5" pFrozenColumn />
        <col *ngFor="let col of searchDays" class="size-1" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" pFrozenColumn class="vt-align-center">{{"app.schedular.tableIndex" | translate}}</th>
        <th rowspan="2" class="vt-align-center" alignFrozen="right" pFrozenColumn>{{"app.schedular.organizationName" |
          translate}}</th>
        <th [attr.colspan]="searchDays.length" class="vt-align-center">{{"app.schedular.dayInMonth" | translate}}</th>
      </tr>
      <tr>
        <th *ngFor="let item of searchDays" class="day-in-month" style="width: 3rem"
          title="{{item.date}}({{item.title | translate}})">{{item.date}}<span
            [ngClass]="{'weekend': item.isWeekend()}">({{item.title | translate}})</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lockWorkOrg let-index="rowIndex+1">
      <tr [ngClass]="{'selected-organization': lockWorkOrg.hasChild}">
        <td class="vt-align-center">{{index}}</td>
        <td>{{formatOrganizationName(lockWorkOrg)}}</td>
        <ng-container *ngIf="lockWorkOrg.data && lockWorkOrg.data.length > 0">
          <td *ngFor="let item of searchDays" class="vt-align-center"
            [ngClass]="{ 'locked': isLocked(item, lockWorkOrg) }">
          </td>
        </ng-container>
        <ng-container *ngIf="!(lockWorkOrg.data && lockWorkOrg.data.length > 0)">
          <td [attr.colspan]="searchDays.length"></td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="2+searchDays.length" [innerHTML]="'app.noRecords' | translate" class="vt-align-center"></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <table-footer [resultList]="lockWorkOrgs"></table-footer>
    </ng-template>
  </p-table>
  <div class="total-records" *ngIf="lockWorkOrgs && lockWorkOrgs.length && totalRecordMessage">{{totalRecordMessage}}
  </div>
</div>
