
<!-- <system-intro
  screenCode="ORGANIZATION_MANAGE"
></system-intro> -->
<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c"><span>&nbsp;</span></strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <label class="control-label" style="padding-top: 0">
        {{'organization.viewUnitExpried' | translate}}
      </label>
      &nbsp;
      <label class="i-switch bg-info m-t-xs m-r" id="showOrgExpried">
        <input type="checkbox" name="status" [value]="1" [(ngModel)]="showOrgExpried"/>
        <i></i>
      </label>
    </div>
  </div>
  <p-scrollPanel [style]="{width: '100%', height: height + 'px'}" styleClass="custombar2 clearfix">
    <div *ngIf="!showOrgByLineOrg" id="orgTree">
      <p-tree
        [value]="nodes"
        selectionMode="checkbox"
        [(selection)]="selectedNode"
        (onNodeSelect)="nodeSelect($event)"
        (onNodeExpand)="actionLazyRead($event)"
        (onNodeCollapse)="onNodeCollapse($event)"
        (onNodeContextMenuSelect)="nodeContextMenuSelect($event)"
        [contextMenu]="cm"
        [ngClass]="{'show-org-expried' : showOrgExpried}"
      ></p-tree>
      <p-contextMenu #cm [model]="items" appendTo="body" ></p-contextMenu>
    </div>

  </p-scrollPanel>
</div>
