<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.requirementDetail.requirementId' | translate}}
            </label>
            <div [hidden]="f['requirementId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [placeHolder]="f['requirementId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  [property]="f['requirementId']"
                  [options]="group"
                  [group]="true"
                  optionLabel="name"
                  optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="f['requirementId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'common.form.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]="100">
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'common.form.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]="200">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.requirementDetail.listTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" title="{{'common.label.add' | translate}}" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 4.5%">
              <col style="width: 4.5%" *ngIf="hasPermission('action.update')">
              <col style="width: 4.5%" *ngIf="hasPermission('action.delete')">
              <col style="width: 19%">
              <col style="width: 19%">
              <col style="width: 19%">
              <col style="width: 32.5%">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf="hasPermission('action.update')">
                {{'common.button.table.hEdit' | translate}}
              </th>
              <th *ngIf="hasPermission('action.delete')">
                {{'common.button.table.hDelete' | translate}}
              </th>
              <th [pSortableColumn]="'requirementId'">
                {{'app.requirementDetail.requirementId' | translate}}
                <p-sortIcon [field]="'requirementId'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'code'">
                {{'app.requirementDetail.code' | translate}}
                <p-sortIcon [field]="'code'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                {{'app.requirementDetail.name' | translate}}
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'">
                {{'app.requirementDetail.note' | translate}}
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-center">{{item.requirementName}}</td>
              <td class="vt-align-center">{{item.code}}</td>
              <td class="vt-align-left">{{item.name}}</td>
              <td class="vt-align-left">{{item.description}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
