.out-search-range{
  background-color: #cd9b9b;
}

.locked {
  background-color: #e8e8e8;
}

.table-wrapper .ui-table-thead th.day-in-month{
  color: #000;
  font-weight: bold;
}

.selected-organization {
  font-weight: bold;
}

.day-in-month span{
  color: #767676;
  font-weight: normal;
  font-size: 0.85em;
}

.day-in-month span.weekend {
  color: #f00;
}

.tbl-action {
  cursor: pointer;
}

.tbl-action .fa {
  color: #0290d9;
}
