<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
              [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']"
                          operationKey="action.view"
                          adResourceKey="resource.dataInputProcess"
                          [defaultValue]="true"
                          isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['salaryTypeId'].isHide"
                [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'payroll.formula.config.salaryType' | translate}}
            </label>
              <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                    [property]="f['salaryTypeId']"
                    [options]="salaryTypeList"
                    optionLabel="name"
                    optionValue="salaryTypeId"
                    [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
                </select-filter>
                <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
              </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['dataTypeId'].isHide"
              [ngClass]="{'required': f['dataTypeId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputProcess.dataTypeId' | translate}}
            </label>
            <div [hidden]="f['dataTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['dataTypeId']"
                [options]="dataTypeList"
                optionLabel="dataName"
                optionValue="dataTypeId"
                [placeHolder]="f['dataTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['dataTypeId']"></app-control-messages>
            </div>
            <label
              [hidden]="f['year'].isHide"
              [ngClass]="{'required': f['year'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.payrolls.period.year' | translate}}
            </label>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['year']"
              [options]="listYear"
              optionLabel="year"
              optionValue="year"
              [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['periodId'].isHide"
              [ngClass]="{'required': f['periodId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.dataInputProcess.periodId' | translate}}
            </label>
            <div [hidden]="f['periodId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['periodId']"
                [options]="periodIdList"
                optionLabel="periodName"
                optionValue="periodId"
                [placeHolder]="f['periodId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['periodId']"></app-control-messages>
            </div>
            <dynamic-input
              [property]="f['employeeCode']"
              [labelValue]="'payroll.dataInputProcess.employeeCode'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [autofocus]="'autofocus'"
              [maxLength]="50">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['employeeName']"
              [labelValue]="'payroll.dataInputProcess.employeeName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]="100">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="actionSearch()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
          <button *ngIf="hasPermission('action.import')" [disabled]="!(f['organizationId'].value && f['dataTypeId'].value && f['periodId'].value)" type="button"
            (click)="actionPrepareImport()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.import' | translate"></button>
            <button type="submit" (click)="actionDelete()" class="btn btn-sm btn-danger"
            [innerHTML]="'common.button.table.deleteDataInput' | translate"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- hien thi bang -->
    <div class="panel panel-default" *ngIf="showSearchData">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <!-- {{'payroll.dataInputProcess.listTitle' | translate}} -->
          {{ dataTypeSelected ? dataTypeSelected.dataName : 'payroll.dataInputProcess.listTitle' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table *ngIf="resultList.data" #ptable [value]="resultList.data"
          [scrollable]="true"
          [columns]="resultList.headerConfig"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="actionSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
          editMode="row">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <!-- <col class="size-1" *ngIf="hasPermission('action.update')"> -->
              <col class="size-12" *ngFor="let column of columns">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <!-- <th *ngIf="hasPermission('action.update')">{{'common.label.action' | translate}}</th> -->
              <th *ngFor="let column of columns">{{column.header}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1" let-columns>
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td [ngClass]="getStyle(column)" *ngFor="let column of resultList.headerConfig">
                {{ item[column.field] }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr class="emptymessage">
              <td [attr.colspan]="columns.length + 2" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
