<div>
<p-tabView>
  <p-tabPanel [header]="'app.empIncomeTax.personalTax' | translate">
    <ng-template pTemplate="content">
      <emp-income-tax-form></emp-income-tax-form>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [header]="'app.empIncomeTax.reduction' | translate">
    <ng-template pTemplate="content">
      <emp-income-tax-reduction-index></emp-income-tax-reduction-index>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [header]="'app.empIncomeTax.reductionProfile' | translate">
    <ng-template pTemplate="content">
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [header]="'app.empIncomeTax.transferReduction' | translate">
    <ng-template pTemplate="content">
    </ng-template>
  </p-tabPanel>
</p-tabView>
</div>
