<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;
          <span translate>app.occupationalSafety.listTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate">
            </button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true"
              (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
              [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="size-10">
              <col class="size-8">
              <col class="size-8">
              <col class="size-7">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-8">
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
              <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
              <th pSortableColumn="period" translate>app.occupationalSafety.period
                <p-sortIcon field="period"></p-sortIcon>
              </th>
              <th pSortableColumn="diplomaName" translate>app.occupationalSafety.diplomaName
                <p-sortIcon field="diplomaName"></p-sortIcon>
              </th>
              <th pSortableColumn="diplomaTypeName" translate>app.occupationalSafety.diplomaType
                <p-sortIcon field="diplomaTypeName"></p-sortIcon>
              </th>
              <th pSortableColumn="issuedPlace" translate>app.occupationalSafety.issuedPlace
                <p-sortIcon field="issuedPlace"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.occupationalSafety.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate>app.occupationalSafety.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="issuedDate" translate>app.occupationalSafety.issuedDate
                <p-sortIcon field="issuedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="revokedDate" translate>app.occupationalSafety.revokedDate
                <p-sortIcon field="revokedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="note" translate>app.occupationalSafety.note
                <p-sortIcon field="note"></p-sortIcon>
              </th>
              <th  translate>app.occupationalSafety.file


              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item.occupationalSafetyId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-left">{{item.period}}</td>
              <td class="vt-align-left">{{item.diplomaName}}</td>
              <td class="vt-align-left">{{item.diplomaTypeName}}</td>
              <td class="vt-align-left">{{item.issuedPlace}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-center">{{item.issuedDate | displayDate}}</td>
              <td class="vt-align-center">{{item.revokedDate | displayDate}}</td>
              <td class="vt-align-left">{{item.note}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
            </tr>
          </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
