<div class="modal-body">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;
              <span *ngIf="!formSave.get('positionSalaryId').value" translate>app.positionSalary.addTitle</span>
              <span *ngIf="formSave.get('positionSalaryId').value" translate>app.positionSalary.editTitle</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
              <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [objectId]="f['positionSalaryId'].value"
                            [labelValue]="'app.positionSalary.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='50'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [objectId]="f['positionSalaryId'].value"
                            [labelValue]="'app.positionSalary.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='50'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['positionTypeId'].isHide"
                   [ngClass]="{'required': f['positionTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.positionSalary.positionTypeId' | translate}}
            </label>
            <div [hidden]="f['positionTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [placeHolder]="f['positionTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['positionTypeId']"
                  [options]="positionTypeList"
                  optionLabel="name"
                  optionValue="sysCatId">
                </select-filter>
                <app-control-messages [control]="f['positionTypeId']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
            <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"  [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
</div>
