<div class="input-group picker orgSelector">
    <input type="text" [disabled]="disabled ? true: false" (focus)="onFocus()" class="form-control" #displayName />
    <div class="input-group-append" *ngIf="!disabled">
      <button class="btn btn-info chosen" type="button" [title]="'app.common.title.select' | translate" (click)="onChose()" #buttonChose><i class="fa fa-check"></i></button>
      <button *ngIf="!isRequiredField" (click)="delete()" class="btn btn-danger" type="button" [title]="'app.common.title.remove' | translate"><i class="fa fa-times"></i></button>
    </div>
</div>
