<div class="modal-body orgSelectorModal">
  <form [formGroup]="form" (submit)="processSearch(null)">
    <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;
                <span translate>app.orgSelector.title</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body modal-content-body">
            <div class="grid-structure org-selector-content">
                <div class="content-left">
                  <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custombar2 clearfix">
                    <div>
                      <p-tree
                        [value]="nodes"
                        selectionMode="single"
                        [(selection)]="selectedNode"
                        (onNodeSelect)="nodeSelect($event)"
                        (onNodeExpand)="actionLazyRead($event)"
                        ></p-tree>
                    </div>
                  </p-scrollPanel>
                </div>
                <div class="content-right form-group">
                    <div class="panel-background">
                      <div class="row" style="margin-top: 0px;">
                        <div class="col-md-6">
                          <input type="text" class="form-control org-selector-input" placeholder="{{placeholdercode | translate}}" autofocus="autofocus" formControlName="code" />
                        </div>
                        <div class="col-md-6" style="padding-left: 0px;">
                          <div class="input-group orgSelector">
                            <input type="text" class="form-control org-selector-input" placeholder="{{placeholdername | translate}}" formControlName="name" />
                            <div class="input-group-append">
                              <button class="btn org-selector-addon" type="submit" title="{{ 'common.label.search' | translate }}">
                                <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-wrapper table-responsive" style="margin-top: 4px;">
                      <p-table [scrollable]="true" [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
                        [lazyLoadOnInit]="false"
                        [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true"
                        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                              <col class="size-1">
                              <col class="size-5">
                              <col class="size-7">
                              <col class="size-4">
                              <col class="size-4">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th>{{'app.common.title.select' | translate}}</th>
                            <th class="size-6" pSortableColumn="code">
                              {{'app.organization.code' | translate}}
                              <p-sortIcon field="code"></p-sortIcon>
                            </th>
                            <th class="size-4" pSortableColumn="name">
                              {{'app.organization.name' | translate}}
                              <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th class="size-6" pSortableColumn="effectiveDate">
                              {{'app.organization.effectiveDate' | translate}}
                              <p-sortIcon field="effectiveDate"></p-sortIcon>
                            </th>
                            <th class="size-7" pSortableColumn="expiredDate">
                              {{'app.organization.expiredDate' | translate}}
                              <p-sortIcon field="expiredDate"></p-sortIcon>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                          <tr>
                            <td class="vt-align-center">
                              <a class="btn-table-chose" (click)="chose(item)" title="{{'app.common.title.select' | translate}}" ><i class="fas fa-check table-icon color-info"></i></a>
                            </td>
                            <td class="vt-align-center">{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td class="vt-align-center">
                              {{item.effectiveDate | displayDate}}
                            </td>
                            <td class="vt-align-center">
                              {{item.expiredDate | displayDate}}
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                          <tr class="emptymessage">
                            <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
