<div class="system-intro">
  <button class="btn btn-system-intro" (click)="startTour()" title="Hướng dẫn sử dụng chức năng">
    <!-- <span class="glyphicons glyphicons-lightbulb"></span> -->
  </button>
</div>

