<div class="modal-body">
    <form id="frmSaveSysCat" [formGroup]="formSave">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>
                    <span *ngIf="!formSave.get('id').value" translate> app.payrolls.notification.add</span>
                    <span *ngIf="formSave.get('id').value" translate> app.payrolls.notification.edit</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <button type="button" style="display: inline-block;" (click)="activeModal.close()"
                        title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <dynamic-input  [property]="f['title']"
                          [labelValue]="'app.payrolls.notification.title'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'">
                    </dynamic-input>                    
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.period.datefrom' | translate}}
                    </label>
                    <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['startDate']">
                        </date-picker>
                        <app-control-messages [control]="f['startDate']"></app-control-messages>
                    </div>
                    <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'app.payrolls.period.dateto' | translate}}
                    </label>
                    <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['endDate']">
                        </date-picker>
                        <app-control-messages [control]="f['endDate']"></app-control-messages>
                    </div>
                    
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['active'].isHide" [ngClass]="{'required': f['active'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.notification.active' | translate}}
                    </label>
                    <div [hidden]="f['active'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <label class="i-switch bg-info m-t-xs m-r">
                            <input type="checkbox" name="active" [value]="1" formControlName="active" />
                            <i></i>
                        </label>
                        <app-control-messages [control]="f['active']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['content'].isHide" [ngClass]="{'required': f['content'].isRequire}"
                        class="ui-g-12 ui-md-3 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.notification.content' | translate}}
                    </label>
                    <div class="ui-g-12 ui-md-9 ui-lg-9">
                        <ckeditor [editor]="Editor" (ready)="onReady($event)" formControlName="content" id="content" name="content"></ckeditor>
                    </div>
                    
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.save' | translate"></button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate">
                </button>
            </div>
        </div>
    </form>
</div>

