<div id="searchPage">
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          app.socialInsuranceProcess.listTitle
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
          [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col class="size-1" *ngIf="hasPermission('action.update')">
                  <col class="size-1" *ngIf="hasPermission('action.delete')">
                  <col class="size-5">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-3">
                  <col class="size-3">
                  <col class="size-4">
                  <col class="size-5">
                  <col class="size-4">
              </colgroup>
            </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th translate>common.table.index</th>
                  <th translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
                  <th translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
                  <th [pSortableColumn]="'insuranceNumber'" translate> app.socialInsuranceProcess.socialInsuranceNumber
                      <p-sortIcon [field]="'insuranceNumber'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'socialFundCode'" translate>app.socialInsuranceProcess.fundCode
                      <p-sortIcon [field]="'socialFundCode'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'socialFundName'" translate>app.socialInsuranceProcess.fundName
                      <p-sortIcon [field]="'socialFundName'" ></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'issuedDate'" translate>app.socialInsuranceProcess.dateIssued
                      <p-sortIcon [field]="'issuedDate'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'effectiveDate'" translate>app.salaryTable.effectiveDate
                      <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'expiredDate'" translate>app.salaryTable.expiredDate
                      <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'note'" translate>app.position.note
                      <p-sortIcon [field]="'note'"></p-sortIcon>
                  </th>
                  <th translate>app.organization.attachmentFile</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDelete(item.empSocialInsuranceId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
                  <td class="vt-align-left">{{item.insuranceNumber}}</td>
                  <td class="vt-align-left">{{item.socialFundCode}}</td>
                  <td class="vt-align-left">{{item.socialFundName}}</td>
                  <td class="vt-align-center">{{item.issuedDate| displayDate}}</td>
                  <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
                  <td class="vt-align-left">{{item.note}}</td>
                  <td class="vt-align-left">
                    <a *ngFor="let data of item.fileAttachment.file"
                        style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                        (click)="downloadFile(data)">
                        - {{data.fileName}}
                    </a>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="10" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
            </ng-template>
          <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
