<div class="row">
  <div class="col-md-12">
      <div id="searchPage">
          <div id="searchArea">
              <div class="panel panel-default">
                <form id="formSearch" [formGroup]="formSearch">
                  <div class="panel-heading">
                      <strong class="text-u-c">
                          <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                      </strong>
                  </div>
                  <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['changeType']"
                                      [labelValue]="'app.infoChange.changeType'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [maxLength]='1000'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['changedFields']"
                                      [labelValue]="'app.infoChange.changedFields'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='50'>
                      </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                      <label [hidden]="f['changeTimeFrom'].isHide"
                             [ngClass]="{'required': f['changeTimeFrom'].isRequire}"
                             class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                        {{'app.infoChange.changeTimeFrom' | translate}}
                      </label>
                      <div [hidden]="f['changeTimeFrom'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['changeTimeFrom']"></date-picker>
                        <app-control-messages [control]="f['changeTimeFrom']"></app-control-messages>
                      </div>
                      <label [hidden]="f['changeTimeTo'].isHide"
                             [ngClass]="{'required': f['changeTimeTo'].isRequire}"
                             class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
                        {{'app.infoChange.changeTimeTo' | translate}}
                      </label>
                      <div [hidden]="f['changeTimeTo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <date-picker [property]="f['changeTimeTo']"></date-picker>
                        <app-control-messages [control]="f['changeTimeTo']"></app-control-messages>
                      </div>
                    </div>
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['createdBy']"
                                      [labelValue]="'app.infoChange.sysUserId'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [maxLength]='50'>
                      </dynamic-input>
                    </div>
                  </div>
                  <div class="panel-footer vt-area-button">
                      <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
                  </div>
                </form>

              </div>
          </div>
      </div>
      <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
              <strong class="text-u-c">
                  <i class="fa fa-th"></i>&nbsp;{{'app.infoChange.listTitle' | translate}}
              </strong>
            </div>
            <div class="panel-body panel-table">
              <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
                      (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
                      [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
                      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-8">
                    <col class="size-12">
                    <col class="size-12">
                    <col class="size-12">
                    <col class="size-4">
                    <col class="size-4">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th translate>common.table.index</th>
                    <th pSortableColumn="changedFields" translate>app.infoChange.changeType
                      <p-sortIcon field="changedFields"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dataBeforeChange" translate>app.infoChange.changedFields
                      <p-sortIcon field="dataBeforeChange"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dataAfterChange" translate>app.infoChange.dataBeforeChange
                      <p-sortIcon field="dataAfterChange"></p-sortIcon>
                    </th>
                    <th pSortableColumn="changeType" translate>app.infoChange.dataAfterChange
                      <p-sortIcon field="changeType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdDate" translate>app.infoChange.changeTime
                      <p-sortIcon field="createdDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdBy" translate>app.infoChange.sysUserId
                      <p-sortIcon field="createdBy"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                  <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td class="vt-align-left"  >{{item.changeType}}</td>
                    <td class="vt-align-left"  >{{item.changedFields}}</td>
                    <td class="vt-align-left"  >{{item.dataBeforeChange}}</td>
                    <td class="vt-align-left"  >{{item.dataAfterChange}}</td>
                    <td class="vt-align-center">
                      {{item.createdDate | date: 'dd/MM/yyyy hh:mm:ss' }}
                    </td>
                    <td class="vt-align-center">{{item.createdBy}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <table-footer [resultList]="resultList"></table-footer>
                </ng-template>
              </p-table>
            </div>
        </div>
      </div>
  </div>
</div>
