<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;
              <span *ngIf="!formSave.value.empTaxReductionId" translate>app.taxReduction.add_title</span>
              <span *ngIf="formSave.value.empTaxReductionId" translate>app.taxReduction.edit_title</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
      </div>
      <div class="panel-body padding-xl ui-g ">
        <div class="ui-g-12">
          <label [hidden]="f['empFamilyRelationshipId'].isHide"
            [ngClass]="{'required': f['empFamilyRelationshipId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.taxReduction.relatives' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onRelativesChange($event)"
              [property]="f['empFamilyRelationshipId']"
              [options]="empFamilyRelationList"
              [disabled]="formSave.value.empTaxReductionId"
              optionLabel="fullName"
              optionValue="empFamilyRelationshipId"
              [placeHolder]="f['empFamilyRelationshipId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['empFamilyRelationshipId']"></app-control-messages>
          </div>
          <label [hidden]="f['gender'].isHide"
          [ngClass]="{'required': f['gender'].isRequire}"
          class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
            app.taxReduction.gender
          </label>
          <div [hidden]="f['gender'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input onclick="return false;" type="radio" formControlName="gender" class="form-check-input control-label" id="gender_0" [value]="1" name="gender">
                <i></i>
                app.taxReduction.gender.Male
              </label>
            </div>
            <div class="form-check-inline">
              <label class="i-checks" translate>
                <input onclick="return false;" type="radio" formControlName="gender" class="form-check-input control-label" id="gender_1" [value]="2" name="gender">
                <i></i>
                app.taxReduction.gender.Female
              </label>
            </div>
            <app-control-messages [control]="f['gender']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
            <label
              [hidden]="f['dateOfBirth'].isHide"
              [ngClass]="{'required': f['dateOfBirth'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.taxReduction.dateOfBirth
            </label>
            <div [hidden]="f['dateOfBirth'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [disabled]="true"
                [property]="f['dateOfBirth']">
              </date-picker>
              <app-control-messages [control]="f['dateOfBirth']"></app-control-messages>
            </div>
            <label [hidden]="f['nationId'].isHide"
              [ngClass]="{'required': f['nationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
              app.taxReduction.nationality
            </label>
            <div [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['nationId']"
                [options]="nationList"
                [placeHolder]="f['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                [disabled]="true"
                optionLabel="name"
                optionValue="nationId">
              </select-filter>
              <app-control-messages [control]="f['nationId']"></app-control-messages>
            </div>
        </div>
        <div class="ui-g-12">
            <dynamic-input
              [property]="f['passportNumber']"
              [labelValue]="'app.taxReduction.passportNumber'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
            <dynamic-input
              [property]="f['taxNumber']"
              [labelValue]="'app.taxReduction.taxNumber'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
        </div>
        <div class="ui-g-12">
            <label  [hidden]="f['status'].isHide"
                    [ngClass]="{'required': f['status'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.taxReduction.relationship' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                [property]="f['status']"
                [disabled]="true"
                [options]="relationList"
                optionLabel="name"
                optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
            <label [hidden]="f['currentRelated'].isHide"
            [ngClass]="{'required': f['currentRelated'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.taxReduction.currentRelated' | translate}}
            </label>
            <div [hidden]="f['currentRelated'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="currentRelated" formControlName="currentRelated" onclick="return false;"/>
                <i></i>
              </label>
            </div>
            <app-control-messages [control]="f['currentRelated']"></app-control-messages>
        </div>
        <div class="ui-g-12">
            <dynamic-input
              [property]="f['residentAddress']"
              [labelValue]="'app.taxReduction.residentAddress'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
            <dynamic-input
              [property]="f['currentAddress']"
              [labelValue]="'app.taxReduction.currentAddress'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
        </div>
        <div class="ui-g-12">
            <dynamic-input
              [property]="f['job']"
              [labelValue]="'app.taxReduction.Job'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
            <dynamic-input
              [property]="f['workplace']"
              [labelValue]="'app.taxReduction.workplace'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [readonly] = "true">
            </dynamic-input>
        </div>
        <div class="ui-g-12">
            <label [hidden]="f['declareOrganizationId'].isHide"
                    [ngClass]="{'required': f['declareOrganizationId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.taxReduction.finalizationDepartment' | translate}}
            </label>
            <div [hidden]="f['declareOrganizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <province-select-filter
                [placeHolder]="f['declareOrganizationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['declareOrganizationId']">
              </province-select-filter>
              <app-control-messages [control]="f['declareOrganizationId']"></app-control-messages>
            </div>
            <dynamic-input
              [property]="f['profileNumber']"
              [labelValue]="'app.taxReduction.profileNumber'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [autofocus]="'autofocus'"
              [maxLength]= "20">
            </dynamic-input>
        </div>
        <div class="ui-g-12">
            <label [hidden]="f['fromDate'].isHide"
                    [ngClass]="{'required': f['fromDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.taxReduction.fromDate' | translate}}
            </label>
            <div [hidden]="f['fromDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['fromDate']" view="month" ></date-picker>
              <app-control-messages [control]="f['fromDate']"></app-control-messages>
            </div>
            <label [hidden]="f['toDate'].isHide"
                    [ngClass]="{'required': f['toDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.taxReduction.toDate' | translate}}
            </label>
            <div [hidden]="f['toDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['toDate']" view="month"></date-picker>
              <app-control-messages [control]="f['toDate']"></app-control-messages>
            </div>
        </div>
        <div class="ui-g-12">
            <label [hidden]="f['file'].isHide"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
                {{'app.taxReduction.attachmentFile' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3" [hidden]="f['file'].isHide">
              <multil-file-choser
              [property]="f['file']"
              validMaxSize="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
            </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
