<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.dataInput.config.title </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <form id="formSave" [formGroup]="formSave">
          <div class="ui-g-12">
            <label [hidden]="f['salaryTypeId'].isHide" [ngClass]="{'required': f['salaryTypeId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
              {{'payroll.dataInput.config.salaryType' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <select-filter
                [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['salaryTypeId']"
                [options]="listSalaryType"
                optionLabel="name"
                optionValue="salaryTypeId"
                (onChange)="onchangeSalaryType($event)"
              >
              </select-filter>
              <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>
          </div>
        </form>
          <div class="ui-g-12" *ngIf="f['salaryTypeId'].value">
            <div class="ui-g-12 ui-md-6">
              <div class="panel panel-default">
                <div class="panel-heading vt-relative" translate >
                  <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.dataInput.config.dataInputList</strong>
                  <div class="vt-absolute vt-shotcut-button-in-heading" style="width: 250px;">
                    <div class="input-group">
                      <input type="text" class="form-control org-selector-input" name="nameFilter"
                        placeholder="{{'payroll.dataInput.config.searchByName' | translate}}"
                        autocomplete="off" [(ngModel)]="nameFilter" maxlength="200" #inputSearch/>
                      <div class="input-group-append">
                        <button class="btn btn-search" title="{{ 'common.label.search' | translate }}" type="button">
                          <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <p-scrollPanel style="width: 100%" [style]="{width: '100%', height: '450px'}"
                styleClass="custombar2 custombar3 clearfix nopadding-custombar">
                  <div class="panel-body padding-xl ui-g" style="padding-top: 14px; min-height: 450px;" id="cdk-drop-list-0"
                    cdkDropList
                    #sourceDataTypesList="cdkDropList"
                    [cdkDropListData]="sourceDataTypes"
                    [cdkDropListConnectedTo]="[targetDataTypesMainList,targetDataTypesSyncList,targetDataTypesImportList]"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="drag-drop-area ui-g-12">
                      <div class="area-item ui-g-12 ui-md-6" *ngFor="let dataType of sourceDataTypes | findBy: nameFilter : ['dataName']" cdkDrag >
                        <div class="card-item" [ngClass]="{'bg-warning text-white': dataType.isImport != 1,
                                                           'bg-info text-white': dataType.isImport == 1 }" (click)="viewDataTypeInfo(dataType)">
                          {{dataType.dataName}}
                        </div>
                      </div>
                    </div>
                  </div>
                </p-scrollPanel>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="panel panel-default">
                <div class="panel-heading" translate>
                  <strong class="text-u-c"><i class="fa fa-th"></i> payroll.dataInput.config.dataInputConfig</strong>
                </div>
                <!-- start -->
                <p-scrollPanel style="width: 100%;min-height: 450px" [style]="{width: '100%', height: '450px'}"
                styleClass="custombar2 custombar3 clearfix nopadding-custombar">
                <div class="panel-body padding-xl ui-g">
                  <div class="ui-g-12">

                    <div class="ui-g-12 ui-md-4 ">
                      <div class="panel panel-default">
                        <div class="panel-heading vt-align-center" style="padding: 9px 0" translate>
                          <strong class="text-u-c">payroll.dataInput.config.mainProcess</strong>
                        </div>
                        <div class="panel-body padding-xl ui-g" style="padding: 0" id="cdk-drop-list-1"
                          cdkDropList
                          #targetDataTypesMainList="cdkDropList"
                          [cdkDropListData]="targetDataTypesMain"
                          [cdkDropListConnectedTo]="[sourceDataTypesList,targetDataTypesSyncList,targetDataTypesImportList]"
                          (cdkDropListDropped)="drop($event, 1)"
                        >
                          <div class="drag-drop-area ui-g-12">
                            <div class="area-item area-item2 ui-g-12" *ngFor="let dataType of targetDataTypesMain" cdkDrag>
                              <div class="card-item" dropable="false" [ngClass]="{'bg-warning text-white': dataType.isImport != 1,
                              'bg-info text-white': dataType.isImport == 1 }" (click)="viewDataTypeInfo(dataType)">
                                {{dataType.dataName}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-4 ">
                      <div class="panel panel-default">
                        <div class="panel-heading vt-align-center bg-warning" style="padding: 9px 0" translate>
                          <strong class="text-u-c text-white">payroll.dataInput.config.dataSync</strong>
                        </div>
                        <div class="panel-body padding-xl ui-g" style="padding: 0" id="cdk-drop-list-2"
                          cdkDropList
                          #targetDataTypesSyncList="cdkDropList"
                          [cdkDropListData]="targetDataTypesSync"
                          [cdkDropListConnectedTo]="[sourceDataTypesList,targetDataTypesMainList,targetDataTypesImportList]"
                          (cdkDropListDropped)="drop($event, 2)"
                        >
                          <div class="drag-drop-area ui-g-12">
                            <div class="area-item area-item2 ui-g-12" *ngFor="let dataType of targetDataTypesSync" cdkDrag>
                              <div class="card-item" dropable="false" [ngClass]="{'bg-warning text-white': dataType.isImport != 1,
                              'bg-info text-white': dataType.isImport == 1 }" (click)="viewDataTypeInfo(dataType)">
                                {{dataType.dataName}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading vt-align-center bg-info text-white" style="padding: 9px 0" translate>
                          <strong class="text-u-c">payroll.dataInput.config.dataImport</strong>
                        </div>
                        <div class="panel-body padding-xl ui-g" style="padding: 0" id="cdk-drop-list-3"
                          cdkDropList
                          #targetDataTypesImportList="cdkDropList"
                          [cdkDropListData]="targetDataTypesImport"
                          [cdkDropListConnectedTo]="[sourceDataTypesList,targetDataTypesMainList,targetDataTypesSyncList]"
                          (cdkDropListDropped)="drop($event, 3)"
                        >
                          <div class="drag-drop-area ui-g-12">
                            <div class="area-item area-item2 ui-g-12" *ngFor="let dataType of targetDataTypesImport" cdkDrag>
                              <div class="card-item" dropable="false" [ngClass]="{'bg-warning text-white': dataType.isImport != 1,
                              'bg-info text-white': dataType.isImport == 1 }" (click)="viewDataTypeInfo(dataType)">
                                {{dataType.dataName}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </p-scrollPanel>
              </div>
            </div>
          </div>
    </div>
    <div class="ui-g-12">
      <div class="vt-area-button">
        <button *ngIf="hasPermission('action.update')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info save-padding" [innerHTML]="'common.button.save' | translate">
        </button>
        <button (click)="processCancel()" class="btn btn-sm btn-danger save-padding" [innerHTML]="'common.button.cancel' | translate">
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>

