<div class="modal-body">
  <form id="formDiagram" [formGroup]="formDiagram">
      <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;
                <span *ngIf="!formDiagram.value.payrollDiagramId" translate>payroll.formula.diagram.add_title</span>
                <span *ngIf="formDiagram.value.payrollDiagramId" translate>payroll.formula.diagram.edit_title</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <button type="button" style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </button>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
                <label [hidden]="f['organizationId'].isHide"
                [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                      {{'payroll.formula.diagram.organizationName' | translate}}
                </label>
                <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <org-selector-payroll
                    [property]="f['organizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.formulaDiagram"
                    [defaultValue]="true"
                    isRequiredField = "true">
                  </org-selector-payroll>
                  <app-control-messages [control]="f['organizationId']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
                <dynamic-input
                    [property]="f['payrollDiagramName']"
                    [objectId]= "f['payrollDiagramId'].value"
                    [labelValue]="'payroll.formula.diagram.payrollDiagram'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                    [autofocus]="'autofocus'"
                    [maxLength]='100'>
                </dynamic-input>
                <label [hidden]="f['salaryTypeId'].isHide"
                      [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
                      {{'payroll.formula.diagram.salaryType' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                      (onChange)="onSalaryTypeChange($event)"
                      [property]="f['salaryTypeId']"
                      [options]="salaryTypeList"
                      optionLabel="name"
                      optionValue="salaryTypeId"
                      [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                    </select-filter>
                    <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
                </div>

            </div>
            <div class="ui-g-12">
                <label [hidden]="f['startDate'].isHide"
                [ngClass]="{'required': f['startDate'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'payroll.formula.diagram.startDate' | translate}}
              </label>
              <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['startDate']" ></date-picker>
                <app-control-messages [control]="f['startDate']"></app-control-messages>
              </div>
              <label [hidden]="f['endDate'].isHide"
                      [ngClass]="{'required': f['endDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'payroll.formula.diagram.endDate' | translate}}
              </label>
              <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['endDate']"></date-picker>
                <app-control-messages [control]="f['endDate']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
                  <div class="panel panel-default">
                    <div class="panel-heading vt-relative color-panel">
                      <strong class="text-u-c">
                        <i class="fa fa-th"></i> <span translate> payroll.formula.diagram.diagramDetail</span>
                      </strong>
                    </div>
                    <div class="panel-body panel-padding">
                      <p-table [value]="formDiagramDetail.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col class="size-4">
                            <col class="size-4">
                            <col class="size-4">
                            <col class="size-4">
                            <col class="size-3">
                            <col class="size-1">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th translate><span [ngClass]="{'required': formDiagramDetail.controls.length > 0 && formDiagramDetail.controls[0].controls.dfFormulaId.isRequire}">payroll.formula.diagram.dfformulaId</span></th>
                            <th translate><span [ngClass]="{'required': formDiagramDetail.controls.length > 0 && formDiagramDetail.controls[0].controls.actionType.isRequire}">payroll.formula.diagram.actionType</span></th>
                            <th translate><span [ngClass]="{'required': formDiagramDetail.controls.length > 0 && formDiagramDetail.controls[0].controls.serviceRunBefore.isRequire}">payroll.formula.diagram.serviceRunBefore</span></th>
                            <th translate><span [ngClass]="{'required': formDiagramDetail.controls.length > 0 && formDiagramDetail.controls[0].controls.serviceRunAfter.isRequire}">payroll.formula.diagram.serviceRunAfter</span></th>
                            <th translate><span [ngClass]="{'required': formDiagramDetail.controls.length > 0 && formDiagramDetail.controls[0].controls.description.isRequire}">payroll.formula.diagram.description</span></th>
                            <th translate>payroll.formula.diagram.DiagramDetailAction</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                          <tr [formGroup]="item">
                              <td>
                                <select-filter
                                  [property]="item.get('dfFormulaId')"
                                  [options]="dfFormulaList"
                                  optionLabel="name"
                                  optionValue="dfFormulaId"
                                  [placeHolder]="item.get('dfFormulaId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                                </select-filter>
                                <app-control-messages [control]="item.get('dfFormulaId')"></app-control-messages>
                              </td>
                              <td>
                                <select-filter
                                  [property]="item.get('actionType')"
                                  [options]="actionTypeList"
                                  optionLabel="name"
                                  optionValue="actionType"
                                  [placeHolder]="item.get('actionType').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                                </select-filter>
                                <app-control-messages [control]="item.get('actionType')"></app-control-messages>
                              </td>
                              <td>
                                <select-filter
                                  [property]="item.get('serviceRunBefore')"
                                  [options]="serviceBeforeList"
                                  optionLabel="value"
                                  optionValue="code"
                                  [placeHolder]="item.get('serviceRunBefore').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                                </select-filter>
                                <app-control-messages [control]="item.get('serviceRunBefore')"></app-control-messages>
                              </td>
                              <td>
                                <select-filter
                                  [property]="item.get('serviceRunAfter')"
                                  [options]="serviceAfterList"
                                  optionLabel="value"
                                  optionValue="code"
                                  [placeHolder]="item.get('serviceRunAfter').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                                </select-filter>
                                <app-control-messages [control]="item.get('serviceRunAfter')"></app-control-messages>
                              </td>
                              <td>
                                <dynamic-input
                                  [property]="item.get('description')"
                                  [type]="'text-area'"
                                  [maxLength]='1000'>
                                </dynamic-input>
                              </td>
                              <td class="vt-align-center">
                                  <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addDiagramDetail()" [innerHTML]="'common.icon.plus' | translate"></button>
                                  <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeDiagramDetail(index)" [innerHTML]="'common.icon.minus' | translate"></button>
                              </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
            </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
            <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </div>
  </form>
</div>
