<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('longLeaveReasonId').value" translate>app.longLeaveReason.addTitle</span>
          <span *ngIf="formSave.get('longLeaveReasonId').value" translate>app.longLeaveReason.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input
            [property]="f['name']"
            [objectId]="f['longLeaveReasonId'].value"
            [labelValue]="'app.longLeaveReason.name'"
            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
            [autofocus]="'autofocus'"
            [maxLength]="200">
          </dynamic-input>
          <label [hidden]="f['workdayTypeCode'].isHide"
                [ngClass]="{'required': f['workdayTypeCode'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.longLeaveReason.workdayTypeCode' | translate}}
          </label>
          <div [hidden]="f['workdayTypeCode'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="f['workdayTypeCode'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['workdayTypeCode']"
                [options]="workdayTypeList"
                optionLabel="codeName"
                optionValue="code">
              </select-filter>
              <app-control-messages [control]="f['workdayTypeCode']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
