

<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c"><span>&nbsp;</span></strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <label class="control-label" style="padding-top: 0">
        {{'tree.showAll' | translate}}
      </label>
      &nbsp;
      <label class="i-switch bg-info m-t-xs m-r">
        <input type="checkbox" name="status" [value]="1" [(ngModel)]="showExpried"/>
        <i></i>
      </label>
    </div>
  </div>
  <p-scrollPanel [style]="{width: '100%', height: '800px'}" styleClass="custombar2 clearfix">
    <div>
      <p-tree
        [value]="nodes"
        selectionMode ="single"
        [(selection)] ="selectedNode"
        (onNodeSelect) ="nodeSelect($event)"
        [contextMenu] = "cm"
        (onNodeContextMenuSelect)="nodeContextMenuSelect($event)"
        [ngClass]="{'show-expried' : showExpried}"
        >
        <ng-template let-node pTemplate="default">
          <span>{{getNodeData(node).tableType === 3 ? (getNodeData(node).code ? getNodeData(node).code + ' - ' : '') : ''}}{{node.label}}{{node.expiredDate && node.styleClass == 'has-expried' ? ' (' + (node.expiredDate | displayDate) + ')' : ''}}</span>
        </ng-template>
      </p-tree>
      <p-contextMenu #cm [model]="items" appendTo="body" >
      </p-contextMenu>
    </div>
  </p-scrollPanel>
</div>
