<p-table [value]="shiftEmploy" [scrollable]="true" [lazyLoadOnInit]="false" [lazy]="true"
  [totalRecords]="shiftEmploy.length" [editMode]="'cell'"
  tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">

  <ng-template pTemplate="colgroup">
    <colgroup>
      <col class="size-1">
      <col class="size-2">
      <col class="size-4">
      <col class="size-4">
      <col class="size-4">
      <col class="size-4">
      <col class="size-4" *ngIf="workTypeId==0">

    </colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <td class="vt-align-center">STT</td>
      <td class="vt-align-center">Mã nhân viên</td>
      <td class="vt-align-center">Tên đầy đủ</td>
      <td class="vt-align-center">Chấm công <span translate>app.schedular.timekeeping.{{workTypeId}}</span></td>
      <td class="vt-align-center">Tổng hợp công trong ngày</td>
      <td class="vt-align-center">Ngày phép còn lại</td>
      <td class="vt-align-center" *ngIf="workTypeId==0">TT Công chế độ nhân viên</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex+1">
    <tr>
      <td class="vt-align-center">{{index}}</td>
      <td class="vt-align-center">{{item.employeeCode}}</td>
      <td class="vt-align-left">{{item.fullName}}</td>
      <td class="vt-align-center" *ngIf="workTypeId!=0"> {{workTypeId ==item.workTypeId? item.workCode:''}}</td>
      <td class="vt-align-center" *ngIf="workTypeId ==0" pEditableColumn
        [ngClass]="{'error-cell': !validateCell(item.workCode)}">
        <p-cellEditor class="td-fit">
          <ng-template pTemplate="input">
            <input pInputText type="text" #uname="ngModel" [(ngModel)]="item.workCode" (blur)="onBlur(item.workCode)"
              [disabled]="workTypeId!==0">
          </ng-template>
          <ng-template pTemplate="output">
            {{item.workCode}}
          </ng-template>

        </p-cellEditor>
      </td>
      <td class="vt-align-center">{{workTypeId ==item.workTypeId? item.workCodeBefore:''}}</td>
      <td class="vt-align-center"></td>
      <td class="vt-align-center" *ngIf="workTypeId==0">
        <i class="fa fa-eye" aria-hidden="true" (click)="showPopup(item)">
        </i>
      </td>
    </tr>
  </ng-template>


  <ng-template pTemplate="emptymessage">
    <tr class="emptymessage">
      <td [attr.colspan]="17" [innerHTML]="'app.noRecords' | translate">
      </td>
    </tr>
  </ng-template>
  <!-- <ng-template pTemplate="paginatorleft">
<table-footer [resultList]="resultList"></table-footer>
</ng-template> -->
</p-table>

<p-dialog header="{{'app.employee_manager.infoDetailFile'|translate}}" modal="true" [baseZIndex]="1000"
  [(visible)]="popupDialog" [style]="{width: '400px' }" (onHide)="cancel()">
  <div class="content">
   <p>
     <span translate>app.employee.full_name</span>:
     <span class="pl-2">{{popupDetail.fullName}}</span>
   </p>
   <p>
    <span translate>app.employee.employee_code</span>:
    <span class="pl-2">{{popupDetail.employeeCode}}</span>
  </p>
  <p>
    <span translate>app.schedular.timekeeping.{{workTypeId}}</span>:
    <span class="pl-2" *ngIf="popupDetail.workCode" >{{popupDetail.workCode}} - </span>
    <span  [ngClass]="{'error': !validateCell(popupDetail.workCode)}"> {{popupDetail.workTypeName}}</span>
  </p>

    <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 vt-align-right">
      <button type="button" class="btn btn-sm btn-danger " (click)="popupDialog=false"
        [innerHTML]="'common.button.cancel' | translate"></button>
    </div>
  </div>
</p-dialog>
