<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'organizationPlan.viewDetailTitle' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <span style="display: inline-block;"
          (click)="activeModal.close()"
          title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
    <div class="panel-body padding-xl" style="overflow-x: scroll"
      (mousedown)="onmousedown($event)"
      (mouseup)="onmouseup($event)"
      (mousemove)="onmousemove($event)"
      (mousewheel)="onmousewheel($event)">
      <div [style.transform]="paneTransform">
        <p-organizationChart [value]="data"
          selectionMode="single"
          (onNodeSelect)="onNodeSelect($event)"
          styleClass="company">
          <ng-template let-node pTemplate="rootNode">
            <div class="node-header ui-corner-top">
              <p style="font-weight: bold;">{{ node.label }}</p>
              <!-- <p><span>{{ 'app.organization.childUnit' | translate }}</span> {{ node.data.childUnit }}</p> -->
            </div>
            <!-- <div class="node-content">
                <div>{{ 'app.organization.employee' | translate }} {{ node.data.employeeAmount }}</div>
            </div> -->
          </ng-template>
          <ng-template let-node pTemplate="node">
            <div class="node-header ui-corner-top">
              <p style="font-weight: bold;">{{ node.label }}</p>
            </div>
            <div class="node-content">
              <p><span>{{ 'app.organization.childUnit' | translate }}</span> {{ node.data.childUnit }}</p>
            </div>
          </ng-template>
        </p-organizationChart>
     </div>
    </div>
  </div>
</div>

