<div class="content">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <form [formGroup]="formWorkSchedule" id="formSave">
          <div class="panel-heading">
            <strong class="text-u-c">
              <span translate> <i
                class="fa fa-th"></i>&nbsp;app.timesheetSchedule.update.setting.stand.working.day </span>
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['organizationId'].isHide"
                     [ngClass]="{'required': f['organizationId'].isRequire}"  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                      {{'app.position.unitName' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <org-selector
                  [defaultValue]="true"
                  [property]="f['organizationId']"
                  adResourceKey="resource.organization"
                  isRequiredField="true"
                  operationKey="action.view">
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <dynamic-input [property]="f['employeeCode']"
                             [labelValue]="'app.timesheetSchedule.employeeCode'"
                             [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                             [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                             [maxLength]='100'>
              </dynamic-input>

              <dynamic-input [property]="f['fullName']"
                             [labelValue]="'app.otherInformation.fullName'"
                             [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                             [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                             [maxLength]='100'>
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['effectiveDate'].isHide"
                     [ngClass]="{'required': f['effectiveDate'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Thời gian áp dụng (từ ngày)
              </label>
              <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker
                  [property]="f['effectiveDate']">
                </date-picker>
                <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
              </div>
              <label [hidden]="f['expiredDate'].isHide"
                     [ngClass]="{'required': f['expiredDate'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                Thời gian áp dụng (đến ngày)
              </label>
              <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker
                  [property]="f['expiredDate']">
                </date-picker>
                <app-control-messages [control]="f['expiredDate']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-8">
                <!-- table -->
                <div>
                  <p-table [scrollable]="false" [value]="formTableStandardWorkingDayConfig.controls" styleClass="controlOverflow"
                           tableStyleClass="table controls-table table-wrapper b-t b-b">
                    <ng-template let-columns pTemplate="colgroup">
                      <colgroup>
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                        <col class="size-6">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th><span></span></th>
                        <th><span class="required">Thứ 2</span></th>
                        <th><span class="required">Thứ 3</span></th>
                        <th><span class="required">Thứ 4</span></th>
                        <th><span class="required">Thứ 5</span></th>
                        <th><span class="required">Thứ 6</span></th>
                        <th><span class="required">Thứ 7</span></th>
                        <th><span class="required">Chủ nhật</span></th>
                      </tr>
                    </ng-template>
                    <ng-template let-index="rowIndex" let-item pTemplate="body">
                      <tr>
                        <td>
                          <label class="vt-align-right">
                            Loại ngày công
                          </label>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeMonDay'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeMonDay']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeMonDay']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeTuesDay'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeTuesDay']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeTuesDay']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeWedDay'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeWedDay']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeWedDay']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeFiveDay'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeFiveDay']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeFiveDay']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeSixDay'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeSixDay']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeSixDay']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeSaturday'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeSaturday']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeSaturday']"></app-control-messages>
                        </td>
                        <td>
                          <select-filter
                            [placeHolder]="f['workDayTypeSunday'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                            [property]="f['workDayTypeSunday']"
                            [options]="listWorkingShiftTypeConfig"
                            (onChange)="changeTypeConfig()"
                            optionLabel="workName"
                            optionValue="workCode"
                          >
                          </select-filter>
                          <app-control-messages [control]="f['workDayTypeSunday']"></app-control-messages>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="vt-align-right">
                            Số giờ làm việc
                          </label>
                        </td>

                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourMonday">
                            <app-control-messages [control]="f['standardHourMonday']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourMonday']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourTuesDay">
                            <app-control-messages [control]="f['standardHourTuesDay']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourTuesDay']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourWedDay">
                            <app-control-messages [control]="f['standardHourWedDay']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourWedDay']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourFiveDay">
                            <app-control-messages [control]="f['standardHourFiveDay']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourFiveDay']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourSixDay">
                            <app-control-messages [control]="f['standardHourSixDay']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourSixDay']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourSaturday">
                            <app-control-messages [control]="f['standardHourSaturday']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourSaturday']"></app-control-messages>
                        </td>
                        <td class="vt-align-center">
                          <label class="d-block">
                            <input type="number" class="form-control" formControlName="standardHourSunDay">
                            <app-control-messages [control]="f['standardHourSunDay']"></app-control-messages>
                          </label>
                          <app-control-messages [control]="f['standardHourSunDay']"></app-control-messages>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button (click)="processSaveOrUpdate()" [innerHTML]="'common.button.save' | translate"
                    class="btn btn-sm btn-info save-padding"
                    type="submit">
            </button>
            <button [innerHTML]="'common.button.previous' | translate"
                    [routerLink]="['/timesheet/setting-standard-working-day']"
                    class="btn btn-sm btn-danger"
                    type="button">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
