/* .infoTag of employee #Start */
.infoTag .image {
  position: relative;
}
.infoTag .image-viewer {
  width: 100%;
  max-width: 4cm;
  position: relative;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
}
.infoTag .image-viewer img {
  max-width: 100%;
}
.infoTag .tool-button {
  position: absolute;
  bottom: 0px;
  text-align: right;
  right: -10px;
}
.infoTag .tool-button .btn-icon {
  background-color: rgba(51, 51, 51, 0.2);
  padding: 0px;
  font-size: 18px;
  margin-left: 3px;
}
.infoTag .content-detail {
  position: relative;
  margin: 10px -10px 0px;
}
.infoTag ul {
  list-style-type: none;
  padding: 0px;
}
.infoTag .symbol {
  width: 0px;
}
.infoTag .basic-info .symbol {
  font-size: 16px;
  width: 35px;
  text-align: center;
}
.infoTag .education-info .symbol {
  font-size: 25px;
  width: 35px;
  text-align: center;
  vertical-align: top !important;
}
.infoTag ul li {
  width: 100%;
}
.infoTag .table-cell {
  padding: 3px;
}
.infoTag p {
  margin: 0px;
}
.infoTag p small {
  color: #999;
}
.employee-info-avatar-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.employee-info-avatar {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 500px;
  outline: none;
  opacity: 0;
  cursor: pointer;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}
/* .infoTag of employee #End */
