<div class="infoTag">
  <div class="panel panel-default">
      <div class="panel-body" style="padding-bottom: 28px;">
        <div class="image">
          <div class="image-viewer" *ngIf="EmployeeInfo"><!-- style="background-image: url()" -->
            <img [src]="EmployeeInfo.avatar ? EmployeeInfo.avatar : '../../../../../assets/images/noimage.png'"/>
          </div>
          <div class="tool-button change-image">
            <button (click)="onChooseAvatar()" class="btn-icon plus employee-info-avatar-button" title="{{'button.changeImageProfile' | translate}}">
              <span class="glyphicons glyphicons-pencil"></span>
              <!-- <input type="file"
                  style="width: auto;"
                  class="employee-info-avatar"
                  (change)="onChangeAvatar($event)"
                  accept="image/*"
              > -->
            </button>
            <input type="file" style="width: 1px; visibility:hidden;" (change)="onChangeAvatar($event)" #fileAvatar/>
            <button class="btn-icon plus" [title]="'titleAdd' | translate" *ngIf="EmployeeInfo && EmployeeInfo.fileAttachment.avatarFile" (click)="downloadFile(EmployeeInfo.fileAttachment.avatarFile)" target="_blank" title="Tải về thông tin hồ sơ"><span class="glyphicons glyphicons-disk-save"></span></button>
          </div>
        </div>
        <div class="content-detail">
          <ul class="basic-info">
            <li class="display-table" *ngIf="EmployeeInfo">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-user"></span>
              </div>
              <div class="table-cell">
                <span class="fullname">{{ EmployeeInfo ? EmployeeInfo.fullName : '' }}</span>
                <!-- <b class="fullname" (value)="EmployeeInfo.fullName"></b> -->
              </div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo" id="changeEmployee">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-tick"></span>
              </div>
              <div class="table-cell">
                <a href="javascript:void(0);" class="color-info" (click)="choseEmployeeCode.onChose()"><b>{{ EmployeeInfo ? EmployeeInfo.employeeCode : '' }}</b></a>
                <div style="height: 0px; visibility: hidden; overflow: hidden;">
                  <data-picker
                    #choseEmployeeCode
                    [property]="employeeId"
                    systemCode="emp"
                    operationKey="action.view"
                    adResourceKey="resource.employee"
                    objectBO="EmployeeBO"
                    codeField="employeeCode"
                    nameField="fullName"
                    selectField="employeeId"
                    isRequiredField="true"
                    isDisplayCode="true"
                  ></data-picker>
                </div>
              </div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo && EmployeeInfo.email">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-envelope"></span>
              </div>
              <div class="table-cell" style="word-break: break-all;"><a class="color-info" href="mailto:{{ EmployeeInfo ? EmployeeInfo.email : '' }}">{{ EmployeeInfo ? EmployeeInfo.email : '' }}</a></div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo && EmployeeInfo.mobileNumber">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-earphone"></span>
              </div>
              <div class="table-cell">{{ EmployeeInfo ? EmployeeInfo.mobileNumber : '' }}</div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo && EmployeeInfo.phoneNumber">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-phone-alt"></span>
              </div>
              <div class="table-cell">{{ EmployeeInfo ? EmployeeInfo.phoneNumber : ''}}</div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo && EmployeeInfo.currentAddress">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-home"></span>
              </div>
              <div class="table-cell">{{ EmployeeInfo ? EmployeeInfo.currentAddress : ''}}</div>
            </li>
            <li class="display-table" *ngIf="EmployeeInfo && EmployeeInfo.dateOfBirth">
              <div class="table-cell symbol">
                <span class="glyphicons glyphicons-birthday-cake"></span>
              </div>
              <div class="table-cell">{{EmployeeInfo ? (EmployeeInfo.dateOfBirth | displayDate ) : ''}}</div>
            </li>
          </ul>
          <div *ngIf="(empEducationInfo && empEducationInfo.educationSubjectName) || (empLanguageDegree && empLanguageDegree.languageDegreeName)">
            <hr />
            <ul class="education-info">
              <li class="display-table" *ngIf="empEducationInfo && empEducationInfo.educationSubjectName" >
                <div class="table-cell symbol">
                  <span class="glyphicons glyphicons-education"></span>
                </div>
                <div class="table-cell">
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empEducationInfo)">{{empEducationInfo ? empEducationInfo.educationGradeName: ''}} - {{empEducationInfo ? empEducationInfo.educationSubjectName : ''}}</a>
                  <br/>
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empEducationInfo)"><small>{{empEducationInfo ? empEducationInfo.issuedPlaceName : ''}}</small></a>
                  <br/>
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empEducationInfo)"><small>{{empEducationInfo ? empEducationInfo.granduatedRankName : ''}} - {{empEducationInfo.issuedDate | date: 'yyyy'}}</small></a>
                </div>
              </li>
              <li class="display-table" *ngIf="empLanguageDegree && empLanguageDegree.languageDegreeName">
                <div class="table-cell symbol">
                  <span class="glyphicons glyphicons-global"></span>
                </div>
                <div class="table-cell">
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empLanguageDegree)">{{empLanguageDegree.languageDegreeName}} - {{empLanguageDegree.degreeName}} {{empLanguageDegree.resuilt}} </a>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="(empWorkProcess &&  empWorkProcess.positionName) || (empTypeProcess !== null)">
            <hr />
            <ul class="education-info" >
              <li class="display-table" *ngIf="empWorkProcess && empWorkProcess.positionName" >
                <div class="table-cell symbol">
                  <span class="icon-u4407"></span>
                </div>
                <div class="table-cell">
                  <a href="javascript:void(0);" class="color-info text-u-c" (click)="onChangeRedirect(empWorkProcess)">{{empWorkProcess.positionName}}</a>
                  <br/>
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empWorkProcess)">{{empWorkProcess.organizationName}}</a>
                </div>
              </li>
              <br/>
              <li class="display-table" *ngIf="hireDate && hireDate.viettelStartDate">
                <div class="div-hd">
                  <span class="td-name font-hd" translate>app.employee-update.joinCompanyDate</span>
                  <span></span>
                </div>
                <div class="table-cell">
                  <p>{{hireDate.viettelStartDate | displayDate}}</p>
                  <p><small>{{hireDate.timeWork}}</small></p>
                </div>
              </li>
              <br/>
              <li class="display-table" *ngIf="empTypeProcess">
                <div class="table-cell symbol">
                  <span class="glyphicons glyphicons-list-alt"></span>
                </div>
                <div class="table-cell">
                  <a href="javascript:void(0);" class="color-info"  style="word-wrap: break-word;" (click)="onChangeRedirect(empTypeProcess)">{{empTypeProcess.labourContractTypeName}}</a>
                  <br/>
                  <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(empTypeProcess)"><small>{{empTypeProcess.contractMonth}}m - <span translate>app.empInfo.from</span>: {{empTypeProcess.effectiveDate | displayDate}} - <span translate>app.empInfo.to</span>: {{empTypeProcess.expiredDate | displayDate}}</small></a>
                </div>
              </li>
            </ul>
          </div>
          <div [hidden]="(length == 0 && lenthEmpWorkSchedule == 0)">
            <hr />
            <ul class="education-info" >
              <li class="display-table" (click)="onChangeRedirect('empWorkSchedule')">
                <work-schedule-calendar style="font-size: 9px;" #empCalendar1></work-schedule-calendar>
              </li>
              <br/>
              <li class="display-table" *ngIf="length !== 0">
                <div class="div-hd" style="padding-bottom: 4px;">
                  <span class="td-name font-hd" translate>app.employee-update.longLeave</span>
                  <span></span>
                </div>
                <div class="table-cell">
                  <div *ngFor="let item of longLeaveList">
                    <a href="javascript:void(0);" class="color-info" (click)="onChangeRedirect(longLeaveList)">{{item.longLeaveReasonName}}</a>
                    <br/>
                    <a href="javascript:void(0);" class="color-info" *ngIf="item.longLeaveReasonName" (click)="onChangeRedirect(longLeaveList)" ><small><span translate>app.empInfo.from</span>: {{item.effectiveDate | displayDate}} - <span translate>app.empInfo.to</span>: {{item.expiredDate | displayDate}}</small></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <hr />
          <span id="listEmployee" (click)="moveListEmployeePage()"
          class="glyphicons glyphicons-parents color-info" style="font-size: 24px; cursor: pointer; margin-right: 5px; float: right" title="{{'app.employee.list' | translate}}"></span>
          <!-- <span id="tranferEmployee" class="glyphicons glyphicons-send color-info"
            style="font-size: 24px; cursor: pointer; margin-left: 5px" title="{{'button.tranferJob' | translate}}"></span>
          <span id="leaveJobEmployee" class="glyphicons glyphicons-user-remove color-danger" style="font-size: 24px; cursor: pointer; margin-left: 15px; color: #f05050" title="{{'button.leaveJob' | translate}}"></span>
          <span id="debtEmployee" class="glyphicons glyphicons-money" style="font-size: 24px; cursor: pointer; margin-left: 20px; color: #ED6347" title="{{'button.bebt' | translate}}"></span> -->

        </div>
      </div>
  </div>
</div>
