
<p>
  work-schedule works!
</p>
<div id="searchPage">
  <div id="searchArea">
      <div class="panel panel-default">
          <form id="formSearch" [formGroup]="formSearch">
              <div class="panel-heading">
                  <strong class="text-u-c">
                      <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                  </strong>
              </div>

              <div class="panel-footer vt-area-button">
                  <button type="submit"  class="btn btn-sm btn-info"><i class="fa fa-search"></i> Tìm kiếm </button>
              </div>
          </form>
      </div>
  </div>
</div>
