<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;
            <span *ngIf="!formSave.get('positionId').value" translate>app.position.add_title</span>
            <span *ngIf="formSave.get('positionId').value" translate>app.position.edit_title</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
              <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <p-accordion [multiple]="true">
            <p-accordionTab [header]="'position.tab.information' | translate" [selected]="true">
              <div class="row">
              <div class="ui-g-12">
                <label [hidden]="f['lineOrgId'].isHide"
                      [ngClass]="{'required': f['lineOrgId'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.position.lineOrgName' | translate}}
                </label>
                <div [hidden]="f['lineOrgId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                      [autofocus]="'autofocus'"
                      (onChange)="onLineOrgChange($event)"
                      [property]="f['lineOrgId']"
                      [options]="lineOrgList"
                      optionLabel="name"
                      optionValue="lineOrgId"
                      [placeHolder]="f['lineOrgId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                    </select-filter>
                    <app-control-messages [control]="f['lineOrgId']"></app-control-messages>
                </div>
                <label [hidden]="f['majorCareerId'].isHide"
                      [ngClass]="{'required': f['majorCareerId'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.position.majorCareerName' | translate}}
                </label>
                <div [hidden]="f['majorCareerId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                      (onChange)="onMajorCareerChange($event)"
                      [property]="f['majorCareerId']"
                      [options]="majorCareerList"
                      optionLabel="name"
                      optionValue="majorCareerId"
                      [placeHolder]="f['majorCareerId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                    </select-filter>
                    <app-control-messages [control]="f['majorCareerId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['careerLevelId'].isHide"
                      [ngClass]="{'required': f['careerLevelId'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.position.careerLevelName' | translate}}
                </label>
                <div [hidden]="f['careerLevelId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    (onChange)="onCareerLevelChange($event)"
                    [property]="f['careerLevelId']"
                    [options]="careerLevelList"
                    optionLabel="name"
                    optionValue="careerLevelId"
                    [placeHolder]="f['careerLevelId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                  </select-filter>
                  <app-control-messages [control]="f['careerLevelId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <dynamic-input  [property]="f['code']"
                                [objectId]="f['positionId'].value"
                                [labelValue]="'app.position.code'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [disabled]="true">
                </dynamic-input>
                <dynamic-input  [property]="f['name']"
                                [objectId]="f['positionId'].value"
                                [labelValue]="'app.position.name'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [maxLength]='200'>
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input  [property]="f['shortName']"
                                [objectId]="f['positionId'].value"
                                [labelValue]="'app.position.shortName'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [maxLength]='200'>
                </dynamic-input>
                <dynamic-input  [property]="f['positionOrder']"
                                [objectId]="f['positionId'].value"
                                [labelValue]="'app.position.positionOrder'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [maxLength]='5'>
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['effectiveDate'].isHide"
                      [ngClass]="{'required': f['effectiveDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.position.effectiveDate' | translate}}
                </label>
                <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['effectiveDate']"></date-picker>
                    <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                </div>
                <label [hidden]="f['expiredDate'].isHide"
                      [ngClass]="{'required': f['expiredDate'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.position.expiredDate' | translate}}
                </label>
                <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['expiredDate']"></date-picker>
                    <app-control-messages [control]="f['expiredDate']"></app-control-messages>
                </div>
              </div>
              </div>
            </p-accordionTab>
            <p-accordionTab [header]="'position.tab.salary' | translate" [selected]="true">
              <div class="row">
                <div class="ui-g-12">
                  <p-table [value]="formPositionSalaly.controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                          <col class="size-1">
                          <col >
                          <col >
                          <col >
                          <col >
                          <col class="size-4">
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th translate>common.table.index</th>
                        <th translate>app.empSalaryProcess.salaryRegulate</th>
                        <th translate>app.empSalaryProcess.salaryTable</th>
                        <th translate>position.salary.gradeType</th>
                        <th translate>app.empSalaryProcess.salaryScale</th>
                        <th translate>common.label.action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex">
                      <tr [formGroup]="item">
                        <td class="vt-align-center">
                          {{index+1}}
                        </td>
                        <td>
                          <select-filter
                            (onChange)="onSalaryRegulateChange($event, index)"
                            [property]="item.get('salaryRegulationId')"
                            [options]="listSalaryRegulation"
                            optionLabel="name"
                            optionValue="salaryTableId"
                            [placeHolder]="item.get('salaryRegulationId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                          </select-filter>
                        </td>
                        <td>
                          <select-filter
                            (onChange)="onGradeLadderChange($event, index)"
                            [property]="item.get('salaryGradeLadderId')"
                            [options]="mapListGradeLadder[index]"
                            optionLabel="name"
                            optionValue="salaryTableId"
                            [placeHolder]="item.get('salaryGradeLadderId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                          </select-filter>
                        </td>
                        <td>
                          <dynamic-input [property]="item.get('salaryGradeTypeName')" [disabled]="true">
                          </dynamic-input>
                        </td>
                        <td>
                          <select-filter
                            [property]="item.get('salaryGradeRateId')"
                            [options]="mapListGradeRate[index]"
                            optionLabel="name"
                            optionValue="salaryTableId"
                            [placeHolder]="item.get('salaryGradeRateId').isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                          </select-filter>
                        </td>
                        <td class="vt-align-center">
                            <button  type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRow(index)" [innerHTML]="'common.icon.plus' | translate"></button>
                            <button  type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(item.get('positionSalaryTableId').value, index)" [innerHTML]="'common.icon.minus' | translate"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
    </form>
  </div>
</div>
