<div class="content">
    <div class="row" *ngIf="hasPermission('action.view')" >
        <div class="col-md-12">
            <long-leave-reason-search></long-leave-reason-search>
        </div>
    </div>

    <div *ngIf="!hasPermission('action.view')" translate>
      common.haveNoPermission
    </div>
</div>
