<div class="modal-body">
  <form>
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.payrolls.applyTitle</span>
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p class="color-warning" [innerHTML]="'app.payrolls.warningTitle' | translate"></p>
        <p-table #ptable [value]="resultList.data" [(selection)]="lstWorkScheduleSelected"
            [lazy]="false" [scrollable]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-2">
              <col>
              <col class="size-8">
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
              <th>{{'app.position.unitName' | translate}}</th>
              <th>{{'app.allowanceProcess.effectiveDate' | translate}}</th>
              <th>{{'app.allowanceProcess.expiredDate' | translate}}</th>
            </tr>
            <tr>
              <th colspan="5" *ngFor="let col of columns">
                <!-- <i class="fa fa-search clearfix" style="margin:4px 4px 0 0; float: left; padding-left: 4px; padding-top: 3px;"></i>
                <input  class="form-control" style="float: right; width: calc(100% - 20px);" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"> -->
                <div class="input-group">
                  <input type="text" class="form-control org-selector-input" pInputText
                  (input)="ptable.filter($event.target.value, col.field, col.filterMatchMode)"/>
                  <div class="input-group-append">
                    <button class="btn btn-search" title="{{ 'common.label.search' | translate }}" type="button">
                      <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                    </button>
                  </div>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center">
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td>{{item.organizationName}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processApply()" class="btn btn-sm btn-info" [innerHTML]="'common.button.actApply' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>

