<div id="searchArea">
  <div class="panel panel-default">
    <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}</strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12" >
            <label [hidden]="f['periodType'].isHide"
              [ngClass]="{'required': true}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.evaluation.evaluationPeriod' | translate}}
           </label>
           <div [hidden]="f['periodType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3" style="padding: unset;">
             <div class="ui-g-12 ui-md-6 ui-lg-4">
                <select-filter
                  [placeHolder]="f['periodType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['periodType']"
                  [options]="listEvaluationPeriod"
                  (onChange)="changeType()"
                  optionLabel="label"
                  optionValue="id"
                  autofocus="autofocus"
                  [isMultiLanguage]='true'
                  >
                </select-filter>
                <app-control-messages [control]="f['periodType']"></app-control-messages>
             </div>
             <div class="ui-g-12 ui-md-6 ui-lg-4" *ngIf="f['periodType'].value == null || f['periodType'].value != typeYear">
                <select-filter
                  [placeHolder]="f['month'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['month']"
                  [options]="listMonthsOfYear"
                  optionLabel="name"
                  optionValue="id"
                  [isMultiLanguage]='false'
                  >
                </select-filter>
                <app-control-messages [control]="f['month']"></app-control-messages>
             </div>
             <div class="ui-g-12 ui-md-6 ui-lg-4">
                <select-filter
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['year']"
                  [options]="listYears"
                  optionLabel="name"
                  optionValue="id"
                  [isMultiLanguage]='false'
                  >
                </select-filter>
                <app-control-messages [control]="f['year']"></app-control-messages>
             </div>
            </div>
          <label [hidden]="f['organizationId'].isHide"
                      [ngClass]="{'required': true}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.position.unitName' | translate}}
                </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector
              [property]="f['organizationId']"
              operationKey="action.view"
              adResourceKey="resource.organization"
              isRequiredField = "true"
              [defaultValue]="true">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
                    <!-- status -->
            <label [hidden]="f['status'].isHide"
                [ngClass]="{'required': f['status'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.evaluation.status' | translate}}
            </label>
          <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check-inline">
                <label class="i-checks">
                    <input type="radio" class="form-check-input control-label"  id="all" [value]="2" name="status"  formControlName="status" checked="true">
                  <i></i>
                  {{'app.evaluation.all' | translate}}
                </label>
              </div>
            <div class="form-check-inline">
            <label class="i-checks">
                <input type="radio" class="form-check-input control-label"  id="lock" [value]="1" name="status"  formControlName="status">
              <i></i>
              {{'common.label.lock' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks">
              <input type="radio"class="form-check-input control-label"   id="unlock" [value]="0" name="status" formControlName="status" >
              <i></i>
              {{'common.label.unLock' | translate}}
            </label>
          </div>
          <app-control-messages [control]="f['status']"></app-control-messages>
         </div>
                   <!-- lock type -->
          <label [hidden]="f['status'].isHide"
              [ngClass]="{'required': f['status'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.evaluation.lockType' | translate}}
          </label>
          <div [hidden]="f['typeLock'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="form-check-inline">
                 <label class="i-checks">
                      <input type="radio" class="form-check-input control-label"  id="emp" [value]="1" name="typeLock"  formControlName="typeLock" checked="true">
                   <i></i>
                     {{'app.evaluation.empKI' | translate}}
                   </label>
                 </div>
               <div class="form-check-inline">
               <label class="i-checks">
                   <input type="radio" class="form-check-input control-label"  id="org" [value]="2" name="typeLock"  formControlName="typeLock">
                 <i></i>
                 {{'app.evaluation.orgKI' | translate}}
               </label>
             </div>
             <app-control-messages [control]="f['typeLock']"></app-control-messages>
          </div>
       </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit"  (click)="processSearchLockUnlock()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
        <button type="button"  *ngIf="hasPermission('action.export')" (click)="processExportDetail()" class="btn btn-sm btn-info ng-star-inserted" [innerHTML]="'common.button.export' | translate"></button>
        <button type="button" 
              *ngIf="hasPermission('action.lock')"
              (click)="confirm(1)" class="btn btn-sm btn-info"
              [innerHTML]="'common.button.table.lock' | translate">
        </button>
        <button type="button" 
              *ngIf="hasPermission('action.unLock')"
              (click)="confirm(0)" class="btn btn-sm btn-info"
              [innerHTML]="'common.button.table.unLock' | translate">
      </button>
      </div>
    </form>
  </div>

  <!-- list result -->
  <div id="listArea" style="padding-top: 10px;">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp; {{'app.evaluation.labelLock' | translate}}
            </strong>
            </div>
        <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-3">
                <col class="size-8">
                <col class="size-3" *ngIf="typeColumn == typeMonth" >
                <col class="size-3" *ngIf="typeColumn == typeQuarter" >
                <col class="size-3" *ngIf="typeColumn == typeYear" >
                <col class="size-3">
                <col class="size-3">
                <col class="size-3">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'common.table.index' | translate}}</th>
                <th> {{'app.evaluation.unitCode' | translate}}</th>
                <th>{{'app.evaluation.unitName' | translate}}</th>
                <th *ngIf="typeColumn == typeMonth">{{'app.evaluation.monthYear' | translate}}</th>
                <th *ngIf="typeColumn == typeQuarter">{{'app.evaluation.quarterYear' | translate}}</th>
                <th *ngIf="typeColumn == typeYear">{{'app.evaluation.year' | translate}}</th>
                <th>{{'app.evaluation.status' | translate}}</th>
                <th>{{'app.evaluation.lockBy' | translate}}</th>
                <th>{{'app.evaluation.lockDate' | translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td td class="vt-align-center" >{{item.organizationCode}}</td>
                <td td class="vt-align-left" >{{item.organizationName}}</td>
                <td class="vt-align-center" *ngIf="typeColumn == typeMonth">{{item.month}}/{{item.year}}</td>
                <td class="vt-align-center" *ngIf="typeColumn == typeQuarter">{{item.quarter}}/{{item.year}}</td>
                <td class="vt-align-center" *ngIf="typeColumn == typeYear">{{item.year}}</td>
                <td class="vt-align-left">
                  <span *ngIf="item.status===1" class="label-status warning">{{'common.label.lock' | translate}}</span>
                  <span *ngIf="item.status===0" class="label-status info">{{'common.label.unLock' | translate}}</span>
                </td>
                <td class="vt-align-center">{{item.lockBy}}</td>
                <td class="vt-align-center">{{item.lockDate | displayDate}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>