
<router-outlet></router-outlet>
<p-confirmDialog #cd [style]="{width: '425px'}" [acceptButtonStyleClass]="'btn-info'" [rejectButtonStyleClass]="'btn-danger'" >
  <p-footer>
    <button type="button" pButton class="btn-info" icon="pi pi-check" [label]="cd.acceptLabel" (click)="cd.accept()"></button>
    <button type="button" pButton class="btn-danger" icon="pi pi-times" [label]="cd.rejectLabel" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
<div id="progressSpinnerCheck">
  <div id="progressSpinner">
    <!-- <p-progressSpinner></p-progressSpinner> -->
    <div class="progress-container">
      <img src="../assets/images/loadding.svg">
      <div class="timer">{{timer}}</div>
    </div>
  </div>
  <div style="z-index: 88888888" class="modal-backdrop fade show" id="progressSpinnerBackdrop"></div>
</div>
