<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            &nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['marketCompanyId'].isHide" [ngClass]="{'required': f['marketCompanyId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.empCodeConfig.marketCompanyId' | translate}}
            </label>
            <div [hidden]="f['marketCompanyId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['marketCompanyId']" [options]="listMarketCompany" optionLabel="name"
                optionValue="marketCompanyId" (onChange)="findEmpTypeByMarket()"
                [placeHolder]="f['marketCompanyId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['marketCompanyId']"></app-control-messages>
            </div>
          
            <label [hidden]="f['empTypeList'].isHide"
              [ngClass]="{'required': f['empTypeList'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
              app.empCodeConfig.empTypeId
            </label>
            <div [hidden]="f['empTypeList'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <multi-select-filter [property]="f['empTypeList']" 
                [options]="listEmpType" optionLabel="name"
                optionValue="empTypeId" 
                [placeHolder] ="'common.label.cboSelectAll'"
                [filterPlaceHolder]="'common.label.cboSelectAll'">
              </multi-select-filter>
              <app-control-messages [control]="f['empTypeList']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['prefixCode']"
                            [labelValue]="'app.empCodeConfig.prefixCode'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='50'>
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          &nbsp;{{ 'app.empCodeConfig.listType' | translate }}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareInsertOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length"
          (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false"
          [lazy]="true" [scrollable]="true"
          [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [responsive]="true"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col *ngIf="hasPermission('action.update')" class="size-1">
            <!-- <col *ngIf="hasPermission('action.delete')" class="size-1"> -->
            <col class="size-10">
            <col class="size-6">
            <col class="size-6">
           
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
            <!-- <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th> -->
            <th [pSortableColumn]="'marketCompanyName'">
              {{'app.empCodeConfig.marketCompanyId' | translate}}
              <p-sortIcon [field]="'marketCompanyName'"></p-sortIcon>
            </th>
            <th>
              {{'app.empCodeConfig.empTypeId' | translate}}
            </th>
            <th [pSortableColumn]="'prefixCode'">
              {{'app.empCodeConfig.prefixCode' | translate}}
              <p-sortIcon [field]="'prefixCode'"></p-sortIcon>
            </th>
            
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td *ngIf="hasPermission('action.update')" class="vt-align-center">
              <a class="btn-table edit" (click)="prepareInsertOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
            </td>
            <!-- <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
              <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
            </td> -->
            <td >{{item.marketCompanyName}}</td>
            <td >{{item.empTypeName}}</td>
            <td class="vt-align-center">{{item.prefixCode}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
  </div>
</div>
