<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <party-union-form></party-union-form>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>

