<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')">
    <div class="col-md-3">
      <!-- nav menu -->
      <org-tree
        operationKey="action.view"
        adResourceKey="resource.organization"
        height="735"
        #orgTreeHistory
        (treeSelectNode)="treeSelectNode($event)"
      >
      </org-tree>
    </div>
    <div class="col-md-9 no-padding-left">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
