
<div class="panel panel-default" *ngIf="data">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      &nbsp;{{ 'app.import.listDataError' | translate }}
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table
      [scrollable]="true"
      [value]="data"
      [paginator]="true"
      [lazyLoadOnInit]="false"
      [lazy]="false"
      [rows]="10"
      [responsive]="true"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
      styleClass="controlOverflow"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-2">
          <col class="size-2">
          <col>
          <col>
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th translate>app.empTimekeeping.importRow</th>
            <th translate>app.empTimekeeping.importCol</th>
            <th translate>app.empTimekeeping.importDescription</th>
            <th translate>app.empTimekeeping.importContent</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{item.row}}</td>
          <td class="vt-align-center">{{item.columnLabel}}</td>
          <td>{{item.description}}</td>
          <td>{{item.content}}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
