<div class="block-mng block-mng-header">
  <ul>
    <li class="block-mng-item" *ngFor="let node of mainFunctions">
      <a [routerLink]="node.url">
        <span class="icon-mng-process"></span>
        <span class="text-content" >{{node.code | translate}}</span>
      </a>
    </li>
  </ul>
</div>
<div id="diagramAreaDashboard" class="diagram-dashboard">
  <div class="panel panel-default no-margin-bottom">
    <div class="panel-heading">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;{{'app.wfMenuMapping.diagram' | translate}}
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div id="diagram-space" class="sb-mobile-diagram ui-g-12">
        <div class="content-wrapper">
          <ejs-diagram #diagram id="diagram" width="100%" height="400px" [snapSettings]='snapSettings' [getConnectorDefaults]='connDefaults' [getNodeDefaults]='nodeDefaults' (click)="selectionChange($event)">
          </ejs-diagram>
        </div>
      </div>
      <div id="diagram-space" class="sb-mobile-diagram ui-g-12" [hidden]="'true'">
        <div class="content-wrapper">
          <ejs-diagram #diagramTmp id="diagramTmp">
          </ejs-diagram>
        </div>
      </div>
    </div>
  </div>
</div>
