<div class="modal-body">
  <form id="frmSaveEmpTradeUnion" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empTradeUnionId').value" translate> app.empTradeUnion.addTitle</span>
          <span *ngIf="formSave.get('empTradeUnionId').value" translate> app.empTradeUnion.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['tradeUnionId'].isHide"
                 [ngClass]="{'required': f['tradeUnionId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.empTradeUnion.tradeUnionId' | translate}}
          </label>
          <div [hidden]="f['tradeUnionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['tradeUnionId']"
              [options]="tradeUnionList"
              optionLabel="name"
              optionValue="sysCatId"
              [autofocus]="'autofocus'"
              [placeHolder]="f['tradeUnionId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['tradeUnionId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['percentage']"
                          [objectId]="f['empTradeUnionId'].value"
                          [labelValue]="'app.empTradeUnion.percentage'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='10'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.empTradeUnion.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empTradeUnion.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
	  </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
