<div class="modal-body">
  <form id="frmSaveEmpSocialInsurance" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empSocialInsuranceId').value" translate> app.socialInsuranceProcess.addTitle</span>
          <span *ngIf="formSave.get('empSocialInsuranceId').value" translate> app.socialInsuranceProcess.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['socialFundId'].isHide"
                 [ngClass]="{'required': f['socialFundId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.socialInsuranceProcess.socialInsuranceFund' | translate}}
          </label>
          <div [hidden]="f['socialFundId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['socialFundId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['socialFundId']"
              [options]="fundList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
			      <app-control-messages [control]="f['socialFundId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['insuranceNumber']"
                          [objectId]="f['empSocialInsuranceId'].value"
                          [labelValue]="'app.socialInsuranceProcess.insuranceNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='50'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['issuedDate'].isHide"
                 [ngClass]="{'required': f['issuedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.socialInsuranceProcess.issuedDate' | translate}}
          </label>
          <div [hidden]="f['issuedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['issuedDate']"></date-picker>
			      <app-control-messages [control]="f['issuedDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.socialInsuranceProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
			      <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.socialInsuranceProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
			      <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['note']"
                          [objectId]="f['empSocialInsuranceId'].value"
                          [labelValue]="'app.socialInsuranceProcess.note'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='500'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.socialInsuranceProcess.file' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser [property]="f['file']" [validMaxSize]="10" [validType]="FILE_TYPE_PERSONAL_UPLOAD" ></multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
	  </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
