<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> <span translate> app.salaryTable.positionSalaty.title </span>
    </strong>
    <div style="height: 0px; visibility: hidden; overflow: hidden;">
      <data-picker
        #chosePosition
        [property]="positionSalaryId"
        systemCode="emp"
        operationKey="action.view"
        adResourceKey="resource.salaryTable"
        objectBO="PositionSalaryBO"
        codeField="code"
        nameField="name"
        selectField="positionSalaryId"
      ></data-picker>
    </div>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <button type="button" class="btn btn-sm btn-info" (click)="chosePosition.onChose()" [innerHTML]="'common.button.bonus' | translate"></button>
    </div>
  </div>
  <div class="panel-body panel-table">
    <p-table [scrollable]="true" [value]="listPosition" tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-1">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate>common.table.index</th>
          <th translate>app.salaryTable.positionSalaty.code</th>
          <th translate>app.salaryTable.positionSalaty.name</th>
          <th translate>app.salaryTable.positionSalaty.typeName</th>
          <th translate>common.label.delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <td class="vt-align-center">
            {{item.code}}
          </td>
          <td>{{item.name}}</td>
          <td>{{item.positionTypeName}}</td>
          <td class="vt-align-center">
            <a *ngIf="!item.lock" class="btn-table delete" (click)="processDelete(item.positionSalaryId)" title="{{'common.button.table.hDelete' | translate}}" >
              <i class="fa fa-trash-alt"></i>
            </a>
            <a *ngIf="item.lock" class="btn-table" title="{{'common.button.table.hLock' | translate}}"><i class="fa fa-lock"></i></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
