<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="modal-body">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.timesheet.lockTimeSheet</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()"
                title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <!-- <dynamic-input [property]="f['periodOrganizationId']" [labelValue]="'organizationPlan.unit'"
                [labelClass]="'ui-g-12 ui-md-1 ui-lg-1 control-label vt-align-right required'"
                [inputClass]="'ui-g-6 ui-md-6 ui-lg-5'" [maxLength]='50'>
              </dynamic-input> -->
              <label [hidden]="orgParentId.isHide" [ngClass]="{'required': orgParentId.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="orgParentId.isHide" class="ui-g-12 ui-md-10 ui-lg-5">
                <org-selector [property]="orgParentId" operationKey="action.insert"
                  adResourceKey="resource.organization" isRequiredField="true" (onChange)="selectOrg($event)">
                </org-selector>
                <app-control-messages [control]="orgParentId"></app-control-messages>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': startDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right" translate>
                app.schedular.fromDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5" s>
                <date-picker [property]="startDate">
                </date-picker>
                <app-control-messages [control]="startDate"></app-control-messages>
              </div>

              <label [ngClass]="{'required': endDate.isRequire}"
                class="ui-g-4 ui-md-2 ui-lg-1 control-label vt-align-right" translate>
                app.schedular.toDate
              </label>
              <div class="ui-g-12 ui-md-10 ui-lg-5">
                <date-picker [property]="endDate">
                </date-picker>
                <app-control-messages [control]="endDate"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="vt-area-button">
            <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
              title="{{ 'common.label.search' | translate }}">
              <i class="fa fa-search "></i>
              <span translate>common.label.search</span>
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="onClickUpdateLock(true)"
              title="{{ 'common.label.lock' | translate }}">
              <i class="fa fa-lock fa-inverse" aria-hidden="true"></i>
              <span translate>app.timesheet.lock</span>
            </button>
            <button type="button" class="btn btn-sm btn-info" (click)="onClickUpdateLock(false)"
              title="{{ 'common.label.unLock' | translate }}">
              <i class="fa fa-unlock" aria-hidden="true"></i>
              <span translate>app.timesheet.unlock</span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>

  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="modal-body">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate>app.timesheet.lockTimeSheetTable</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()"
              title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
        <!-- <div class="panel-body padding-xl ui-g"> -->
        <timesheet-lock-grid [lockWorkOrgs]="lockTimeSheetOrgs" [searchStartDate]="searchStartDate"
          [searchEndDate]="searchEndDate" (onUpdateLock)="onUpdateLock($event)"></timesheet-lock-grid>
        <!-- </div> -->
      </div>
    </div>

  </div>
</div>
