<div class="block-mng block-mng-header">
    <ul>
        <li class="block-mng-item">
            <a href="">
                <span class="icon-employee-blue icon-mng-employee"></span>
                <span class="text-content" translate>home.receiveEmployee</span>
            </a>
        </li>

        <li class="block-mng-item">
            <a href="">
                <span class="icon-mng-process"></span>
                <span class="text-content" translate>home.processManagerment</span>
            </a>
        </li>
        <li class="block-mng-item">
            <a href="">
                <span class="icon-cacular-blue icon-cacular"></span>
                <span class="text-content" translate>home.salaryCalculateManagement</span>
            </a>
        </li>
        <li class="block-mng-item">
            <a href="">
                <span class="icon-mng-recument-2"></span>
                <span class="text-content" translate>home.recruitmentManagement</span>
            </a>
        </li>
        <li class="block-mng-item">
            <a href="">
                <span class="icon-mng-award"></span>
                <span class="text-content" translate>home.rewardManagerment</span>
            </a>
        </li>
        <li class="block-mng-item">
            <a [routerLink]="['/organizations/manage/search']">
                <span class="icon-mng-organization"></span>
                <span class="text-content" translate>home.orgManagerment</span>
            </a>
        </li>
        <li class="block-mng-item">
            <a href="">
                <span class="icon-report"></span>
                <span class="text-content" translate>home.statisticalReport</span>
            </a>
        </li>
    </ul>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
          <home-warning></home-warning>
        </div>
        <div class="col-md-6">
          <home-radar></home-radar>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="hasPermission('action.view')">
          <home-line-chart></home-line-chart>
        </div>
       <!-- <div *ngIf="!hasPermission('action.view')" translate>
            common.haveNoPermission
        </div>-->
      </div>
    </div>
</div>
