<div class="panel panel-default homeWarning">
  <div class="panel-heading">
      <strong class="text-u-c">
        <span class="glyphicon glyphicon-th" translate="">
        home.radar.title
        </span>
          <!-- <a class="pull-right" href="#"><i class="fa fa-ellipsis-h "></i></a> -->
      </strong>
  </div>
  <div class="panel-body">
    <p-chart height="325px" type="radar" [data]="data"></p-chart>
  </div>
</div>
