<div class="panel panel-default homeWarning" style="height: 525px;">
    <div class="panel-heading">
        <strong class="text-u-c" translate>
            <span class="glyphicon glyphicon-th"></span>
            homeReport.lineChart
            <!-- <a class="pull-right" href="#"><i class="fa fa-ellipsis-h "></i></a> -->
        </strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-left line-chart">
          <div style="padding: 0px 15px 15px;" class="tab-hightlight-bottom" >
            <div class="ui-tabview ui-widget ui-widget-content ui-corner-all ui-tabview-top">
              <ul p-tabviewnav="" role="tablist" class="ui-tabview-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ng-star-inserted">
                <li role="presentation" tabindex="0" class="ui-state-default ui-corner-top ng-star-inserted" [ngClass]="{'ui-tabview-selected ui-state-active': condi==1}">
                  <a role="tab" (click)="checkOnChange(1)" id="ui-tabpanel-0-label">
                    <span class="ui-tabview-title ng-star-inserted" translate>homeReport.day</span>
                  </a>
                </li>
                <li role="presentation" tabindex="0" class="ui-state-default ui-corner-top ng-star-inserted" [ngClass]="{'ui-tabview-selected ui-state-active': condi==2}">
                  <a role="tab" (click)="checkOnChange(2)" id="ui-tabpanel-1-label">
                    <span class="ui-tabview-title ng-star-inserted" translate>homeReport.month</span>
                  </a>
                </li>
                <li role="presentation" tabindex="0" class="ui-state-default ui-corner-top ng-star-inserted" [ngClass]="{'ui-tabview-selected ui-state-active': condi==3}">
                  <a role="tab" (click)="checkOnChange(3)" id="ui-tabpanel-2-label">
                    <span class="ui-tabview-title ng-star-inserted" translate>homeReport.year</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- (onDataSelect)="selectPointOnChange($event)" -->
          <p-chart *ngIf="isShowChart" type="line" height="380px" [data]="data" ></p-chart>
        </div>
        <div *ngIf="isShowDOB" class="col-right" style="width: 300px;">
          <div class="notice">
            <div class="notice-info">
              <b class="count">{{employeesCount}}</b>
              <span class="title-label" translate>homeReport.Employees</span>
            </div>
            <div class="notice-chart">
              <img src="assets/images/graph_mini.png" />
            </div>
          </div>
          <div class="notice">
            <div class="notice-info">
              <b class="count">{{employeesPercent}}%</b>
              <span class="title-label" translate>homeReport.EmployeesCondition</span>
            </div>
            <div class="notice-chart">
              <img src="assets/images/graph_mini.png" />
            </div>
          </div>
          <div class="notice">
            <div class="notice-info">
              <b class="count">{{employeesRetire}}</b>
              <span class="title-label" translate>homeReport.EmployeesRetire</span>
            </div>
            <div class="notice-chart">
              <img src="assets/images/graph_mini.png" />
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- <div class="panel-body vt-nopadding">
      <img src="assets/images/frame2.png" style="width: 100%;">
    </div> -->
  </div>
