<div class="panel panel-default homeWarning">
    <div class="panel-heading">
        <strong class="text-u-c">
            <span class="glyphicon glyphicon-th"></span>
            {{'homeWarning.warningInfor' | translate}}
            <!-- <a class="pull-right" href="#"><i class="fa fa-ellipsis-h "></i></a> -->
        </strong>
    </div>
    <p-scrollPanel [style]="{width: '100%', height: '385px'}" styleClass="custombar2 clearfix default">
      <div class="warning-content row">
        <div class="col-sm-4 col-md-4 col-xs-2 warning-block" *ngFor="let item of listWarningData">
          <a class="warning-item display-table w100" title="{{'homeWarning.' + item.warningType | translate}} {{item.warningCount}}">
            <span class="table-cell warning-icon">
              <span class="font-icon {{item.warningClass}}" >
                <i class="{{item.warningIcon}}"></i>
              </span>
            </span>
            <span class="table-cell warning-info">
              <span class="count">{{item.warningCount}}</span><br/>
              <span class="text">{{'homeWarning.' + item.warningType | translate}}</span>
            </span>
          </a>
        </div>
      </div>
    </p-scrollPanel>
</div>
