
<p-tabView [activeIndex]="tabIndex" *ngIf="hasPermission('action.view')">
    <p-tabPanel [header]="'emp.rewardDiscipline.reward' | translate">
      <reward-process-list></reward-process-list>
    </p-tabPanel>
    <p-tabPanel [header]="'emp.rewardDiscipline.discipline' | translate">
      <discipline-list></discipline-list>
    </p-tabPanel>
  </p-tabView>

  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
