<div class="panel panel-default" *ngIf="formOrgBoundaryDraff.controls.length > 0" style="margin-top: 4px;">
  <form spellcheck="false">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> &nbsp;
      {{'app.organization.boundary' | translate}}
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table [value]="formOrgBoundaryDraff.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="header">
          <tr>
            <th class="size-10" translate>app.organization.unit</th>
            <th colspan="5" style="padding: 7px 6px;">
              <p-table tableStyleClass="table controls-table table-wrapper ">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="size-1" translate>common.table.index</th>
                    <th class="size-10" translate>app.organization.jobTitle</th>
                    <th class="size-4" translate>app.organization.totalBoundary</th>
                    <th class="" translate>app.organization.assignedEmployees</th>
                    <th class="size-4" translate>app.organization.add_delete</th>
                  </tr>
                </ng-template>
              </p-table>
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-itemOrg let-index="rowIndex">
        <tr [formGroup]="itemOrg">
          <td class="size-10" class="vt-align-left">{{itemOrg.controls.organizationName.value}}</td>
          <td colspan="5">
            <p-table [value]="itemOrg.get('lstOrgBoundaryDraff').controls" tableStyleClass="table controls-table table-wrapper td-padding">
              <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [formGroup]="item">
                  <td class="vt-align-center size-1"> {{index + 1}} </td>
                  <td class="size-10">
                    <data-picker
                      [hidden]="item.controls.positionId.isHide"
                      [property]="item.controls.positionId"
                      systemCode="emp"
                      operationKey="action.view"
                      adResourceKey="resource.organization"
                      objectBO="PositionBO"
                      codeField="code"
                      nameField="name"
                      selectField="positionId"
                      filterCondition=" and curdate() BETWEEN obj.effective_date and IFNULL(obj.expired_date, curdate()) "
                      [disabled]="!showSaveButton">
                    </data-picker>
                    <app-control-messages [control]="item.controls.positionId"></app-control-messages>
                  </td>
                  <td class="size-4">
                    <dynamic-input
                      [property]="item.controls.boundaryNumber"
                      [objectId]="item.controls['orgBoundaryDraffId'].value"
                      inputClass="vt-align-right"
                      [maxLength]= "10"
                      [disabled]="!showSaveButton">
                    </dynamic-input>
                  </td>
                  <td class="vt-align-left" style="padding-right: 25px; overflow: hidden;">
                    <a style="color: rgb(0, 153, 255)" (click)="showListEmployee(item)" title="{{'common.label.view_detail' | translate}}">
                      {{createStringListEmailEmployee(item)}}
                    </a>
                    <button *ngIf="showSaveButton" type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="onChose(item)" style="position: absolute; right: 0; top: 3px"><span class="glyphicons glyphicons-plus-sign"></span></button>
                  </td>
                  <td class="vt-align-center size-4">
                    <button *ngIf="showSaveButton" type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addOrgBoundary(index, itemOrg)" [innerHTML]="'common.icon.plus' | translate"></button>
                    <button *ngIf="showSaveButton" type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeOrgBoundary(index, itemOrg)" [innerHTML]="'common.icon.minus' | translate"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" *ngIf="showSaveButton" class="btn btn-sm btn-info" (click)="actionSave()" [innerHTML]="'common.button.save' | translate"></button>
    <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/organizations/plan/search']" [innerHTML]="'common.button.previous' | translate"></button>
  </div>
  </form>
</div>
<div class="panel panel-default" style="margin-top: 4px;">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> &nbsp;
      {{'app.organization.listBoundary' | translate}}
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table [value]="listOrgBoundary" [scrollable]="true" tableStyleClass="table controls-table table-wrapper b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col>
            <col class="size-8">
            <col class="size-8">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th translate>app.organization.jobTitle</th>
            <th translate>app.organization.totalBoundary</th>
            <th translate>app.organization.remainBoundary</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="vt-align-center">{{index+1}}</td>
            <td>{{item.positionName}}</td>
            <td class="vt-align-center">{{item.boundaryNumber || 0}}</td>
            <td class="vt-align-center">{{item.boundaryNumberRemain || 0}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="4" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
  </div>
</div>
<div class="vt-area-button" *ngIf="formOrgBoundaryDraff.controls.length === 0">
  <button class="btn btn-sm btn-danger" [routerLink]="['/organizations/plan/search']" [innerHTML]="'common.button.previous' | translate"></button>
</div>
