<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'app.organization.listOrgDontAlowDelete' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </div>
    <div class="panel-body padding-xl ui-g">
      <p-table
      [scrollable]="true"
      [value]="data"
      [paginator]="true"
      [lazyLoadOnInit]="false"
      [lazy]="false"
      [rows]="10"
      [responsive]="true"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
      styleClass="controlOverflow"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-4">
          <col class="size-6">
          <col class="size-6">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th translate>app.organization.code</th>
            <th translate>app.organization.name</th>
            <th translate>app.organization.description</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex+1">
        <tr>
          <td class="vt-align-center">{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.errorContent | translate}}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>
</div>

