<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')">
      <div class="col-md-12">
          <org-action-lock-search></org-action-lock-search>
      </div>
  </div>

  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
