<div class="content">
  <div class="row emp_information clearfix">
    <div class="emp_information_left">
      <emp-info [EmployeeInfo]="employeeBean"></emp-info>
    </div>

    <div class="no-padding-left emp_information_right">
      <div class="employeeTabs">
        <p-scrollPanel [style]="{width: '100%', height: '48px'}"
          styleClass="custombar2 custombar3 emp-tab-scroll clearfix">
          <p-tabMenu [model]="items">
          </p-tabMenu>
        </p-scrollPanel>
        <div class="settingsTabs" id="settingsTabs">
          <div ngbDropdown #settingsTabsDropdown="ngbDropdown" placement="bottom-right" autoClose="outside">
            <button class="ico-vector setting-button" title="{{'app.configDisplayTab' | translate}}" ngbDropdownToggle></button>

            <div ngbDropdownMenu class="dropdown-menu-codition">

              <div class="leftNavigator">

                <div class="panel-background">
                  <div class="row" style="margin-top: 0px;">
                    <div class="col-md-12">
                      <div class="input-group orgSelector">
                        <input class="form-control org-selector-input ng-touched ng-pristine ng-valid"
                          formcontrolname="codeInput" name="codeInput" type="text" ng-reflect-type="text"
                          ng-reflect-name="codeInput" placeholder="{{'menu.search.placeHolder' | translate}} ..."
                          style="left: 5px;" [(ngModel)]="menuFilter">
                        <div class="input-group-append"
                          style="margin-left: 5px;padding-left: 0px;margin-right: 6px;margin-bottom: 2px;margin-top: 1px;">
                          <button class="btn org-selector-addon" type="submit" title="{{'common.label.search' | translate}}">
                            <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="sys-ul clearfix" style="width: 1040px;">
                  <div *ngFor="let item of hardItems | filter : menuFilter; index as i">
                    <li class="dropdown-item tabItems">
                      <div class="display-table condition-item" (click)="redirectTo(item); settingsTabsDropdown.close();">
                        <div class="table-cell condition-check">
                          <span class="{{item.iconClass}} color-warning"></span>
                        </div>
                        <div class="table-cell" (click)="redirectTo(item); settingsTabsDropdown.close();">
                          <span class="text-overflow">
                            {{item.label}}
                          </span>
                        </div>
                      </div>
                    </li>
                  </div>
                  <div *ngFor="let item of allItems| filter : menuFilter; index as i">
                    <li class="dropdown-item tabItems">
                      <div class="display-table condition-item checked">
                        <div class="table-cell condition-check" (click)="redirectTo(item); settingsTabsDropdown.close();">
                          <span class="{{item.iconClass}}"></span>
                        </div>
                        <div class="table-cell"(click)="redirectTo(item); settingsTabsDropdown.close();">
                          <span class="text-overflow" >
                            {{item.label}}
                          </span>
                        </div>
                        <p-checkbox [(ngModel)]="item.checked" binary="true" (onChange)="saveEmpTabs(item)"></p-checkbox>
                      </div>
                    </li>
                  </div>
                </ul>
              </div>

            </div>

          </div>
        </div>
        <div class="content-emp">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
