<div id="listExteriorPage">
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'app.empEducationProcess.exterior.listTitle' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <div *ngIf="hasPermission('action.insert')">
          <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
        </div>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
          [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-1" *ngIf="hasPermission('action.update')">
            <col class="size-1" *ngIf="hasPermission('action.delete')">
            <col class="size-8">
            <col class="size-8">
            <col class="size-8">
            <col class="size-6">
            <col class="size-6">
            <col class="size-8">
            <col class="size-8">
            <col class="size-8">
            <col class="size-8">
            <col class="size-6">
            <col class="size-9">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{'common.table.index' | translate}}</th>
            <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
            <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
            <th [pSortableColumn]="'isMainEduForm'">{{'app.empEducationProcess.isMainEduForm' | translate}}
                <p-sortIcon [field]="'isMainEduForm'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'degreeNumber'" >{{'app.empEducationProcess.degreeNumber' | translate}}
              <p-sortIcon [field]="'degreeNumber'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'degreeName'" >{{'app.empEducationProcess.degreeName' | translate}}
              <p-sortIcon [field]="'degreeName'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedDate'" >{{'app.empEducationProcess.issuedDate' | translate}}
              <p-sortIcon [field]="'issuedDate'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedPlaceId'" >{{'app.empEducationProcess.issuedPlaceId' | translate}}
              <p-sortIcon [field]="'issuedPlaceId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'educationGradeId'" >{{'app.empEducationProcess.educationGradeId' | translate}}
              <p-sortIcon [field]="'educationGradeId'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'educationSubjectId'" >{{'app.empEducationProcess.educationSubjectId' | translate}}
              <p-sortIcon [field]="'educationSubjectId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'educationTypeId'" >{{'app.empEducationProcess.educationTypeId' | translate}}
              <p-sortIcon [field]="'educationTypeId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'granduatedRankId'" >{{'app.empEducationProcess.granduatedRankId' | translate}}
              <p-sortIcon [field]="'granduatedRankId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'description'" >{{'app.empEducationProcess.description' | translate}}
              <p-sortIcon [field]="'description'"></p-sortIcon>
            </th>
            <th>{{'app.attachmentFile' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td class="vt-align-center" *ngIf="hasPermission('action.update')">
              <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a>
            </td>
            <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
              <a class="btn-table delete" (click)="processDeletes(item)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
            </td>
            <td class="vt-align-center">
              <i *ngIf="item.isMainEduForm==1" class="fas fa-check table-icon color-info"></i>
            </td>
            <td class="vt-align-center">{{item.degreeNumber}}</td>
            <td class="vt-align-left"  >{{item.degreeName}}</td>
            <td class="vt-align-center">{{item.issuedDate | displayDate}}</td>
            <td class="vt-align-left"  >{{item.issuedPlaceName}}</td>
            <td class="vt-align-left"  >{{item.educationGradeName}}</td>
            <td class="vt-align-left"  >{{item.educationSubjectName}}</td>
            <td class="vt-align-left"  >{{item.educationTypeName}}</td>
            <td class="vt-align-left"  >{{item.granduatedRankName}}</td>
            <td class="vt-align-left"  >{{item.description}}</td>
            <td class="vt-align-left"  >
              <a *ngFor="let data of item.fileAttachment.file"
                style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                (click)="downloadFile(data)">
                - {{data.fileName}}
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="12" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
