<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <!-- -->
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <!-- input -->
          <!-- ky danh gia: thang/quy/nam -->
          <div class="ui-g-12">

            <label [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
              [ngClass]="{'required': f['year'].isRequire}">
              {{'evaluation.employeeKi.type' | translate}}
            </label>
            <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <select-filter [property]="f['type']" [options]="listType" optionLabel="label" optionValue="id"
                [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                (onChange)="changeType($event)" [isMultiLanguage]="true">
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
            <div [hidden]="f['month'].isHide" class="ui-g-12 ui-md-6 ui-lg-1" id="cbMonth" *ngIf="f['type'].value==1">
              <select-filter [property]="f['month']" [options]="listMonth" optionLabel="month" optionValue="month"
                [placeHolder]="'common.label.cboMustSelect'" (onChange)="setDate()">
              </select-filter>
              <app-control-messages [control]="f['month']"></app-control-messages>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-1" id="cbQuarter" *ngIf="f['type'].value==2">
              <!-- [hidden]="true" -->
              <select-filter [property]="f['quarter']" [options]="listQuarter" optionLabel="quarter"
                optionValue="quarter" [placeHolder]="'common.label.cboMustSelect'" (onChange)="setDate()">
              </select-filter>
              <app-control-messages [control]="f['quarter']"></app-control-messages>
            </div>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <select-filter [property]="f['year']" [options]="listYear" optionLabel="year" optionValue="year"
                [placeHolder]="'common.label.cboMustSelect'" (onChange)="setDate()">
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>


          </div>
          <div class="ui-g-12">
            <!-- employeeCode -->
            <dynamic-input [property]="f['employeeCode']" [labelValue]="'evaluation.employeeKi.employeeCode'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="100" [autofocus]="'autofocus'">
            </dynamic-input>
            <!-- employeeName -->
            <dynamic-input [property]="f['employeeName']" [labelValue]="'evaluation.employeeKi.employeeName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="100">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <!-- organizationId -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right"
              [ngClass]="{'required': f['organizationId'].isRequire}">
              {{'evaluation.employeeKi.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view" adResourceKey="resource.period"
                [defaultValue]="true" isRequiredField="true"
                filterCondition="  (( expired_date is null and effective_date <= '{{END_DATE}}' ) or ( expired_date >= '{{END_DATE}}' and effective_date <= '{{END_DATE}}' ))">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <!--jobTitle  -->
            <label [hidden]="f['jobTitle'].isHide" [ngClass]="{'required': f['jobTitle'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'evaluation.employeeKi.jobTitle' | translate}}
            </label>
            <div [hidden]="f['jobTitle'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker [property]="f['jobTitle']" systemCode="emp" operationKey="action.view"
                adResourceKey="resource.employeeInfo" objectBO="PositionBO" codeField="code" nameField="name"
                selectField="positionId"
                filterCondition=" and (( obj.expired_date is null and obj.effective_date <= '{{START_DATE}}' ) or ( obj.expired_date >= '{{END_DATE}}' and obj.effective_date <= '{{START_DATE}}' ))">
              </data-picker>
              <app-control-messages [control]="f['jobTitle']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <!-- status -->
            <label [hidden]="f['status'].isHide" [ngClass]="{'required': f['status'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'evaluation.employeeKi.status' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 ">
              <div class="form-check-inline ">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_0" [value]="0"
                    name="status" formControlName="status">
                  <i></i>
                  {{'evaluation.employeeKi.selectAll' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_1" [value]="1"
                    name="status" formControlName="status">
                  <i></i>
                  {{'evaluation.employeeKi.rated' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_2" [value]="2"
                    name="status" formControlName="status">
                  <i></i>
                  {{'evaluation.employeeKi.notRated' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>


            <!-- number of record -->
            <dynamic-input [property]="f['numOfRecord']" [labelValue]="'evaluation.employeeKi.numOfRecord'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="20" (onChange)="changeNumOfRecord()">
            </dynamic-input>
          </div>
        </div>


        <!-- button -->
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearchEmployeeKi()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
          <button *ngIf="hasPermission('action.import')" type="button" class="btn btn-sm btn-info"
            routerLink="/evaluation/employee-ki/import" [innerHTML]="'common.button.import' | translate"></button>

        </div>
      </form>
    </div>

    <!-- grid -->
    <div class="panel panel-default timkeepingTable" *ngIf="resultList.data">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.employeeKi.titleList' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table clearfix">
        <div style="float:left; width:390px;">
          <p-table #ptable [value]="resultList.groupItem"
            [paginator]="resultList.groupItem && resultList.groupItem.length"
            (onLazyLoad)="processSearchEmployeeKi($event)" [totalRecords]="resultList.recordsTotal"
            [lazyLoadOnInit]="false" [lazy]="true" [rows]="this.formSearch.controls['numOfRecord'].value"
            [responsive]="true" tableStyleClass="table table-wrapper b-t format-tb">
            <ng-template pTemplate="colgroup" let-columns>
              <col style="width:40px;">
              <col style="width:100px;">
              <col style="width:250px;">
            </ng-template>
            <ng-template pTemplate="header">
              <tr style="height:71px !important;">
                <th translate>common.table.index</th>
                <th translate>app.employeeKi.employee_code</th>
                <th translate>app.employeeKi.employee_name</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-group let-indexGroup="rowIndex+1">
              <tr class="departmentRow">
                <td class="vt-align-left" colspan="11">
                  <span class="td-name">{{group[0].organizationName}}</span>
                </td>
              </tr>
              <tr *ngFor="let item of group" style="height:35px !important;">
                <td class="vt-align-center">{{item.index}}</td>
                <td class="vt-align-center">{{item.employeeCode}}</td>
                <td class="vt-align-left">
                  <span class="td-name">{{item.employeeName}}</span>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
        <div class="keepingTable" style="float:left; width:calc(100% - 390px); overflow-x:scroll; overflow-y:visible;">
          <p-table #ptable2 [value]="formSave.controls" [responsive]="false"
            tableStyleClass="table controls-table table-wrapper tableLayoutFixed  b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <col style="width: 150px">
              <col style="width: 150px">
              <col style="width: 80px">
              <col style="width: 200px">
              <col style="width: 150px">
              <col style="width: 150px">
              <col style="width: 150px">
              <col style="width: 150px">
            </ng-template>
            <ng-template pTemplate="header">
              <tr style="height:71px !important;">
                <th translate><span [ngClass]="{'required': true}">app.employeeKi.point</span></th>
                <th translate><span [ngClass]="{'required': true}">app.employeeKi.rank</span></th>
                <th translate>app.employeeKi.notRated</th>
                <th translate>app.employeeKi.note</th>
                <th translate>app.employeeKi.createdBy</th>
                <th translate>app.employeeKi.createdDate</th>
                <th translate>app.employeeKi.modifiedBy</th>
                <th translate>app.employeeKi.modifiedDate</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-indexGroup="rowIndex+1" *ngIf="resultList.data">
              <tr *ngIf="item.controls['employeeId'].value==-1" class="departmentRow">
                <td class="vt-align-left" colspan="8">
                  <span class="td-name"></span>
                </td>
              </tr>
              <tr *ngIf="item.controls['employeeId'].value!=-1" [formGroup]="item" style="height:35px !important;">
                <td [class]=" 'empKi_'+item.controls['employeeId'].value">
                  <dynamic-input [property]="item.controls.empKiPoint" inputClass=" input-align-right  "
                    [maxLength]="20"
                    [disabled]="(item.controls['isRate'].value|| item.controls['isLock'].value==1) ? true: null"
                    (onBlur)="changePoint(item)">
                  </dynamic-input>
                </td>
                <td class="vt-align-left" [id]="'empKi_'+item.controls['employeeId'].value">
                  <select-filter [property]="item.controls.empKi" [options]="listKiRank" optionLabel="name"
                    optionValue="sysCatId" appendTo="body"
                    [placeHolder]="'common.label.cboMustSelect'"
                    [disabled]="item.controls['isRate'].value || item.controls['isLock'].value==1">
                  </select-filter>
                  <app-control-messages [control]="item.controls.empKi"></app-control-messages>
                </td>
                <td class="vt-align-center">
                  <!-- <p-checkbox [(ngModel)]="item.controls['isRate']" binary="true" (onChange)="saveEmpTabs(item)"></p-checkbox> -->
                  <label *ngIf="item.controls['isLock'].value==1" class="i-checks disable" style="padding-left: 0;">
                    <input type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                      [formControl]="item.controls.isRate" disabled /> <i style="margin-left: 0"></i>
                  </label>
                  <label *ngIf="item.controls['isLock'].value!=1" class="i-checks" style="padding-left: 0;">
                    <input type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                      [formControl]="item.controls.isRate" /> <i style="margin-left: 0"></i>
                  </label>
                  <!-- <input *ngIf="item.controls['isLock'].value==1"  type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                    [formControl]="item.controls.isRate"  disabled/>
                    <input *ngIf="item.controls['isLock'].value!=1" type="checkbox" name="isRate" [value]="1" (click)="changeIsRate(item)"
                    [formControl]="item.controls.isRate"  /> -->
                </td>
                <td class="vt-align-center">
                  <dynamic-input [property]="item.controls.note" [objectId]="item.controls['employeeId'].value"
                    [maxLength]="100" [disabled]=" item.controls['isLock'].value==1 ? true: null"
                    [readonly]="item.controls['isLock'].value==1">
                  </dynamic-input>
                </td>
                <td class="vt-align-center">{{item.controls['createdBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['createdDate'].value | displayDate}}</td>
                <td class="vt-align-center">{{item.controls['modifiedBy'].value}}</td>
                <td class="vt-align-center">{{item.controls['modifiedDate'].value  | displayDate}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="button" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.save' | translate"></button>
        <!--   -->
        <button *ngIf="hasPermission('action.export')" type="button" (click)="processExport()"
          class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate"></button>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>