<div class="modal-body">
  <form id="frmSaveNation">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span *ngIf="!formSave.get('nationId').value" translate> app.nation.addTitle</span>
            <span *ngIf="formSave.get('nationId').value" translate> app.nation.updateTitle</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['code']"
              [objectId]="f['nationId'].value"
              [labelValue]="'app.nation.code'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "50"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input
              [property]="f['name']"
              [objectId]="f['nationId'].value"
              [labelValue]="'app.nation.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "200">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['isDefault'].isHide"
                   [ngClass]="{'required': f['isDefault'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.nation.isDefault' | translate}}
            </label>
            <div [hidden]="f['isDefault'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="isDefault" [value]="1" formControlName="isDefault">
                <i></i>
              </label>
              <app-control-messages [control]="f['isDefault']"></app-control-messages>
            </div>
            <label [hidden]="f['requirePersionalId'].isHide"
                   [ngClass]="{'required': f['requirePersionalId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.nation.requirePersionalId' | translate}}
            </label>
            <div [hidden]="f['requirePersionalId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="requirePersionalId" [value]="1" formControlName="requirePersionalId">
                <i></i>
              </label>
              <app-control-messages [control]="f['requirePersionalId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
              <label [hidden]="f['icon'].isHide"
              [ngClass]="{'required': f['icon'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.nation.icon' | translate}}
              </label>
            <div [hidden]="f['icon'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <data-nation [property]="f['icon']"></data-nation>
              <app-control-messages [control]="f['icon']"></app-control-messages>
            </div>

          </div>
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['description']"
              [objectId]="f['nationId'].value"
              [labelValue]="'app.nation.description'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-8'"
              [maxLength]= "1000"
              [type]="'text-area'">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.save' | translate"><i class="fa fa-save"></i></button>
          <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
        </div>
      </form>
    </div>
  </form>
</div>
