<div id="searchPage">
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
                <strong class="text-u-c" translate>
                    <i class="fa fa-th"></i>
                    app.family_realtionship.listTitle
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                  <div *ngIf="hasPermission('action.insert')">
                    <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
                  </div>
                </div>
            </div>
            <div class="panel-body panel-table">
                <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
                    [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
                    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col class="size-1">
                            <col class="size-1">
                            <col class="size-1">
                            <col class="size-4">
                            <col class="size-8">
                            <col class="size-6">
                            <col class="size-5">
                            <col class="size-5">
                            <col class="size-3">
                            <col class="size-5">
                            <col class="size-5">
                            <col class="size-3">
                            <col class="size-10">
                            <col class="size-7">
                            <col class="size-6">
                            <col class="size-8">
                            <col class="size-7">
                            <col class="size-7">
                        </colgroup>
                      </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'common.table.index' | translate}}</th>
                            <th>{{'common.button.table.hEdit' | translate}}</th>
                            <th>{{'common.button.table.hDelete' | translate}}</th>
                            <th  [pSortableColumn]="'empFamilyRelationshipId'" translate> app.family_realtionship.idRelation
                                <p-sortIcon [field]="'empFamilyRelationshipId'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'fullName'" translate>app.employee.full_name
                                <p-sortIcon [field]="'fullName'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'passportNumber'" translate>app.employee.passport_number
                                <p-sortIcon [field]="'passportNumber'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'relationTypeId'" translate>app.family_realtionship.relationship
                                <p-sortIcon [field]="'relationTypeId'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'dateOfBirth'" translate>app.family_realtionship.birthYear
                                <p-sortIcon [field]="'dateOfBirth'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'currentRelated'" translate>app.family_realtionship.relationshipNow
                                <p-sortIcon [field]="'currentRelated'"></p-sortIcon>
                            </th>
                            <th  [pSortableColumn]="'relativeStatusId'" translate>app.family_realtionship.condition
                                <p-sortIcon [field]="'relativeStatusId'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'nationId'" translate>app.employee.nation
                                <p-sortIcon [field]="'nationId'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'isLivingAbroad'" translate>app.family_realtionship.isLivingAbroad
                                <p-sortIcon [field]="'isLivingAbroad'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'permanentResidence'" translate>app.family_realtionship.permanentResidence
                                <p-sortIcon [field]="'permanentResidence'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'currentResidence'" translate>app.employee.current_address
                                <p-sortIcon [field]="'currentResidence'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'job'" translate>app.family_realtionship.job
                                <p-sortIcon [field]="'job'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'workOrganization'" translate>app.family_realtionship.workOrganization
                                <p-sortIcon [field]="'workOrganization'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'unionParty'" translate>app.family_realtionship.member
                                <p-sortIcon [field]="'unionParty'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'policyType'" translate>app.family_realtionship.policyType
                                <p-sortIcon [field]="'policyType'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                        <tr>
                            <td class="vt-align-center">{{index}}</td>
                            <td class="vt-align-center"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
                            <td class="vt-align-center"><a class="btn-table delete" (click)="processDelete(item.empFamilyRelationshipId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
                            <td class="vt-align-center">{{item.empFamilyRelationshipId}}</td>
                            <td class="vt-align-left">{{item.fullName}}</td>
                            <td class="vt-align-left">{{item.passportNumber}}</td>
                            <td class="vt-align-left">{{item.relationTypeName}}</td>
                            <td class="vt-align-center">{{item.dateOfBirth | displayDate}}</td>
                            <td class="vt-align-center">
                              <i *ngIf="item.currentRelated==1" class="fas fa-check table-icon color-info"></i>
                            </td>
                            <td class="vt-align-left">{{item.relativeStatus}}</td>
                            <td class="vt-align-left">{{item.nationName}}</td>
                            <td class="vt-align-center">
                                <i *ngIf="item.isLivingAbroad==1" class="fas fa-check table-icon color-info"></i>
                            </td>
                            <td class="vt-align-left">{{item.permanentResidence}}</td>
                            <td class="vt-align-left">{{item.currentResidence}}</td>
                            <td class="vt-align-left">{{item.job}}</td>
                            <td class="vt-align-left">{{item.workOrganization}}</td>
                            <td class="vt-align-left">
                                <span class="label-status info" *ngIf="item.unionParty==0" translate>app.family_realtionship.unionParty</span>
                                <span class="label-status warning" *ngIf="item.unionParty==1" translate>app.family_realtionship.universityParty</span>
                            </td>
                            <td class="vt-align-left">
                                <span class="label-status" *ngIf="item.policyType==166">{{item.policyTypeName}}</span>
                                <span class="label-status info" *ngIf="item.policyType==395">{{item.policyTypeName}}</span>
                                <span class="label-status warning" *ngIf="item.policyType==406">{{item.policyTypeName}}</span>
                                <!-- <span class="label-status danger" *ngIf="item.policyType==217" translate>app.family_realtionship.dioxin</span> -->
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr class="emptymessage">
                        <td [attr.colspan]="16" [innerHTML]="'app.noRecords' | translate">
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                      <table-footer [resultList]="resultList"></table-footer>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
