<div class="content ui-g-12 ui-md-12 ui-lg-12">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">

      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span translate>app.schedular.employeeTimekeeping</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">

        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <!-- <dynamic-input [property]="f['periodOrganizationId']" [labelValue]="'organizationPlan.unit'"
                [labelClass]="'ui-g-12 ui-md-1 ui-lg-1 control-label vt-align-right required'"
                [inputClass]="'ui-g-6 ui-md-6 ui-lg-5'" [maxLength]='50'>
              </dynamic-input> -->
          <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
            class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
            {{'organizationPlan.unit' | translate}}
          </label>
          <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
            <org-selector [property]="f['organizationId']" operationKey="action.view"
              adResourceKey="resource.organization">
            </org-selector>
            <app-control-messages [control]="f['organizationId']"></app-control-messages>
          </div>

          <label [hidden]="f['employeeId'].isHide" [ngClass]="{'required': f['employeeId'].isRequire}"
            class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right">
            {{'app.detailReport.employeeCode' | translate}}
          </label>
          <div [hidden]="f['employeeId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
            <data-picker [property]="f['employeeId']" systemCode="emp" operationKey="action.view"
              adResourceKey="resource.employee" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
              (onChange)="onEmployeeChange($event)" selectField="employeeCode">
            </data-picker>
            <app-control-messages [control]="f['employeeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
          <label [ngClass]="{'required': f['fromDate'].isRequire}"
            class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
            app.schedular.timekeeping.date
          </label>
          <div class="ui-g-12 ui-md-8 ui-lg-5">
            <date-picker [property]="f['fromDate']">
            </date-picker>
            <app-control-messages [control]="f['fromDate']"></app-control-messages>
          </div>

          <!-- <label [ngClass]="{'required': f['toDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.toDate
              </label> -->
          <!-- <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['toDate']">
                </date-picker>
                <app-control-messages [control]="f['toDate']"></app-control-messages>
              </div> -->
        </div>
        <!-- buttton -->
        <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
          <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
            title="{{ 'common.label.search' | translate }}">
            <i class="fa fa-search "></i>
            <span translate>app.schedular.timekeeping.lookup</span>
          </button>
          <button type="button" [routerLink]="['import']" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.import' | translate">
          </button>
        </div>
        <div class="panel-footer ui-g-12 ui-md-12 ui-lg-12">
          <a class="vt-align-right float-right" translate (click)="showSourceType()">
            app.schedular.timekeeping.buttonLabelShowWorkType
            <span translate>app.schedular.timekeeping.{{showWorkType?'hide':'show'}}</span>
          </a>
        </div>
      </div>

    </form>


    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>

  <!-- Loại ngày công  -->
  <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 card-panel"> -->
  <div class="w-100" *ngIf="showWorkType">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span translate>app.longLeaveReason.workdayTypeCode</span>
        </strong>
        <!-- <div class="vt-absolute vt-shotcut-button-in-heading">

          </div> -->
      </div>

      <div class="card-dynamic-content">
        <div ngClass="dynamic-card ui-g-4 ui-md-4 ui-lg-4" >
          <shift-day-type [workTypeSource]="dataSourcePaging[0]" [page]="0" [pageTotal]="100" [workTypeId]="0"></shift-day-type>
        </div>
        <div ngClass="dynamic-card ui-g-4 ui-md-4 ui-lg-4" >
          <shift-day-type [workTypeSource]="dataSourcePaging[1]" [page]="0" [pageTotal]="100" [workTypeId]="1"></shift-day-type>
        </div>
        <div ngClass="dynamic-card ui-g-4 ui-md-4 ui-lg-4" >
          <shift-day-type [workTypeSource]="dataSourcePaging[2]" [page]="0" [pageTotal]="100" [workTypeId]="2"></shift-day-type>
        </div>
      </div>
    </div>
    <!-- </div> -->

  </div>
  <!-- Lập lịch phân ca -->
  <div class="panel panel-default w-100 ui-g-12 ui-md-12 ui-lg-12 no-pad">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span translate>app.schedular.timekeeping.calculator</span>
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
      </div>
    </div>

    <p-tabView>
      <p-tabPanel header="{{'app.schedular.timekeeping.0'|translate}}">
        <time-keeping-table [shiftEmploy]="shiftEmploy" [workTypeSource]="dataSourcePaging[0]" [workTypeId]="0"></time-keeping-table>
      </p-tabPanel>

      <p-tabPanel header="{{'app.schedular.timekeeping.1'|translate}}">
        <time-keeping-table [shiftEmploy]="shiftEmploy" [workTypeSource]="dataSourcePaging[1]" [workTypeId]="1"></time-keeping-table>
      </p-tabPanel>

      <p-tabPanel header="{{'app.schedular.timekeeping.2'|translate}}">
        <time-keeping-table [shiftEmploy]="shiftEmploy" [workTypeSource]="dataSourcePaging[2]" [workTypeId]="2"></time-keeping-table>
      </p-tabPanel>
    </p-tabView>
    <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
      <button type="button" class="btn btn-sm btn-info" (click)="actionSubmitForm()"
        title="{{ 'app.schedular.save' | translate }}">
        <i class="fa fa-search "></i>
        <span translate>app.schedular.save</span>
      </button>
    </div>


  </div>
