<div class="content">
  <div *ngIf="hasPermission('action.view')" class="row">
    <div class="col-md-12">
      <lock-unlock-ki-search></lock-unlock-ki-search>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>

  