<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['year'].isHide"
                     [ngClass]="{'required': f['year'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-5 control-label vt-align-right">
                {{'app.payrolls.year' | translate}}
              </label>
              <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                <select-filter
                  [property]="f['year']"
                  [options]="listYear"
                  optionLabel="year"
                  optionValue="year"
                  (onChange)="processSearchByYear($event)"
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
                </select-filter>
                <app-control-messages [control]="f['year']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <!-- <button type="submit" (click)="processSearchByYear()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button> -->
            <button type="button" (click)="showPopupClone()" class="btn btn-sm btn-info" translate><i class="glyphicons glyphicons-more-items"></i> app.common.title.clone</button>
          </div>
          <div class="panel-body panel-footer padding-xl ui-g">
              <div class="ui-g-12">
                <div *ngFor="let item of listMonth" class="ui-g-4 ui-md-4 ui-lg-4">
                  <payroll-calendar
                     [holidayMap]="holidayMap"
                     [month]="item"
                     (onChangeHoliday)="onChangeHoliday($event)"
                  >
                  </payroll-calendar>
                </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
