<div class="content">
  <div class="panel panel-default">
    <form id="form" [formGroup]="form" spellcheck="false">
      <div class= "panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!form.value.dfFormulaId" translate>payroll.formula.config.add_title</span>
          <span *ngIf="form.value.dfFormulaId" translate>payroll.formula.config.edit_title</span>
        </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <div class="panel panel-default">
            <div class="panel-heading vt-relative">
              <strong class="text-u-c">
                <i class="fa fa-th"></i> <span translate style="cursor: pointer; color: #03a9f3;" (click)="showInfo = !showInfo"> payroll.formula.config.configInformation</span>
              </strong>
            </div>
            <div class="panel-body padding-xl ui-g" [hidden]="!showInfo">
              <div class="ui-g-12">
                <dynamic-input  [property]="f['name']"
                                [labelValue]="'payroll.formula.config.name'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                [autofocus]="'autofocus'"
                                [maxLength]='200'>
                </dynamic-input>
                <label [hidden]="f['salaryTypeId'].isHide"
                  [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
                  {{'payroll.formula.config.salaryType' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    (onChange)="onSalaryTypeChange($event)"
                    [property]="f['salaryTypeId']"
                    [options]="salaryTypeList"
                    optionLabel="name"
                    optionValue="salaryTypeId"
                    [autofocus]="'autofocus'"
                    [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                  </select-filter>
                  <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                    [property]="f['description']"
                    [labelValue]="'app.allowanceType.description'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                    [type]="'text-area'"
                    [maxLength]='5000'>
                </dynamic-input>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <p-overlayPanel #op>
            <div *ngIf="hoverElement"> {{elementColumn}} <br> {{elementAttributeType}} <br> {{elementResourceKey}}</div>
          </p-overlayPanel>
          <div class="panel panel-default">
            <div class="panel-heading vt-relative ">
              <strong class="text-u-c">
                <i class="fa fa-th"></i> <span translate style="cursor: pointer; color: #03a9f3;" (click)="showElement = !showElement"> payroll.formula.config.element</span>
              </strong>
            </div>
            <div class="panel-body padding-xl ui-g" [hidden]="!showElement">
              <ng-container *ngFor="let item of elementInformation" class = "ui-g">
                <div class = "ui-g-12 ui-md-6 ui-lg-3" style="padding-bottom: 10px">
                    <span style="font-size: 14px;
                              color: inherit;
                              cursor: pointer;"
                        (mouseenter)="hoverElement($event, item, op)"
                        (mouseleave)="hoverElement($event, item, op)"
                        >
                          {{item.columnOutput}}
                    </span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="panel panel-default">
              <div class="panel-heading vt-relative ">
                <strong class="text-u-c">
                  <i class="fa fa-th"></i> <span translate style="cursor: pointer; color: #03a9f3;" (click)="showFormula = !showFormula"> payroll.formula.config.expression</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading" >
                  <div style="margin-right: 20px;">
                    <button type="button" style="margin-right: 10px;" (click)="actionDownloadTemplate()" class="btn btn-sm btn-info"><span translate><i class="fa fa-download"></i> app.common.downloadReport</span></button>
                    <button type="button" (click)="loadImportModal()" class="btn btn-sm btn-info" [innerHTML]="'app.common.choseFile' | translate"></button>
                    <input type="file" style="width: 1px; visibility:hidden;" (change)="onChangeFile($event)" #file/>
                  </div>
                </div>
              </div>
              <div class="panel-body padding-xl ui-g" [hidden]="!showFormula">
                <p-table [value]="formDetail.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="size-1">
                      <col class="">
                      <col class="">
                      <col class="">
                      <col class="">
                      <col class="size-4">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{'common.table.index' | translate}}</th>
                      <th translate><span [ngClass]="{'required': formDetail.controls.length > 0 && formDetail.controls[0].controls.variableName.isRequire}">payroll.formula.configDetail.variableName</span></th>
                      <th translate><span [ngClass]="{'required': formDetail.controls.length > 0 && formDetail.controls[0].controls.expression.isRequire}">payroll.formula.configDetail.expression</span></th>
                      <th translate><span [ngClass]="{'required': formDetail.controls.length > 0 && formDetail.controls[0].controls.payrollItemId.isRequire}">payroll.formula.configDetail.payrollItemId</span></th>
                      <th translate><span [ngClass]="{'required': formDetail.controls.length > 0 && formDetail.controls[0].controls.description.isRequire}">payroll.formula.configDetail.description</span></th>
                      <th translate>payroll.formula.configDetail.configDetailAction</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr [formGroup]="item">
                      <td class="vt-align-center">{{index + 1}}</td>
                      <td class="vt-align-left">
                        <dynamic-input
                          [property]="item.get('variableName')"
                          [maxLength]='100'>
                        </dynamic-input>
                      </td>
                      <td class="vt-align-left">
                        <dynamic-input
                          [property]="item.get('expression')"
                          [type]="'text-area'"
                          [maxLength]='1000'>
                        </dynamic-input>
                      </td>
                      <td class="vt-align-left">
                        <auto-complete
                          [property]="item.get('payrollItemId')"
                          [options]="payrollItemList"
                          optionLabel = "code"
                          optionValue = "payrollItemId"
                          [maxLength] = 100
                          appendTo = "body">
                        </auto-complete>
                        <app-control-messages [control]="item.get('payrollItemId')"></app-control-messages>
                      </td>
                      <td class="vt-align-left">
                        <dynamic-input
                          [property]="item.get('description')"
                          [type]="'text-area'"
                          [maxLength]='5000'>
                        </dynamic-input>
                      </td>
                      <td class="vt-align-center">
                          <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addConfigDetail(index)" [innerHTML]="'common.icon.plus' | translate"></button>
                          <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeConfigDetail(index)" [innerHTML]="'common.icon.minus' | translate"></button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button"[routerLink]="['/payroll/formula/config']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>
