<form id="formSave" [formGroup]="formSave">
  <div class="panel panel-default">
    <div class="panel-body panel-table">
      <p-table [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-8">
            <col class="size-6">
            <col>
            <col class="size-4">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate><span>common.table.index</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.politicalDegreeType.isRequire}">app.educationProcess.political.level</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.degreeIssuedDate.isRequire}">app.educationProcess.political.issuedDate</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.degreeIssuedOrg.isRequire}">app.educationProcess.political.issuedPlace</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls.length > 0 && formSave.controls[0].controls.isActive.isRequire}">app.educationProcess.political.isMainProcess</span></th>
            <th translate>common.button.table.hDelete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">
              {{index+1}}
            </td>
            <td style="text-align: center;">
              <select-filter
                [hidden]="item.controls.politicalDegreeType.isHide"
                [placeHolder]="item.controls.politicalDegreeType.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="item.controls.politicalDegreeType"
                [options]="listLevel"
                optionLabel="name"
                optionValue="sysCatId">
              </select-filter>
              <app-control-messages [control]="item.controls.politicalDegreeType"></app-control-messages>
            </td>
            <td style="text-align: center;">
              <date-picker [property]="item.controls.degreeIssuedDate"></date-picker>
              <app-control-messages [control]="item.controls.degreeIssuedDate"></app-control-messages>
            </td>
            <td style="text-align: center;">
              <dynamic-input
                [property]="item.controls.degreeIssuedOrg"
                [autofocus]="'autofocus'"
                [maxLength]='200'>
              </dynamic-input>
            </td>
            <td  style="text-align: center;">
              <label class="i-checks">
                <input type="checkbox" (change)="checkOnly($event, index, 'isActive')" class="form-check-input control-label" [value]="1" name="isActive"
                  formControlName="isActive">
                <i></i>
              </label>
            </td>
            <td style="text-align: center;">
              <button class="btn-icon plus" [title]="'titleAdd' | translate"  type="button" (click)="addPoliticalInfo(index)" [innerHTML]="'common.icon.plus' | translate"></button>
              <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="removePoliticalInfo(index, item.value.empPoliticalDegreeId)" [innerHTML]="'common.icon.minus' | translate">
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="4" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- <div class="panel-footer vt-relative">
        <div class="vt-shotcut-button-in-heading vt-align-right">
            <button type="button" class="plus btn btn-sm btn-info add-row" (click)="addPoliticalInfo(null)" [innerHTML]="'app.empIncomeTax.plus' | translate">
            </button>
        </div>
      </div> -->
    </div>
    <div class="panel-footer vt-area-button">
      <button *ngIf="hasPermission('action.update')" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    </div>
  </div>
</form>
