<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span>{{'app.wfMenuMapping.style' | translate}}</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <div class="ui-g-6">
            <p-colorPicker [(ngModel)]="colorInp" [ngModelOptions]="{standalone: true}" (onChange)="changeColorInp()" [inline]="true"></p-colorPicker>
          </div>
          <div class="ui-g-6">
            <label>Background</label>
            <input type="text" class="form-control ui-g-12" formControlName="color" (change)="changeColor()">
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-6">
            <p-colorPicker [(ngModel)]="colorTextInp" [ngModelOptions]="{standalone: true}" (onChange)="changeColorTextInp()" [inline]="true"></p-colorPicker>
          </div>
          <div class="ui-g-6">
            <label>Text</label>
            <input type="text" class="form-control ui-g-12" formControlName="colorText" (change)="changeColorText()">
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>

