<div class="panel panel-default">
  <form id="formSave" [formGroup]="formSavePartyUnion">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <span translate>app.party_union.addTitle</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <dynamic-input  [property]="f['partyNumber']"
                        [labelValue]="'app.party_union.partyNumber'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [autofocus]="'autofocus'"
                        [maxLength]='50'>
        </dynamic-input>
        <label [hidden]="f['partyAdmissionDate'].isHide"
               [ngClass]="{'required': f['partyAdmissionDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.party_union.joinStDate' | translate}}
        </label>
        <div [hidden]="f['partyAdmissionDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['partyAdmissionDate']">
          </date-picker>
          <app-control-messages [control]="f['partyAdmissionDate']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <dynamic-input  [property]="f['partyAdmissionPlace']"
                        [labelValue]="'app.party_union.joinPartyPlace'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [maxLength]='100'>
        </dynamic-input>
        <label [hidden]="f['partyOfficialAdmissionDate'].isHide"
               [ngClass]="{'required': f['partyAdmissionDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.party_union.joinNdDate' | translate}}
        </label>
        <div [hidden]="f['partyOfficialAdmissionDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['partyOfficialAdmissionDate']">
          </date-picker>
          <app-control-messages [control]="f['partyOfficialAdmissionDate']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <dynamic-input  [property]="f['unionNumber']"
                        [labelValue]="'app.party_union.unionNumber'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [maxLength]='50'>
        </dynamic-input>
        <label [hidden]="f['unionAdmissionDate'].isHide"
               [ngClass]="{'required': f['unionAdmissionDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.party_union.joinUnionDate' | translate}}
        </label>
        <div [hidden]="f['unionAdmissionDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['unionAdmissionDate']">
          </date-picker>
          <app-control-messages [control]="f['unionAdmissionDate']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <dynamic-input  [property]="f['unionAdmissionPlace']"
                        [labelValue]="'app.party_union.joinUnionPlace'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [maxLength]='50'>
        </dynamic-input>
      </div>
      <div *ngFor="let item of formSaveOtherParty.controls; let i = index;" class="ui-g-12">
        <div [formGroup]="item">
          <div class="ui-g-12">
            <dynamic-input  [property]="item.get('partyName')"
                            [labelValue]="'app.party_union.partyName'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='100'>
            </dynamic-input>
            <label [ngClass]="{'required': item.get('joinedDate').isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.party_union.joinedDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="item.get('joinedDate')" >
              </date-picker>
              <app-control-messages [control]="item.get('joinedDate')"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="item.get('joinedPlace')"
                            [labelValue]="'app.party_union.joinedPlace'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='100'>
            </dynamic-input>
            <div class="ui-g-12 ui-md-6 ui-lg-2" style="text-align: left">
              <button style="margin-right: 3px;" type="button" [title]="'titleAdd' | translate" class="btn-icon plus" (click)="addOtherParty(i)" [innerHTML]="'common.icon.plus' | translate">
              </button>
              <button type="button" [title]="'titleDelete' | translate" class="btn-icon minus" (click)="removeOtherParty(i)" [innerHTML]="'common.icon.minus' | translate">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer vt-area-button" *ngIf="hasPermission('action.update')">
      <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    </div>
  </form>
</div>

