<div class="table-footer-sumary">
  <span *ngIf="resultList.recordsTotal < 10 && resultList.recordsTotal > 0">
    {{'common.tableSumary.find' | translate}} {{resultList.recordsTotal}}, {{'common.tableSumary.showAll' | translate}}
  </span>
  <span *ngIf="resultList.recordsTotal >= 10">
    {{'common.tableSumary.find' | translate}} {{resultList.recordsTotal}}, {{'common.tableSumary.showFrom' | translate}} {{parseInt(resultList.first) + 1}} {{'common.tableSumary.showTo' | translate}}
    {{parseInt(resultList.first) + resultList.data.length}}
  </span>
</div>
