<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c"><i class="fa fa-th"></i>
        {{'payroll.formula.config.listHistoryExpression' | translate}} {{name}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}"
          class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div id="searchPage">
        <div id="searchArea">
          <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch">
              <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                  <dynamic-input [property]="f['variableName']"
                    [labelValue]="'payroll.formula.configDetail.variableName'"
                    [labelClass]="'ui-g-12 ui-md-6 ui-lg-5 control-label vt-align-right'"
                    [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [autofocus]="'autofocus'" [maxLength]='200'>
                  </dynamic-input>
                </div>
              </div>
              <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSearchHistory()" class="btn btn-sm btn-info"
                  [innerHTML]="'common.button.search' | translate"> </button>
              </div>
            </form>
          </div>
        </div>
        <div id="listArea">
          <div class="panel panel-default">
            <div class="panel-body panel-table">
              <p-table [scrollable]="true" #ptable [value]="resultList.data"
                [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearchHistory($event)"
                [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-5">
                    <col class="size-7">
                    <col class="size-7">
                    <col class="size-5">
                    <col class="size-5">
                    <col class="size-5">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{'common.table.index' | translate}}</th>
                    <th [pSortableColumn]="'variableName'" translate>
                      payroll.formula.configDetail.variableName
                      <p-sortIcon [field]="'variableName'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'beforeExpression'" translate>
                      payroll.formula.configDetailHistory.beforeExpression
                      <p-sortIcon [field]="'beforeExpression'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'afterExpression'" translate>
                      payroll.formula.configDetailHistory.afterExpression
                      <p-sortIcon [field]="'afterExpression'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'createdBy'" translate>
                      payroll.formula.configDetailHistory.createdBy
                      <p-sortIcon [field]="'createdBy'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'createdDate'" translate>
                      payroll.formula.configDetailHistory.createdDate
                      <p-sortIcon [field]="'createdDate'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'description'" translate>
                      payroll.formula.configDetailHistory.action
                      <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                  <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td class="vt-align-left">{{item.variableName}}</td>
                    <td class="vt-align-left">{{item.beforeExpression}}</td>
                    <td class="vt-align-left">{{item.afterExpression}}</td>
                    <td class="vt-align-left">{{item.createdBy}}</td>
                    <td class="vt-align-center">{{item.createdDate| displayDate}}</td>
                    <td class="vt-align-center">
                      <span *ngIf="item.action=='0'">{{'app.infoChange.addTitle' | translate}}</span>
                      <span *ngIf="item.action=='1'">{{'payroll.item.edit' | translate}}</span>
                      <span *ngIf="item.action=='2'">{{'payroll.item.delete' | translate}}</span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <table-footer [resultList]="resultList"></table-footer>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
      [innerHTML]="'common.button.cancel' | translate"></button>
  </div>
</div>