<div class="modal-body">
  <form id="frmSaveAllowance">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>&nbsp;
              <span *ngIf="!formSave.value.allowanceId" translate>app.allowance.add_title</span>
              <span *ngIf="formSave.value.allowanceId" translate>app.allowance.edit_title</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [objectId]="f['allowanceId'].value"
                            [labelValue]="'app.allowance.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='20'
                            [readonly]='isInsOrUp'
                            >
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [objectId]="f['allowanceId'].value"
                            [labelValue]="'app.allowance.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='100'
                            >
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['allowanceTypeId'].isHide"
                   [ngClass]="{'required': f['allowanceTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
              {{'app.allowance.allowanceTypeId' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  (onChange)="onAllowanceTypeChange($event)"
                  [property]="f['allowanceTypeId']"
                  [options]="allowanceTypeList"
                  optionLabel="name"
                  optionValue="allowanceTypeId"
                  [placeHolder]="f['allowanceTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                </select-filter>
                <app-control-messages [control]="f['allowanceTypeId']"></app-control-messages>
            </div>
            <label [hidden]="f['typeId'].isHide"
                   [ngClass]="{'required': f['typeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
              {{'app.allowance.typeId' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                (onChange)="onTypeIdChange($event)"
                [property]="f['typeId']"
                [options]="typeIdList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="f['typeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
              </select-filter>
              <app-control-messages [control]="f['typeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['factor']"
                            [objectId]="f['allowanceId'].value"
                            [labelValue]="'app.allowance.factor'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [readonly]="checkFactor"
                            [maxLength]='6'
                            >
            </dynamic-input>
            <dynamic-input  [property]="f['amountMoney']"
                            [objectId]="f['allowanceId'].value"
                            [labelValue]="'app.allowance.amountMoney'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [readonly]="checkMoney"
                            [maxLength]='12'
                            >
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>
      </form>
    </div>
  </form>
</div>
