<p-tabView *ngIf ="hasPermission('action.view')">
  <p-tabPanel [header]="'app.visaPassportInformation.passportInformation' | translate">
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col-md-12">
            <passport-information></passport-information>
        </div>
    </div>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel [header]="'app.visaPassportInformation.visaInformation' | translate">
    <ng-template pTemplate="content">
      <div class="row">
        <div class="col-md-12">
          <visa-information></visa-information>
        </div>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>