<div class="file-group" *ngFor="let fileAttr of property.fileAttachment">
  <div class="input-group picker">
    <div class="input-group-prepend language-flag">
      <button class="btn btn-icon"
        [title]="fileAttr.languageObj? fileAttr.languageObj.name: ''" [disabled]="fileAttr.id"
        type="button" [ngClass]="{'btn-icon-info' : fileAttr.sysLanguageCode}"
        (click)="op.toggle($event)">
        <img *ngIf="fileAttr.languageObj && fileAttr.languageObj.imagePath" [src]="fileAttr.languageObj.imagePath" class="flags inp-flags" />
        <span *ngIf="!fileAttr.languageObj || !fileAttr.languageObj.imagePath" class="glyphicons glyphicons-globe-af"></span>
      </button>
      <p-overlayPanel #op [dismissable]="true" styleClass="panel-language" [showCloseIcon]="false" appendTo="body" baseZIndex="20000">
          <div class="panel-location-language">
            <ul class="sys-ul">
              <li *ngFor="let language of listLanguage" (click)="chooseLanguage(fileAttr, language)">
                <div class="display-table flag-item">
                  <div class="table-cell flag-img">
                      <img *ngIf="language.imagePath" [src]="language.imagePath" class="flags" />
                      <span *ngIf="!language.imagePath" class="glyphicons glyphicons-globe-af"></span>
                  </div>
                  <div class="table-cell">
                    {{language.name}}
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </p-overlayPanel>
    </div>
    <a href="javascript:;" class="file-control custom-file v-from file-process" [ngClass]="{hasFile: fileAttr.file}" >
      <input type="file"
        style="width: auto;"
        class="form-control"
        (change)="onChange($event, fileAttr)">
      <div *ngIf="fileAttr.isTemp" class="file-container" >
          <span class="file-text">{{ fileAttr.fileName }}</span>
          <span class="file-button btn-chose-file">{{ 'controls.choseFile' | translate}}</span>
      </div>
      <div *ngIf="!fileAttr.isTemp" class="file-container hasFileAttachment" title="{{fileAttr.fileName}}" >
          <span class="file-text" (click)="downloadFile(fileAttr)">{{ fileAttr.fileName }}</span>
          <span class="file-button btn-chose-file" (click)="downloadFile(fileAttr)" [innerHTML]="'controls.downloadFile' | translate"></span>
      </div>
      <span title="{{ 'controls.deleteFile' | translate}}" (click)="delete(fileAttr)" class="btn-delete-file glyphicons glyphicons-minus-sign"></span>
      <div class="file-action">
        <button type="button" (click)="addItem(fileAttr)" class="btn-icon plus" [innerHTML]="'common.icon.plus' | translate"></button>
        <button type="button" *ngIf="fileAttr.isTemp" (click)="removeItem(fileAttr)" class="btn-icon minus" [innerHTML]="'common.icon.minus' | translate"></button>
      </div>
    </a>
  </div>
  <small *ngIf="fileAttr.errorKey" class="text-danger errorMessage">
      {{ fileAttr.errorKey | translate:lang:{ fileType: validType, max: validMaxSize } }}
      </small>
</div>

