
<div class="row" *ngIf="hasPermission('action.view')" >
  <div class="col-md-12">
    <change-history-search></change-history-search>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>

