<div class="modal-body">
  <form id="frmSave">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span *ngIf="!formSave.get('empCodeConfigId').value" translate> app.empCodeConfig.addTitle</span>
            <span *ngIf="formSave.get('empCodeConfigId').value" translate> app.empCodeConfig.updateTitle</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <button style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['marketCompanyId'].isHide" [ngClass]="{'required': f['marketCompanyId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empCodeConfig.marketCompanyId' | translate}}
          </label>
          <div [hidden]="f['marketCompanyId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['marketCompanyId']" [options]="listMarketCompany" optionLabel="name"
              optionValue="marketCompanyId" (onChange)="findEmpTypeByMarket(true)"
              [placeHolder]="f['marketCompanyId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['marketCompanyId']"></app-control-messages>
          </div>
            
          <label [hidden]="f['empTypeList'].isHide" [ngClass]="{'required': f['empTypeList'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
            app.empCodeConfig.empTypeId
          </label>
          <div [hidden]="f['empTypeList'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multi-select-filter [property]="f['empTypeList']" [options]="listEmpType" optionLabel="name" optionValue="empTypeId"
              [filterPlaceHolder]="'common.label.cboMustSelect'" [placeHolder] ="'common.label.cboMustSelect'">
            </multi-select-filter>
            <app-control-messages [control]="f['empTypeList']"></app-control-messages>
          </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input  [property]="f['prefixCode']"
                            [labelValue]="'app.empCodeConfig.prefixCode'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='50'
                            (onChange)="showLiveView()"
                            [disabled]="f['empCodeConfigId'].value ? true : false">
            </dynamic-input>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-left" >
              {{liveView}}
            </label> 
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.save' | translate"><i class="fa fa-save"></i></button>
          <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
        </div>
      </form>
    </div>
  </form>
</div>
