<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.payrollMaster"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['year'].isHide"
                [ngClass]="{'required': f['year'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.payrolls.period.year' | translate}}
            </label>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [property]="f['year']"
                  [options]="yearList"
                  optionLabel="year"
                  optionValue="year"
                  [autofocus]="'autofocus'"
                  [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>


          </div>
          <div class="ui-g-12">
            <label [hidden]="f['periodId'].isHide"
                [ngClass]="{'required': f['periodId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.payroll.periodSalary' | translate}}
            </label>
            <div [hidden]="f['periodId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [property]="f['periodId']"
                  [options]="periodList"
                  optionLabel="periodName"
                  optionValue="periodId"
                  [placeHolder]="f['periodId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['periodId']"></app-control-messages>
            </div>
            <label [hidden]="f['salaryTypeId'].isHide"
                [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'payroll.formula.config.salaryType' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                  [property]="f['salaryTypeId']"
                  [options]="salaryTypeList"
                  optionLabel="name"
                  optionValue="salaryTypeId"
                  [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label  [hidden]="f['status'].isHide"
                    [ngClass]="{'required': f['status'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.progress.status' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                          [property]="f['status']"
                          [options]="statusList"
                          optionLabel="label"
                          optionValue="id"
                          [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                          [isMultiLanguage]="true">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.progress.calculateProgress' | translate}}
            </label>
            <div  class="ui-g-12 ui-md-6 ui-lg-3 vt-progress-bar">
                <div class="progress" pTooltip="{{percentCalculated.toFixed(2)}}%" tooltipPosition="bottom" >
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="stylePercentCalculated" aria-valuemin="0" aria-valuemax="100">
                        {{percentCalculated.toFixed(2)}}%
                    </div>
                  </div>
            </div>
          </div>
          <div class="ui-g-12">
            <label  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.progress.paymentProgress' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3 vt-progress-bar">
                <div class="progress" pTooltip="{{percentPaid.toFixed(2)}}%" tooltipPosition="bottom">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="stylePercentPaid" aria-valuemin="0" aria-valuemax="100">
                        {{percentPaid.toFixed(2)}}%
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="filterData()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate">
              <i class="fa fa-search"></i>
            </button>
        </div>
      </form>
    </div>
    <!-- hien thi bang -->
    <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c" >
            <i class="fa fa-th"></i>
            {{'payroll.progress.listTitle' | translate}}
          </strong>
        </div>
        <div class="panel-body panel-table">
            <p-table [scrollable]="true" #ptable [value]="resultList.data"
            [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearchData($event)"
            [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-4">
                <col class="size-9">
                <col class="size-9">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
                <col class="size-4">
                <col class="size-6">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'common.table.index' | translate}}</th>
                <th [pSortableColumn]="'organizationCode'">
                  {{'payroll.progress.orgCode' | translate}}
                  <p-sortIcon [field]="'organizationCode'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'organizationName'">
                  {{'payroll.progress.orgName' | translate}}
                  <p-sortIcon [field]="'organizationName'"></p-sortIcon>
                </th>
                <th>
                  {{'payroll.progress.periodName' | translate}}
                </th>
                <th>
                  {{'payroll.progress.salaryType' | translate}}
                </th>
                <th>
                  {{'payroll.progress.status.calculate' | translate}}
                </th>
                <th [pSortableColumn]="'status'">
                  {{'payroll.progress.status.payment' | translate}}
                  <p-sortIcon [field]="'status'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'isLock'">
                  {{'payroll.progress.lockStatus' | translate}}
                  <p-sortIcon [field]="'isLock'"></p-sortIcon>
                </th>
                <th translate>common.label.action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-left">{{index}}</td>
                <td class="vt-align-left">{{item.organizationCode}}</td>
                <td class="vt-align-left" >{{item.organizationName}}</td>
                <td class="vt-align-left" >{{item.periodName}}</td>
                <td class="vt-align-left" >{{item.salaryType}}</td>
                <td class="vt-align-center">
                  <span class="label-status info" *ngIf="item.status==1" translate>payroll.progress.calculated</span>
                  <span class="label-status danger" *ngIf="item.status!==1" translate>payroll.progress.isNotCalculated</span>
                </td>
                <td class="vt-align-center">
                  <span *ngIf="!checkPaid(item)" class="label-status danger" translate>payroll.progress.paidNotYet</span>
                  <span *ngIf="checkPaid(item)"  class="label-status info" translate>payroll.progress.paid</span>
                </td>
                <td class="vt-align-center">
                    <div *ngIf="item.status==1">
                      <span *ngIf="item.isLock===1" class='fa fa-lock vt-icon' (click)="onLock(0, item)" title="{{'parroll.islocked' | translate}}" style="color:red;"></span>
                      <span *ngIf="item.isLock===0" class='fa fa-unlock vt-icon' (click)="onLock(1, item)" title="{{'parroll.isNotLocked' | translate}}" style="color:orange;"></span>
                      <span *ngIf="item.isLock!=1||item.isLock!=0" ></span>
                    </div>
                </td>
                <td class="vt-align-center btn-action">
                    <div *ngIf="item.status==1">
                      <span *ngIf="hasPermission('action.update')">
                        <i class="fa fa-address-card color-info vt-icon" (click)="openPayrollMasterForm(item)" title="{{'payroll.progress.title' | translate}}"></i>
                        &nbsp;&nbsp;&nbsp;
                      </span>
                      <span *ngIf="hasPermission('action.export')">
                          <i class="fa fa-file-excel color-info vt-icon" (click)="processExport(item)" title="{{'common.button.table.hExport' | translate}}"></i>
                          &nbsp;&nbsp;&nbsp;
                      </span>
                      <span>
                          <i class="glyphicons glyphicons-message-out color-info vt-icon" (click)="processSendPayslipAll(item)" title="{{'payrolls.caculate.sentpayslip' | translate}}"></i>
                      </span>
                    </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>

