<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'payroll.recalculate.title' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector-payroll
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.organization"
                [defaultValue]="true"
                isRequiredField = "true">
              </org-selector-payroll>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['dateCheck'].isHide" [ngClass]="{'required': f['dateCheck'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.recalculate.date' | translate}}
            </label>
            <div [hidden]="f['dateCheck'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['dateCheck']"></date-picker>
              <app-control-messages [control]="f['dateCheck']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button *ngIf="hasPermission('action.payrollCalculate')" (click)="checkChange()" type="button"
            class="btn btn-sm btn-info" [innerHTML]="'common.button.table.checkChangePayroll' | translate"><i
              class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- hien thi bang -->
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'payroll.recalculate.titleList' | translate}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table [scrollable]="true" #ptable [value]="dataChange" (onLazyLoad)="checkChange()" [lazyLoadOnInit]="false"
          [lazy]="true" [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1">
              <col class="size-4">
              <col class="size-4">
              <col class="size-4">
              <col class="size-4">
              <col class="size-4">
              <col class="size-5">
              <col class="size-1">
              <col class="size-1">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3%;">
                  <p-checkbox name="selectedAll" class="custom-checkbox" (onChange)="onSelectedAll()" binary="true" [(ngModel)]="selectedAll" inputId="selectedAll"></p-checkbox>
              </th>
              <th style="width: 3%;">{{ 'common.table.index' | translate }}</th>
              <th style="width: 10%;">
                {{'payroll.recalculate.employeeCode' | translate}}
              </th>
              <th style="width: 20%;">
                {{'payroll.recalculate.employeeName' | translate}}
              </th>
              <th>
                {{'payroll.recalculate.salaryOld' | translate}}
              </th>
              <th>
                {{'payroll.recalculate.salaryChange' | translate}}
              </th>
              <th>
                  {{'payroll.recalculate.amountChange' | translate}}
                </th>
              <th>
                  {{'payroll.recalculate.amount' | translate}}
              </th>
              <th>{{'payroll.recalculate.arrears/retrospective' | translate}}</th>
              <th style="width: 5%;">
                {{'common.label.action' | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td style="text-align: center;">
                <p-checkbox name="groupSeleted" binary="true" class="custom-checkbox" [(ngModel)]="item.isSelected" inputId="{{item.employeeCode}}}"></p-checkbox>
              </td>
              <td style="text-align: center;">{{index}}</td>
              <td style="text-align: center;">{{item.employeeCode}}</td>
              <td style="text-align: left;">{{item.employeeName | formatCurrency:'VND'}}</td>
              <td style="text-align: right;">{{item.salaryOld | formatCurrency:'VND'}}</td>
              <td style="text-align: right;">{{item.salaryNew | formatCurrency:'VND'}}</td>
              <td style="text-align: right;">{{item.amountChange | formatCurrency:'VND'}}</td>
              <td style="text-align: center;">
                  <input type="text" style="text-align: right; width: 95%;" formatCurrencyDirective pInputText [(ngModel)]="item.amount"/>
              </td>
              <td style="text-align: center;">
                  <div [ngClass]="(item.typeOfChange !== arrears) ? 'badge-success':'badge-danger'"
                        style="font-weight: bold;width: 100%">{{ item.typeOfChange !== arrears ? ('payroll.recalculate.retrospective' | translate) : ('payroll.recalculate.arrears' | translate)}}</div>
              </td>
              <td style="text-align: center;">
                <a class="btn-table" title="{{'payroll.recalculate.detail.title' | translate}}"
                  (click)="processViewDetail(item)">
                  <i class="fa fa-eye"></i>
                </a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
        <div class="panel-footer vt-area-button">
            <button *ngIf="hasPermission('action.payrollCalculate')" (click)="runRecalculate()" type="button" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.table.recalculatorSalary' | translate"><i class="fa fa-calculator"></i></button>
        </div>
      </div>
    </div>

    <!-- hien thi chi tiết thay đổi -->
    <div class="panel panel-default" *ngIf="isShowDetail">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          {{'payroll.recalculate.detail.title' | translate}}: 
          {{titleEmployee}}
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-tabView (onChange)="handleChangeTab($event)">
          <p-tabPanel [header]="item" *ngFor="let item of lstTabDetails; let i = index" [selected]="i == 0">
            <div style="font-size: 13px;">
              <p>
                  <span>{{'payroll.recalculate.salaryOld' | translate}}: <b class="highlightText">{{salaryOld | formatCurrency:'VND'}}</b></span>
              </p>
              <p>
                  <span>{{'payroll.recalculate.salaryChange' | translate}}: <b class="highlightText">{{salaryNew | formatCurrency:'VND'}}</b></span>
              </p>
              <p>
                <span>{{'payroll.recalculate.salaryChangeOfPeriod' | translate}}: <b class="highlightText">{{salaryChangeOfPeriod | formatCurrency:'VND'}}</b></span>
              </p>
            </div>
            <br/>
            <p-accordion (onOpen)="onChangeSalaryType($event)">
              <p-accordionTab *ngFor="let salaryType of listSalaryType; let idx = index"
                header="{{salaryType.salaryTypeName}}"
                [selected]="true"
              >
                <div style="font-size: 13px;">
                    <p>
                        <span>{{'payroll.recalculate.salaryOld' | translate}}: <b class="highlightText">{{salaryType.salaryBeforeRecalculate | formatCurrency:'VND'}}</b></span>
                    </p>
                    <p>
                        <span>{{'payroll.recalculate.salaryChange' | translate}}: <b class="highlightText">{{salaryType.salaryRecalculate | formatCurrency:'VND'}}</b></span>
                    </p>
                    <p>
                      <span>{{'payroll.recalculate.salaryChangeOfPeriod' | translate}}: <b class="highlightText">{{salaryType.totalChange | formatCurrency:'VND'}}</b></span>
                    </p>
                  </div>
                <p-table [scrollable]="true" #ptable [value]="salaryType.listData"
                  [lazyLoadOnInit]="false" [lazy]="true" [responsive]="true"
                  tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="size-4">
                      <col class="size-4">
                      <col class="size-4">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th [pSortableColumn]="'fieldName'">
                        {{'payroll.recalculate.field' | translate}}
                        <p-sortIcon [field]="'fieldName'"></p-sortIcon>
                      </th>
                      <th>
                        {{'payroll.recalculate.valueOld' | translate}}
                      </th>
                      <th>
                        {{'payroll.recalculate.valueChange' | translate}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                    <tr class="highlightText">
                      <td style="text-align: left;">{{item.fieldName}}</td>
                      <td style="text-align: center;">{{item.valueOld | formatCurrency:'VND'}}</td>
                      <td style="text-align: center;">{{item.valueNew | formatCurrency:'VND'}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr class="emptymessage">
                      <td [attr.colspan]="3" [innerHTML]="'app.noRecords' | translate">
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="paginatorleft">
                    <table-footer [resultList]="resultList"></table-footer>
                  </ng-template>
                </p-table>
              </p-accordionTab>
            </p-accordion>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>