<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>&nbsp;
        <span translate>app.chooseLocation.title</span>
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button style="margin-bottom: 15px;" class="btn btn-span btn-sm btn-info" title="{{'common.button.close' | translate}}" type="button" (click)="activeModal.close()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="panel-body modal-content-body">
      <p-scrollPanel [style]="{width: '100%', height: '350px'}" styleClass="custombar2 clearfix">
        <div>
          <p-tree
            [value]="nodes"
            selectionMode="single"
            [(selection)]="selectedNode"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeExpand)="actionLazyRead($event)"
          >
          <ng-template let-node pTemplate="default">
            <span (dblclick)="choose()">{{node.label}}</span>
          </ng-template>
          </p-tree>
        </div>
      </p-scrollPanel>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="button" (click)="choose()" class="btn btn-sm btn-info" [innerHTML]="'common.button.choose' | translate"></button>
    </div>
  </div>
</div>
