<div id="commonInfo">
  <div class="">
    <form [formGroup]="formAdditionalInfo" spellcheck="false">
      <p-accordion [multiple]="true">
        <p-accordionTab #additionalInfoTab [header]="'app.organization.additionalInformation' | translate" [selected]="true">
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['nationId'].isHide"
                     [ngClass]="{'required': f['nationId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.sys_property.nation' | translate}}
              </label>
              <div [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['nationId']"
                  [options]="listNation"
                  optionLabel="name"
                  optionValue="nationId"
                  [autofocus]="'autofocus'"
                  (onChange)="getProvincesByNationId(); getBanksByNationId()"
                  [placeHolder]="f['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                </select-filter>
                <app-control-messages [control]="f['nationId']"></app-control-messages>
              </div>
              <label [hidden]="f['locationId'].isHide"
                     [ngClass]="{'required': f['locationId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'common.label.province' | translate}}
              </label>
              <div [hidden]="f['locationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['locationId']"
                  [options]="listLocation"
                  optionLabel="name"
                  optionValue="locationId"
                  [placeHolder]="f['locationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
                </select-filter>
                <app-control-messages [control]="f['locationId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <dynamic-input
                [property]="f['bankAccount']"
                [objectId]="f['organizationId'].value"
                [labelValue]="'app.organization.bankAccount'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "50"
               >
              </dynamic-input>
              <label [hidden]="f['bankId'].isHide"
                     [ngClass]="{'required': f['bankId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.organization.bank' | translate}}
              </label>
              <div [hidden]="f['bankId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['bankId']"
                  [options]="listBank"
                  optionLabel="label"
                  optionValue="value"
                  [placeHolder]="f['bankId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">>
                </select-filter>
                <app-control-messages [control]="f['bankId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <dynamic-input
                [property]="f['bankBranch']"
                [objectId]="f['organizationId'].value"
                [labelValue]="'app.organization.bankBranch'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "50">
              </dynamic-input>
              <label [hidden]="f['phoneNumber'].isHide"
                     [ngClass]="{'required': f['phoneNumber'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.organization.phoneNumber' | translate}}
              </label>
              <div [hidden]="f['phoneNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <int-phone-prefix
                  formControlName="phoneNumber"
                  [maxLength]='50'>
                </int-phone-prefix>
                <app-control-messages [control]="f['phoneNumber']"></app-control-messages>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab #orgDutyTab [header]="'app.organization.responsibility' | translate" [selected]="true">
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12" style="margin-left: 7%">
              <div [hidden]="f['isOrgSalary'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgSalary'].isRequire}">
                  <input formControlName="isOrgSalary" type="checkbox" />
                  <i></i>{{'app.organization.isOrgSalary' | translate}}
                </label>
              </div>
              <div [hidden]="f['isOrgRecruitment'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgRecruitment'].isRequire}">
                  <input formControlName="isOrgRecruitment" type="checkbox" />
                  <i></i>{{'app.organization.isOrgRecruitment' | translate}}
                </label>
              </div>
              <div [hidden]="f['isOrgSign'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgSign'].isRequire}">
                  <input formControlName="isOrgSign" type="checkbox" />
                  <i></i>{{'app.organization.isOrgSign' | translate}}
                </label>
              </div>
              <div [hidden]="f['isOrgModerator'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgModerator'].isRequire}">
                  <input formControlName="isOrgModerator" type="checkbox" />
                  <i></i>{{'app.organization.isOrgModerator' | translate}}
                </label>
              </div>
            </div>
            <div class="ui-g-12" style="margin-left: 7%">
              <div [hidden]="f['isOrgTax'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgTax'].isRequire}">
                  <input formControlName="isOrgTax" type="checkbox" />
                  <i></i>{{'app.organization.isOrgTax' | translate}}
                </label>
              </div>
              <div [hidden]="f['isOrgInsurance'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgInsurance'].isRequire}">
                  <input formControlName="isOrgInsurance" type="checkbox" />
                  <i></i>{{'app.organization.isOrgInsurance' | translate}}
                </label>
              </div>
              <div [hidden]="f['isOrgReward'].isHide" class="checkbox ui-g-12 ui-md-6 ui-lg-3 vt-align-left">
                <label class="i-checks" [ngClass]="{'required': f['isOrgReward'].isRequire}">
                  <input formControlName="isOrgReward" type="checkbox" />
                  <i></i>{{'app.organization.isOrgReward' | translate}}
                </label>
              </div>
            </div>
            <form [formGroup]="formOrgDuty">
              <div class="ui-g-12">
                <label [hidden]="fDuty['effectiveDate'].isHide"
                       [ngClass]="{'required': fDuty['effectiveDate'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
                  {{'app.organization.effectiveDate' | translate}}
                </label>
                <div [hidden]="fDuty['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker
                    [property]="fDuty['effectiveDate']">
                  </date-picker>
                  <app-control-messages [control]="fDuty['effectiveDate']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['target']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.target'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['mechanism']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.mechanism'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['mainDuty']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.mainDuty'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['jurisdiction']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.jurisdiction'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['responsibility']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.responsibility'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['innerRelationship']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.innerRelationship'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <dynamic-input
                  [property]="fDuty['outerRelationship']"
                  [objectId]="fDuty['orgDutyId'].value"
                  [labelValue]="'app.organization.outerRelationship'"
                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                  [maxLength]= "1000"
                  [type]="'text-area'">
                </dynamic-input>
              </div>
              <div class="ui-g-12">
                <label [hidden]="fDuty['orgDutyFile'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.organization.attachmentFile' | translate}}
                </label>
                <div [hidden]="fDuty['orgDutyFile'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
                  <multil-file-choser
                    [property]="fDuty['orgDutyFile']"
                    [validMaxSize]="10"
                    validType="xls,xlsx,doc,docx,pdf">
                  </multil-file-choser>
                </div>
              </div>
            </form>
          </div>
        </p-accordionTab>
        <p-accordionTab #orgBusinessTab [header]="'app.organization.businessRegistration' | translate" [selected]="true">
          <p-table [scrollable]="true" [value]="formOrgBusiness.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-10">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-4">
            </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate rowspan="2">common.table.index</th>
                <th translate rowspan="2">app.organization.issuedDate</th>
                <th translate rowspan="2">app.organization.headOfficeAddress</th>
                <th translate colspan="3">app.organization.managerInfo</th>
                <th translate rowspan="2">app.organization.reason</th>
                <th translate rowspan="2">app.organization.decisionNumber</th>
                <th translate rowspan="2">app.organization.decisionSigner</th>
                <th translate rowspan="2">app.organization.decisionUnit</th>
                <th translate rowspan="2">app.organization.attachmentFile</th>
                <th translate rowspan="2">app.organization.add_delete</th>
              </tr>
              <tr>
                <th class="border-left" translate>app.organization.managerName</th>
                <th translate>app.organization.managerGender</th>
                <th translate>app.organization.managerBirth</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td class="vt-align-center">
                <date-picker
                  [hidden]="item.controls.issuedDate.isHide"
                  [property]="item.controls.issuedDate"
                  appendTo="body"
                >
                </date-picker>
                <app-control-messages [control]="item.controls.issuedDate"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.address"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "1000">
                </dynamic-input>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.leaderName"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "200">
                </dynamic-input>
              </td>
              <td>
                <select-filter
                  [hidden]="item.controls.leaderGender.isHide"
                  [property]="item.controls.leaderGender"
                  [options]="listGender"
                  optionLabel="label"
                  optionValue="id"
                  [placeHolder]="item.controls.leaderGender.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [isMultiLanguage]="true"
                  appendTo="body">
                </select-filter>
                <app-control-messages [control]="item.controls.leaderGender"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <date-picker
                  [hidden]="item.controls.leaderBirthDay.isHide"
                  [property]="item.controls.leaderBirthDay"
                  appendTo="body"
                >
                </date-picker>
                <app-control-messages [control]="item.controls.leaderBirthDay"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.reason"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "500">
                </dynamic-input>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.documentNumber"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "100">
                </dynamic-input>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.signedBy"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "100">
                </dynamic-input>
              </td>
              <td class="vt-align-center">
                <dynamic-input
                  [property]="item.controls.orgSigned"
                  [objectId]="item.controls['orgBusinessRegistrationId'].value"
                  [maxLength]= "200">
                </dynamic-input>
              </td>
              <td>
                <file-choser
                  [property]="item.controls.orgBusinessFile"
                  [validMaxSize]="10"
                  validType="xls,xlsx,doc,docx,pdf"
                  htmlId="{{'filechoserorgBusinessFile'+index}}">
                </file-choser>
                <app-control-messages [control]="item.controls.orgBusinessFile"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addOrgBusiness(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeOrgBusiness(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
        <p-accordionTab #orgDocumentTab [header]="'app.organization.profileManagement' | translate" [selected]="true">
          <p-table [scrollable]="true" [value]="formOrgDocument.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-10">
              <col class="size-12">
              <col class="size-4">
            </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th translate>app.organization.profileManagementInUnit</th>
                <th translate>app.organization.effectiveDate</th>
                <th translate>app.organization.expiredDate</th>
                <th translate>app.organization.employeeProfileManagement</th>
                <th translate>app.organization.status</th>
                <th translate>app.organization.add_delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td class="vt-align-center">
                <org-selector
                  [hidden]="item.controls.orgFileManagerId.isHide"
                  [property]="item.controls.orgFileManagerId"
                  operationKey="action.view"
                  adResourceKey="resource.organization">
                </org-selector>
                <app-control-messages [control]="item.controls.orgFileManagerId"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <date-picker
                  [hidden]="item.controls.effectiveDate.isHide"
                  [property]="item.controls.effectiveDate"
                  appendTo="body"
                >
                </date-picker>
                <app-control-messages [control]="item.controls.effectiveDate"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <date-picker
                  [hidden]="item.controls.expiredDate.isHide"
                  [property]="item.controls.expiredDate"
                  appendTo="body"
                >
                </date-picker>
                <app-control-messages [control]="item.controls.expiredDate"></app-control-messages>
              </td>
              <td>
                <data-picker
                  [hidden]="item.controls.employeeId.isHide"
                  [property]="item.controls.employeeId"
                  systemCode="emp"
                  operationKey="action.view"
                  adResourceKey="resource.employee"
                  objectBO="EmployeeBO"
                  codeField="employeeCode"
                  nameField="fullName"
                  selectField="employeeId"
                  filterCondition=" and status = 1 ">
                </data-picker>
                <app-control-messages [control]="item.controls.employeeId"></app-control-messages>
              </td>
              <td>
                <select-filter
                  [hidden]="item.controls.status.isHide"
                  [property]="item.controls.status"
                  [placeHolder]="item.controls.status.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [options]="listStatus"
                  optionLabel="label"
                  optionValue="id"
                  [isMultiLanguage]="true"
                  appendTo="body">
                </select-filter>
                <app-control-messages [control]="item.controls.status"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addOrgDocument(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="removeOrgDocument(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>

      <div class="vt-area-button">
        <button type="submit" *ngIf="hasPermission('action.update')" class="btn btn-sm btn-info" (click)="processSaveOrUpdate()" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" class="btn btn-sm btn-danger" [routerLink]="['/organizations/manage/search']" [innerHTML]="'common.button.previous' | translate"></button>
      </div>
    </form>
  </div>
</div>
