<div *ngIf="hasPermission('action.view')">
  <div id="searchPage">
    <div id="searchArea">
      <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch" (ngSubmit)="processSearch()" spellcheck="false">
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              &nbsp;{{'common.label.search_form' | translate}}
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label [hidden]="f['orgParentId'].isHide"
                     [ngClass]="{'required': f['orgParentId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="f['orgParentId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <org-selector
                  [defaultValue]="true"
                  [property]="f['orgParentId']"
                  operationKey="action.view"
                  adResourceKey="resource.organization">
                </org-selector>
                <app-control-messages [control]="f['orgParentId']"></app-control-messages>
              </div>
              <dynamic-input
                [property]="f['planName']"
                [autofocus]="'autofocus'"
                [labelValue]="'organizationPlan.name'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "200">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['type'].isHide"
                     [ngClass]="{'required': f['type'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'organizationPlan.type' | translate}}
              </label>
              <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['type']"
                  [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  [isMultiLanguage] = 'true'
                  [options]="listPlanType"
                  optionLabel="label"
                  optionValue="id">
                </select-filter>
                <app-control-messages [control]="f['type']"></app-control-messages>
              </div>
              <label [hidden]="f['status'].isHide"
                     [ngClass]="{'required': f['status'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'organizationPlan.status' | translate}}
              </label>
              <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  [property]="f['status']"
                  [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                  [isMultiLanguage] = 'true'
                  [options]="listPlanStatus"
                  optionLabel="label"
                  optionValue="id">
                </select-filter>
                <app-control-messages [control]="f['status']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" class="btn btn-sm btn-info">
              <span [innerHTML]="'common.button.search' | translate"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            &nbsp;{{ 'organizationPlan.listTitle' | translate }}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf="hasPermission('action.insert')">
              <button (click)="prepareInsertOrUpdate()" class="btn btn-sm btn-info">
                <span [innerHTML]="'common.button.addNew' | translate"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table
            #ptable
            [scrollable]="true"
            [value]="resultList.data"
            [paginator]="true"
            (onLazyLoad)="processSearch($event)"
            [lazyLoadOnInit]="false"
            [lazy]="true"
            [totalRecords]="resultList.recordsTotal"
            [rows]="10"
            [responsive]="true"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
            styleClass="controlOverflow"
          >
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-5">
                <col>
                <col>
                <col class="size-8">
                <col class="size-6">
                <col class="size-6">
                <col class="size-6">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th translate>common.label.action</th>
                <th [pSortableColumn]="'orgParentName'" translate>organizationPlan.unit
                  <p-sortIcon [field]="'orgParentName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'planName'" translate>organizationPlan.name
                  <p-sortIcon [field]="'planName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'type'" translate>organizationPlan.type
                  <p-sortIcon [field]="'type'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'effectiveDate'" translate>organizationPlan.effectiveDate
                  <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'status'" translate>organizationPlan.status
                  <p-sortIcon [field]="'status'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'reason'" translate>organizationPlan.reason
                  <p-sortIcon [field]="'reason'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center btn-action">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                    <div ngbDropdownMenu>
                      <!-- Action edit plan -->
                      <div *ngIf="hasPermission('action.update')">
                        <button *ngIf="item.status===0 || item.status===3" class="dropdown-item"
                        (click)="prepareInsertOrUpdate(item)"
                        title="{{'common.button.table.hEdit' | translate}}"
                        [innerHTML]="'common.button.table.actedit' | translate">
                        </button>
                      </div>

                      <!-- View plan's detail -->
                      <button *ngIf="item.status!==0 && item.status!==3" class="dropdown-item"
                        [routerLink]="['/organizations/plan/edit', item.orgPlanId]"
                        title="{{'common.label.view_detail' | translate}}"
                        [innerHTML]="'common.button.table.view' | translate">
                      </button>

                      <!-- Action create org draff tree -->
                      <div *ngIf="hasPermission('action.update')">
                        <button *ngIf="item.status===0 || item.status===3" class="dropdown-item"
                          [routerLink]="['/organizations/plan/edit', item.orgPlanId]"
                          title="{{'common.button.table.hCreateOrgTree' | translate}}"
                          [innerHTML]="'common.button.table.actCreateOrgTree' | translate">
                        </button>
                      </div>

                      <!-- Action export -->
                      <!-- <div *ngIf="hasPermission('action.export')">
                        <button class="dropdown-item"
                          title="{{'common.button.table.hExport' | translate}}"
                          [innerHTML]="'common.button.table.actExport' | translate">
                        </button>
                      </div> -->

                      <!-- Action sign -->
                      <div *ngIf="hasPermission('action.decide')">
                        <button *ngIf="item.status===0 || item.status===3" class="dropdown-item"
                          (click)="signPlan(item)"
                          title="{{'common.button.table.hSign' | translate}}"
                          [innerHTML]="'common.button.table.actSign' | translate">
                        </button>
                      </div>

                      <!-- Action cancel sign -->
                      <div *ngIf="hasPermission('action.decide')">
                        <button *ngIf="item.status===1" class="dropdown-item"
                          (click)="cancelSign(item)"
                          title="{{'common.button.table.hCancelSign' | translate}}"
                          [innerHTML]="'common.button.table.actCancelSign' | translate">
                        </button>
                      </div>

                      <!-- Action delete plan -->
                      <div *ngIf="hasPermission('action.delete')">
                        <button *ngIf="item.status===0 || item.status===3" class="dropdown-item"
                        (click)="processDeletePlan(item)"
                        title="{{'common.button.table.hDelete' | translate}}"
                        [innerHTML]="'common.button.table.actDelete' | translate">
                        </button>
                      </div>

                      <!-- Phe duyet + tu choi -->
                      <div *ngIf="hasPermission('action.approval')">
                        <button *ngIf="item.status===1" class="dropdown-item"
                          (click)="actionApprove(item)"
                          title="{{'common.status.approved' | translate}}"
                          [innerHTML]="'common.button.table.actApprove' | translate">
                        </button>
                      </div>
                      <div *ngIf="hasPermission('action.unApprove')">
                        <button *ngIf="item.status===1" class="dropdown-item"
                          (click)="actionUnApprove(item)"
                          title="{{'common.status.refused' | translate}}"
                          [innerHTML]="'common.button.table.actUnapproved' | translate">
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{item.orgParentName}}</td>
                <td><a (click)="processViewDetail(item)" class="text-link">{{item.planName}}</a></td>
                <td class="vt-align-left">
                  <span *ngIf="item.type===0" class="label-status info" translate>organizationPlan.type.addNew</span>
                  <span *ngIf="item.type===1" class="label-status warning" translate>organizationPlan.type.changName</span>
                  <span *ngIf="item.type===2" class="label-status" translate>organizationPlan.type.merger</span>
                  <span *ngIf="item.type===3" class="label-status danger" translate>organizationPlan.type.restructure</span>
                </td>
                <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
                <td class="vt-align-left">
                  <span *ngIf="item.status===0" class="label-status"  translate>organizationPlan.status.init</span>
                  <span *ngIf="item.status===1" class="label-status warning"  translate>organizationPlan.status.waitingForApprove</span>
                  <span *ngIf="item.status===2" class="label-status info"  translate>organizationPlan.status.approved</span>
                  <span *ngIf="item.status===3" class="label-status danger"  translate>organizationPlan.status.refused</span>
                  <span *ngIf="item.status===6" class="label-status warning"  translate>organizationPlan.status.waittingProcess</span>
                </td>
                <td>{{item.reason}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="8" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
