<div class="modal-body">
  <form id="frmSaveEmpSalaryProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span *ngIf="!formSave.get('empPositionSalaryProcessId').value" translate>app.empSalaryProcess.addTitle</span>
          <span *ngIf="formSave.get('empPositionSalaryProcessId').value" translate>app.empSalaryProcess.updateTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['decideCode']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.decisionNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='50'>
          </dynamic-input>
          <label [hidden]="f['decideDate'].isHide"
                  [ngClass]="{'required': f['decideDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empSalaryProcess.decisionDate' | translate}}</label>
          <div [hidden]="f['decideDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['decideDate']">
            </date-picker>
            <app-control-messages [control]="f['decideDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                  [ngClass]="{'required': f['effectiveDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.salaryTable.effectiveDate' | translate}}</label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']">
            </date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                  [ngClass]="{'required': f['expiredDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.empSalaryProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']">
            </date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['positionSalaryId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empSalaryProcess.titleOfSalary' | translate}}</label>
          <div [hidden]="f['positionSalaryId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <data-picker
              [property]="f['positionSalaryId']"
              systemCode="emp"
              operationKey="action.view"
              adResourceKey="resource.empPositionSalary"
              objectBO="PositionBO"
              codeField="code"
              nameField="name"
              selectField="positionId"
              filterCondition=" and curdate() BETWEEN obj.effective_date and IFNULL(obj.expired_date, curdate()) ">
            </data-picker>
            <app-control-messages [control]="f['positionSalaryId']"></app-control-messages>
          </div>
          <label [hidden]="f['raiseDate'].isHide"
                [ngClass]="{'required': f['raiseDate'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.empSalaryProcess.raisedDate' | translate}}</label>
          <div [hidden]="f['raiseDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['raiseDate']">
            </date-picker>
            <app-control-messages [control]="f['raiseDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['salaryRegulateId'].isHide"
                  [ngClass]="{'required': f['salaryRegulateId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empSalaryProcess.salaryRegulate' | translate}}
          </label>
          <div [hidden]="f['salaryRegulateId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onSalaryRegulateChange($event)"
              [property]="f['salaryRegulateId']"
              [options]="salaryRegulateList"
              optionLabel="name"
              optionValue="salaryTableId"
              [placeHolder]="f['salaryRegulateId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['salaryRegulateId']"></app-control-messages>
          </div>
          <label [hidden]="f['salaryLadderId'].isHide"
                  [ngClass]="{'required': f['salaryLadderId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empSalaryProcess.salaryTable' | translate}}
          </label>
          <div [hidden]="f['salaryLadderId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onSalaryGradeLadderChange($event)"
              [property]="f['salaryLadderId']"
              [options]="salaryGradeLadderList"
              optionLabel="name"
              optionValue="salaryTableId"
              [placeHolder]="f['salaryLadderId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['salaryLadderId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['salaryRateId'].isHide"
                  [ngClass]="{'required': f['salaryRateId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.empSalaryProcess.salaryScale' | translate}}
          </label>
          <div [hidden]="f['salaryRateId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onSalaryGradeRateChange($event)"
              [property]="f['salaryRateId']"
              [options]="salaryGradeRateList"
              optionLabel="name"
              optionValue="salaryTableId"
              [placeHolder]="f['salaryRateId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['salaryRateId']"></app-control-messages>
          </div>
          <label [hidden]="f['salaryGradeStepId'].isHide"
                  [ngClass]="{'required': f['salaryGradeStepId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'app.empSalaryProcess.salaryGrade' | translate}}
          </label>
          <div [hidden]="f['salaryGradeStepId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onSalaryGradeStepChange($event)"
              [property]="f['salaryGradeStepId']"
              [options]="salaryGradeStepList" optionLabel="name"
              optionValue="salaryStepGradeId"
              [placeHolder]="f['salaryGradeStepId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['salaryGradeStepId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12" *ngIf="gradeLadderType === 1 && f['salaryGradeStepId'].value">
          <label [hidden]="f['factorNumber'].isHide"
                  [ngClass]="{'required': f['factorNumber'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empSalaryProcess.titleCoefficient' | translate}}
          </label>
          <div [hidden]="f['factorNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" #factorNumber class="form-control vt-align-right" formControlName="factorNumber" readonly />
            <app-control-messages [control]="f['factorNumber']"></app-control-messages>
          </div>
          <label [hidden]="f['agreeSalary'].isHide"
                  [ngClass]="{'required': f['agreeSalary'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.empSalaryProcess.salaryAgreement' | translate}}</label>
          <div [hidden]="f['agreeSalary'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" #agreeSalary class="form-control vt-align-right" formControlName="agreeSalary" readonly />
            <app-control-messages [control]="f['agreeSalary']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12" *ngIf="gradeLadderType === 1 && f['salaryGradeStepId'].value">
          <dynamic-input  [property]="f['bonus']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.bonus'"
                          [maxLength] = "9"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
          </dynamic-input>
        </div>
        <div class="ui-g-12" *ngIf="gradeLadderType === 2 && f['salaryGradeStepId'].value">
          <dynamic-input  [property]="f['totalSalary']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.totalSalary'"
                          [maxLength]='totalSalaryLength'
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
          </dynamic-input>
          <dynamic-input  [property]="f['baseSalary']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.baseSalary'"
                          [maxLength]='baseSalaryLength'
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
          </dynamic-input>
        </div>
        <div class="ui-g-12" *ngIf="gradeLadderType === 2 && f['salaryGradeStepId'].value">
          <dynamic-input  [property]="f['bonus13thMonth']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.bonus13thMonth'"
                          [maxLength]='bonus13thMonthLength'
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
          </dynamic-input>
          <dynamic-input  [property]="f['bonusYear']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.bonusYear'"
                          [maxLength]='bonusYearLength'
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'">
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['percent']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.percent'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-right'"
                          [maxLength]='5'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['description']"
                          [objectId]="f['empPositionSalaryProcessId'].value"
                          [labelValue]="'app.empSalaryProcess.description'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='500'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.empSalaryProcess.attachedFiles' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser [property]="fileControl" [validMaxSize]="10" [validType]="FILE_TYPE_PERSONAL_UPLOAD"></multil-file-choser>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
