<div class="content" >
  <div *ngIf ="hasPermission('action.view')">
    <div  class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
          <div class="panel-heading">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate> common.label.search_form</span>
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <dynamic-input
                [property]="f['code']"
                [labelValue]="'salary.type.salarytypecode'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "50"
                [autofocus]="'autofocus'">
              </dynamic-input>
              <dynamic-input
                [property]="f['name']"
                [labelValue]="'salary.type.salaryname'"
                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                [maxLength]= "200">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label  [hidden]="f['regulationSalary'].isHide"
                      [ngClass]="{'required': f['regulationSalary'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                      {{'salary.type.salaryregulation' | translate}}
              </label>
              <div [hidden]="f['regulationSalary'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter  [placeHolder]="f['regulationSalary'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                                [property]="f['regulationSalary']"
                                [options]="regulationSalaryList"
                                optionLabel="value"
                                optionValue="code">
                </select-filter>
                <app-control-messages [control]="f['regulationSalary']"></app-control-messages>
              </div>
              <label  [hidden]="f['type'].isHide"
                      [ngClass]="{'required': f['type'].isRequire}"
                      class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
                      {{'salarytype.add.classify' | translate}}
              </label>
              <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter  [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                                [property]="f['type']"
                                [options]="salaryTypeList"
                                optionLabel="value"
                                optionValue="code">
                </select-filter>
                <app-control-messages [control]="f['type']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
              <button type="submit" (click)="actionSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
          </div>
        </form>
    </div>
    <div id="listArea">
        <div class="panel panel-default">
            <div class="panel-heading vt-relative">
              <strong class="text-u-c">
                  <i class="fa fa-th"></i>&nbsp;{{'salary.type.salarlisttile' | translate}}
              </strong>
              <div class="vt-absolute vt-shotcut-button-in-heading">
                <div *ngIf="hasPermission('action.insert')">
                  <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="panel-body panel-table">
              <p-table #ptable [value]="resultList.data" dataKey="regulationSalary"
                (onLazyLoad)="actionSearch($event)" [lazyLoadOnInit]="false" [lazy]="true" [scrollable]="true"
                tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col class="size-1">
                      <col class="size-1" *ngIf="hasPermission('action.update')">
                      <col class="size-1" *ngIf="hasPermission('action.delete')">
                      <col class="size-8">
                      <col class="size-12">
                      <col class="size-12">
                      <col class="size-8">
                    </colgroup>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th translate>common.table.index</th>
                      <th *ngIf="hasPermission('action.update')">{{'salary.type.salarychange' | translate}}</th>
                      <th *ngIf="hasPermission('action.delete')">{{'salary.type.salarydelete' | translate}}</th>
                      <th translate>salary.type.salarystatust</th>
                      <th translate>salary.type.salarytypecode</th>
                      <th translate>salary.type.salaryname</th>
                      <th translate>salary.type.salarytype</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
                    <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.regulationSalary] && rowGroupMetadata[rowData.regulationSalary].index === rowIndex">
                      <td colspan="7">
                        <a href="#" [pRowToggler]="rowData">
                          <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                          <span style="font-weight:bold">{{rowData.regulationSalaryName}}</span>
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="rowexpansion" let-item let-rowIndex="rowIndex">
                    <tr>
                      <td class="vt-align-center">{{rowIndex + 1}}</td>
                      <td  class="vt-align-center" *ngIf="hasPermission('action.update')">
                        <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                      </td>
                      <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                        <a *ngIf="item.isLock==0"  class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                        <a *ngIf="item.isLock==1"  class="btn-table delete"  title="{{'common.button.table.hLock' | translate}}"><i class="fa fa-lock"></i></a>
                      </td>
                      <td>
                        <span *ngIf="item.status===0" (click)="changeStatus(item)" class="label-status danger" translate>salarytype.add.active.no</span>
                        <span *ngIf="item.status===1" (click)="changeStatus(item)" class="label-status info" translate>salarytype.add.active.yes</span>
                      </td>
                      <td class="vt-align-center"  >{{item.code}}</td>
                      <td class="vt-align-left"  >{{item.name}}</td>
                      <td class="vt-align-center" >{{item.typeName}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr class="emptymessage">
                      <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                      </td>
                    </tr>
                  </ng-template>
              </p-table>
            </div>
        </div>
      </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
