<div id="searchPage">
  <div *ngIf = "hasPermission('action.view')" id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" >
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12" >
            <label  [hidden]="f['salaryTypeId'].isHide"
                    [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payslip.config.salaryType' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                              [property]="f['salaryTypeId']"
                              [options]="salaryTypeList"
                              optionLabel="name"
                              optionValue="salaryTypeId"
                              [autofocus]="'autofocus'"
                              [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
                </select-filter>
                <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>
            <label  [hidden]="f['status'].isHide"
                    [ngClass]="{'required': f['status'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{'payroll.payslip.config.status' | translate}}
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                          [property]="f['status']"
                          [options]="statusList"
                          optionLabel="label"
                          optionValue="id"
                          [placeHolder]="f['status'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                          [isMultiLanguage]="true">
              </select-filter>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"> </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" >
          <i class="fa fa-th"></i>
          {{'payroll.payslip.config.listTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf = "hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table [scrollable]="true" #ptable [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col class="size-7">
              <col>
              <col>
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf="hasPermission('action.update')">
                {{'common.button.table.hEdit' | translate}}
              </th>
              <th *ngIf="hasPermission('action.delete')">
                {{'common.button.table.hDelete' | translate}}
              </th>
              <th [pSortableColumn]="'status'">
                {{'payroll.payslip.config.status' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'organizationName'">
                {{'app.payrolls.period.organization' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salaryTypeName'">
                {{'payroll.payslip.config.salaryType' | translate}}
                <p-sortIcon [field]="'salaryTypeName'"></p-sortIcon>
              </th>
              <th >{{'payroll.payslip.config.fileTemplate' | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-left">
                  <span *ngIf="item.status===0" class="label-status danger" translate>payroll.formula.diagram.inactive</span>
                      <span *ngIf="item.status===1"  class="label-status info" translate>payroll.formula.diagram.active</span>
              </td>
              <td>{{item.organizationName}}</td>
              <td class="vt-align-left" >{{item.salaryTypeName}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>

                <!-- <a *ngIf = "item.fileAttachment.payslipConfigFile"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(item.fileAttachment.payslipConfigFile[0])">
                  {{item.fileAttachment.payslipConfigFile[0].fileName}}
                </a> -->
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" >
  common.haveNoPermission
</div>
