<div *ngIf="checkPermission">
  <system-intro
    screenCode="ORG_PLAN_ADD_NEW"
  ></system-intro>
  <div id="savePage">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="form">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span *ngIf="!form.get('orgPlanId').value && !isView" translate> organizationPlan.addTitle</span>
            <span *ngIf="form.get('orgPlanId').value && !isView" translate> organizationPlan.editTitle</span>
            <span *ngIf="isView" translate> organizationPlan.viewTitle</span>
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['orgParentId'].isHide" [ngClass]="{'required': f['orgParentId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              organizationPlan.parentUnit
            </label>
            <div [hidden]="f['orgParentId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['orgParentId']"
                operationKey="action.insert"
                adResourceKey="resource.organization"
                (onChange)="tree.setRootNode($event)"
                isRequiredField="true"
                [disabled]="true">
              </org-selector>
              <app-control-messages [control]="f['orgParentId']"></app-control-messages>
            </div>
            <label [hidden]="f['type'].isHide"
                   [ngClass]="{'required': f['type'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
              organizationPlan.type
            </label>
            <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['type']"
                [options]="typeList"
                optionLabel="label"
                optionValue="id"
                isRequiredField="true"
                [isMultiLanguage]="true"
                [disabled]="true"
                [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12">
            <dynamic-input
              [property]="f['planName']"
              [objectId]="f['orgPlanId'].value"
              [labelValue]="'organizationPlan.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [disabled]="'disabled'">
            </dynamic-input>
            <label [hidden]="f['effectiveDate'].isHide"
                   [ngClass]="{'required': f['effectiveDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" translate>
              organizationPlan.effectiveDate
            </label>
            <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['effectiveDate']"
                [disabled]="true">
              </date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12" [ngClass]="{off: !f['orgParentId'].value}">
            <div class="ui-g mt30">
              <div class="ui-g-12 ui-md-12 ui-lg-3">
                <div class="panel panel-default">
                  <div class="panel-heading vt-relative" *ngIf="!isView">
                    <strong class="text-u-c">
                      <span>&nbsp;</span>
                    </strong>
                    <div *ngIf="!isPlanTypeChangeName" class="vt-absolute vt-shotcut-button-in-heading">
                      <button id="btnImportTree" type="button" class="btn-icon plus" [title]="'app.common.title.import' | translate" (click)="loadImportModal()"><span class="glyphicons glyphicons-file-import"></span></button>
                      <button id="btnSaveTree" type="button" class="btn-icon plus" [title]="'app.common.title.save' | translate" (click)="saveTree()"><span class="fa fa-save color-info"></span></button>
                      <button id="btnCloneTree" type="button" class="btn-icon plus" [title]="'app.common.title.clone' | translate" (click)="clone()"><span class="glyphicons glyphicons-more-items color-info"></span></button>
                    </div>
                    <div *ngIf="isPlanTypeChangeName" class="vt-absolute vt-shotcut-button-in-heading">
                      <button id="btnSaveTreeChangeName" type="button" class="btn-icon plus" [title]="'app.common.title.save' | translate" (click)="saveTree()"><span class="fa fa-save color-info"></span></button>
                      <button id="btnCloneTreeChangeName" type="button" class="btn-icon plus" [title]="'app.common.title.selectOrg' | translate" (click)="onChoseOrg()"><span class="glyphicons glyphicons-more-items color-info"></span></button>
                    </div>
                  </div>
                  <organization-plan-tree
                    #tree
                    (onEditNode)="editDraff($event)"
                    [isView]="isView">
                  </organization-plan-tree>
                </div>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-9">
                <!-- <p-tabView class="paddingZeroTab" [activeIndex]="tabIndex" (onChange)="tabIndex = $event.index">
                  <p-tabPanel [header]="'app.organization.commonInformation' | translate" [disabled]="!isShowCommonTab">
                    <common-info #infoTab (callBackAffterSave)="callBackAffterSaveTabInfo($event)" [isView]="isView"></common-info>
                  </p-tabPanel>
                  <p-tabPanel [header]="'app.organization.additionalInformation' | translate" [disabled]="!isShowAdditionTab">
                    <ng-template pTemplate="content">
                      <addition-info [orgDraffId]="orgDraffId" [isView]="isView"></addition-info>
                    </ng-template>
                  </p-tabPanel>
                  <p-tabPanel [header]="'app.organization.boundary' | translate" [disabled]="!isShowBoundaryTab">
                    <ng-template pTemplate="content">
                      <boundary #boundaryTab [orgDraffId]="orgDraffId" [orgPlanId]="orgPlanId" [isView]="isView"></boundary>
                    </ng-template>
                  </p-tabPanel>
                </p-tabView> -->
                <p-tabView class="paddingZeroTab" [activeIndex]="tabIndex" (onChange)="tabIndex = $event.index">
                  <p-tabPanel [header]="'app.organization.commonInformation' | translate">
                    <common-info [orgPlan]="orgPlanObject" [nodeSelected]="nodeSelected" (callBackAffterSave)="callBackAffterSaveTabInfo($event)"></common-info>
                  </p-tabPanel>
                  <p-tabPanel [header]="'app.organization.additionalInformation' | translate">
                    <ng-template pTemplate="content">
                      <addition-info #additionInfoTab [orgPlan]="orgPlanObject" [nodeSelected]="nodeSelected"></addition-info>
                    </ng-template>
                  </p-tabPanel>
                  <p-tabPanel [header]="'app.organization.boundary' | translate">
                    <ng-template pTemplate="content">
                      <boundary #boundaryTab [orgPlan]="orgPlanObject" [nodeSelected]="nodeSelected"></boundary>
                    </ng-template>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!checkPermission" translate>
  common.haveNoPermission
</div>
