<div class="content">
  <div   >
    <div class="panel panel-default">
      <form id="formImport" [formGroup]="formImport" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.organizationimport' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <!-- input -->
          <!-- ky danh gia: thang/quy/nam -->
          <div class="ui-g-12">
            <label [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="{'required': f['type'].isRequire}">
              {{'evaluation.employeeKi.type' | translate}}
            </label>
            <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check-inline ">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_0" [value]="1"
                    name="type" formControlName="type" (change)="changeType($event)">
                  <i></i>
                  {{'evaluation.employeeKi.month' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_1" [value]="2"
                    name="type" formControlName="type" (change)="changeType($event)">
                  <i></i>
                  {{'evaluation.employeeKi.quarter' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="maritalStatus_2" [value]="3"
                    name="type" formControlName="type" (change)="changeType($event)">
                  <i></i>
                  {{'evaluation.employeeKi.year' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>

            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required" id="lbMonthYear"  *ngIf="f['type'].value==1" >
              {{'evaluation.employeeKi.monthYear' | translate}}
            </label>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required"  id="lbQuarterYear"  *ngIf="f['type'].value==2">
              {{'evaluation.employeeKi.quarterYear' | translate}}
            </label>
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required"  id="lbYear"  *ngIf="f['type'].value==3" >
              {{'evaluation.employeeKi.year' | translate}}
            </label>
            <div [hidden]="f['month'].isHide" class="ui-g-12 ui-md-6 ui-lg-1" id="cbMonth"  *ngIf="f['type'].value==1">
              <select-filter [property]="f['month']" [options]="listMonth" optionLabel="month" optionValue="month"
                [placeHolder]="'common.label.cboMustSelect'">
              </select-filter>
              <!-- [placeHolder]="f['month'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"> -->
              <app-control-messages [control]="f['month']"></app-control-messages>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-1" id="cbQuarter"  *ngIf="f['type'].value==2">
              <!-- [hidden]="true" -->
              <select-filter [property]="f['quarter']" [options]="listQuarter" optionLabel="quarter"
                optionValue="quarter"
                [placeHolder]="'common.label.cboMustSelect'">
              </select-filter>
              <app-control-messages [control]="f['quarter']"></app-control-messages>
            </div>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-1">
              <select-filter [property]="f['year']" [options]="listYear" optionLabel="year" optionValue="year"
                [placeHolder]="'common.label.cboMustSelect'">
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="{'required': f['organizationId'].isRequire}"  >
                {{'organizationPlan.importFile' | translate}}
            </label>
            <div  class="ui-g-12 ui-md-6 ui-lg-3" [hidden]="f['fileImport'].isHide">
              <file-choser [property]="f['fileImport']" validMaxSize="10" validType="xls">
              </file-choser>
              <app-control-messages [control]="f['fileImport']"></app-control-messages>
              <br>
              <a class="text-link" (click)="processDownloadTemplate();"><span translate><i class="fa fa-download"></i> app.common.downloadTemplate</span></a>
            </div>
            <!-- organizationId -->
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" [ngClass]="{'required': f['organizationId'].isRequire}">
              {{'evaluation.employeeKi.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view" adResourceKey="resource.period"
                [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>


          </div>



        </div>
        <!-- button -->
        <div class="panel-footer vt-area-button">
          <button   *ngIf="f['fileImport'].value && hasPermission('action.import') " type="button" (click)="processImportOrg()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.import' | translate"></button>
          <button type="button" [routerLink]="['/evaluation/organization-ki']" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
        </div>

      </form>
    </div>

    <div *ngIf="dataError">
        <import-error [data]="dataError"></import-error>
      </div>
      
  </div>
  <have-not-permission actionCode="action.import" resourceCode="resource.organizationKiProcess" translate>
    common.haveNoPermission
  </have-not-permission>
</div>