  <div class="flip-card aside-wrap left-menu">
    <div class="nav-scroll-panel">
      <div class="flip-card-inner">
        <!-- <div class="flip-card-front">
            <nav class="navi clearfix">

              <p-slideMenu
              [model]="items"
              [style]="{width: '100%', height: '100%'}"
              ></p-slideMenu>
            </nav>
        </div> -->
        <div class="flip-card-front" id="nav-container">
            <nav class="navi clearfix vps-menus" [ngClass]="{openSearchBox: isShowSearch, isSearching: isSearching}">
              <div class="ui-ribbon-container ui-ribbon-danger">
                  <div class="ui-ribbon-wrapper">
                    <div title="{{'navMenu.search' | translate}}" id="findMenu" class="ui-ribbon" (click)="toogleSearch(true)">
                      <span class="glyphicons glyphicons-search"></span>
                    </div>
                  </div>
              </div>
              <div class="nav-search-wrap">
                <div class="nav-search">
                  <form [formGroup]="formSearch">
                    <input id="navSearchText" (keyup)="onNavSearch()" autocomplete="off" formControlName="keyword" tabindex="-1" class="form-control" placeholder="{{'navMenu.search' | translate}}" type="search">
                    <button tabindex="-1" type="button" id="navSearchButton" class="opacityIconSet" (click)="toogleSearch(false)"><span class="glyphicons glyphicons-remove"></span></button>
                  </form>
                </div>
              </div>

              <p-panelMenu [model]="vpsItems" [style]="{'width':'100%'}"></p-panelMenu>
            </nav>
        </div>
      </div>
    </div>
  </div>
