.line-text {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav .line-text {
  padding-right: 10px;
}
/*Start style menu nav*/
.flip-card {
  perspective: 1000px;
  border-right: 1px solid #ddd;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #222222;
}
.flip-card-back {
  transform: rotateY(180deg);
  background-color: var(--background-color-nav);
  color: var(--color-nav) !important;
}
/*End style menu nav*/
