<div class="panel panel-default" style="margin-top: 4px;">
  <div class="panel-heading">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> &nbsp;
      {{'app.organization.commonInformation' | translate}}
    </strong>
  </div>
  <form id="formInfo" [formGroup]="formInfo" spellcheck="false">
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <label [hidden]="f['isOrgLevelManage'].isHide" [ngClass]="{'required': f['isOrgLevelManage'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.organization.hasManagementLevel' | translate}}
        </label>
        <div [hidden]="f['isOrgLevelManage'].isHide" class="ui-g-12 ui-md-6 ui-lg-9" >
          <div class="form-check-inline" style="margin-left: 25px;">
            <label class="i-checks" [ngClass]="{'disable' : (isPlanTypeChangeName || fieldReadOnly)}">
              <input type="radio"
                formControlName="isOrgLevelManage" [value]="1"
                class="form-check-input control-label"
                id="radioYes" value="optionYes" name="isOrgLevelManage"
                [attr.disabled]='(isPlanTypeChangeName || fieldReadOnly) ? true : null'
              />
              <i></i> {{'app.organization.orgLevelManageYes' | translate}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="i-checks" [ngClass]="{'disable' : (isPlanTypeChangeName || fieldReadOnly)}">
              <input type="radio"
                formControlName="isOrgLevelManage" [value]="0"
                class="form-check-input control-label"
                id="radioNo" value="optionNo" name="isOrgLevelManage"
                [attr.disabled]='(isPlanTypeChangeName || fieldReadOnly) ? true : null'
              />
              <i></i> {{'app.organization.orgLevelManageNo' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['orgParentId'].isHide" [ngClass]="{'required': f['orgParentId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.organization.parentUnit' | translate}}
        </label>
        <div [hidden]="f['orgParentId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <org-draff-selector
            [defaultName]="defaultOrgParentName"
            [property]="f['orgParentId']"
            [orgPlanId]="f['orgPlanId'].value"
            operationKey="action.view"
            (onChange)="checkDuplicate()"
            adResourceKey="resource.organization"
            [disabled]="isPlanTypeChangeName || fieldReadOnly"
            *ngIf="!isRoot && !isPlanTypeChangeName"
            >
          </org-draff-selector>
          <org-selector
            [property]="f['orgParentId']"
            operationKey="action.insert"
            adResourceKey="resource.organization"
            [disabled]="true"
            *ngIf="isRoot || isPlanTypeChangeName"
            >
          </org-selector>
          <app-control-messages [control]="f['orgParentId']"></app-control-messages>
        </div>
        <dynamic-input
          [property]="f['orgOrder']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.unitOrder'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
          [maxLength]= "11"
          [disabled]="true">
        </dynamic-input>
      </div>
      <div class="ui-g-12">
        <dynamic-input
          [property]="f['code']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.unitCode'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
          [maxLength]= "50"
          [disabled]= "codeFieldReadOnly || fieldReadOnly">
        </dynamic-input>
        <dynamic-input
          [property]="f['name']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.unitName'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
          [maxLength]= "500"
          autofocus="autofocus"
          [disabled]= "fieldReadOnly"
          >
        </dynamic-input>
      </div>
      <div class="ui-g-12">
        <dynamic-input
          [property]="f['shortName']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.shortName'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
          [maxLength]= "500"
          [disabled]= "fieldReadOnly"
          >
        </dynamic-input>
        <label [hidden]="f['orgTypeId'].isHide" [ngClass]="{'required': f['orgTypeId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.organization.unitType' | translate}}
        </label>
        <div [hidden]="f['orgTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['orgTypeId']"
            [options]="listOrgType"
            optionLabel="name"
            optionValue="organizationTypeId"
            placeHolder="common.label.cboMustSelect"
            [disabled]= "isPlanTypeChangeName || fieldReadOnly"
            ></select-filter>
          <app-control-messages [control]="f['orgTypeId']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['orgManager'].isHide" [ngClass]="{'required': f['orgManager'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.organization.unitManager' | translate}}
        </label>
        <div [hidden]="f['orgManager'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <data-picker
            [property]="f['orgManager']"
            systemCode="emp"
            operationKey="action.view"
            adResourceKey="resource.employee"
            objectBO="EmployeeBO"
            codeField="employeeCode"
            nameField="fullName"
            selectField="employeeId"
            [disabled]= "isPlanTypeChangeName || fieldReadOnly"
            filterCondition = " and status = 1"
          >
          </data-picker>
          <app-control-messages [control]="f['orgManager']"></app-control-messages>
        </div>
        <label [hidden]="f['lineOrgId'].isHide" [ngClass]="{'required': f['lineOrgId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.organization.lineUnit' | translate}}
        </label>
        <div [hidden]="f['lineOrgId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['lineOrgId']"
            [options]="lineOrgList"
            optionLabel="name"
            optionValue="lineOrgId"
            placeHolder="common.label.cboSelect"
            [disabled]= "isPlanTypeChangeName || fieldReadOnly"
            >
          </select-filter>
          <app-control-messages [control]="f['lineOrgId']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['address'].isHide"
            [ngClass]="{'required': f['address'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.organization.address' | translate}}
        </label>
        <div [hidden]="f['address'].isHide" class="ui-g-12 ui-md-6 ui-lg-9">
          <location-picker [property]="f['address']" [maxLength]="500" [readonly]="isPlanTypeChangeName || fieldReadOnly"></location-picker>
          <app-control-messages [control]="f['address']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <dynamic-input
          [property]="f['establishReason']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.establishmentReason'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
          [maxLength]= "500"
          [type]="'text-area'"
          [disabled]="isPlanTypeChangeName || fieldReadOnly">
        </dynamic-input>
      </div>
      <div class="ui-g-12">
        <dynamic-input
          [property]="f['description']"
          [objectId]="f['orgDraffId'].value"
          [labelValue]="'app.organization.description'"
          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
          [maxLength]="200"
          [type]="'text-area'"
          [disabled]="isPlanTypeChangeName || fieldReadOnly">
        </dynamic-input>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button *ngIf="showSaveButton" type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
        [innerHTML]="'common.button.save' | translate">
      </button>
      <button type="button" [routerLink]="['/organizations/plan/search']" class="btn btn-sm btn-danger"
        [innerHTML]="'common.button.previous' | translate">
      </button>
    </div>
  </form>
</div>
