<div class="content">
    <div *ngIf="hasPermission('action.view')">
        <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
                <div class="panel-heading">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
                    </strong>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                        <label [hidden]="f['saleOrderSourceId'].isHide"
                            [ngClass]="{'required': f['saleOrderSourceId'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'app.payrolls.saleOrderSourcePrice.saleOrderSource' | translate}}
                        </label>
                        <div [hidden]="f['saleOrderSourceId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['saleOrderSourceId']" [options]="listSaleOrderSource"
                                optionLabel="saleOrderSourceName" optionValue="saleOrderSourceId"
                                [placeHolder]="f['saleOrderSourceId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                            </select-filter>
                            <app-control-messages [control]="f['saleOrderSourceId']"></app-control-messages>
                        </div>

                        <label [hidden]="f['payrollGroupId'].isHide"
                            [ngClass]="{'required': f['payrollGroupId'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'app.payrolls.saleOrderSourcePrice.grouppayroll' | translate}}
                        </label>
                        <div [hidden]="f['payrollGroupId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['payrollGroupId']" [options]="listPayrollGroup"
                                optionLabel="payrollGroupName" optionValue="payrollGroupId"
                                [placeHolder]="f['payrollGroupId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                            </select-filter>
                            <app-control-messages [control]="f['payrollGroupId']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'app.payrolls.fromDate' | translate}}
                        </label>
                        <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['startDate']">
                            </date-picker>
                            <app-control-messages [control]="f['startDate']"></app-control-messages>
                        </div>
                        <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}"
                            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                            {{'app.payrolls.toDate' | translate}}
                        </label>
                        <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['endDate']">
                            </date-picker>
                            <app-control-messages [control]="f['endDate']"></app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
                    <button type="submit" (click)="processExport()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.label.export' | translate"><i class="fa fa-download"></i></button>
                    <button type="button" (click)="prepareImport()" class="btn btn-sm btn-info"
                        [innerHTML]="'common.button.import' | translate"><i class="fa fa-upload"></i></button>
                </div>
            </form>
        </div>
        <!-- Hien thi bang -->
        <div id="listArea">
            <div class="panel panel-default">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.saleOrderSourcePrice.listTitle' | translate}}
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <div *ngIf="hasPermission('action.insert')">
                            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
                                [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <p-table #ptable [scrollable]="true" [value]="resultList.data"
                        [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
                        [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
                        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col class="size-1">
                                <col class="size-1" *ngIf="hasPermission('action.update')">
                                <col class="size-1" *ngIf="hasPermission('action.delete')">
                                <col style="width: 50%;">
                                <col style="width: 50%;">
                                <col class="size-5">
                                <col class="size-5">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th translate>common.table.index</th>
                                <th *ngIf="hasPermission('action.update')">{{'app.payrolls.period.edit' | translate}}
                                </th>
                                <th *ngIf="hasPermission('action.delete')">{{'app.payrolls.period.delete' | translate}}
                                </th>
                                <th pSortableColumn="saleOrderSourceName" translate>
                                    app.payrolls.saleOrderSourcePrice.saleOrderSource
                                    <p-sortIcon field="saleOrderSourceName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="payrollGroupName" translate>
                                    app.payrolls.saleOrderSourcePrice.grouppayroll
                                    <p-sortIcon field="payrollGroupName"></p-sortIcon>
                                </th>
                                <th pSortableColumn="startDate" translate>app.payrolls.period.datefrom
                                    <p-sortIcon field="startDate"></p-sortIcon>
                                </th>
                                <th pSortableColumn="endDate" translate>app.payrolls.period.dateto
                                    <p-sortIcon field="endDate"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                            <tr>
                                <td class="vt-align-center">{{index}}</td>
                                <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                                    <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
                                        title="{{'common.button.table.hEdit' | translate}}"><i
                                            class="fa fa-edit"></i></a>
                                </td>
                                <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                                    <a class="btn-table delete" (click)="processDelete(item)"
                                        title="{{'common.button.table.hDelete' | translate}}"><i
                                            class="fa fa-trash-alt"></i></a>
                                </td>
                                <td class="vt-align-left">{{item.saleOrderSourceName}}</td>
                                <td class="vt-align-left">{{item.payrollGroupCode}} - {{item.payrollGroupName}}</td>
                                <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                                <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="emptymessage">
                                <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                            <table-footer [resultList]="resultList"></table-footer>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!hasPermission('action.view')" translate>
        common.haveNoPermission
    </div>
</div>