<div class="content">
  <p-tabView [activeIndex]="tabIndex">
    <p-tabPanel [header]="'app.payrolls.lockUnlockAttendance' | translate">
      <lock-unlock-attendance></lock-unlock-attendance>
    </p-tabPanel>
    <p-tabPanel [header]="'app.payrolls.lockUnlockConfiguration' | translate">
      <lock-unlock-configuration></lock-unlock-configuration>
    </p-tabPanel>
  </p-tabView>
</div>
