<div id="searchPage">
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          app.allowanceProcess.listTitle
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
          <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
          [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                  <col class="size-1">
                  <col class="size-1" *ngIf="hasPermission('action.update')">
                  <col class="size-1" *ngIf="hasPermission('action.delete')">
                  <col class="size-6">
                  <col class="size-4">
                  <col class="size-4">
                  <col class="size-5">
                  <col class="size-7">
                  <col class="size-8">
                  <col class="size-3">
                  <col class="size-5">
                  <col class="size-7">
                  <col class="size-6">
              </colgroup>
            </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th translate>common.table.index</th>
                  <!-- <th  translate>common.button.table.viewDetail</th> -->
                  <th  translate *ngIf="hasPermission('action.update')">common.button.table.hEdit</th>
                  <th  translate *ngIf="hasPermission('action.delete')">common.button.table.hDelete</th>
                  <th  [pSortableColumn]="'decideCode'" translate> app.allowanceProcess.decideCode
                      <p-sortIcon [field]="'decideCode'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'decideDate'" translate>app.allowanceProcess.decideDate
                      <p-sortIcon [field]="'decideDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'effectiveDate'" translate>app.allowanceProcess.effectiveDate
                      <p-sortIcon [field]="'effectiveDate'" ></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'expiredDate'" translate>app.allowanceProcess.expiredDate
                      <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'allowanceTypeName'" translate>app.allowanceProcess.allowanceType
                      <p-sortIcon [field]="'allowanceTypeName'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'allowanceName'" translate>app.allowanceProcess.allowance
                      <p-sortIcon [field]="'allowanceName'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'factor'" translate>app.allowanceProcess.factor
                      <p-sortIcon [field]="'factor'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'money'" translate>app.allowanceProcess.money
                      <p-sortIcon [field]="'money'"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'description'" translate>app.allowanceProcess.description
                      <p-sortIcon [field]="'description'"></p-sortIcon>
                  </th>
                  <th translate>app.organization.attachmentFile
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
                  <td class="vt-align-center" *ngIf="hasPermission('action.delete')"><a class="btn-table delete" (click)="processDelete(item.empAllowanceProcessId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
                  <td class="vt-align-left">{{item.decideCode}}</td>
                  <td class="vt-align-center">{{item.decideDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
                  <td class="vt-align-left">{{item.allowanceTypeName}}</td>
                  <td class="vt-align-left">{{item.allowanceName}}</td>
                  <td class="vt-align-right">{{item.factor}}</td>
                  <td class="vt-align-right">{{item.money}}</td>
                  <td class="vt-align-left">{{item.description}}</td>
                  <td class="vt-align-left">
                    <a *ngFor="let data of item.fileAttachment.file"
                        style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                        (click)="downloadFile(data)">
                        - {{data.fileName}}
                    </a>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="11" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
      </p-table>
      </div>
    </div>
  </div>
</div>
