
<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}</strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12" >
            <label [hidden]="f['organizationId'].isHide"
                        [ngClass]="{'required': true}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.position.unitName' | translate}}
                  </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.organization"
                isRequiredField = "true"
                [defaultValue]="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['type'].isHide"
                [ngClass]="{'required': f['type'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
              {{'app.payrolls.attendanceConfiguration' | translate}}
            </label>
            <div [hidden]="f['type'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [placeHolder]="f['type'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="f['type']"
                [options]="listAttendanceConfig"
                (onChange)="changeHasSatConf()"
                optionLabel="name"
                optionValue="id"
                isMultiLanguage="true"
                >
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12" *ngIf="f['type'].value === 2">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              <!-- {{'app.allowanceProcess.effectiveDate' | translate}} -->
              {{'app.empWorkSchedule.specialConfigurationOnSaturday' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
              <div class="form-check-inline">
                <label class="i-checks">
                    <input type="radio" class="form-check-input control-label" id="Weekly" [value]="1" name="saturdayType"  formControlName="saturdayType">
                  <i></i>
                  {{'app.payrolls.Weekly' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="BiWeekly" [value]="2" name="saturdayType" formControlName="saturdayType">
                  <i></i>
                  {{'app.payrolls.BiWeekly' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['saturdayType']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['effectiveDate'].isHide"
                    [ngClass]="{'required': f['effectiveDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.effectiveDate' | translate}}
            </label>
            <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['effectiveDate']">
              </date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
            <label [hidden]="f['expiredDate'].isHide"
                    [ngClass]="{'required': f['expiredDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.expiredDate' | translate}}
            </label>
            <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['expiredDate']">
              </date-picker>
              <app-control-messages [control]="f['expiredDate']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button>
          <button type="button" *ngIf="hasPermission('action.insert')" [routerLink]="['add']" class="btn btn-sm btn-info ng-star-inserted" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
          <button type="button" *ngIf="hasPermission('action.export')" (click)="processExportDetail()" class="btn btn-sm btn-info ng-star-inserted" [innerHTML]="'common.button.export' | translate"></button>
        </div>
      </form>
    </div>
  </div>
  <!-- loai ngay cong -->
  <attendance-type-table></attendance-type-table>
  <!-- list -->
  <div id="listArea" style="padding-top: 10px;">
    <div class="panel panel-default">
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col *ngIf="hasPermission('action.enable')" class="size-2">
              <col class="size-3">
              <col>
              <col class="size-10">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf="hasPermission('action.update')" >{{'common.button.table.hEdit' | translate}}</th>
              <th *ngIf="hasPermission('action.delete')" >{{'common.button.table.hDelete' | translate}}</th>
              <th *ngIf="hasPermission('action.enable')" >{{'common.button.table.hApply' | translate}}</th>
              <th> {{'app.payrolls.applyEmployee' | translate}}</th>
              <th>{{'app.position.unitName' | translate}}</th>
              <th>{{'app.payrolls.attendanceConfiguration' | translate}}</th>
              <th>{{'app.payrolls.configurationOnSaturday' | translate}}</th>
              <th>{{'app.allowanceProcess.effectiveDate' | translate}}</th>
              <th>{{'app.allowanceProcess.expiredDate' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')" >
                <a class="btn-table delete" [hidden]="item.applyCount" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.enable')">
                <a class="btn-table edit" [hidden]="checkApply(item.expiredDate)" (click)="processCheckApply(item)" title="{{'common.button.table.hApply' | translate}}"><i class="glyphicons glyphicons-log-book"></i></a>
              </td>
              <td class="vt-align-center">
                  <a *ngIf="checkEffectiveDate(item)"  class="btn-table edit " (click)="processApplyEmployee(item)" title="{{'app.payrolls.applyEmployee' | translate}}"><i class="fa fa-male"></i></a>
                </td>
              <td>{{item.organizationName}}</td>
              <td>
                <span *ngIf="item.type===1" class="label-status info">{{'app.payrolls.Type.' + item.type | translate}}</span>
                <span *ngIf="item.type===2" class="label-status warning">{{'app.payrolls.Type.' + item.type | translate}}</span>
              </td>
              <td>
                <div [hidden]="item.type===1">
                  <span *ngIf="item.saturdayType===1" class="label-status info">{{'app.payrolls.configurationOnSaturday.1' | translate}}</span>
                  <span *ngIf="item.saturdayType===2" class="label-status warning">{{'app.payrolls.configurationOnSaturday.2' | translate}}</span>
                </div>
              </td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


