<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'app.empType.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]="50">
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'app.empType.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]="50">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['isUsed'].isHide"
                    [ngClass]="{'required': f['isUsed'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.empType.isUsed' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <label [hidden]="f['isUsed'].isHide" class="i-switch bg-info m-t-xs m-r">
                <input [hidden]="f['isUsed'].isHide" type="checkbox" name="isUsed" [value]="1" formControlName="isUsed" />
                <i></i>
              </label>
              <app-control-messages [control]="f['isUsed']"></app-control-messages>
            </div>
            <label [hidden]="f['isInFlag'].isHide"
                    [ngClass]="{'required': f['isInFlag'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.empType.isInFlag' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <label [hidden]="f['isInFlag'].isHide" class="i-switch bg-info m-t-xs m-r">
                <input [hidden]="f['isInFlag'].isHide" type="checkbox" name="isInFlag" [value]="1" formControlName="isInFlag" />
                <i></i>
              </label>
              <app-control-messages [control]="f['isInFlag']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['hasSoldierInfo'].isHide"
                    [ngClass]="{'required': f['hasSoldierInfo'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.empType.hasSoldierInfo' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <label [hidden]="f['hasSoldierInfo'].isHide" class="i-switch bg-info m-t-xs m-r">
                <input [hidden]="f['hasSoldierInfo'].isHide" type="checkbox" name="hasSoldierInfo" [value]="1" formControlName="hasSoldierInfo" />
                <i></i>
              </label>
            <app-control-messages [control]="f['hasSoldierInfo']"></app-control-messages>
            </div>
            <label [hidden]="f['hasLabourContractInfo'].isHide"
                    [ngClass]="{'required': f['hasLabourContractInfo'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.empType.hasLabourContractInfo' | translate}}
            </label>
            <div [hidden]="f['hasLabourContractInfo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="hasLabourContractInfo" [value]="1" formControlName="hasLabourContractInfo" />
                <i></i>
              </label>
              <app-control-messages [control]="f['hasLabourContractInfo']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;{{'app.empType.listTitle' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')" >
            <button type="button" (click)="prepareSaveOrUpdate()" title="{{'common.label.add' | translate}}" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf="hasPermission('action.update')">
              <col class="size-1" *ngIf="hasPermission('action.delete')">
              <col class="">
              <col class="">
              <col class="size-7">
              <col class="size-7">
              <col class="size-7">
              <col class="size-7">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf="hasPermission('action.update')">
                {{'common.button.table.hEdit' | translate}}
              </th>
              <th *ngIf="hasPermission('action.delete')">
                {{'common.button.table.hDelete' | translate}}
              </th>
              <th [pSortableColumn]="'code'">
                {{'app.empType.code' | translate}}
                <p-sortIcon [field]="'code'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'name'">
                {{'app.empType.name' | translate}}
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isUsed'">
                {{'app.empType.isUsed' | translate}}
                <p-sortIcon [field]="'isUsed'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'isInFlag'">
                {{'app.empType.isInFlag' | translate}}
                <p-sortIcon [field]="'isInFlag'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'hasSoldierInfo'">
                {{'app.empType.hasSoldierInfo' | translate}}
                <p-sortIcon [field]="'hasSoldierInfo'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'hasLabourContractInfo'">
                {{'app.empType.hasLabourContractInfo' | translate}}
                <p-sortIcon [field]="'hasLabourContractInfo'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-center">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td class="vt-align-center">
                <i *ngIf="item.isUsed==1" class="fas fa-check table-icon color-info"></i>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isInFlag==1" class="fas fa-check table-icon color-info"></i>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.hasSoldierInfo==1" class="fas fa-check table-icon color-info"></i>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.hasLabourContractInfo==1" class="fas fa-check table-icon color-info"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
