
<div class="content" *ngIf="hasPermission('action.view')">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span>{{'app.reportDynamic.export_form_title' | translate}}</span>
          &nbsp;<span>{{reportDynamicName}}</span>
        </strong>
        
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['reportDynamicId'].isHide || isHideSelectReport" [ngClass]="{'required': f['reportDynamicId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 ui-lg-offset-2 control-label vt-align-right">
            {{'app.reportDynamic.chooseReport' | translate}}
          </label>
          <div [hidden]="f['reportDynamicId'].isHide || isHideSelectReport" class="ui-g-12 ui-md-6 ui-lg-4">
            <select-filter
              [property]="f['reportDynamicId']"
              [options]="listReportDynamic"
              optionLabel="name"
              optionValue="reportDynamicId"
              [placeHolder]="f['reportDynamicId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" 
              (onChange)="changeReportDynamic($event)">
            </select-filter>
            <app-control-messages [control]="f['reportDynamicId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <ng-template inp-generate></ng-template>
        </div> 
      </div>
      <div class="panel-footer vt-area-button">
        <button *ngIf="hasPermission('action.export')" type="button" (click)="export()" class="btn btn-sm btn-info" [innerHTML]="'common.button.export' | translate"></button>
        <!-- <button *ngIf="selectedReport && selectedReport.formatReport == 'EXCEL'" type="button" (click)="exportTables()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"></button> -->
      </div>
    </form>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
