<div id="listPassportInformationPage">
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'app.visaPassportInformation.passportInformation.listTitle' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <div *ngIf="hasPermission('action.insert')">
          <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
        </div>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="true" [totalRecords]="resultList.recordsTotal"
       (onLazyLoad)="processSearch($event)" [lazy]="true" [scrollable]="true" [rows]="10" [responsive]="true"
        [lazyLoadOnInit]="false" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col *ngIf="hasPermission('action.update')" class="size-1">
            <col *ngIf="hasPermission('action.delete')" class="size-1">
            <col class="size-8">
            <col class="size-8">
            <col class="size-4">
            <col class="size-5">
            <col class="size-6">
            <col class="size-8">
            <col class="size-8">
            <col class="size-8">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{'common.table.index' | translate}}</th>
            <th *ngIf="hasPermission('action.update')" >{{'common.button.table.hEdit' | translate}}</th>
            <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
            <th [pSortableColumn]="'passportNumber'" >{{'app.passportInformation.passportNumber' | translate}}
              <p-sortIcon [field]="'passportNumber'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'passportTypeName'" >{{'app.passportInformation.category' | translate}}
              <p-sortIcon [field]="'passportTypeName'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedDate'" >{{'app.passportInformation.issueDate' | translate}}
              <p-sortIcon [field]="'issuedDate'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'expiredDate'" >{{'app.passportInformation.expiredDate' | translate}}
              <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
            </th>
            <!-- <th  [pSortableColumn]="'issuedPlace'" >{{'app.passportInformation.issuePlace' | translate}}
              <p-sortIcon [field]="'issuedPlace'"></p-sortIcon>
            </th> -->
            <th  [pSortableColumn]="'issuedCountry'" >{{'app.passportInformation.issuedCountry' | translate}}
              <p-sortIcon [field]="'issuedCountry'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedAuthority'" >{{'app.passportInformation.issuedAuthority' | translate}}
              <p-sortIcon [field]="'issuedAuthority'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'note'" >{{'app.passportInformation.note' | translate}}
              <p-sortIcon [field]="'note'"></p-sortIcon>
            </th>
            <th>{{'app.passportInformation.attachmentFile' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
            <td class="vt-align-center">{{index}}</td>
            <td class="vt-align-center" *ngIf="hasPermission('action.update')">
              <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a>
            </td>
            <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
              <a class="btn-table delete" (click)="processDelete(item.passportId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
            </td>
            <td class="vt-align-left">{{item.passportNumber}}</td>
            <td class="vt-align-left">{{item.passportTypeName}}</td>
            <td class="vt-align-center">{{item.issuedDate | displayDate}}</td>
            <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            <td class="vt-align-left">{{item.nationName}}</td>
            <td class="vt-align-left">{{item.issuedAuthority}}</td>
            <td class="vt-align-left">{{item.note}}</td>
            <td class="vt-align-left">
              <a *ngFor="let data of item.fileAttachment.file"
                style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                (click)="downloadFile(data)">
                - {{data.fileName}}
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="12" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
