<div class="modal-body">
  <form id="formSave" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('occupationalSafetyId').value" translate> app.occupationalSafety.addTitle</span>
          <span *ngIf="formSave.get('occupationalSafetyId').value" translate> app.occupationalSafety.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label  [hidden]="f['trainingPlanId'].isHide"
                  [ngClass]="{'required': f['trainingPlanId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.occupationalSafety.period' | translate}}
          </label>
          <div [hidden]="f['trainingPlanId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['trainingPlanId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['trainingPlanId']"
              [options]="periodList"
              optionLabel="name"
              optionValue="trainingPlanId"
            >
            </select-filter>
            <app-control-messages [control]="f['trainingPlanId']"></app-control-messages>
          </div>
          <dynamic-input
            [property]="f['diplomaName']"
            [objectId]="f['occupationalSafetyId'].value"
            [labelValue]="'app.occupationalSafety.diplomaName'"
            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
            [maxLength]='200'
            [autofocus]="'autofocus'">
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label  [hidden]="f['diplomaTypeId'].isHide"
                  [ngClass]="{'required': f['diplomaTypeId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.occupationalSafety.diplomaType' | translate}}
          </label>
          <div [hidden]="f['diplomaTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['diplomaTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['diplomaTypeId']"
              [options]="diplomaList"
              optionLabel="name"
              optionValue="sysCatId">
            </select-filter>
            <app-control-messages [control]="f['diplomaTypeId']"></app-control-messages>
          </div>
          <dynamic-input
            [property]="f['issuedPlace']"
            [labelValue]="'app.occupationalSafety.issuedPlace'"
            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
            [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label  [hidden]="f['effectiveDate'].isHide"
                  [ngClass]="{'required': f['effectiveDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.occupationalSafety.effectiveDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']" yearRange="1919:2120"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label  [hidden]="f['expiredDate'].isHide"
                  [ngClass]="{'required': f['expiredDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.occupationalSafety.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label  [hidden]="f['issuedDate'].isHide"
                  [ngClass]="{'required': f['issuedDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.occupationalSafety.issuedDate' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['issuedDate']" yearRange="1919:2120"></date-picker>
            <app-control-messages [control]="f['issuedDate']"></app-control-messages>
          </div>
          <label  [hidden]="f['revokedDate'].isHide"
                  [ngClass]="{'required': f['revokedDate'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.occupationalSafety.revokedDate' | translate}}
          </label>
          <div [hidden]="f['revokedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['revokedDate']"></date-picker>
            <app-control-messages [control]="f['revokedDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
            <dynamic-input  [property]="f['note']"
                            [labelValue]="'app.occupationalSafety.note'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                            [type]="'text-area'"
                            [maxLength]='2000'>
            </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.occupationalSafety.file' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
