<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')">
      <div class="col-md-12">
          <update-employee-search></update-employee-search>
      </div>
  </div>

    <div *ngIf="!hasPermission('action.view')" translate>
        common.haveNoPermission
    </div>
</div>
