<div class="content">
  <div class="row" *ngIf="hasPermission('action.view')" >
      <div class="col-md-12">
          <position-salary-search></position-salary-search>
      </div>
  </div>

  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
