<div class="modal-body">
  <div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>&nbsp;
          <span>{{'app.wfMenuMapping.url' | translate}}</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12" *ngFor="let param of paramsArr">
          <label>{{param}}</label>
          <input type="text" class="form-control" [formControlName]="param" />
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>
</div>

