<div class="modal-body">
    <form id="frmSaveAllowanceType">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formSave.value.allowanceTypeId" translate>app.allowanceType.add_title</span>
                        <span *ngIf="formSave.value.allowanceTypeId" translate>app.allowanceType.edit_title</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-sm btn-info"><i class="fa fa-times"></i></span>
                    </div>
                </div>
                <div class="panel-body padding-xl ui-g">
                    <div class="ui-g-12">
                      <dynamic-input  [property]="f['code']"
                                      [objectId]="f['allowanceTypeId'].value"
                                      [labelValue]="'app.allowanceType.code'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [disabled]= "formSave.get('allowanceTypeId').value? true: false"
                                      [maxLength]='50'>
                      </dynamic-input>
                      <dynamic-input  [property]="f['name']"
                                      [objectId]="f['allowanceTypeId'].value"
                                      [labelValue]="'app.allowanceType.name'"
                                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                      [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                      [autofocus]="'autofocus'"
                                      [maxLength]='200'>
                      </dynamic-input>
                    </div>
                    <div class="ui-g-12">
                        <dynamic-input  [property]="f['description']"
                                        [objectId]="f['allowanceTypeId'].value"
                                        [labelValue]="'app.allowanceType.description'"
                                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                                        [type]="'text-area'"
                                        [maxLength]='1000'>
                        </dynamic-input>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
