<div class="panel panel-default">
    <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
          </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
            <label [hidden]="f['workFlowId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.wfMenuMapping.wfMenuMappingId' |
                translate}}</label>
            <div [hidden]="f['workFlowId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter placeHolder="common.label.cboSelect" [property]="f['workFlowId']" [options]="workFlows"
                optionLabel="name" optionValue="sysCatId" (onChange)="onChangeWf($event)"></select-filter>
            </div>
            <!-- <button type="button" (click)="config()" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> CẤU HÌNH BIỂU ĐỒ DIAGRAM</button> -->
        </div>
      </div>
    </form>
  </div>
