<form id="frmSaveSalaryTable" [formGroup]="formSave">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c"><i class="fa fa-th"></i>
        <span *ngIf="!formSave.get('salaryTableId').value" translate> app.salaryTable.regulation.addTitle</span>
        <span *ngIf="formSave.get('salaryTableId').value" translate> app.salaryTable.regulation.editTitle</span>
      </strong>
    </div>
    <div class="panel-body padding-xl ui-g">
      <div class="ui-g-12">
        <dynamic-input  [property]="f['name']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.regulation.name'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                        [autofocus]="'autofocus'"
                        [maxLength]='500'>
        </dynamic-input>

        <!-- <label [hidden]="f['marketCompanyId'].isHide"
               [ngClass]="{'required': f['marketCompanyId'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.salaryTable.regulation.brandName' | translate}}
        </label>
        <div [hidden]="f['marketCompanyId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <select-filter
            [property]="f['marketCompanyId']"
            [options]="listMarketCompany"
            optionLabel="name"
            optionValue="marketCompanyId"
            [placeHolder]="f['marketCompanyId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
            >
          </select-filter>
          <app-control-messages [control]="f['marketCompanyId']"></app-control-messages>
        </div> -->

      </div>
      <div class="ui-g-12">
        <label [hidden]="f['effectiveDate'].isHide"
               [ngClass]="{'required': f['effectiveDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.salaryTable.effectiveDate' | translate}}
        </label>
        <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['effectiveDate']"></date-picker>
          <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
        </div>
        <label [hidden]="f['expiredDate'].isHide"
               [ngClass]="{'required': f['expiredDate'].isRequire}"
               class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
          {{'app.salaryTable.expiredDate' | translate}}
        </label>
        <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
          <date-picker [property]="f['expiredDate']"></date-picker>
          <app-control-messages [control]="f['expiredDate']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <label [hidden]="f['fileAttachment'].isHide"
               class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.salaryTable.attachmentFile' | translate}}
        </label>
        <div [hidden]="f['fileAttachment'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <file-choser
            [property]="f['fileAttachment']"
            validMaxSize="10"
            validType="xls,xlsx,doc,docx,pdf">
          </file-choser>
          <app-control-messages [control]="f['fileAttachment']"></app-control-messages>
        </div>
      </div>
      <div class="ui-g-12">
        <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
          {{'app.salaryTable.description' | translate}}
        </label>
        <div class="ui-g-12 ui-md-9 ui-lg-9">
          <textarea type="text" name="descriptionSave" class="form-control" formControlName="description" maxlength="1000"></textarea>
          <app-control-messages [control]="f['description']"></app-control-messages>
        </div> -->
        <dynamic-input  [property]="f['description']"
                        [objectId]="f['salaryTableId'].value"
                        [labelValue]="'app.salaryTable.description'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                        [type]="'text-area'"
                        [maxLength]='1000'>
        </dynamic-input>
      </div>
    </div>
    <div class="panel-footer vt-area-button">
      <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
      <!-- <button type="button" (click)="actionCancel()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button> -->
    </div>
  </div>
</form>
