<div class="modal-body">
  <form id="frmSaveNation">
    <div class="panel panel-default">
      <form id="formSave" [formGroup]="formDeleteEmployee">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate> app.employee-info.confirmDeleteTitle </span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info">
              <i class="fa fa-times"></i>
            </span>
          </div>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['employeeCode']"
              [labelValue]="'app.employee.employee_code'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-6'"
              [maxLength]= "50"
              [autofocus]="'autofocus'">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processDelete()" class="btn btn-sm btn-info"  [innerHTML]="'common.button.confirm' | translate"><i class="fa fa-save"></i></button>
          <button type="button" (click)="activeModal.close();" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"><i class="fa fa-times"></i></button>
        </div>
      </form>
    </div>
  </form>
</div>
