<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading" translate>
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              common.label.search_form
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'app.allowance.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='20'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'app.allowance.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='100'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['allowanceTypeId'].isHide"
                   [ngClass]="{'required': f['allowanceTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right ">
              {{'app.allowance.allowanceTypeId' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  (onChange)="onAllowanceTypeChange($event)"
                  [property]="f['allowanceTypeId']"
                  [options]="allowanceTypeList"
                  optionLabel="name"
                  optionValue="allowanceTypeId"
                  [placeHolder]="f['allowanceTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['allowanceTypeId']"></app-control-messages>
            </div>
            <label [hidden]="f['typeId'].isHide"
                   [ngClass]="{'required': f['typeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
              {{'app.allowance.typeId' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="f['typeId']"
                [options]="typeIdList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="f['typeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['typeId']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'app.allowance.listTitle' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf="hasPermission('action.insert')" >
                <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table [scrollable]="true" #ptable [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col *ngIf="hasPermission('action.update')" class="size-1">
                <col *ngIf="hasPermission('action.delete')" class="size-1">
                <col class="size-8">
                <col class="size-8">
                <col class="size-12">
                <col class="size-12">
                <col class="size-10">
                <col class="size-10">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'common.table.index' | translate}}</th>
                <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
                <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                <th [pSortableColumn]="'code'" translate>app.allowance.code
                    <p-sortIcon [field]="'code'"></p-sortIcon>
                </th>
                <th  [pSortableColumn]="'name'" translate>app.allowance.name
                    <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th  [pSortableColumn]="'allowanceTypeId'" translate>app.allowance.allowanceTypeId
                  <p-sortIcon [field]="'allowanceTypeId'"></p-sortIcon>
                </th>
                <th pSortableColumn="typeId" translate>app.allowance.typeId
                  <p-sortIcon field="typeId"></p-sortIcon>
                </th>
                <th pSortableColumn="factor" translate>app.allowance.factor
                  <p-sortIcon field="factor"></p-sortIcon>
                </th>
                <th pSortableColumn="amountMoney" translate>app.allowance.amountMoney
                  <p-sortIcon field="amountMoney"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                  <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-center">{{item.code}}</td>
                <td class="vt-align-left">{{item.name}}</td>
                <td class="vt-align-left">{{item.allowanceTypeName}}</td>
                <td class="vt-align-left">{{item.typeName}}</td>
                <td class ='vt-align-right'>{{item.factor}}</td>
                <td class ='vt-align-right'>{{item.amountMoney}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>
