<div class="panel panel-default">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i> <span translate> app.salaryTable.grade.title </span>
    </strong>
  </div>
  <div class="panel-body panel-table">
    <p-table [scrollable]="true" [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-6">
          <col class="size-4">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th translate rowspan="2">common.table.index</th>
          <th translate rowspan="2"><span [ngClass]="{'required': formSave.controls[0].controls.name.isRequire}">app.salaryTable.grade.grade</span></th>
          <th translate colspan="3" class="size-9">app.salaryTable.grade.totalSalary</th>
          <th translate colspan="3" class="size-9">app.salaryTable.grade.baseSalary</th>
          <th translate colspan="3" class="size-9">app.salaryTable.grade.bonus13th</th>
          <th translate colspan="3" class="size-9">app.salaryTable.grade.bonusYear</th>
          <th translate rowspan="2"><span [ngClass]="{'required': formSave.controls[0].controls.duration.isRequire}">app.salaryTable.grade.increasePeriod</span></th>
          <th translate rowspan="2"><span [ngClass]="{'required': formSave.controls[0].controls.effectiveDate.isRequire}">app.salaryTable.grade.effectiveDate</span></th>
          <th translate rowspan="2"><span [ngClass]="{'required': formSave.controls[0].controls.expiredDate.isRequire}">app.salaryTable.steps.expiredDate</span></th>
          <th translate rowspan="2"><span [ngClass]="{'required': formSave.controls[0].controls.description.isRequire}">app.salaryTable.steps.description</span></th>
          <th translate rowspan="2">common.label.action</th>
        </tr>
        <tr>
          <th style="border-left: 1px solid #dee5e7;" translate ><span [ngClass]="{'required': formSave.controls[0].controls.totalSalaryMin.isRequire}">app.salaryTable.grade.min</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.totalSalaryMedian.isRequire}">app.salaryTable.grade.median</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.totalSalaryMax.isRequire}">app.salaryTable.grade.max</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.baseSalaryMin.isRequire}">app.salaryTable.grade.min</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.baseSalaryMedian.isRequire}">app.salaryTable.grade.median</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.baseSalaryMax.isRequire}">app.salaryTable.grade.max</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonus13thMonthMin.isRequire}">app.salaryTable.grade.min</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonus13thMonthMedian.isRequire}">app.salaryTable.grade.median</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonus13thMonthMax.isRequire}">app.salaryTable.grade.max</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonusYearMin.isRequire}">app.salaryTable.grade.min</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonusYearMedian.isRequire}">app.salaryTable.grade.median</span></th>
          <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bonusYearMax.isRequire}">app.salaryTable.grade.max</span></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr [formGroup]="item">
          <td class="vt-align-center">
            {{index+1}}
          </td>
          <td>
            <dynamic-input  [property]="item.controls.name"
                            [objectId]="item.controls.salaryGradeId.value"
                            [maxLength]="100">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.totalSalaryMin"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.totalSalaryMedian"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.totalSalaryMax"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.baseSalaryMin"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.baseSalaryMedian"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.baseSalaryMax"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonus13thMonthMin"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonus13thMonthMedian"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonus13thMonthMax"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonusYearMin"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonusYearMedian"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.bonusYearMax"
                            [maxLength]="15">
            </dynamic-input>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.duration"
                            [maxLength]="11">
            </dynamic-input>
          </td>
          <td>
            <date-picker [property]="item.controls.effectiveDate"
                         [hidden]="item.controls.effectiveDate.isHide"
                         appendTo="body">
            </date-picker>
            <app-control-messages [control]="item.controls.effectiveDate"></app-control-messages>
          </td>
          <td>
            <date-picker [property]="item.controls.expiredDate"
                         [hidden]="item.controls.expiredDate.isHide"
                         appendTo="body">
            </date-picker>
            <app-control-messages [control]="item.controls.expiredDate"></app-control-messages>
          </td>
          <td>
            <dynamic-input  [property]="item.controls.description"
                            [type]="'text-area'"
                            [maxLength]="1000">
            </dynamic-input>
          </td>
          <td class="vt-align-center">
            <button class="btn-icon plus" [title]="'titleAdd' | translate" type="button" *ngIf="index+1 == formSave.controls.length" (click)="addSalaryGrade(index, item)" [innerHTML]="'common.icon.plus' | translate">
            </button>
            <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="removeSalaryGrade(index, item.value.salaryGradeId)" [innerHTML]="'common.icon.minus' | translate">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
