<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('periodId').value" translate> app.payrolls.period.add</span>
          <span *ngIf="formSave.get('periodId').value" translate> app.payrolls.period.editlist</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button type="button" style="display: inline-block;" (click)="activeModal.close()"
            title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
              class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['periodOrganizationId'].isHide"
            [ngClass]="{'required': f['periodOrganizationId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.payrolls.period.organization' | translate}}
          </label>
          <div [hidden]="f['periodOrganizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <org-selector [property]="f['periodOrganizationId']" operationKey="action.insert"
              adResourceKey="resource.period" [defaultValue]="true" isRequiredField="true">
            </org-selector>
            <app-control-messages [control]="f['periodOrganizationId']"></app-control-messages>
          </div>
          <dynamic-input [property]="f['periodName']" [labelValue]="'app.payrolls.period.name'"
            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]='200' [autofocus]="'autofocus'">
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.payrolls.period.datefrom' | translate}}
          </label>
          <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['startDate']">
            </date-picker>
            <app-control-messages [control]="f['startDate']"></app-control-messages>
          </div>
          <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.payrolls.period.dateto' | translate}}
          </label>
          <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['endDate']">
            </date-picker>
            <app-control-messages [control]="f['endDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['isCurrent'].isHide" [ngClass]="{'required': f['isCurrent'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.payrolls.period.current' | translate}}
          </label>
          <div [hidden]="f['isCurrent'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <label class="i-switch bg-info m-t-xs m-r">
              <input type="checkbox" name="isCurrent" [value]="1" formControlName="isCurrent" />
              <i></i>
            </label>
          </div>
          <app-control-messages [control]="f['isCurrent']"></app-control-messages>
          <label [hidden]="f['typeOfPeriod'].isHide" [ngClass]="{'required': f['typeOfPeriod'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.payrolls.period.typeOfPeriod' | translate}}
          </label>
          <div [hidden]="f['typeOfPeriod'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter [property]="f['typeOfPeriod']" [options]="listTypeOfPeriod" optionLabel="name" optionValue="value"
              [placeHolder]="f['typeOfPeriod'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['typeOfPeriod']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="panel panel-default">
            <div class="panel-heading vt-relative color-panel">
              <strong class="text-u-c">
                <i class="fa fa-th"></i> <span translate> payrolls.period.duplicateCode.list</span>
              </strong>
            </div>
            <div class="panel-body panel-padding">
              <p-table [value]="formParam.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-4">
                    <col class="size-4">
                    <col class="size-7">
                    <col class="size-4">
                    <col class="size-10">
                    <col class="size-2">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th translate><span>common.table.index</span></th>
                    <th translate><span>payrolls.period.duplicateCode.paramCode</span></th>
                    <th translate><span>payrolls.period.duplicateCode.paramName</span></th>
                    <th translate><span>payrolls.period.duplicateCode.paramType</span></th>
                    <th translate><span>payrolls.period.duplicateCode.value</span></th>
                    <th translate><span>payrolls.period.duplicateCode.description</span></th>
                    <th translate>payroll.formula.diagram.DiagramDetailAction</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                  <tr [formGroup]="item">
                    <td class="vt-align-center">{{index + 1}}</td>
                    <td>
                      <dynamic-input [property]="item.get('paramCode')" [maxLength]='200'>
                      </dynamic-input>
                      <app-control-messages [control]="item.get('paramCode')"></app-control-messages>
                    </td>
                    <td>
                      <dynamic-input [property]="item.get('paramName')" [maxLength]='200'>
                      </dynamic-input>
                      <app-control-messages [control]="item.get('paramName')"></app-control-messages>
                    </td>
                    <td>
                      <select-filter
                        [placeHolder]="item.controls.attributeType.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                        [property]="item.controls.attributeType" [options]="listAttributeType" optionLabel="label"
                        optionValue="id">
                      </select-filter>
                      <app-control-messages [control]="item.controls.attributeType"></app-control-messages>
                    </td>
                    <td>
                      <dynamic-input [property]="item.get('value')" [maxLength]='200'>
                      </dynamic-input>
                      <app-control-messages [control]="item.get('value')"></app-control-messages>
                    </td>
                    <td>
                      <dynamic-input [property]="item.get('description')" [type]="'text-area'" [maxLength]='500'>
                      </dynamic-input>
                      <app-control-messages [control]="item.get('description')"></app-control-messages>
                    </td>
                    <td class="vt-align-center">
                      <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate"
                        (click)="addConfigDetail()" [innerHTML]="'common.icon.plus' | translate"></button>
                      <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate"
                        (click)="removeConfigDetail(index,item)" [innerHTML]="'common.icon.minus' | translate"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
          [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
          [innerHTML]="'common.button.cancel' | translate">
        </button>
      </div>
    </div>
  </form>
</div>