<div class="modal-body">
  <form id="frmSaveLongLeaveProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('longLeaveId').value" translate> app.longLeaveProcess.addTitle</span>
          <span *ngIf="formSave.get('longLeaveId').value" translate> app.longLeaveProcess.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['longLeaveReasonId'].isHide"
                 [ngClass]="{'required': f['longLeaveReasonId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.longLeaveProcess.reason' | translate}}
          </label>
          <div [hidden]="f['longLeaveReasonId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [placeHolder]="f['longLeaveReasonId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
              [property]="f['longLeaveReasonId']"
              [options]="reasonList"
              optionLabel="name"
              optionValue="longLeaveReasonId">
            </select-filter>
            <app-control-messages [control]="f['longLeaveReasonId']"></app-control-messages>
          </div>
          <label [hidden]="f['isLaborDisciplinary'].isHide"
                 [ngClass]="{'required': f['isLaborDisciplinary'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'app.longLeaveProcess.isLaborDisciplinary' | translate}}
          </label>
          <div [hidden]="f['isLaborDisciplinary'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <label class="i-switch bg-info m-t-xs m-r">
              <input type="checkbox" name="isLaborDisciplinary" [value]="1" formControlName="isLaborDisciplinary" />
              <i></i>
            </label>
            <app-control-messages [control]="f['isLaborDisciplinary']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.longLeaveProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.longLeaveProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
            <dynamic-input  [property]="f['note']"
                            [labelValue]="'app.longLeaveProcess.note'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                            [type]="'text-area'"
                            [autofocus]="'autofocus'"
                            [maxLength]='500'>
            </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.longLeaveProcess.file' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
          <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
