<div class="panel panel-default">
    <form id="formSave" [formGroup]="formSave">
        <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;
                <span translate>app.otherInformation.addTitle</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
                <dynamic-input  [property]="f['weight']"
                                [labelValue]="'app.otherInformation.weight'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [autofocus]="'autofocus'"
                                [maxLength]='6'>
              </dynamic-input>
                <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.otherInformation.height' |
      translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" name="height" class="form-control" formControlName="height" maxlength="6"/>
                    <app-control-messages [control]="f['height']"></app-control-messages>
                </div> -->
              <dynamic-input  [property]="f['height']"
                              [labelValue]="'app.otherInformation.height'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                              [maxLength]='6'>
              </dynamic-input>
            </div>
            <div class="ui-g-12">
                <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.otherInformation.familyPosition'
                | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" name="childGrade" class="form-control" formControlName="childGrade" maxlength="2"/>
                    <app-control-messages [control]="f['childGrade']"></app-control-messages>
                </div> -->
                <dynamic-input  [property]="f['childGrade']"
                                [labelValue]="'app.otherInformation.familyPosition'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [maxLength]='2'>
              </dynamic-input>
                <label [hidden]="f['familyTypeId'].isHide"
                       [ngClass]="{'required': f['familyTypeId'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.otherInformation.familyType' | translate}}
                </label>
                <div [hidden]="f['familyTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                  <select-filter
                    [placeHolder]="f['familyTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                    [property]="f['familyTypeId']"
                    [options]="familyTypeList"
                    optionLabel="name"
                    optionValue="sysCatId">
                  </select-filter>
                  <app-control-messages [control]="f['familyTypeId']"></app-control-messages>
                </div>
                <label [hidden]="f['policyType'].isHide"
                       [ngClass]="{'required': f['policyType'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.otherInformation.policy_type' | translate}}
                </label>
                <div [hidden]="f['policyType'].isHide" class="ui-g-12 ui-md-6 ui-lg-2">
                    <select-filter
                      [placeHolder]="f['policyType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                      [property]="f['policyType']"
                      [options]="policyList"
                      optionLabel="name"
                      optionValue="sysCatId">
                    </select-filter>
                    <app-control-messages [control]="f['policyType']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
                <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.otherInformation.otherInformation'
      | translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-10">
                    <textarea type="text" name="otherInfo" class="form-control" formControlName="otherInfo" maxlength="2000"></textarea>
                    <app-control-messages [control]="f['otherInfo']"></app-control-messages>
                </div> -->
                <dynamic-input  [property]="f['otherInfo']"
                                [labelValue]="'app.otherInformation.otherInformation'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-10'"
                                [type]="'text-area'"
                                [maxLength]='1000'>
                </dynamic-input>
            </div>
            <hr>
            <div class="ui-g-12">
                <label [hidden]="f['isPolicy'].isHide"
                       [ngClass]="{'required': f['isPolicy'].isRequire}"
                       class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.otherInformation.isPolicy' | translate}}
                </label>
                <div [hidden]="f['isPolicy'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
                    <div class="form-check-inline">
                        <label class="i-checks">
                        <input type="radio" class="form-check-input control-label" id="isPolicy1" [value]="2" name="isPolicy"
                            formControlName="isPolicy">
                        <i></i>
                        {{'app.otherInformation.isPolicy.yes' | translate}}
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="i-checks">
                        <input type="radio" class="form-check-input control-label" id="isPolicy2" [value]="1" formControlName="isPolicy"
                            name="isPolicy">
                        <i></i>
                        {{'app.otherInformation.isPolicy.no' | translate}}
                        </label>
                    </div>
                    <app-control-messages [control]="f['isPolicy']"></app-control-messages>
                </div>
            </div>
            <div class="ui-g-12">
                <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.otherInformation.fullName' |
      translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" name="referencePeople" class="form-control" formControlName="referencePeople" maxlength="100"/>
                    <app-control-messages [control]="f['referencePeople']"></app-control-messages>
                </div> -->
                <dynamic-input  [property]="f['referencePeople']"
                                [labelValue]="'app.otherInformation.fullName'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [maxLength]='100'>
                </dynamic-input>
                <!-- <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.otherInformation.unit' |
                translate}}</label>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <input type="text" name="referenceDepartment" class="form-control" formControlName="referenceDepartment" maxlength="100"/>
                    <app-control-messages [control]="f['referenceDepartment']"></app-control-messages>
                </div> -->
                <dynamic-input  [property]="f['referenceDepartment']"
                                [labelValue]="'app.otherInformation.unit'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [maxLength]='300'>
                </dynamic-input>
                <dynamic-input  [property]="f['referenceRank']"
                                [labelValue]="'app.otherInformation.level'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [maxLength]='200'>
                </dynamic-input>
            </div>
            <div class="ui-g-12">
                <dynamic-input  [property]="f['referenceRelationship']"
                                [labelValue]="'app.otherInformation.relationship'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-2'"
                                [maxLength]='200'>
                </dynamic-input>
                <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.otherInformation.attachmentFile' | translate}}
                </label>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <file-choser [property]="f['file']" [validMaxSize]="10" [validType]="FILE_TYPE_PERSONAL_UPLOAD"></file-choser>
                    <app-control-messages [control]="f['file']"></app-control-messages>
                </div>
            </div>
        </div>
        <div class="panel-footer vt-area-button" *ngIf="hasPermission('action.update')">
          <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        </div>
    </form>
</div>
