<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="col-md-12">
    <div class="">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.shiftAssign.searchTitle</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">

            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <label [hidden]="organizationId.isHide" [ngClass]="{'required': organizationId.isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="organizationId.isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <org-selector [property]="organizationId" operationKey="action.insert"
                  adResourceKey="resource.organization">
                </org-selector>
                <app-control-messages [control]="organizationId"></app-control-messages>
              </div>

            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <label [hidden]="organizationId.isHide" [ngClass]="{'required': organizationId.isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
                {{'app.employee_manager.status' | translate}}
              </label>
              <div [hidden]="organizationId.isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <select-filter [property]="organizationId" [options]="labourContractDetailList" optionLabel="name"
                optionValue="labourContractDetailId"
                [placeHolder]="organizationId.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
              </select-filter>
                <app-control-messages [control]="organizationId"></app-control-messages>
              </div>

              <label [hidden]="employeeId.isHide" [ngClass]="{'required': employeeId.isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right">
                {{'app.detailReport.employeeCode' | translate}}
              </label>
              <div [hidden]="employeeId.isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <data-picker [property]="employeeId" systemCode="emp" operationKey="action.view"
                  adResourceKey="resource.employee" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
                  (onChange)="onEmployeeChange($event)" selectField="employeeCode">
                </data-picker>
                <app-control-messages [control]="employeeId"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': fromDate.isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.fromDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="fromDate">
                </date-picker>
                <app-control-messages [control]="fromDate"></app-control-messages>
              </div>

              <label [ngClass]="{'required': toDate.isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.toDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="toDate">
                </date-picker>
                <app-control-messages [control]="toDate"></app-control-messages>
              </div>
            </div>
            <!-- button -->
            <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
              <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
                title="{{ 'common.label.search' | translate }}">
                <i class="fa fa-search "></i>
                <span translate>common.label.search</span>
              </button>
              <button type="button" class="btn btn-sm btn-info" (click)="getReport()"
                title="{{ 'navMenu.reportManager' | translate }}">
                <i class="fa fa-download" aria-hidden="true"></i>
                <span translate>navMenu.reportManager</span>
              </button>
              <button type="button" class="btn btn-sm btn-info" [routerLink]="['import']"
                title="{{ 'app.schedular.approvedProcess' | translate }}">
                <i class="glyphicons menu-icon glyphicons-check "></i>
                <span translate>app.schedular.approvedProcess</span>
              </button>
              <button type="button" class="btn btn-sm btn-danger "
                title="{{ 'app.schedular.rejectProcess' | translate }}">
                <i class="fa fa-times" aria-hidden="true"></i>
                <span translate class="label-button">app.schedular.rejectProcess</span>
              </button>
              <button type="button" class="btn btn-sm btn-info "
                title="{{ 'app.schedular.committedProcess' | translate }}">
                <i class="glyphicons menu-icon glyphicons-check " aria-hidden="true"></i>
                <span translate class="label-button">app.schedular.committedProcess</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>
  <!-- danh sách đi sớm về muộn không lý do -->
  <div class="col-md-12 mt-1 card-panel">
    <div class="">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate>app.schedular.leaveOffNotReason</span>
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <p-table [value]="shiftEmploys" scrollDirection="both" [scrollable]="true" scrollHeight="400px"
              [editMode]="'cell'" [paginator]="true" [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true"
              [(selection)]="selectedEmployees"
              [rows]="10" [totalRecords]="shiftEmploys.length" tableStyleClass="table table-bordered table-wrapper ">
              <ng-template pTemplate="colgroup">
              <colgroup>
                <col class="size-1" />
                <col class="size-1" />
                <col class="size-1" />
                <col class="size-3" />
                <col class="size-5" />
                <col class="size-3" />
                <col class="size-3"/>
                <col class="size-3" />
                <col class="size-3" />
                <col class="size-3" />
                <col class="size-3" />
                <col class="size-5" />
                <col class="size-5" />
                <col class="size-2" />
              </colgroup>
            </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th rowspan="2" class="vt-align-center">STT</th>
                  <th rowspan="2" class="vt-align-center">Chọn</th>
                  <th rowspan="2" class="vt-align-center">Giải trình</th>
                  <th rowspan="2" class="vt-align-center">Mã Nhân viên</th>
                  <th rowspan="2" class="vt-align-center">Tên đầy đủ</th>
                  <th rowspan="2" class="vt-align-center">Chức danh</th>
                  <th rowspan="2" class="vt-align-center">Kí hiệu đơn vị</th>
                  <th rowspan="2" class="vt-align-center">Ngày vi phạm</th>
                  <th rowspan="2" class="vt-align-center">Ca vi phạm</th>
                  <th rowspan="2" class="vt-align-center">Thời gian làm việc ca vi phạm </th>
                  <th rowspan="2" class="vt-align-center">Loại vi phạm </th>
                  <th rowspan="1" colspan="3" class="vt-align-center">Thời gian vi phạm</th>
                  <th rowspan="2" class="vt-align-center">Nội dung giải trình</th>
                  <th rowspan="2" class="vt-align-center">Trạng thái giải trình</th>
                </tr>
                <tr>
                  <th rowspan="1">Số phút đi muộn (phút)</th>
                  <th rowspan="1">Số phút về sớm (phút)</th>
                  <th rowspan="1">Số phút ra ngoài (phút)</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-shiftEmploy let-index="rowIndex+1">
                <tr>
                  <td >{{index}}</td>
                  <td>
                    <p-tableCheckbox [value]="shiftEmploy"></p-tableCheckbox>
                </td>
                <td >
                 <a class="fas fa-edit " (onclick)="view(shiftEmploy)" ></a>
              </td>
                  <td >{{shiftEmploy.employeeCode}}</td>
                  <td >{{shiftEmploy.employeeName}}</td>
                  <td >{{shiftEmploy.position}}</td>
                  <td>{{shiftEmploy.organizationCode}}</td>

                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr class="emptymessage">
                  <td colspan="12" [innerHTML]="'app.noRecords' | translate"></td>
                </tr>
              </ng-template>
              <!-- <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="shiftEmploys"></table-footer>
            </ng-template> -->
            </p-table>
            <p-dialog header="{{'app.schedular.InLateOutEarly'|translate}}" modal="true" [baseZIndex]="10000"
            [(visible)]="visiblePopup" [style]="{width: '700px' }">
            <div class="content">
             aaaaa
            </div>
          </p-dialog>

          </div>
        </div>

      </div>



    </div>
