<form id="formSave" [formGroup]="formSave">
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i> <span translate> emp.financialInformation.financialInformation </span>
      </strong>
    </div>
    <div class="panel-body panel-table">
      <p-table [value]="formSave.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-6">
            <col class="size-5">
            <col class="size-4">
            <col class="size-6">
            <col class="size-6">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate><span>common.table.index</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bankAccount.isRequire}">emp.financialInformation.accountNumber</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bankId.isRequire}">emp.financialInformation.bank</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls[0].controls.bankBranch.isRequire}">emp.financialInformation.bankBranch</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls[0].controls.locationId.isRequire}">emp.financialInformation.cityProvince</span></th>
            <th translate><span [ngClass]="{'required': formSave.controls[0].controls.isMainAccount.isRequire}">emp.financialInformation.isPaymentAccount</span></th>
            <th translate><span>app.organization.add_delete</span></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr [formGroup]="item">
            <td class="vt-align-center">
              {{index+1}}
            </td>
            <td>
              <dynamic-input [property]="item.controls.bankAccount" [autofocus]="'autofocus'" [maxLength]='50'></dynamic-input>
            </td>
            <td>
              <select-filter
                [hidden]="item.controls.bankId.isHide"
                [placeHolder]="item.controls.bankId.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="item.controls.bankId"
                [nationConfigType]="CONSTANTS.NATION_CONFIG_TYPE.BANK">
              </select-filter>
              <app-control-messages [control]="item.controls.bankId"></app-control-messages>
            </td>
            <td>
              <dynamic-input  [property]="item.controls.bankBranch"
                              [maxLength]='50'>
              </dynamic-input>
            </td>
            <td>
              <province-select-filter
                [placeHolder]="item.controls.locationId.isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                [property]="item.controls.locationId">
              </province-select-filter>
              <app-control-messages [control]="item.controls.locationId"></app-control-messages>
            </td>
            <td  style="text-align: center;">
              <label class="i-checks">
                <input type="checkbox" (change)="checkOnly($event, index, 'isMainAccount')" class="form-check-input control-label" [value]="1" name="isMainAccount"
                  formControlName="isMainAccount">
                <i></i>
              </label>
            </td>
            <td class="vt-align-center">
              <button class="btn-icon plus" [title]="'titleAdd' | translate" type="button" (click)="addFinacialInfo(index, item)" [innerHTML]="'common.icon.plus' | translate">
              </button>
              <button class="btn-icon minus" [title]="'titleDelete' | translate" type="button" (click)="processDeleteAccount(index, item.controls.empBankAccountId.value)" [innerHTML]="'common.icon.minus' | translate">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="panel-footer vt-area-button" *ngIf="hasPermission('action.update')">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
      </div>
    </div>
  </div>
</form>
