<div class="panel-default">
    <form id="formSync" [formGroup]="formSync">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i> {{'payroll.taxSync.title' | translate}}
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <button (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['incomeId'].isHide" [ngClass]="{'required': f['incomeId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'payroll.taxSync.income' | translate}}
          </label>
          <div [hidden]="f['incomeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['incomeId']"
              [options]="listIncomeItem"
              optionLabel="name"
              optionValue="id"
              [placeHolder]="f['incomeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['incomeId']"></app-control-messages>
          </div>
          <label [hidden]="f['declarationPeriodId'].isHide" [ngClass]="{'required': f['declarationPeriodId'].isRequire}"
            class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'payroll.taxSync.declarationPeriod' | translate}}
          </label>
          <div [hidden]="f['declarationPeriodId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['declarationPeriodId']"
              [options]="listDeclarePeriod"
              optionLabel="name"
              optionValue="id"
              [placeHolder]="f['declarationPeriodId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['declarationPeriodId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processTaxSync()" class="btn btn-sm btn-info" [innerHTML]="'payroll.calculate.taxSync' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </form>
  </div>