<div class="modal-body">
  <form id="frmSaveEmpTypeProcess" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('empTypeProcessId').value" translate> app.contractProcess.insert</span>
          <span *ngIf="formSave.get('empTypeProcessId').value" translate> app.contractProcess.update</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['empTypeId'].isHide"
                 [ngClass]="{'required': f['empTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.contractProcess.empType' | translate}}
          </label>
          <div [hidden]="f['empTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['empTypeId']"
              [options]="empTypeList"
              (onChange)="onEmpTypeChange($event,null)"
              optionLabel="name"
              optionValue="empTypeId"
              [autofocus]="'autofocus'"
              [placeHolder]="f['empTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['empTypeId']"></app-control-messages>
          </div>
          <label *ngIf="isNotHDLD" [hidden]="f['soldierLevelId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
            {{'app.contractProcess.soldierLevel' | translate}}
          </label>
          <div *ngIf="isNotHDLD" [hidden]="f['soldierLevelId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['soldierLevelId']"
              [options]="soldierLevelList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['soldierLevelId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['soldierLevelId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12" >
          <label *ngIf="isHDLD" [hidden]="f['labourContractTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.labourContractType.title' | translate}}
          </label>
          <div *ngIf="isHDLD" [hidden]="f['labourContractTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              (onChange)="onLabourContractTypeChange($event)"
              [property]="f['labourContractTypeId']"
              [options]="laboutTypeList"
              optionLabel="name"
              optionValue="labourContractTypeId"
              [placeHolder]="f['labourContractTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['labourContractTypeId']"></app-control-messages>
          </div>
          <label *ngIf="!isLabourContract" [hidden]="f['labourContractDetailId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'app.contractProcess.contract' | translate}}
          </label>
          <div *ngIf="!isLabourContract" [hidden]="f['labourContractDetailId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['labourContractDetailId']"
              [options]="labourContractDetailList"
              optionLabel="name"
              optionValue="labourContractDetailId"
              [placeHolder]="f['labourContractDetailId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['labourContractDetailId']"></app-control-messages>
          </div>
        </div>
        <div *ngIf="isHDLD" class="ui-g-12">
          <label *ngIf="!isLabourNonRequired" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">
            {{'app.contractProcess.contractPeriodByMonth' | translate}}
          </label>
          <label *ngIf="isLabourNonRequired" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.contractProcess.contractPeriodByMonth' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <input type="text" name="contractMonth" class="form-control" formControlName="contractMonth" maxlength="4" />
            <app-control-messages [control]="f['contractMonth']"></app-control-messages>
          </div>
          <label *ngIf="isLabourService" [hidden]="f['workingTimeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
            {{'app.contractProcess.workingTime' | translate}}
          </label>
          <div *ngIf="isLabourService" [hidden]="f['workingTimeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['workingTimeId']"
              [options]="workingTimeList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['workingTimeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['workingTimeId']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['contractDecisionNumber']"
                          [objectId]="f['empTypeProcessId'].value"
                          [labelValue]="'app.contractProcess.contractNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='50'>
          </dynamic-input>
          <label [hidden]="f['signedDate'].isHide"
                 [ngClass]="{'required': f['signedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.workProcess.signedDate' | translate}}
          </label>
          <div [hidden]="f['signedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['signedDate']"></date-picker>
            <app-control-messages [control]="f['signedDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.contractProcess.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.contractProcess.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['description']"
                          [objectId]="f['empTypeProcessId'].value"
                          [labelValue]="'app.workProcess.description'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='500'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.workProcess.attachmentFile' | translate}}
          </label>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="fileControl"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="fileControl"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
