<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <social-insurance-process-search></social-insurance-process-search>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
