<div class="content" *ngIf="hasPermission('action.view')">
  <div class="row">
    <div class="col-md-12">
        <div id="searchArea">
          <div class="panel panel-default">
            <form id="formSearch" [formGroup]="formSearch">
              <div class="panel-heading">
                <strong class="text-u-c">
                  <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
                </strong>
              </div>
              <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                  <dynamic-input  [property]="f['code']"
                                  [labelValue]="'app.sys_property.code'"
                                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                  autofocus="autofocus"
                                  [maxLength]='50'>
                  </dynamic-input>
                  <dynamic-input  [property]="f['name']"
                                  [labelValue]="'app.sys_property.name'"
                                  [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                  [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                  [maxLength]='200'>
                  </dynamic-input>
                </div>
                <div class="ui-g-12">
                  <label [hidden]="f['startDate'].isHide"
                         [ngClass]="{'required': f['startDate'].isRequire}"
                         class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.sys_property.startDate' | translate}}
                  </label>
                  <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['startDate']"></date-picker>
                    <app-control-messages [control]="f['startDate']"></app-control-messages>
                  </div>
                  <label [hidden]="f['endDate'].isHide"
                         [ngClass]="{'required': f['endDate'].isRequire}"
                         class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                    {{'app.sys_property.endDate' | translate}}
                  </label>
                  <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <date-picker [property]="f['endDate']"></date-picker>
                    <app-control-messages [control]="f['endDate']"></app-control-messages>
                  </div>
                </div>
                <div class="ui-g-12">
                  <label [hidden]="f['resourceCode'].isHide"
                         [ngClass]="{'required': f['endDate'].isRequire}"
                         class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.sys_property.resourceCode' | translate}}
                  </label>
                  <div [hidden]="f['resourceCode'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                    <select-filter
                      [placeHolder]="f['resourceCode'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                      [property]="f['resourceCode']"
                      [options]="resources"
                      optionLabel="name"
                      optionValue="code">
                    </select-filter>
                    <app-control-messages [control]="f['resourceCode']"></app-control-messages>
                  </div>
                </div>
              </div>
              <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
                  <span [innerHTML]="'common.button.search' | translate"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="listArea">
            <div class="panel panel-default">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;{{'app.sys_property.list' | translate}}
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                      <div *ngIf="hasPermission('action.insert')">
                        <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
                      </div>
                    </div>
                </div>
                <div class="panel-body panel-table">
                    <p-table [scrollable]="true" [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
                        [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true"
                        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                        <ng-template pTemplate="colgroup" let-columns>
                          <colgroup>
                            <col class="size-1">
                            <col class="size-4">
                            <col class="size-1">
                            <col class="size-1">
                            <col class="size-10">
                            <col class="size-12">
                            <col class="size-8">
                            <col class="size-8">
                            <col class="size-10">
                            <col class="size-12">
                            <col class="size-4">
                          </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'common.table.index' | translate}}</th>
                                <th >
                                  {{'common.button.table.hConfig' | translate}}
                                </th>
                                <th >
                                  {{'common.button.table.hEdit' | translate}}
                                </th>
                                <th >
                                  {{'common.button.table.hDelete' | translate}}
                                </th>
                                <th [pSortableColumn]="'code'">
                                  {{'app.sys_property.code' | translate}}
                                  <p-sortIcon [field]="'code'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'name'">
                                  {{'app.sys_property.name' | translate}}
                                  <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th  [pSortableColumn]="'startDate'">
                                  {{'app.sys_property.startDate' | translate}}
                                  <p-sortIcon [field]="'startDate'"></p-sortIcon>
                                </th>
                                <th  [pSortableColumn]="'endDate'">
                                  {{'app.sys_property.endDate' | translate}}
                                  <p-sortIcon [field]="'endDate'"></p-sortIcon>
                                </th>
                                <th  [pSortableColumn]="'resourceCode'">
                                  {{'app.sys_property.resourceCode' | translate}}
                                  <p-sortIcon [field]="'resourceCode'"></p-sortIcon>
                                </th>
                                <th  [pSortableColumn]="'actionForm'">
                                    {{'app.sys_property.actionForm' | translate}}
                                    <p-sortIcon [field]="'actionForm'"></p-sortIcon>
                                </th>
                                <th  [pSortableColumn]="'isValidator'">
                                  {{'app.sys_property.isValidator' | translate}}
                                  <p-sortIcon [field]="'isValidator'"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                            <tr>
                                <td class="vt-align-center">{{index}}</td>
                                <td class="vt-align-center">
                                  <a class="btn-table edit" (click)="showProperty(item)" title="{{'common.button.table.hConfig' | translate}}" [innerHTML]="'common.icon.go_detail' | translate"></a>
                                </td>
                                <td class="vt-align-center">
                                  <div *ngIf="hasPermission('action.update')">
                                    <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                                  </div>
                                </td>
                                <td class="vt-align-center">
                                  <div *ngIf="hasPermission('action.delete')">
                                    <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                                  </div>
                                </td>
                                <td>{{item.code}}</td>
                                <td>{{item.name}}</td>
                                <td class="vt-align-center">
                                    {{item.startDate | displayDate}}
                                </td>
                                <td class="vt-align-center">
                                    {{item.endDate | displayDate}}
                                </td>
                                <td>
                                  {{item.resourceCode}}
                                </td>
                                <td>
                                  {{item.actionForm}}
                                </td>
                                <td class="vt-align-center">
                                  <i *ngIf="item.isValidator == 1" class="fas fa-check table-icon color-info"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                          <tr class="emptymessage">
                            <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft">
                          <table-footer [resultList]="resultList"></table-footer>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div id="configArea">
            <sys-property-config *ngIf="selectedProperty && selectedProperty.propertyId" [selectedProperty]="selectedProperty"></sys-property-config>
        </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
