<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
        <form id="formSearch" [formGroup]="formSearch">
          <div class="panel-heading" translate>
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              common.label.search_form
            </strong>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <dynamic-input  [property]="f['name']"
                              [labelValue]="'payroll.formula.config.name'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [autofocus]="'autofocus'"
                              [maxLength]='200'>
              </dynamic-input>
              <label [hidden]="f['salaryTypeId'].isHide"
                [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right ">
                {{'payroll.formula.config.salaryType' | translate}}
              </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <select-filter
                  (onChange)="onSalaryTypeChange($event)"
                  [property]="f['salaryTypeId']"
                  [options]="salaryTypeList"
                  optionLabel="name"
                  optionValue="salaryTypeId"
                  [autofocus]="'autofocus'"
                  [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"> </button>
          </div>
        </form>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          payroll.formula.config.listTitle
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf = "hasPermission('action.insert')">
            <button type="button" [routerLink]="['/payroll/formula/config/add']" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table [scrollable]="true" #ptable [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-1" *ngIf = "hasPermission('action.update')" >
              <col class="size-1" *ngIf = "hasPermission('action.delete')">
              <col class="size-1" *ngIf = "hasPermission('action.view')">
              <col class="size-7">
              <col style="width: 20%">
              <col style="width: 15%">
              <col style="width: 39%">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th *ngIf = "hasPermission('action.update')" translate>common.button.table.hEdit</th>
              <th *ngIf = "hasPermission('action.delete')" translate>common.button.table.hDelete</th>
              <th *ngIf = "hasPermission('action.view')" translate>common.button.table.hViewHistory</th>
              <th [pSortableColumn]="'isActive'" translate>
                payroll.formula.config.isActive
                <p-sortIcon [field]="'isActive'"></p-sortIcon>
                </th>
              <th [pSortableColumn]="'name'" translate>
                payroll.formula.config.name
                <p-sortIcon [field]="'name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'salaryTypeName'" translate>
                payroll.formula.config.salaryType
                <p-sortIcon [field]="'salaryTypeName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'description'" translate>
                payroll.formula.config.description
                <p-sortIcon [field]="'description'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center" *ngIf = "hasPermission('action.update')">
                  <a class="btn-table edit" [routerLink]="['/payroll/formula/config/edit', item.dfFormulaId, item.isActive]"  title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td class="vt-align-center" *ngIf = "hasPermission('action.delete')">
                  <a class="btn-table delete" *ngIf="!formulaUsed.includes(item.dfFormulaId)" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                  <a class="btn-table delete" *ngIf="formulaUsed.includes(item.dfFormulaId)" (click)="processDelete(item)" title="{{'common.button.table.hLock' | translate}}"><i class="fa fa-lock"></i></a>
                </td>
                <td class="vt-align-center">
                  <a class="btn-table" title="{{'common.button.table.hViewHistory' | translate}}" (click)="viewHistory(item)"><i class="fa fa-eye"></i></a>
                </td>
                <td class="vt-align-left">
                  <a (click)="changeStatus(item)" [ngStyle]="{'color': item.isActive == 1 ? 'rgb(19, 168, 69)': 'rgb(184, 33, 33)'}"
                                                [ngClass]="item.isActive == 1 ? 'label-status info' : 'label-status danger'">
                    {{statusList[item.isActive]}}
                  </a>
                </td>
                <td class="vt-align-left">{{item.name}}</td>
                <td class="vt-align-left">{{item.salaryTypeName}}</td>
                <td>{{item.description}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
