<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <personal-information-form></personal-information-form>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
