<div class="content" *ngIf="hasPermission('action.view')">
  <div class="row">
    <div class="col-md-12">
      <div id="searchArea">
        <div class="panel panel-default">
          <form id="formSearch" [formGroup]="formSearch">
            <div class="panel-heading">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
              </strong>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12">
                <dynamic-input  [property]="f['code']"
                                [labelValue]="'app.reportDynamic.code'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                autofocus="autofocus"
                                [maxLength]='50'>
                </dynamic-input>
                <dynamic-input  [property]="f['name']"
                                [labelValue]="'app.reportDynamic.name'"
                                [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                                [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                                autofocus="autofocus"
                                [maxLength]='50'>
                </dynamic-input>
              </div>

              <div class="ui-g-12">
                <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.reportDynamic.startDate' | translate}}
                </label>
                <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['startDate']"></date-picker>
                  <app-control-messages [control]="f['startDate']"></app-control-messages>
                </div>
                <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.reportDynamic.endDate' | translate}}
                </label>
                <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['endDate']"></date-picker>
                  <app-control-messages [control]="f['endDate']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['formatReport'].isHide" [ngClass]="{'required': f['formatReport'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.reportDynamic.formatReport' | translate}}
                </label>
                <div [hidden]="f['formatReport'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['formatReport']"
                    [options]="listFormatReport"
                    optionLabel="value"
                    optionValue="code"
                    [placeHolder]="f['formatReport'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
                  </select-filter>
                  <app-control-messages [control]="f['formatReport']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="panel-footer vt-area-button">
              <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
                <span [innerHTML]="'common.button.search' | translate"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="listArea">
        <div class="panel panel-default">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              &nbsp;{{ 'app.reportDynamic.listTitle' | translate }}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <div *ngIf="hasPermission('action.insert')">
                <button [routerLink]="['/reports/report-dynamic/add']" class="btn btn-sm btn-info">
                  <span [innerHTML]="'common.button.addNew' | translate"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <p-table
              [scrollable]="true"
              [value]="resultList.data"
              [paginator]="true"
              #ptable
              (onLazyLoad)="processSearch($event)"
              [lazyLoadOnInit]="false"
              [lazy]="true"
              [totalRecords]="resultList.recordsTotal"
              [rows]="10"
              [responsive]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
              styleClass="controlOverflow"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-4">
                  <col class="size-6">
                  <col class="size-12">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate>common.label.action</th>
                  <th [pSortableColumn]="'code'" translate>app.reportDynamic.code
                    <p-sortIcon [field]="'code'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'name'" translate>app.reportDynamic.name
                    <p-sortIcon [field]="'name'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'formatReport'" translate>app.reportDynamic.formatReport
                    <p-sortIcon [field]="'formatReport'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'startDate'" translate>app.reportDynamic.startDate
                    <p-sortIcon [field]="'startDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'endDate'" translate>app.reportDynamic.endDate
                    <p-sortIcon [field]="'endDate'"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-center btn-action">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                      <div ngbDropdownMenu>
                        <!-- Action edit plan -->
                        <div *ngIf="hasPermission('action.update')">
                          <button class="dropdown-item"
                          [routerLink]="['/reports/report-dynamic/edit', item.reportDynamicId]"
                          title="{{'common.button.table.hEdit' | translate}}"
                          [innerHTML]="'common.button.table.actedit' | translate">
                          </button>
                        </div>
                        <!-- Action delete plan -->
                        <div *ngIf="hasPermission('action.delete')">
                          <button class="dropdown-item"
                          (click)="processDelete(item)"
                          title="{{'common.button.table.hDelete' | translate}}"
                          [innerHTML]="'common.button.table.actDelete' | translate">
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{item.code}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.formatReport  | displayHelper : listFormatReport: 'code': 'value'}}</td>
                  <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<have-not-permission actionCode="action.view" resourceCode="resource.reportDynamic" translate>
  common.haveNoPermission
</have-not-permission>
