<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span>{{title}}</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
                <button type="button" style="display: inline-block;" (click)="activeModal.close()"
                    title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                        class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12" [innerHTML]="message">                
            </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                [innerHTML]="'common.button.close' | translate">
            </button>
        </div>
    </div>
</div>