<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c">
            <i class="fa fa-th"></i>
            app.employee-update.employeeUpdate
        </strong>
      </div>
      <form id="formSearchBasic" [formGroup]="formSearchBasic">
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                   [ngClass]="{'required': f['organizationId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.orgSelector.title' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [property]="f['organizationId']"
                operationKey="action.view"
                adResourceKey="resource.employeeInfo"
                [defaultValue]="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['employeeCode']"
                              [labelValue]="'app.employee.employee_code'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [autofocus]="'autofocus'"
                              [maxLength]="100">
              </dynamic-input>
              <dynamic-input  [property]="f['fullName']"
                              [labelValue]="'app.otherInformation.fullName'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="100">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['mobileNumber']"
                              [labelValue]="'app.employee-update.mobilePhone'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="100">
              </dynamic-input>
              <dynamic-input  [property]="f['email']"
                              [labelValue]="'common.header.navbar.new.EMAIL'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="200">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['pidNumber']"
                              [labelValue]="'app.employee-update.numberPID'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="50">
              </dynamic-input>
              <dynamic-input  [property]="f['passportNumber']"
                              [labelValue]="'app.employee.passport_number'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="50">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['positionId'].isHide"
                     [ngClass]="{'required': f['positionId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.employee-update.jobTitle' | translate}}
              </label>
              <div [hidden]="f['positionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <data-picker
                    [property]="f['positionId']"
                    systemCode="emp"
                    operationKey="action.view"
                    adResourceKey="resource.employeeInfo"
                    objectBO="PositionBO"
                    codeField="code"
                    nameField="name"
                    selectField="positionId">
                </data-picker>
                <app-control-messages [control]="f['positionId']"></app-control-messages>
              </div>
              <label [hidden]="f['empTypeId'].isHide"
                     [ngClass]="{'required': f['empTypeId'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.employee-update.empType' | translate}}
              </label>
              <div [hidden]="f['empTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                 <select-filter
                  [property]="f['empTypeId']"
                  [options]="empTypeList"
                  optionLabel="name"
                  optionValue="empTypeId"
                  [placeHolder]="f['empTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                </select-filter>
                <app-control-messages [control]="f['empTypeId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <dynamic-input  [property]="f['taxNumber']"
                              [labelValue]="'app.employee-update.taxCodeNumber'"
                              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right '"
                              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                              [maxLength]="20">
              </dynamic-input>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['dateBirthFrom'].isHide"
                     [ngClass]="{'required': f['dateBirthFrom'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.employee-update.dateBirthFrom' | translate}}
              </label>
              <div [hidden]="f['dateBirthFrom'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['dateBirthFrom']" ></date-picker>
                <app-control-messages [control]="f['dateBirthFrom']"></app-control-messages>
              </div>
              <label [hidden]="f['dateBirthTo'].isHide"
                     [ngClass]="{'required': f['dateBirthTo'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.employee-update.dateBirthTo' | translate}}
              </label>
              <div [hidden]="f['dateBirthTo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <date-picker [property]="f['dateBirthTo']" ></date-picker>
                <app-control-messages [control]="f['dateBirthTo']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12">
              <label [hidden]="f['status'].isHide"
                     [ngClass]="{'required': f['status'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                {{'app.position.status' | translate}}
              </label>
              <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
                <div class="form-check-inline ">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_0" value="0" name="status" formControlName="status">
                    <i></i>
                    {{'app.position.all' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_1" value="1" name="status" formControlName="status">
                    <i></i>
                    {{'app.position.isWorking' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_2" value="2" name="status" formControlName="status">
                    <i></i>
                    {{'app.position.notWorking' | translate}}
                  </label>
                </div>
                <app-control-messages [control]="f['status']"></app-control-messages>
              </div>
              <label [hidden]="f['gender'].isHide"
                     [ngClass]="{'required': f['gender'].isRequire}"
                     class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                {{'app.employee.gender' | translate}}
              </label>
              <div [hidden]="f['gender'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="form-check-inline nowrap">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_0" value="0" name="gender" formControlName="gender">
                    <i></i>
                    {{'app.position.all' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_1" value="1" name="gender" formControlName="gender">
                    <i></i>
                    {{'app.position.male' | translate}}
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="i-checks">
                    <input type="radio"class="form-check-input control-label" id="maritalStatus_2" value="2" name="gender"  formControlName="gender">
                    <i></i>
                    {{'app.position.female' | translate}}
                  </label>
                </div>
                <app-control-messages [control]="f['gender']"></app-control-messages>
              </div>
            </div>
        </div>
        <div style="text-align:right; padding-right: 140px;">
          <a style="color: blue" (click)="pressLabelSearchType()">
            <span id="searchTypeSpan">
              {{'app.position.basicAdvanceSearch' | translate}} &nbsp;&nbsp;
            </span>
          </a>
        </div>
        <button type="submit" (click)="processSearch(null)" style="display: none" > </button>
      </form>
      <form id="formSearchAdvanced" [formGroup]="formSearchAdvanced">
        <div *ngIf="!isHidden" class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="fa['maritalStatus'].isHide"
                   [ngClass]="{'required': fa['maritalStatus'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee.marital' | translate}}
            </label>
            <div [hidden]="fa['maritalStatus'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check-inline ">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="maritalStatus_0" value="0" name="maritalStatus" formControlName="maritalStatus">
                  <i></i>
                  {{'app.position.all' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="maritalStatus_1" value="1" name="maritalStatus" formControlName="maritalStatus">
                  <i></i>
                  {{'app.position.single' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="maritalStatus_2" value="2" name="maritalStatus" formControlName="maritalStatus">
                  <i></i>
                  {{'app.position.married' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="maritalStatus_3" value="3" name="maritalStatus" formControlName="maritalStatus">
                  <i></i>
                  {{'app.employee.marital_status.divorce' | translate}}
                </label>
              </div>
              <app-control-messages [control]="fa['maritalStatus']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['isPartyMember'].isHide"
                   [ngClass]="{'required': fa['isPartyMember'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee-update.isPartyMember' | translate}}
            </label>
            <div [hidden]="fa['isPartyMember'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check-inline ">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="isPartyMember_0" value="0" name="isPartyMember" formControlName="isPartyMember">
                  <i></i>
                  {{'app.position.all' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="isPartyMember_1" value="1" name="isPartyMember" formControlName="isPartyMember">
                  <i></i>
                  {{'app.position.yes' | translate}}
                </label>
              </div>
              <div class="form-check-inline" style="padding-left: 35px;">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="isPartyMember_2" value="2" name="isPartyMember" formControlName="isPartyMember">
                  <i></i>
                  {{'app.position.no' | translate}}
                </label>
              </div>
              <app-control-messages [control]="fa['isPartyMember']"></app-control-messages>
            </div>
            <label [hidden]="fa['familyTypeId'].isHide"
                   [ngClass]="{'required': fa['familyTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.position.familyType' | translate}}
            </label>
            <div [hidden]="fa['familyTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['familyTypeId']"
                [options]="familyTypeList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="fa['familyTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="fa['familyTypeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['religionId'].isHide"
                   [ngClass]="{'required': fa['religionId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee.religion' | translate}}
            </label>
            <div [hidden]="fa['religionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['religionId']"
                [placeHolder]="fa['religionId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'"
                [nationConfigType]="CONSTANTS.NATION_CONFIG_TYPE.RELIGION"
              >
              </select-filter>
              <app-control-messages [control]="fa['religionId']"></app-control-messages>
            </div>
            <label [hidden]="fa['ethnicId'].isHide"
                   [ngClass]="{'required': fa['ethnicId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" >{{'app.employee.ethnic' | translate}}</label>
            <div [hidden]="fa['ethnicId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['ethnicId']"
                [nationConfigType]="CONSTANTS.NATION_CONFIG_TYPE.ETHNIC"
                [placeHolder]="fa['ethnicId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="fa['ethnicId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['languageId'].isHide"
                   [ngClass]="{'required': fa['languageId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee-update.language' | translate}}
            </label>
            <div [hidden]="fa['languageId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['languageId']"
                [options]="languageList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="fa['languageId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="fa['languageId']"></app-control-messages>
            </div>
            <label [hidden]="fa['empEducationProcessId'].isHide"
                   [ngClass]="{'required': fa['empEducationProcessId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.position.educationSpeciality' | translate}}
            </label>
            <div [hidden]="fa['empEducationProcessId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <data-picker
                [property]="fa['empEducationProcessId']"
                systemCode="sys"
                operationKey="action.view"
                adResourceKey="resource.employee"
                objectBO="SysCatBO"
                codeField="code"
                nameField="name"
                selectField="sysCatId"
                filterCondition=" and obj.sys_cat_type_id = (select sys_cat_type_id from SYS_CAT_TYPE where code = '{{SPECIALITY_CODE}}' and market_company_id={{MARKETCOMPANY_ID}}) ">
              </data-picker>
              <app-control-messages [control]="fa['empEducationProcessId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['educationLevelId'].isHide"
                   [ngClass]="{'required': fa['educationLevelId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee-update.educationLevel' | translate}}
            </label>
            <div [hidden]="fa['educationLevelId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['educationLevelId']"
                [options]="educationLevelList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="fa['educationLevelId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="fa['educationLevelId']"></app-control-messages>
            </div>
            <label [hidden]="fa['educationTypeId'].isHide"
                   [ngClass]="{'required': fa['educationTypeId'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.position.educationType' | translate}}
            </label>
            <div [hidden]="fa['educationTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                [property]="fa['educationTypeId']"
                [options]="educationTypeList"
                optionLabel="name"
                optionValue="sysCatId"
                [placeHolder]="fa['educationTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="fa['educationTypeId']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['joinCompanyDateFrom'].isHide"
                   [ngClass]="{'required': fa['joinCompanyDateFrom'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.employee-update.joinCompanyDateFrom' | translate}}
            </label>
            <div [hidden]="fa['joinCompanyDateFrom'].isHide"class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['joinCompanyDateFrom']" ></date-picker>
              <app-control-messages [control]="fa['joinCompanyDateFrom']"></app-control-messages>
            </div>
            <label [hidden]="fa['joinCompanyDateTo'].isHide"
                   [ngClass]="{'required': fa['joinCompanyDateTo'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.employee-update.joinCompanyDateTo' | translate}}
            </label>
            <div [hidden]="fa['joinCompanyDateTo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['joinCompanyDateTo']" ></date-picker>
              <app-control-messages [control]="fa['joinCompanyDateTo']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['contractEffectiveDateFrom'].isHide"
                   [ngClass]="{'required': fa['contractEffectiveDateFrom'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
              {{'app.employee-update.contractEffectiveDateFrom' | translate}}
            </label>
            <div [hidden]="fa['contractEffectiveDateFrom'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['contractEffectiveDateFrom']" ></date-picker>
              <app-control-messages [control]="fa['contractEffectiveDateFrom']"></app-control-messages>
            </div>
            <label [hidden]="fa['contractEffectiveDateTo'].isHide"
                   [ngClass]="{'required': fa['contractEffectiveDateTo'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" >
              {{'app.employee-update.contractEffectiveDateTo' | translate}}
            </label>
            <div [hidden]="fa['contractEffectiveDateTo'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['contractEffectiveDateTo']" ></date-picker>
              <app-control-messages [control]="fa['contractEffectiveDateTo']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="fa['contractExpiredDateFrom'].isHide"
                   [ngClass]="{'required': fa['contractExpiredDateFrom'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" >
              {{'app.employee-update.contractExpiredDateFrom' | translate}}
            </label>
            <div [hidden]="fa['contractExpiredDateFrom'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['contractExpiredDateFrom']" ></date-picker>
              <app-control-messages [control]="fa['contractExpiredDateFrom']"></app-control-messages>
            </div>
            <label [hidden]="fa['contractExpiredDateTo'].isHide"
                   [ngClass]="{'required': fa['contractExpiredDateTo'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right" >
              {{'app.employee-update.contractExpiredDateTo' | translate}}
            </label>
            <div [hidden]="fa['contractExpiredDateTo'].isHide"class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="fa['contractExpiredDateTo']" ></date-picker>
              <app-control-messages [control]="fa['contractExpiredDateTo']"></app-control-messages>
            </div>
          </div>
        </div>
        <button type="submit" (click)="processSearch(null)" style="display: none" > </button>
      </form>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSearch(null)" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate" > </button>
      </div>
    </div>
  </div>
  <div id="listArea">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c" translate>
          <i class="fa fa-th"></i>
          app.employee.list
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table
          #ptable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [lazy]="true" [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [scrollable]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col class="size-8">
              <col class="size-8">
              <col class="size-12">
              <col class="size-12">
              <col class="size-12">
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
              <col class="size-10">
              <col class="size-10">
              <col class="size-8">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th *ngIf="hasPermission('action.update')" translate>MenuContext.edit</th>
              <th *ngIf="hasPermission('action.delete')" translate>MenuContext.delete</th>
              <th [pSortableColumn]="'fullName'">
                {{'app.otherInformation.fullName' | translate}}
                <p-sortIcon [field]="'fullName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'employeeCode'" >
                {{'app.employee.employee_code' | translate}}
                <p-sortIcon [field]="'employeeCode'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'organizationName'" >
                {{'app.position.unitName' | translate}}
                <p-sortIcon [field]="'organizationName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'empTypeName'" >{{'app.contractProcess.empType' | translate}}
                  <p-sortIcon [field]="'empTypeName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'positionName'">{{'app.employee-update.jobTitle' | translate}}
                <p-sortIcon [field]="'positionName'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'gender'" >{{'app.employee.gender' | translate}}
                <p-sortIcon [field]="'gender'"></p-sortIcon>
              </th>
              <th  [pSortableColumn]="'dateOfBirth'" >{{'app.employee-update.dateBirth' | translate}}
                <p-sortIcon [field]="'dateOfBirth'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'pidNumber'" >{{'app.employee-update.numberPID' | translate}}
                <p-sortIcon [field]="'pidNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'email'" >{{'common.header.navbar.new.EMAIL' | translate}}
                <p-sortIcon [field]="'email'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'mobileNumber'" >{{'app.employee-update.mobilePhone' | translate}}
                <p-sortIcon [field]="'mobileNumber'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'status'" >{{'app.sys_cat.status' | translate}}
                <p-sortIcon [field]="'status'"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center"><a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
              <td class="vt-align-left">{{item.fullName}}</td>
              <td class="vt-align-center">{{item.employeeCode}}</td>
              <td class="vt-align-left">{{item.organizationName}}</td>
              <td class="vt-align-left">{{item.empTypeName}}</td>
              <td class="vt-align-left">{{item.positionName}}</td>
              <td class="vt-align-center">
                <div *ngIf="item.gender==1">{{'app.employee.male' | translate}}</div>
                <div *ngIf="item.gender==2">{{'app.employee.female' | translate}}</div>
              </td>
              <td class="vt-align-center">{{item.dateOfBirth | displayDate}}</td>
              <td>{{item.pidNumber}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobileNumber}}</td>
              <td class="vt-align-left">
                <div class="label-status info" *ngIf="item.status==1">{{'app.employee-info.isWorking' | translate}}</div>
                <div class="label-status danger" *ngIf="item.status==2">{{'app.employee-info.notWorking' | translate}}</div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
