<form id="formSql" [formGroup]="formSql">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i> <span translate> app.reportDynamic.sqlForm </span>
        </strong>
      </div>
      <div class="panel-body panel-table">
        <p-table [value]="formSql.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col class="size-28">
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate><span>common.table.index</span></th>
              <th translate><span [ngClass]="{'required': formSql.controls[0] && formSql.controls[0].controls.sql.isRequire}">app.reportDynamic.sql</span></th>
              <th translate><span>app.reportDynamic.add_delete</span></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td>
                <dynamic-input  [property]="item.controls.sql"
                                [rows]='10'
                                [type]="'text-area'"
                                [maxLength]='5000'>
                </dynamic-input>
                <app-control-messages [control]="item.controls.sql"></app-control-messages>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" type="button" (click)="addGroup(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" type="button" (click)="removeGroup(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
