<div class="content">
  <div *ngIf = "hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label  [hidden]="f['salaryTypeId'].isHide"
                    [ngClass]="{'required': f['salaryTypeId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payrollReportType.salaryType' | translate}}
            </label>
            <div [hidden]="f['salaryTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                      [property]="f['salaryTypeId']"
                      [options]="salaryTypeList"
                      optionLabel="name"
                      optionValue="salaryTypeId"
                      [placeHolder]="f['salaryTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['salaryTypeId']"></app-control-messages>
            </div>

            <label  [hidden]="f['empTypeId'].isHide"
                    [ngClass]="{'required': f['empTypeId'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payrollReportType.empType' | translate}}
            </label>
            <div [hidden]="f['empTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                      [property]="f['empTypeId']"
                      [options]="empTypeList"
                      optionLabel="label"
                      optionValue="id"
                      isMultiLanguage="true"
                      [placeHolder]="f['empTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['empTypeId']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12">
            <label  [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'payroll.payrollReportType.startDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['startDate']" yearRange="1919:2120"></date-picker>
              <app-control-messages [control]="f['startDate']"></app-control-messages>
            </div>
            <label  [hidden]="f['endDate'].isHide"
                    [ngClass]="{'required': f['endDate'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payrollReportType.endDate' | translate}}
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['endDate']" yearRange="1919:2120"></date-picker>
              <app-control-messages [control]="f['endDate']"></app-control-messages>
            </div>
          </div>

          <div class="ui-g-12">
            <label  [hidden]="f['reportType'].isHide"
                    [ngClass]="{'required': f['reportType'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'payroll.payrollReportType.reportType' | translate}}
            </label>
            <div [hidden]="f['reportType'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter
                    [property]="f['reportType']"
                    [options]="reportTypeList"
                    optionLabel="name"
                    optionValue="sysCatId"
                    [placeHolder]="f['reportType'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'" >
              </select-filter>
              <app-control-messages [control]="f['reportType']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
            <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- ListArea -->
    <div id="listArea">
        <div class="panel panel-default">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'payroll.payrollReportType.listTitle' | translate}}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <div *ngIf="hasPermission('action.insert')">
                <button type="button" (click)="prepareSaveOrUpdate()"  class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
              <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length"
                      (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false"
                      [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true"
                      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col class="size-1">
                    <col class="size-1" *ngIf="hasPermission('action.update')">
                    <col class="size-1" *ngIf="hasPermission('action.delete')">
                    <col>
                    <col>
                    <col>
                    <col class="size-8">
                    <col class="size-8">
                    <col class="size-10">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th translate>common.table.index</th>
                    <th *ngIf="hasPermission('action.update')" >{{'payroll.item.edit' | translate}}</th>
                    <th *ngIf="hasPermission('action.delete')">{{'payroll.item.delete' | translate}}</th>
                    <th pSortableColumn="salaryTypeName">
                      {{'payroll.payrollReportType.salaryType' | translate}}
                      <p-sortIcon field="salaryTypeName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="empTypeId" translate>payroll.payrollReportType.empType
                      <p-sortIcon field="empTypeId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="reportType" translate>payroll.payrollReportType.reportType
                      <p-sortIcon field="reportType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="startDate" translate>payroll.payrollReportType.startDate
                      <p-sortIcon field="startDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="endDate" translate>payroll.payrollReportType.endDate
                        <p-sortIcon field="endDate"></p-sortIcon>
                    </th>
                    <th translate>payroll.payrollReportType.fileTemplate
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                  <tr>
                    <td class="vt-align-center">{{index}}</td>
                    <td  class="vt-align-center"*ngIf="hasPermission('action.update')" >
                      <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="vt-align-center" *ngIf="hasPermission('action.delete')" >
                      <a class="btn-table delete"  (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                    </td>
                    <td class="vt-align-left">{{item.salaryTypeName}}</td>
                    <td class="vt-align-left">
                      <span *ngIf="item.empTypeId==1" translate>payroll.payrollReportType.inCorp</span>
                      <span *ngIf="item.empTypeId==2" translate>payroll.payrollReportType.outCorp</span>
                    </td>
                    <td class="vt-align-left">{{item.reportTypeName}}</td>
                    <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                    <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                    <td class="vt-align-left">
                      <a *ngFor="let data of item.fileAttachment.file"
                        style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                        (click)="downloadFile(data)">
                        - {{data.fileName}}
                      </a>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr class="emptymessage">
                    <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                  <table-footer [resultList]="resultList"></table-footer>
                </ng-template>
              </p-table>
            </div>
        </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>
