<system-intro
  screenCode='NATION_CONFIG'
></system-intro>
<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate> common.label.search_form</span>
          </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <dynamic-input  [property]="f['code']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.nation_config.code'"
                          [maxLength]='20'
                          autofocus="autofocus">
          </dynamic-input>
          <dynamic-input  [property]="f['name']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.nation_config.name'"
                          [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['nationId'].isHide"
                 [ngClass]="{'required': f['nationId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                 app.nation_config.nation
          </label>
          <div [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter  [property]="f['nationId']"
                            [options]="listNation"
                            optionLabel="name"
                            optionValue="nationId"
                            [placeHolder]="f['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['nationId']"></app-control-messages>
          </div>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <input type="hidden" name="nationConfigId" />
        <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate" id="searchNationConfig"></button>
      </div>
  </form>
</div>

<div class="panel panel-default" id="nationConfigTable">
<div class="panel-heading vt-relative">
  <strong class="text-u-c">
    <i class="fa fa-th"></i>
    &nbsp;{{'app.nation_config.nation_config_list_title'|translate}}
  </strong>
  <div class="vt-absolute vt-shotcut-button-in-heading">
    <div *ngIf="hasPermission('action.insert')" >
    <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate" id="addNationConfig"></button>
    </div>
  </div>
</div>
<div class="panel-body panel-table">
  <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
    [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
    tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col class="size-1">
        <col *ngIf="hasPermission('action.update')" class="size-1">
        <col *ngIf="hasPermission('action.delete')" class="size-1">
        <col class="size-8">
        <col class="size-3">
        <col class="size-13">
        <col class="size-5">
        <col >
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th translate> common.table.index</th>
        <th *ngIf="hasPermission('action.update')" translate>common.label.edit</th>
        <th *ngIf="hasPermission('action.delete')" translate>common.label.delete</th>
        <th pSortableColumn="nationName" translate>app.nation.config.name <p-sortIcon field="nationName"></p-sortIcon></th>
        <th pSortableColumn="code" translate>app.nation_config.code <p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="name" translate>app.nation_config.name <p-sortIcon [field]="'name'"></p-sortIcon></th>
        <th translate pSortableColumn="sortOrder">app.nation_config.sort_order <p-sortIcon field="sortOrder"></p-sortIcon></th>
        <th translate>app.nation_config.description</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-index="rowIndex">
      <tr>
        <td class="vt-align-center">{{index+1}}</td>
        <td class="vt-align-center" *ngIf="hasPermission('action.update')">
          <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" [title]="'common.label.edit' | translate" id="editNationConfig" ><i class="fa fa-edit"></i></a>
        </td>
        <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
          <a class="btn-table delete" (click)="processDelete(item.nationConfigId)" [title]="'common.label.delete' | translate" id="deleteNationConfig" ><i class="fa fa-trash-alt"></i></a>
        </td>
        <td>{{item.nationName}}</td>
        <td class="vt-align-center">{{item.code}}</td>
        <td>{{item.name}}</td>
        <td class="vt-align-center">{{item.sortOrder}}</td>
        <td>{{item.description}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr class="emptymessage">
        <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <table-footer [resultList]="resultList"></table-footer>
      </ng-template>
  </p-table>
</div>
</div>
