<system-intro
  screenCode = 'SYS_CAT'
></system-intro>
<div class="panel panel-default">
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span translate> common.label.search_form</span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.code'"
                            [maxLength]='50'
                            autofocus="autofocus">
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [labelValue]="'app.sys_cat.name'"
                            [maxLength]='500'>
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <input type="hidden" name="sysCatTypeId" />
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" [innerHTML]="'common.button.search' | translate" id="searchSysCat"></button>
        </div>
    </form>
</div>

<div class="panel panel-default" id="sysCatTable">
  <div class="panel-heading vt-relative">
    <strong class="text-u-c">
      <i class="fa fa-th"></i>
      <span translate> app.sys_cat.sys_cat_list_title</span>
    </strong>
    <div class="vt-absolute vt-shotcut-button-in-heading">
      <div *ngIf="hasPermission('action.insert')">
      <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate" id="addSysCat"></button>
      </div>
    </div>
  </div>
  <div class="panel-body panel-table">
    <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
      [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col class="size-1">
          <col *ngIf="hasPermission('action.update')" class="size-1">
          <col *ngIf="hasPermission('action.delete')" class="size-1">
          <col >
          <col >
          <col class="size-3">
          <col class="size-3">
          <col >
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th translate>common.table.index</th>
          <th *ngIf="hasPermission('action.update')" translate>common.label.edit</th>
          <th *ngIf="hasPermission('action.delete')" translate>common.label.delete</th>
          <th pSortableColumn="code" translate>app.sys_cat.code <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="name" translate>app.sys_cat.name <p-sortIcon [field]="'name'"></p-sortIcon></th>
          <th translate>app.sys_cat.is_default</th>
          <th translate>app.sys_cat.sort_order</th>
          <th translate>app.sys_cat.description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          <td class="vt-align-center">{{index+1}}</td>
          <td class="vt-align-center" *ngIf="hasPermission('action.update')">
            <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" [title]="'common.label.edit' | translate" id="editSysCat"><i class="fa fa-edit"></i></a>
          </td>
          <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
            <a class="btn-table delete" (click)="processDelete(item.sysCatId)" [title]="'common.label.delete' | translate" id="deleteSysCat"><i class="fa fa-trash-alt"></i></a>
          </td>
          <td class="vt-align-center">{{item.code}}</td>
          <td>{{item.name}}</td>
          <td class="vt-align-center">
            <i *ngIf="item.status==1" class="fas fa-check table-icon color-info"></i>
          </td>
          <td class="vt-align-right">{{item.sortOrder}}</td>
          <td>{{item.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="emptymessage">
          <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <table-footer [resultList]="resultList"></table-footer>
      </ng-template>
    </p-table>
  </div>
</div>
