<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-u-c">
        {{ 'payrolls.caculate.payslip' | translate }}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <button type="button" style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="panel-body panel-table">
      <iframe [src]="data" height="520" width="100%"></iframe>
    </div>
  </div>
</div>
