<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <family-relationship-search></family-relationship-search>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
