<div class="content">
  <!-- <div *ngIf="hasPermission('action.view')" class="row">-->
  <div class="col-md-12">
    <div class="">
      <div class="panel panel-default">
        <form id="formSave" [formGroup]="formSave">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span translate>app.schedular.timekeeping.editTittle</span>
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">

            </div>
          </div>
          <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right required">
                {{'organizationPlan.unit' | translate}}
              </label>
              <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <org-selector [property]="f['organizationId']" operationKey="action.insert"
                 adResourceKey="resource.organization" >
                </org-selector>
                <app-control-messages [control]="f['organizationId']"></app-control-messages>
              </div>

              <label [hidden]="f['employeeId'].isHide" [ngClass]="{'required': f['employeeId'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right">
                {{'app.detailReport.employeeCode' | translate}}
              </label>
              <div [hidden]="f['employeeId'].isHide" class="ui-g-12 ui-md-8 ui-lg-5">
                <data-picker [property]="f['employeeId']" systemCode="emp" operationKey="action.view"
                adResourceKey="resource.employee" objectBO="EmployeeBO" codeField="employeeCode" nameField="fullName"
                (onChange)="onEmployeeChange($event)" selectField="employeeCode">
              </data-picker>
                <app-control-messages [control]="f['employeeId']"></app-control-messages>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-g-nopad">
              <label [ngClass]="{'required': f['fromDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.fromDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['fromDate']">
                </date-picker>
                <app-control-messages [control]="f['fromDate']"></app-control-messages>
              </div>

              <label [ngClass]="{'required': f['toDate'].isRequire}"
                class="ui-g-12 ui-md-4 ui-lg-1 control-label vt-align-right" translate>
                common.label.toDate
              </label>
              <div class="ui-g-12 ui-md-8 ui-lg-5">
                <date-picker [property]="f['toDate']">
                </date-picker>
                <app-control-messages [control]="f['toDate']"></app-control-messages>
              </div>
            </div>
            <!-- buttton -->
            <div class="panel-footer vt-area-button ui-g-12 ui-md-12 ui-lg-12 ">
              <button type="button" class="btn btn-sm btn-info" (click)="onSearch()"
                title="{{ 'common.label.search' | translate }}">
                <i class="fa fa-search "></i>
                <span translate>common.label.search</span>
              </button>

              <button type="button" class="btn btn-sm btn-info" [routerLink]="['import']"
                title="{{ 'common.label.import' | translate }}">
                <i class="glyphicons menu-icon glyphicons-user"></i>
                <span translate>common.label.import</span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g-12" *ngIf="dataError">
      <import-error [data]="dataError"></import-error>
    </div>
  </div>

  <!-- Lập lịch phân ca -->
  <div class="col-md-12 mt-1 card-panel">
    <div class="">

        <shift-schedular-table #table  [fromDate]="f['fromDate'].value" [toDate]="f['toDate'].value"
        [workTypeSource]="workTypeSource"
        (onSubmit)="onSubmit($event)" ></shift-schedular-table>


  </div>


</div>
