<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i> {{'common.label.search_form' | translate}}
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
              [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.payrolls.period.organization' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector [property]="f['organizationId']" operationKey="action.view"
                adResourceKey="resource.period" [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
            <label [hidden]="f['year'].isHide" [ngClass]="{'required': f['year'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.payrolls.period.year' | translate}}
            </label>
            <div [hidden]="f['year'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [property]="f['year']" [options]="listYear" optionLabel="year" optionValue="year"
                [placeHolder]="f['year'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
              </select-filter>
              <app-control-messages [control]="f['year']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <dynamic-input [property]="f['periodName']" [labelValue]="'app.payrolls.period.name'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'" [maxLength]="200" [autofocus]="'autofocus'">
            </dynamic-input>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
            [innerHTML]="'common.button.search' | translate"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- Hien thi bang -->
    <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'app.payrolls.period.listTitle' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf="hasPermission('action.insert')">
              <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"
                [innerHTML]="'common.button.addNew' | translate"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table #ptable [scrollable]="true" [value]="resultList.data"
            [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
            [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col class="size-1" *ngIf="hasPermission('action.update')">
                <col class="size-1" *ngIf="hasPermission('action.update')">
                <col class="size-1" *ngIf="hasPermission('action.delete')">
                <col style="width: 65%;">
                <col style="width: 35%;">
                <col class="size-5">
                <col class="size-5">
                <col class="size-4">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th translate>common.table.index</th>
                <th *ngIf="hasPermission('action.update')">{{'app.payrolls.period.close' | translate}}
                </th>
                <th *ngIf="hasPermission('action.update')">{{'app.payrolls.period.edit' | translate}}
                </th>
                <th *ngIf="hasPermission('action.delete')">{{'app.payrolls.period.delete' | translate}}
                </th>
                <th pSortableColumn="periodOrganizationId" translate>app.payrolls.period.organization
                  <p-sortIcon field="periodOrganizationId"></p-sortIcon>
                </th>
                <th pSortableColumn="period_name" translate>app.payrolls.period.name
                  <p-sortIcon field="period_name"></p-sortIcon>
                </th>
                <th pSortableColumn="startDate" translate>app.payrolls.period.datefrom
                  <p-sortIcon field="startDate"></p-sortIcon>
                </th>
                <th pSortableColumn="endDate" translate>app.payrolls.period.dateto
                  <p-sortIcon field="endDate"></p-sortIcon>
                </th>
                <th pSortableColumn="isCurrent" translate>app.payrolls.period.current
                  <p-sortIcon field="isCurrent"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                  <a class="btn-table edit" (click)="prepareClosing(item)"
                    title="{{'app.payrolls.period.close' | translate}}"><i class="fa fa-check"></i></a>
                </td>
                <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
                    title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                  <a class="btn-table delete" (click)="processDelete(item)"
                    title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-left">{{item.organizationCode}} - {{item.organizationName}}</td>
                <td class="vt-align-left">{{item.periodName}}</td>
                <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                <td class="vt-align-center"><i *ngIf="item.isCurrent==1" class="fas fa-check table-icon color-info"></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="5" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!hasPermission('action.view')" translate>
    common.haveNoPermission
  </div>
</div>

