<div class="modal-body">
    <form id="frmSaveEmpSalaryProcess">
        <div class="panel panel-default">
            <form id="formSave" [formGroup]="formSave">
                <div class="panel-heading vt-relative">
                    <strong class="text-u-c">
                        <i class="fa fa-th"></i>&nbsp;
                        <span *ngIf="!formSave.get('empSalaryProcessId').value" translate>app.empSalaryProcess.addTitle</span>
                        <span *ngIf="formSave.get('empSalaryProcessId').value" translate>app.empSalaryProcess.updateTitle</span>
                    </strong>
                    <div class="vt-absolute vt-shotcut-button-in-heading">
                        <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
                    </div>
                </div>
                <div class="panel-body padding-xl">
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.empSalaryProcess.decisionNumber'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" name="decisionNumber" class="form-control" formControlName="decisionNumber" />
                            <app-control-messages [control]="f['decisionNumber']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">{{'app.empSalaryProcess.decisionDate'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['decisionDate']" [onChange]="onChangeDate">
                            </date-picker>

                            <app-control-messages [control]="f['decisionDate']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.empSalaryProcess.effectiveDate'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['effectiveDate']" [onChange]="onChangeDate">
                            </date-picker>

                            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.empSalaryProcess.expiredDate'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['expiredDate']" [onChange]="onChangeDate">
                            </date-picker>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.empSalaryProcess.salaryRegulate'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter (onChange)="onSalaryRegulateChange($event)" [property]="f['salaryRegulateId']"
                                [options]="salaryregulatelist" optionLabel="name" optionValue="id"></select-filter>

                            <app-control-messages [control]="f['salaryRegulateId']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">{{'app.empSalaryProcess.salaryTable'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter (onChange)="onSalaryTableChange($event)" [property]="f['salaryTableId']"
                                [options]="salarytablelist" optionLabel="name" optionValue="id"></select-filter>

                            <app-control-messages [control]="f['salaryTableId']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.empSalaryProcess.salaryScale'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter (onChange)="onSalaryScaleChange($event)" [property]="f['salaryScaleId']"
                                [options]="salaryscalelist" optionLabel="name" optionValue="id"></select-filter>

                            <app-control-messages [control]="f['salaryScaleId']"></app-control-messages>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">{{'app.empSalaryProcess.salaryGrade'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <select-filter [property]="f['salaryGradeId']" [options]="salarygradelist" optionLabel="name"
                                optionValue="id"></select-filter>

                            <app-control-messages [control]="f['salaryGradeId']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.empSalaryProcess.titleCoefficient'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" class="form-control" readonly />
                            <!-- <app-control-messages [control]="f['decisionNumber']"></app-control-messages> -->
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.empSalaryProcess.salary'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" name="salary" class="form-control" formControlName="salary" readonly />
                            <app-control-messages [control]="f['salary']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.empSalaryProcess.titleOfSalary'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <org-selector [property]="f['empSalaryProcessId']" operationKey="action.view" adResourceKey="resource.empSalaryProcess"></org-selector>
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.empSalaryProcess.percent'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" name="percent" class="form-control" formControlName="percent"/>
                            <app-control-messages [control]="f['percent']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.empSalaryProcess.seniorityOverload'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <input type="text" name="percent" class="form-control" formControlName="percent" />
                            <!-- <app-control-messages [control]="f['percent']"></app-control-messages> -->
                        </div>
                        <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">{{'app.empSalaryProcess.dateOfSeniorityOverload'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['expiredDate']" [onChange]="onChangeDate">
                            </date-picker>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right required">{{'app.empSalaryProcess.raisedDate'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <date-picker [property]="f['raisedDate']" [onChange]="onChangeDate">
                            </date-picker>

                            <app-control-messages [control]="f['raisedDate']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.empSalaryProcess.description'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-9">
                            <textarea type="text" name="description" class="form-control" formControlName="description"></textarea>

                            <app-control-messages [control]="f['description']"></app-control-messages>
                        </div>
                    </div>
                    <div class="ui-g">
                        <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">{{'app.empSalaryProcess.attachedFiles'
                            | translate}}</label>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                            <multil-file-choser [property]="f['file']" validMaxSize="3" [validType]="FILE_TYPE_PERSONAL_UPLOAD"></multil-file-choser>
                            <app-control-messages [control]="f['file']"></app-control-messages>
                        </div>
                    </div>
                </div>
                <div class="panel-footer vt-area-button">
                    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
                    <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
                </div>
            </form>
        </div>
    </form>
</div>
