<div class="modal-body">
  <form id="frmSaveSysCat" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('nationConfigId').value" translate> app.nation_config.nation_config_add_title</span>
          <span *ngIf="formSave.get('nationConfigId').value" translate> app.nation_config.nation_config_edit_title</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span style="display: inline-block;" (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['nationId'].isHide"
                  [ngClass]="{'required': f['nationId'].isRequire}"
                  class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                  app.nation_config.nation
          </label>
          <div [hidden]="f['nationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter  [property]="f['nationId']"
                            [options]="listNation"
                            optionLabel="name"
                            optionValue="nationId"
                            [placeHolder]="f['nationId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'">
            </select-filter>
            <app-control-messages [control]="f['nationId']"></app-control-messages>
          </div>
          <!-- <dynamic-input  [property]="f['code']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.sys_cat.code'"
                          [autofocus]="'autofocus'"
                          [maxLength]='20'
                          [readonly]="f['nationConfigId'].value ? 'readonly' : ''">
          </dynamic-input> -->
          <dynamic-input  [property]="f['nationConfigTypeName']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.nation_config_type_name'"
                          [disabled]="true"
                          >
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['code']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.sys_cat.code'"
                          [autofocus]="f['nationConfigId'].value ? '' : 'autofocus'"
                          [maxLength]='20'
                          [disabled]="f['nationConfigId'].value">
          </dynamic-input>
          <dynamic-input  [property]="f['name']"
                          [objectId]="f['nationConfigId'].value"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [labelValue]="'app.sys_cat.name'"
                          [autofocus]="f['nationConfigId'].value ? 'autofocus' : ''"
                          [maxLength]='200'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input [property]="f['sortOrder']"
                         [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                         [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                         [labelValue]="'app.sys_cat.sort_order'"
                         [maxLength]='10'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['description']"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-8'"
                          [labelValue]="'app.nation_config.description'"
                          [type]= "'text-area'"
                          [maxLength]='4000'>
          </dynamic-input>
        </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
