<div id="listVisaInformationPage">
  <div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        {{'app.visaPassportInformation.visaInformation.listTitle' | translate}}
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <div *ngIf="hasPermission('action.insert')">
          <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
        </div>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="true" (onLazyLoad)="processSearch($event)"
      [lazy]="true" [scrollable]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
      tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col *ngIf="hasPermission('action.update')" class="size-1">
            <col *ngIf="hasPermission('action.delete')" class="size-1">
            <col class="size-8">
            <col class="size-8">
            <col class="size-5">
            <col class="size-9">
            <col class="size-5">
            <col class="size-6">
            <col class="size-5">
            <col class="size-8">
            <col class="size-12">
            <col class="size-8">
          </colgroup>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>{{'common.table.index' | translate}}</th>
            <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
            <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
            <th [pSortableColumn]="'visaNumber'" >{{'app.visaInformation.visaNumber' | translate}}
              <p-sortIcon [field]="'visaNumber'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'visaTypeName'" >{{'app.visaInformation.category' | translate}}
              <p-sortIcon [field]="'visaTypeName'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedDate'" >{{'app.visaInformation.issuedDate' | translate}}
              <p-sortIcon [field]="'issuedDate'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'issuedPlace'" >{{'app.visaInformation.issuedPlace' | translate}}
              <p-sortIcon [field]="'issuedPlace'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'effectiveDate'" >{{'app.visaInformation.effectiveDate' | translate}}
              <p-sortIcon [field]="'effectiveDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'expiredDate'" >{{'app.visaInformation.expiredDate' | translate}}
              <p-sortIcon [field]="'expiredDate'"></p-sortIcon>
            </th>
            <th  [pSortableColumn]="'entries'" >{{'app.visaInformation.entries' | translate}}
              <p-sortIcon [field]="'entries'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'issuedHolderPassportNumber'" >{{'app.visaInformation.issuedHolderPassportNumber' | translate}}
              <p-sortIcon [field]="'issuedHolderPassportNumber'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'note'" >{{'app.visaInformation.note' | translate}}
              <p-sortIcon [field]="'note'"></p-sortIcon>
            </th>
            <th translate>app.visaInformation.attachmentFile
          </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex+1">
          <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" (click)="processDelete(item.visaId)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-left">{{item.visaNumber}}</td>
              <td class="vt-align-left">{{item.visaTypeName}}</td>
              <td class="vt-align-center"  >{{item.issuedDate | displayDate}}</td>
              <td class="vt-align-left">{{item.issuedPlace}}</td>
              <td class="vt-align-center"  >{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center"  >{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-left">
                  <div class="label-status warning" *ngIf="item.entries==1">{{'app.visaInformation.single' | translate}}</div>
                  <div class="label-status info" *ngIf="item.entries==2">{{'app.visaInformation.multi' | translate}}</div>
              </td>
              <td class="vt-align-left"  >{{item.passportNumber}}</td>
              <td class="vt-align-left"  >{{item.note}}</td>
              <td class="vt-align-left"  >
                <a *ngFor="let data of item.fileAttachment.file"
                  style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                  (click)="downloadFile(data)">
                  - {{data.fileName}}
                </a>
              </td>
          </tr>
      </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="11" [innerHTML]="'app.noRecords' | translate">
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
