<form id="formInteraction">
  <div class="ui-g">
      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.internalInteraction</label>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <p-table [scrollable]="true" [value]="formInInteraction.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col>
              <col>
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>app.position.workingRelationships</th>
              <th translate>app.position.contentPurpose</th>
              <th translate>common.label.action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center"> {{index+1}} </td>
              <td>
                  <dynamic-input  [property]="item.controls.workingRelationship"
                                  [maxLength]='2000'
                                  [type]="'text-area'"
                                  [autofocus]="'autofocus'">
                  </dynamic-input>
              </td>
              <td>
                  <dynamic-input  [property]="item.controls.content"
                                  [maxLength]='2000'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowInteraction(FORM_ROW_TYPE.InInteraction, index)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.InInteraction, index)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <label class="ui-g-12 ui-md-12 ui-lg-12 control-label"  translate>app.position.externalInteraction</label>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <p-table [scrollable]="true" [value]="formExInteraction.controls" tableStyleClass="table controls-table table-wrapper b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col>
              <col>
              <col class="size-4">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th translate>app.position.workingRelationships</th>
              <th translate>app.position.contentPurpose</th>
              <th translate>common.label.action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr [formGroup]="item">
              <td class="vt-align-center"> {{index+1}} </td>
              <td>
                  <dynamic-input  [property]="item.controls.workingRelationship"
                                  [maxLength]='2000'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td>
                  <dynamic-input  [property]="item.controls.content"
                                  [maxLength]='2000'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td class="vt-align-center">
                <button type="button" class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowInteraction(FORM_ROW_TYPE.ExInteraction, index)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button type="button" class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(FORM_ROW_TYPE.ExInteraction, index)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    <button type="button" (click)="backToList()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
  </div>
</form>
