<div class="modal-body">
  <form id="frmVisa" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('visaId').value" translate> app.visaPassportInformation.visaInformation.addTitle</span>
          <span *ngIf="formSave.get('visaId').value" translate> app.visaPassportInformation.visaInformation.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['visaTypeId'].isHide"
                 [ngClass]="{'required': f['visaTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.visaInformation.category' | translate}}
          </label>
          <div  [hidden]="f['visaTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['visaTypeId']"
              [options]="visaTypeList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['visaTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['visaTypeId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['visaNumber']"
                          [objectId]="f['visaId'].value"
                          [labelValue]="'app.visaInformation.visaNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='15'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['entries'].isHide"
                 [ngClass]="{'required': f['entries'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.visaInformation.entries' | translate}}
          </label>
          <div [hidden]="f['entries'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="single" [value]="1" name="entries"
                    formControlName="entries">
                    <i></i>
                    {{'app.visaInformation.single' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio" class="form-check-input control-label" id="multi" [value]="2" name="entries"
                    formControlName="entries">
                    <i></i>
                    {{'app.visaInformation.multi' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['entries']"></app-control-messages>
          </div>

          <label [hidden]="f['issuedHolderPassportNumber'].isHide"
                 [ngClass]="{'required': f['issuedHolderPassportNumber'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.visaInformation.issuedHolderPassportNumber' | translate}}
          </label>
          <div [hidden]="f['issuedHolderPassportNumber'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['issuedHolderPassportNumber']"
              [options]="passportNumberList"
              optionLabel="passportNumber"
              optionValue="passportId"
              [placeHolder]="f['issuedHolderPassportNumber'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
            </select-filter>
            <app-control-messages [control]="f['issuedHolderPassportNumber']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['issuedDate'].isHide"
                 [ngClass]="{'required': f['issuedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.visaInformation.issuedDate' | translate}}
          </label>
          <div [hidden]="f['issuedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['issuedDate']"></date-picker>
            <app-control-messages [control]="f['issuedDate']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['issuedPlace']"
                          [objectId]="f['visaId'].value"
                          [labelValue]="'app.visaInformation.issuedPlace'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='100'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['effectiveDate'].isHide"
                 [ngClass]="{'required': f['effectiveDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.visaInformation.effectiveDate' | translate}}
          </label>
          <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['effectiveDate']"></date-picker>
            <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.visaInformation.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <dynamic-input  [property]="f['note']"
                          [objectId]="f['visaId'].value"
                          [labelValue]="'app.visaInformation.note'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='2000'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.visaInformation.attachmentFile' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
	    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
