<p-organizationChart
  [value]="data"
  selectionMode="single"
  (onNodeSelect)="onNodeSelect($event)">
  <ng-template let-node pTemplate="node">
    <div class="node-header ui-corner-top">
      <!-- <img src="assets/showcase/images/demo/organization/{node.data.avatar}" width="32"> -->
      <p style="font-weight: bold;">{{ node.data.orgManager }}</p>
      <div>{{ 'app.organization.employee' | translate }} {{ node.data.employeeAmount }}</div>
    </div>
    <div class="node-content">
      <p style="font-weight: bold;">{{ node.label }}</p>
      <p>{{ 'app.organization.childUnit' | translate }} {{ node.data.childUnit }}</p>
    </div>
  </ng-template>
</p-organizationChart>
