<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;{{"common.label.search_form" | translate}}</strong>
        </div>
        <div class="ui-g-12">
          <div class="ui-g">
            <label [hidden]="f['keyword'].isHide" [ngClass]="{ required: f['keyword'].isRequire }"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Tìm kiếm</label>
            <div class="ui-g-8 ui-md-8 ui-lg-8">
              <input type="text" #factorNumber class="form-control vt-align-left" formControlName="keyword"
                     placeholder="{{'app.timesheet.basicAdvanceSearch' | translate}}"/>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['effectiveDate'].isHide" [ngClass]="{ required: f['effectiveDate'].isRequire }"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Thời gian áp dụng (Từ ngày)
            </label>
            <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker [property]="f['effectiveDate']"></date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
            <label [ngClass]="{ required: true }" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Hưởng chế độ
            </label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [placeHolder]="
                  f['type'].isRequire
                    ? 'common.label.cboMustSelect'
                    : 'common.label.cboSelect'
                " [property]="f['insuranceType']" [options]="listInsuranceConfig" optionLabel="name" optionValue="id"
                             isMultiLanguage="true">
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [ngClass]="{ required: true }" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Có chích nộp lương
            </label>
            <div [hidden]="f['isDecrease'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-checks vt-align-right padder-lg">
                <input type="radio" class="form-check-input control-label" id="isDecrease" [value]="1" name="isDecrease"
                       formControlName="isDecrease">
                <i></i>
                {{'app.otherInformation.isPolicy.yes' | translate}}
              </label>

              <label class="i-checks vt-align-left">
                <input type="radio" class="form-check-input control-label" id="isDecrease" [value]="0" name="isDecrease"
                       formControlName="isDecrease">
                <i></i>
                {{'app.otherInformation.isPolicy.no' | translate}}
              </label>
            </div>
            <label [ngClass]="{ required: true }" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              Điều kiện chấm công
            </label>
            <div [hidden]="f['attendanceTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <select-filter [placeHolder]="
                f['type'].isRequire
                  ? 'common.label.cboMustSelect'
                  : 'common.label.cboSelect'
              " [property]="f['type']" [options]="listAttendanceConfig" optionLabel="name" optionValue="id"
                             isMultiLanguage="true">
              </select-filter>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info"
                  [innerHTML]="'common.button.search' | translate"></button>
          <button type="button" *ngIf="hasPermission('action.insert')" [routerLink]="['add']"
                  class="btn btn-sm btn-info ng-star-inserted" [innerHTML]="'common.button.addNew' | translate">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" *ngIf="hasPermission('action.export')" (click)="processExportDetail()"
                  class="btn btn-sm btn-info ng-star-inserted"
                  [innerHTML]="'common.button.export' | translate"></button>
        </div>
      </form>
    </div>
  </div>
  <!-- list -->
  <div id="listArea" style="padding-top: 10px">
    <div class="panel panel-default">
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.content" [paginator]="true" (onLazyLoad)="processSearch($event)"
                 [lazyLoadOnInit]="false" [scrollable]="true" [lazy]="true" [rows]="10"
                 [totalRecords]="resultList.totalElements"
                 tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1"/>
              <!--STT-->
              <col class="size-6"/>
              <!--Ky hieu-->
              <col class="size-6"/>
              <!--thoi gian ra vao hop le-->
              <col class="size-6"/>
              <!--Ghi chu-->
              <col class="size-6"/>
              <!--Trang Thai-->
              <col class="size-6"/>
              <!--Ngay hieu luc-->
              <col *ngIf="hasPermission('action.update')" class="size-1"/>
              <col *ngIf="hasPermission('action.enable')" class="size-2"/>
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{ "common.table.index" | translate }}</th>
              <!--STT-->
              <th>{{ "app.timesheet.sign" | translate }}</th>
              <!--Ky hieu-->
              <th>{{ "app.timesheet.time.in.out" | translate }}</th>
              <th>{{ "app.timesheet.note" | translate }}</th>
              <th> Loại công</th>
              <th>{{ "app.allowanceProcess.effectiveDate" | translate }}</th>
              <th *ngIf="hasPermission('action.update')">
                {{ "common.button.table.hEdit" | translate }}
              </th>
              <th *ngIf="hasPermission('action.delete')">
                {{ "common.button.table.hDelete" | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{ index }}</td>

              <td class="vt-align-center">
                {{ item.workCode }}
              </td>
              <td class="vt-align-center">
                {{ item.workFrom }} - {{ item.workTo }}
              </td>
              <td class="vt-align-center">
                {{ item.note}}
              </td>
              <td class="vt-align-center">
                {{ item.viewWorkType.workTypeName }}
              </td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>

              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)"
                   title="{{ 'common.button.table.hEdit' | translate }}"><i class="fa fa-edit"></i></a>
              </td>

              <td class="vt-align-center" *ngIf="hasPermission('action.delete')">
                <a class="btn-table delete" [hidden]="item.applyCount" (click)="processDelete(item)"
                   title="{{ 'common.button.table.hDelete' | translate }}"><i class="fa fa-trash-alt"></i></a>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
