<form id="formAuthorityandScope" [formGroup]="formAuthorityandScope" spellcheck="false">
  <div class="ui-g-12">
    <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.authorityAndScope</label>
      <dynamic-input  [property]="f['authority']"
                      [objectId]="f['positionDescriptionId'].value"
                      [labelValue]="'app.position.authority'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-9 ui-lg-9'"
                      [maxLength]='2000'
                      [type]="'text-area'"
                      [rows]="3"
                      [autofocus]="'autofocus'">
      </dynamic-input>
      <dynamic-input  [property]="f['scopeAuthority']"
                      [objectId]="f['positionDescriptionId'].value"
                      [labelValue]="'app.position.scopeOfAuthority'"
                      [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                      [inputClass]="'ui-g-12 ui-md-9 ui-lg-9'"
                      [maxLength]='2000'
                      [type]="'text-area'"
                      [rows]="3">
      </dynamic-input>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    <button type="button" (click)="backToList()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
  </div>
</form>
