<form id=formPrincipalAccountabilities [formGroup]="formPrincipalAccountabilities">
  <div class="ui-g">
    <label class="ui-g-12 ui-md-12 ui-lg-12 control-label" translate>app.position.principalAccountabilities</label>
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <p-table [scrollable]="true" [value]="getListFormArray().controls" tableStyleClass="table controls-table table-wrapper b-t b-b table-vertical-middle">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col>
              <col class="size-4">
              <col>
              <col>
              <col class="size-4">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th translate>common.table.index</th>
            <th translate>app.position.principalAccountabilities</th>
            <th translate>app.position.percent</th>
            <th translate>app.position.majorActivities</th>
            <th translate>app.position.outcomes</th>
            <th translate>common.label.action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex" formArrayName="positionAccountabilityList">
            <tr [formGroup]="item">
              <td class="vt-align-center">
                {{index+1}}
              </td>
              <td>
                  <dynamic-input  [property]="item.get('principalAccountability')"
                                  [autofocus]="'autofocus'"
                                  [maxLength]='200'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td>
                <dynamic-input [property]="item.get('percent')" [maxLength]='5' inputClass="input-align-right"></dynamic-input>
              </td>
              <td>
                  <dynamic-input  [property]="item.get('majorActivities')"
                                  [maxLength]='1000'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td>
                  <dynamic-input  [property]="item.get('outcomes')"
                                  [maxLength]='1000'
                                  [type]="'text-area'">
                  </dynamic-input>
              </td>
              <td class="vt-align-center">
                <button class="btn-icon plus" [title]="'titleAdd' | translate" (click)="addRowAccountability(index, item)" [innerHTML]="'common.icon.plus' | translate">
                </button>
                <button class="btn-icon minus" [title]="'titleDelete' | translate" (click)="deleteRow(index, item)" [innerHTML]="'common.icon.minus' | translate">
                </button>
              </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="panel-footer vt-area-button">
    <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
    <button type="button" (click)="backToList()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
  </div>
</form>
