<div class="content" *ngIf="hasPermission('action.view')">
  <div class="row">
    <div class="col-md-12">
      <div id="searchArea">
        <div class="panel panel-default">
          <form id="formSearch" [formGroup]="formSearch">
            <div class="panel-heading">
              <strong class="text-u-c">
                <i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}
              </strong>
            </div>
            <div class="panel-body padding-xl ui-g">
              <div class="ui-g-12">
                <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                    {{'app.templateDynamic.organizationId' | translate}}
                </label>
                <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <org-selector
                    [property]="f['organizationId']"
                    operationKey="action.view"
                    adResourceKey="resource.organization"
                    isRequiredField = "true">
                  </org-selector>
                  <app-control-messages [control]="f['organizationId']"></app-control-messages>
                </div>
                <label [hidden]="f['formTypeId'].isHide" [ngClass]="{'required': f['formTypeId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.templateDynamic.templateDynamicType' |translate}}
                </label>
                <div [hidden]="f['formTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter [placeHolder]="f['formTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'"
                  [property]="f['formTypeId']" [options]="templateTypeList" optionLabel="value" optionValue="systemParameterId">
                </select-filter>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['positionId'].isHide" [ngClass]="{'required': f['positionId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
                    app.templateDynamic.positionId
                </label>
                <div [hidden]="f['positionId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <data-picker
                    [property]="f['positionId']"
                    systemCode="report"
                    operationKey="action.view"
                    adResourceKey="resource.employee"
                    objectBO="PositionBO"
                    codeField="code"
                    nameField="name"
                    selectField="positionId"
                    isRequiredField = "true">
                  </data-picker>
                  <app-control-messages [control]="f['positionId']"></app-control-messages>
                </div>
                <label [hidden]="f['labourContractTypeId'].isHide" [ngClass]="{'required': f['labourContractTypeId'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.templateDynamic.labourContractTypeId' | translate}}
                </label>
                <div [hidden]="f['labourContractTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <select-filter
                    [property]="f['labourContractTypeId']"
                    [options]="laboutContractTypeList"
                    optionLabel="name"
                    optionValue="labourContractTypeId"
                    [placeHolder]="f['labourContractTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelect'" >
                  </select-filter>
                  <app-control-messages [control]="f['labourContractTypeId']"></app-control-messages>
                </div>
              </div>
              <div class="ui-g-12">
                <label [hidden]="f['startDate'].isHide" [ngClass]="{'required': f['startDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                  {{'app.templateDynamic.startDate' | translate}}
                </label>
                <div [hidden]="f['startDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['startDate']"></date-picker>
                  <app-control-messages [control]="f['startDate']"></app-control-messages>
                </div>
                <label [hidden]="f['endDate'].isHide" [ngClass]="{'required': f['endDate'].isRequire}" class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                  {{'app.templateDynamic.endDate' | translate}}
                </label>
                <div [hidden]="f['endDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                  <date-picker [property]="f['endDate']"></date-picker>
                  <app-control-messages [control]="f['endDate']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="panel-footer vt-area-button">
              <button type="submit" (click)="processSearch()" class="btn btn-sm btn-info">
                <span [innerHTML]="'common.button.search' | translate"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="listArea">
        <div class="panel panel-default">
          <div class="panel-heading vt-relative">
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              &nbsp;{{ 'app.templateDynamic.listTitle' | translate }}
            </strong>
            <div class="vt-absolute vt-shotcut-button-in-heading">
              <div *ngIf="hasPermission('action.insert')">
                <button [routerLink]="['/reports/template-dynamic/add']" class="btn btn-sm btn-info">
                  <span [innerHTML]="'common.button.addNew' | translate"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="panel-body panel-table">
            <p-table
              [scrollable]="true"
              [value]="resultList.data"
              [paginator]="true"
              #ptable
              (onLazyLoad)="processSearch($event)"
              [lazyLoadOnInit]="false"
              [lazy]="true"
              [totalRecords]="resultList.recordsTotal"
              [rows]="10"
              [responsive]="true"
              tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
              styleClass="controlOverflow"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col class="size-1">
                  <col class="size-4">
                  <col class="size-12">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                  <col class="size-6">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th translate>common.table.index</th>
                  <th translate>common.label.action</th>
                  <th [pSortableColumn]="'organizationId'" translate>app.templateDynamic.organizationId
                    <p-sortIcon [field]="'organizationId'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'formTypeId'" translate>app.templateDynamic.templateDynamicType
                    <p-sortIcon [field]="'formTypeId'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'labourContractTypeId'" translate>app.templateDynamic.labourContractTypeId
                    <p-sortIcon [field]="'labourContractTypeId'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'positionId'" translate>app.templateDynamic.positionId
                    <p-sortIcon [field]="'positionId'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'startDate'" translate>app.templateDynamic.startDate
                    <p-sortIcon [field]="'startDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'endDate'" translate>app.templateDynamic.endDate
                    <p-sortIcon [field]="'endDate'"></p-sortIcon>
                  </th>
                  <th [pSortableColumn]="'description'" translate>app.templateDynamic.description
                      <p-sortIcon [field]="'description'"></p-sortIcon>
                    </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-index="rowIndex+1">
                <tr>
                  <td class="vt-align-center">{{index}}</td>
                  <td class="vt-align-center btn-action">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-sm btn-info" ngbDropdownToggle translate>common.label.action</button>
                      <div ngbDropdownMenu>
                        <!-- Action edit plan -->
                        <div *ngIf="hasPermission('action.update')">
                          <button class="dropdown-item"
                          [routerLink]="['/reports/template-dynamic/edit', item.templateDynamicId]"
                          title="{{'common.button.table.hEdit' | translate}}"
                          [innerHTML]="'common.button.table.actedit' | translate">
                          </button>
                        </div>
                        <!-- Action delete plan -->
                        <div *ngIf="hasPermission('action.delete')">
                          <button class="dropdown-item"
                          (click)="processDelete(item)"
                          title="{{'common.button.table.hDelete' | translate}}"
                          [innerHTML]="'common.button.table.actDelete' | translate">
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{item.organizationName}}</td>
                  <td>{{item.formTypeId | displayHelper : templateTypeList: 'systemParameterId': 'value'}}</td>
                  <td>{{item.labourContractTypeId  | displayHelper : laboutContractTypeList: 'labourContractTypeId': 'name'}}</td>
                  <td>{{item.positionName}}</td>
                  <td class="vt-align-center">{{item.startDate | displayDate}}</td>
                  <td class="vt-align-center">{{item.endDate | displayDate}}</td>
                  <td class="vt-align-left">
                      {{item.description}}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="9" [innerHTML]="'app.noRecords' | translate">
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <table-footer [resultList]="resultList"></table-footer>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<have-not-permission actionCode="action.view" resourceCode="resource.templateDynamic" translate>
  common.haveNoPermission
</have-not-permission>
