<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form [formGroup]="formSearch" id="formSearch">
        <div class="panel-heading">
          <strong class="text-u-c"><i class="fa fa-th"></i>&nbsp;{{'common.label.search_form' | translate}}</strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input [property]="f['employeeCode']"
                           [labelValue]="'app.timesheetSchedule.employeeCode'"
                           [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                           [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                           [maxLength]='100'>
            </dynamic-input>

            <dynamic-input [property]="f['fullName']"
                           [labelValue]="'app.otherInformation.fullName'"
                           [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                           [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                           [maxLength]='100'>
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['effectiveDate'].isHide"
                   [ngClass]="{'required': f['effectiveDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.effectiveDate' | translate}}
            </label>
            <div [hidden]="f['effectiveDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['effectiveDate']">
              </date-picker>
              <app-control-messages [control]="f['effectiveDate']"></app-control-messages>
            </div>
            <label [hidden]="f['expiredDate'].isHide"
                   [ngClass]="{'required': f['expiredDate'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.allowanceProcess.expiredDate' | translate}}
            </label>
            <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <date-picker
                [property]="f['expiredDate']">
              </date-picker>
              <app-control-messages [control]="f['expiredDate']"></app-control-messages>
            </div>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide"
                   [ngClass]="{'required': true}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.position.unitName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <org-selector
                [defaultValue]="false"
                [property]="f['organizationId']"
                adResourceKey="resource.organization"
                isRequiredField="true"
                operationKey="action.view">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
        </div>

        <div class="panel-footer vt-area-button">
          <button (click)="processSearch()" [innerHTML]="'common.button.search' | translate" class="btn btn-sm btn-info"
                  type="submit"></button>
          <button (click)="processImportOpenCloseMarket()" [innerHTML]="'common.button.import' | translate"
                  class="btn btn-sm btn-info"
                  type="button"></button>
        </div>
      </form>
    </div>
  </div>
  <!-- list -->
  <div id="listArea" style="padding-top: 10px;">
    <div class="panel panel-default">
      <div class="panel-body panel-table">
        <p-table #ptable (onLazyLoad)="processSearch($event)" [lazyLoadOnInit]="false" [lazy]="true"
                 [paginator]="true" [rows]="1" [scrollable]="true" [totalRecords]="resultList.totalElements"
                 [value]="resultList.content"
                 tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template let-columns pTemplate="colgroup">
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col class="size-5">
              <col class="size-5">
              <col class="size-9">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-1">
              <col class="size-6">
              <col class="size-6">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>{{'common.table.index' | translate}}</th>
              <th>{{'common.button.table.hEdit' | translate}}</th>
              <th>{{'common.button.table.hDelete' | translate}}</th>

              <th> Mã nhân viên</th>
              <th> Tên nhân viên</th>
              <th> Đơn vị</th>

              <th colspan="2" scope="colgroup">Thứ 2</th>
              <th colspan="2" scope="colgroup">Thứ 3</th>
              <th colspan="2" scope="colgroup">Thứ 4</th>
              <th colspan="2" scope="colgroup">Thứ 5</th>
              <th colspan="2" scope="colgroup">Thứ 6</th>
              <th colspan="2" scope="colgroup">Thứ 7</th>
              <th colspan="2" scope="colgroup">cn</th>

              <th> Thời gian áp dụng từ ngày</th>
              <th> Thời gian áp dụng đến ngày</th>
            </tr>
          </ng-template>
          <ng-template let-index="rowIndex+1" let-item pTemplate="body">
            <tr  *ngFor="let standard of item.workingDayStandardSettingDetailList; let i = index;">
              <td class="vt-align-center">{{i + 1}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a (click)="prepareSaveOrUpdate(standard)" class="btn-table edit"
                   title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
              </td>
              <td class="vt-align-center">
                <a (click)="processDelete(standard)" class="btn-table delete"
                   title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
              </td>
              <td class="vt-align-center">{{item.employee != null ? item.employee.employeeCode : ''}}</td>
              <td class="vt-align-center">{{item.employee != null ? item.employee.fullName : ''}}</td>
              <td
                class="vt-align-center">{{item.employee != null && item.employee.organization != null ? item.employee.organization.name : ''}}
              </td>

              <td class="vt-align-center ">{{standard.workDayTypeMonDay}}</td>
              <td class="vt-align-center ">{{standard.standardHourMonday}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeTuesDay}}</td>
              <td class="vt-align-center ">{{standard.standardHourTuesDay}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeWedDay}}</td>
              <td class="vt-align-center ">{{standard.standardHourWedDay}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeFiveDay}}</td>
              <td class="vt-align-center ">{{standard.standardHourFiveDay}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeSixDay}}</td>
              <td class="vt-align-center ">{{standard.standardHourSixDay}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeSaturday}}</td>
              <td class="vt-align-center ">{{standard.standardHourSaturday}}</td>

              <td class="vt-align-center ">{{standard.workDayTypeSunday}}</td>
              <td class="vt-align-center ">{{standard.standardHourSunDay}}</td>

              <td class="vt-align-center">{{standard.startDayOfWeek | displayDate}}</td>
              <td class="vt-align-center">{{standard.endDayOfWeek | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="6" [innerHTML]="'app.noRecords' | translate"></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


