<div class="content">
  <div *ngIf="hasPermission('action.view')">
    <div class="panel panel-default">
      <div class="panel-heading" translate>
        <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.dataInput.orgMapping.orgMappingtile </strong>
      </div>
      <div class="panel-body padding-xl ui-g">
        <form id="formSave" [formGroup]="formSave" class="ui-g-12">
          <div class="ui-g-12">
            <label [hidden]="f['organizationId'].isHide" [ngClass]="{'required': f['organizationId'].isRequire}"
              class="ui-g-12 ui-md-6 ui-lg-4 control-label vt-align-right">
              {{'payroll.formula.diagram.organizationName' | translate}}
            </label>
            <div [hidden]="f['organizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-4">
              <org-selector [property]="f['organizationId']" operationKey="action.view"
                adResourceKey="resource.salaryOrganizationMapping" [defaultValue]="true" isRequiredField="true">
              </org-selector>
              <app-control-messages [control]="f['organizationId']"></app-control-messages>
            </div>
          </div>
        </form>
          <div class="ui-g-12" *ngIf="f['organizationId'].value">
            <div class="ui-g-12 ui-md-6">
              <div class="panel panel-default">
                <div class="panel-heading vt-relative" translate>
                  <strong class="text-u-c"> <i class="fa fa-th"></i> payroll.dataInput.config.dataInputList</strong>
                  <div class="vt-absolute vt-shotcut-button-in-heading" style="width: 250px;">
                    <div class="input-group">
                      <input type="text" class="form-control org-selector-input" name="nameFilter"
                        placeholder="{{'payroll.dataInput.config.searchByName' | translate}}" autocomplete="off"
                        [(ngModel)]="nameFilter" #inputSearch />
                      <div class="input-group-append">
                        <button class="btn btn-search" title="{{ 'common.label.search' | translate }}" type="button">
                          <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <p-scrollPanel style="width: 100%" [style]="{width: '100%', height: '450px'}"
                  styleClass="custombar2 custombar3 clearfix nopadding-custombar">
                  <div class="panel-body padding-xl ui-g" style="padding-top: 14px;  min-height: 450px;"
                    id="cdk-drop-list-0" cdkDropList #sourceDataTypesList="cdkDropList"
                    [cdkDropListData]="sourceDataTypes" [cdkDropListConnectedTo]="[targetDataTypesMainList]"
                    (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-area ui-g-12">
                      <div class="area-item ui-g-12 ui-md-6"
                        *ngFor="let dataType of sourceDataTypes | findBy: nameFilter : ['dataName']" cdkDrag>
                        <div class="card-item">
                          {{dataType.dataName}}
                        </div>
                      </div>
                    </div>
                  </div>
                </p-scrollPanel>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="panel panel-default">
                <div class="panel-heading vt-relative" translate>
                  <strong class="text-u-c"><i class="fa fa-th"></i> payroll.dataInput.config.dataInputConfig</strong>
                  <div class="vt-absolute vt-shotcut-button-in-heading" style="width: 250px;">
                    <div class="input-group">
                      <input type="text" class="form-control org-selector-input" name="configFilter"
                        placeholder="{{'payroll.dataInput.config.searchByName' | translate}}" autocomplete="off"
                        [(ngModel)]="configFilter" />
                      <div class="input-group-append">
                        <button class="btn btn-search" title="{{ 'common.label.search' | translate }}" type="button">
                          <i class="fa fa-search color-info" style="font-size: 16px;"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <p-scrollPanel style="width: 100%" [style]="{width: '100%', height: '450px'}"
                  styleClass="custombar2 custombar3 clearfix nopadding-custombar">
                  <div class="panel-body padding-xl ui-g" style="padding-top: 14px; min-height: 450px;"
                    id="cdk-drop-list-1" cdkDropList #targetDataTypesMainList="cdkDropList"
                    [cdkDropListData]="targetDataTypesMain" [cdkDropListConnectedTo]="[sourceDataTypesList]"
                    (cdkDropListDropped)="drop($event, 1)">
                    <div class="drag-drop-area ui-g-12">
                      <div class="area-item ui-g-12 ui-md-6"
                        *ngFor="let dataType of targetDataTypesMain | findBy: configFilter : ['dataName']"
                        cdkDrag>
                        <div class="card-item">
                          {{dataType.dataName}}
                        </div>
                      </div>
                    </div>
                  </div>
                </p-scrollPanel>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    <div class="ui-g-12">
      <div class="vt-area-button">
        <button *ngIf="hasPermission('action.update') || hasPermission('action.insert')" type="submit"
          (click)="processSaveOrUpdate()" class="btn btn-sm btn-info save-padding"
          [innerHTML]="'common.button.save' | translate">
        </button>
        <button (click)="processCancel()" class="btn btn-sm btn-danger save-padding"
          [innerHTML]="'common.button.cancel' | translate">
        </button>
      </div>
    </div>
    <div *ngIf="!hasPermission('action.view')" translate>
      common.haveNoPermission
    </div>
  </div>
