<div class="modal-body">
    <div class="panel panel-default">
        <form id="formImport" [formGroup]="formImport">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>&nbsp;{{'common.label.import_form' | translate}}
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <button style="display: inline-block;" (click)="activeModal.close()"
                        title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <label [hidden]="f['fileImport'].isHide"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right required">
                        {{'organizationPlan.importFile' | translate}}
                    </label>
                    <div [hidden]="f['fileImport'].isHide" class="ui-g-12 ui-md-6 ui-lg-6">
                        <file-choser [property]="f['fileImport']" validMaxSize="10" validType="xls"
                            (onFileChange)="processValidateImport()">
                        </file-choser>
                        <app-control-messages [control]="f['fileImport']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" *ngIf="showButtonImport" (click)="processImport()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.import' | translate"></button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate"></button>
            </div>
        </form>
    </div>
    <div *ngIf="dataError">
        <import-error [data]="dataError"></import-error>
    </div>
</div>