<div id="header-search">
  <div class="vt-relative">
    <form [formGroup]="formSearch">
      <div class="display-table">
        <div class="table-cell">
          <button type="submit" class="icon-search input-search" (click)="autocomplete.handleDropdownClick()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div class="table-cell">
          <p-autoComplete
            formControlName="keyword"
            inputStyleClass="form-control input-search no-between-border"
            placeholder="{{'home.search.placeHolder' | translate}}"
            [suggestions]="results"
            (completeMethod)="search($event)"
            scrollHeight="500px"
            (onSelect)="onSelect($event)"
            #autocomplete
          >
          <ng-template let-result pTemplate="item">
            <div class="display-table result-item w100">
              <div class="table-cell result-image">
                <img *ngIf="result.avatar" [src]="result.avatar"/>
                <img *ngIf="!result.avatar" src="assets/images/noimage.png"/>
              </div>
              <div class="table-cell result-info">
                <div class="fullName">{{result.employeeCode}} - {{result.fullName}}</div>
                <div class="mobile">{{result.mobileNumber}} - {{result.email}}</div>
                <div class="departmentName">{{result.departmentName}}</div>
              </div>
            </div>
          </ng-template>
          </p-autoComplete>
        </div>
        <div class="table-cell" ngbDropdown placement="bottom-right" autoClose="outside">
          <button type="button" class="icon-caret input-search fs10" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-codition">
              <ul class="sys-ul">
                <li class="dropdown-item condition-header">
                  {{'home.search.title' | translate}}
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-code">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-code" type="checkbox" formControlName="employeeCode" [value]="1" (change)="changeCodition()" />
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empCode' | translate}}
                    </div>
                  </label>
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-name">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-name" type="checkbox" formControlName="fullName" [value]="1" (change)="changeCodition()" />
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empName' | translate}}
                    </div>
                  </label>
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-email">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-email" type="checkbox" formControlName="email" [value]="1" (change)="changeCodition()"/>
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empEmail' | translate}}
                    </div>
                  </label>
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-mobile-number">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-mobile-number" type="checkbox" formControlName="mobileNumber" [value]="1" (change)="changeCodition()"/>
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empPhoneNum' | translate}}
                    </div>
                  </label>
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-cmt">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-cmt" type="checkbox" formControlName="cmt" [value]="1" (change)="changeCodition()"/>
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empPIDNum' | translate}}
                    </div>
                  </label>
                </li>
                <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-tax">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-tax" type="checkbox" formControlName="tax" [value]="1" (change)="changeCodition()"/>
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      {{'home.search.empTaxNum' | translate}}
                    </div>
                  </label>
                </li>
                <!-- <li class="dropdown-item no-padding-left">
                  <label class="display-table condition-item" for="condition-employee-bh">
                    <div class="table-cell condition-check">
                      <label class="i-switch bg-info m-t-xs m-r">
                        <input id="condition-employee-bh" type="checkbox" formControlName="bh" [value]="1" (change)="changeCodition()"/>
                        <i></i>
                      </label>
                    </div>
                    <div class="table-cell">
                      Số sổ BHXH
                    </div>
                  </label>
                </li> -->
              </ul>
            </div>
        </div>
      </div>

    </form>
  </div>
</div>
