/*Start Page Demo*/
.pageDemo {
	width: 60px;
	height: 50px;
	padding: 8px;
}
.pageDemo,.pageDemoMenu,.pageDemoContent,.pageDemoHeader {
	display: block;
}
.pageDemoHeader {
	height: 6px;
	margin-bottom: 2px;
	float: right;
	width: 33px;
}
.pageDemoMenu {
	height: 34px;
	float: left;
	width: 9px;
	background-color: #4d394b;
}
.pageDemoContent {
	border: #e9e9e9 solid 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	float: right;
	width: 33px;
	height: 26px;
	background-color: #fff;
	text-align: center;
}
.pageDemo.page2 .pageDemoHeader{
	background-color: #31c0be;
}
.pageDemo.page4 .pageDemoHeader{
    background-color: #00adca;
}
.pageDemo.page3 .pageDemoHeader{
	background-color: #609e3b;
}
.pageDemo.page1 .pageDemoHeader{
	background-color: #3f51b5;
}
.pageDemo.page1 .pageDemoMenu{
    background-color: #222d32;
}
.pageDemo.page2 .pageDemoMenu{
    background-color: #eee;
}
.pageDemo.page4 .pageDemoMenu{
    background-color: #222d32;
}
.pageDemo.page3 .pageDemoMenu{
    background-color: #4d394b;
}

.select-theme{
    width: 150px;
}

.icon-checked{
    color: var(--primary-color);
    padding-top: 5px;
}

.select-theme{
	min-width: 120px !important;
}