<!-- navbar header -->
<!-- <div class="navbar-header bg-blue-only"> -->
<!-- brand -->
<!-- <a href="javascript:;" class="navbar-brand text-lt" *ngIf="!isMinium" (click)="flipMenus()">        
        <i class="fa fa-retweet"></i> 
        <img src="assets/images/logo-light-icon.png"  >
     </a> -->


<!-- <a href="javascript:;" class="navbar-brand text-lt" *ngIf="isMinium" (click)="onMinium()">
        <i class="glyphicons glyphicons-play" *ngIf="isMinium"></i>
    </a> -->

<!-- / brand -->
<!-- icon play -->
<!-- <a href="javascript:;" class="navbar-brand text-lt play" (click)="onMinium()">
        <span class="icon-play">
            <i class="glyphicons glyphicons-play" aria-hidden="true"></i>
        </span>
    </a> -->
<!-- </div> -->
<!-- / navbar header -->

<!-- navbar collapse -->
<!-- Doanvd turning ko su dung RippleModule kendoRippleContainer -->
<div class="collapse pos-rlt navbar-collapse bg-blue-only clearfix show">
  <div class="left-nav-bar pull-left waves-effect waves-light ">
    <a (click)="onMinium()" href="javascript:;">
      <i class="fa fa-bars" aria-hidden="true" *ngIf="isMinium"></i>
      <i class="fa fa-arrow-right" aria-hidden="true" *ngIf="!isMinium"></i>
    </a>
    <!-- <a (click)="flipMenus()" href="javascript:;">
      <i class="fa fa-compact-disc " [ngClass]="{'rotate-180': isBack,'rotate-0': !isBack}" aria-hidden="true"
        *ngIf="!isMinium"></i>
    </a> -->
    <!-- <a class="navbar-brand logo">
      <b>
        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
      </b>
    
      <span class="hidden-xs"><span class="font-bold">Viettel</span>HRM</span>
    </a> -->
    <!-- <a class="navbar-brand logo" (click)="flipMenus()">
      <b>
        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
      </b>

      <span class="hidden-xs"><span class="font-bold">Viettel</span>HRM</span>
    </a> -->
    <!-- <a [routerLink]="['/home']">
        <span class="icon-vt-hrm"></span>
        <span translate>app.title</span>
    </a> -->
  </div>
  <div class="right-nav-bar pull-right">
    <ul class="header-right sys-ul space-line">
      <li class="vhr-search-empinfo">
        <header-search></header-search>
      </li>
      <li ngbDropdown placement="bottom-right">
        <a *ngIf="selectedLanguage" class="btn-header btn-arrow-down" ngbDropdownToggle id="flags-dropdown"
          title="{{selectedLanguage.name}}" igxButton="raised" igxRipple="blue" igxRippleCentered="true">
          <img [src]="selectedLanguage.imagePath" class="flags" />
        </a>
        <div ngbDropdownMenu aria-labelledby="flags-dropdown">
          <ul class="sys-ul">
            <li class="dropdown-item no-padding-left" *ngFor="let lang of listSysLanguage"
              (click)="setCurrentLang(lang);">
              <div class="display-table flag-item">
                <div class="table-cell flag-img">
                  <img [src]="lang.imagePath" class="flags" />
                </div>
                <div class="table-cell">
                  {{lang.name}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li ngbDropdown placement="bottom-right">
        <a *ngIf="selectedMarket" class="btn-header btn-arrow-down" ngbDropdownToggle id="market-dropdown"
          title="{{selectedMarket.name}}">
          <img [src]="selectedMarket.logoPath" class="flags" />
        </a>
        <div ngbDropdownMenu aria-labelledby="market-dropdown">
          <ul class="sys-ul">
            <li class="dropdown-item no-padding-left" *ngFor="let market of listMarketCompany"
              (click)="setCurrentMarket(market);">
              <div class="display-table flag-item">
                <div class="table-cell flag-img">
                  <img [src]="market.logoPath" class="flags" />
                </div>
                <div class="table-cell">
                  {{market.name}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li ngbDropdown placement="bottom-right">
        <a *ngIf="selectedMarket" class="btn-header btn-arrow-down" ngbDropdownToggle id="market-dropdown"
        [title]="'app.common.title.selectTheme' | translate ">
          <img src="../../../../assets/images/fill-color.png" style="width: 20px;"/>
        </a>
        <div ngbDropdownMenu aria-labelledby="market-dropdown" class="select-theme">
          <div class="row">
            <div class="contentPageDemo col-md-6" style="padding: 0px 10px 0px 20px">
              <a href="javascript:;" class="pageDemo page1 active" ng-class="{active: selectedTheme==1}"
                (click)="fSelectedTheme(1)">
                <span class="pageDemoMenu"></span>
                <span class="pageDemoHeader"></span>
                <span class="pageDemoContent">
                  <span *ngIf="selectedTheme==1" class="fa fa-check icon-checked"></span>
                </span>
              </a>
            </div>
            <div class="contentPageDemo col-md-6" style="padding: 0px 20px 0px 10px">
              <a href="javascript:;" class="pageDemo page2" ng-class="{active: selectedTheme==2}"
                (click)="fSelectedTheme(2)">
                <span class="pageDemoMenu"></span>
                <span class="pageDemoHeader"></span>
                <span class="pageDemoContent">
                  <span *ngIf="selectedTheme==2" class="fa fa-check icon-checked"></span>
                </span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="contentPageDemo col-md-6" style="padding: 0px 10px 0px 20px">
              <a href="javascript:;" class="pageDemo page3" ng-class="{active: selectedTheme==3}"
                (click)="fSelectedTheme(3)">
                <span class="pageDemoMenu"></span>
                <span class="pageDemoHeader"></span>
                <span class="pageDemoContent">
                  <span *ngIf="selectedTheme==3" class="fa fa-check icon-checked"></span>
                </span>
              </a>
            </div>

            <div class="contentPageDemo col-md-6" style="padding: 0px 20px 0px 10px">
              <a href="javascript:;" class="pageDemo page4" ng-class="{active: selectedTheme==4}"
                (click)="fSelectedTheme(4)">
                <span class="pageDemoMenu"></span>
                <span class="pageDemoHeader"></span>
                <span class="pageDemoContent">
                  <span *ngIf="selectedTheme==4" class="fa fa-check icon-checked"></span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li ngbDropdown placement="bottom-right">
        <a class="btn-header btn-arrow-down" ngbDropdownToggle id="info-dropdown">
          <span class="user-image">
            <img [src]="userInfo.imagePath" class="user-img" *ngIf="userInfo" />
            <i class="fa fa-circle"></i>
          </span>
          <!-- <span>
           {{userInfo.fullName}}
          </span> -->
        </a>
        <div class="info-dropdown" ngbDropdownMenu aria-labelledby="info-dropdown">
          <ul class="sys-ul">
            <li class="dropdown-item" *ngIf="userInfo">
              <div class="display-table">
                <div class="table-cell first">
                  <span [ngClass]="{'glyphicons-woman': userInfo.gender==2, 'glyphicons-user' : userInfo.gender!=2}"
                    class="glyphicons menu-icon"></span>
                </div>
                <div class="table-cell menu-text">
                  {{userInfo.fullName}} <br />
                  <i style="font-size: 10px;">{{userInfo.employeeCode}} - {{userInfo.email}}</i>
                </div>
              </div>
            </li>
            <li class="dropdown-item" *ngIf="userInfo">
              <div class="display-table">
                <div class="table-cell first">
                  <span class="glyphicons glyphicons-question-sign menu-icon"></span>
                </div>
                <div class="table-cell menu-text">
                  Help
                </div>
              </div>
            </li>
            <li class="dropdown-item" (click)="logout()">
              <div class="display-table">
                <div class="table-cell first">
                  <span class="glyphicons glyphicons-unlock menu-icon"></span>
                </div>
                <div class="table-cell menu-text">
                  Logout
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <!-- <li>
        <button class="ico-vector" title="Thêm"></button>
      </li> -->
    </ul>
  </div>

  <!-- nabar right -->
  <!-- <ul class="nav navbar-nav navbar-right">
    <li class="search-header">
      <div class="form-group">
        <div class="input-group hidden-sm">
          <span class="input-group-btn btn-search">
            <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" class="form-control input-search input-sm bg-light no-border rounded padder" placeholder="Search">
          <div class="dropdown hidden-sm dropdown-search" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle><b class="caret right-search"></b></a>
            <ul class="dropdown-menu animated fadeInRight w">
              <li>
                <label><input type="checkbox"> feild 1</label>
              </li>
              <li>
                <label><input type="checkbox"> feild 1</label>
              </li>
              <li>
                <label><input type="checkbox"> feild 1</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul> -->
  <!-- / navbar right -->
</div>
<!-- / navbar collapse -->