<div id="searchPage">
  <div id="searchArea">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading" translate>
            <strong class="text-u-c">
              <i class="fa fa-th"></i>
              common.label.search_form
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input  [property]="f['code']"
                            [labelValue]="'app.documentType.code'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [autofocus]="'autofocus'"
                            [maxLength]='50'>
            </dynamic-input>
            <dynamic-input  [property]="f['name']"
                            [labelValue]="'app.documentType.name'"
                            [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                            [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                            [maxLength]='200'>
            </dynamic-input>
          </div>
          <div class="ui-g-12" >
            <label [hidden]="f['used'].isHide"
                   [ngClass]="{'required': f['used'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.documentType.used' | translate}}
            </label>
            <div [hidden]="f['used'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
              <label class="i-switch bg-info m-t-xs m-r">
                <input type="checkbox" name="used" [checked] = "checked" (change)="OnChangeCB($event)" formControlName="used" />
                <i></i>
              </label>
            </div>
            <app-control-messages [control]="f['used']"></app-control-messages>

            <label [hidden]="f['inoutFlag'].isHide"
                    [ngClass]="{'required': f['inoutFlag'].isRequire}"
                    class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
              {{'app.documentType.inoutFlag' | translate}}
            </label>
            <div [hidden]="f['inoutFlag'].isHide" class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check ">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_1" [value]="1" name="inoutFlag" formControlName="inoutFlag">
                  <i></i>
                  {{'app.documentType.enter' | translate}}
                </label>
              </div>
              <div class="form-check">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_2" [value]="2" name="inoutFlag" formControlName="inoutFlag">
                  <i></i>
                  {{'app.documentType.outside' | translate}}
                </label>
              </div>
              <div class="form-check">
                <label class="i-checks">
                  <input type="radio"class="form-check-input control-label" id="inoutFlagStatus_3" [value]="3" name="inoutFlag" formControlName="inoutFlag">
                  <i></i>
                  {{'app.documentType.inside' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['inoutFlag']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info">
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="listArea">
      <div class="panel panel-default">
        <div class="panel-heading vt-relative">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>&nbsp;{{'app.documentType.listTitle' | translate}}
          </strong>
          <div class="vt-absolute vt-shotcut-button-in-heading">
            <div *ngIf="hasPermission('action.insert')" >
                <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
            </div>
          </div>
        </div>
        <div class="panel-body panel-table">
          <p-table [scrollable]="true" #ptable [value]="resultList.data"
          [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
          [lazyLoadOnInit]="false" [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal"
          [responsive]="true" tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col class="size-1">
                <col *ngIf="hasPermission('action.update')" class="size-1">
                <col *ngIf="hasPermission('action.delete')" class="size-1">
                <col class="">
                <col class="">
                <col class="">
                <col class="">
                <col class="">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>{{'common.table.index' | translate}}</th>
                <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
                <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
                <th [pSortableColumn]="'code'" translate>app.documentType.code
                    <p-sortIcon [field]="'code'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'name'" translate>app.documentType.name
                    <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'documentReasonName'" translate>app.documentType.documentReasonName
                    <p-sortIcon [field]="'documentReasonName'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'used'" translate>app.documentType.used
                    <p-sortIcon [field]="'used'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'inoutFlag'" translate>app.documentType.inoutFlag
                    <p-sortIcon [field]="'inoutFlag'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex+1">
              <tr>
                <td class="vt-align-center">{{index}}</td>
                <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                  <a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}"><i class="fa fa-edit"></i></a>
                </td>
                <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                  <a class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}"><i class="fa fa-trash-alt"></i></a>
                </td>
                <td class="vt-align-center">{{item.code}}</td>
                <td class="vt-align-left">{{item.name}}</td>
                <td class="vt-align-left">{{item.documentReasonName}}</td>
                <td class="vt-align-center">
                    <i *ngIf="item.used==1" class="fas fa-check table-icon color-info"></i>
                </td>
                <td class="vt-align-left">
                    <div *ngIf="item.inoutFlag==1">{{'app.documentType.enter' | translate}}</div>
                    <div *ngIf="item.inoutFlag==2">{{'app.documentType.outside' | translate}}</div>
                    <div *ngIf="item.inoutFlag==3">{{'app.documentType.inside' | translate}}</div>
                  </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr class="emptymessage">
                <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <table-footer [resultList]="resultList"></table-footer>
            </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>
