<div *ngIf="hasPermission('action.view')">
  <div id="searchPage">
    <div class="panel panel-default">
      <form id="formSearch" [formGroup]="formSearch" spellcheck="false">
        <div class="panel-heading">
          <strong class="text-u-c">
            <i class="fa fa-th"></i>
            <span translate> common.label.search_form</span>
          </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <dynamic-input
              [property]="f['code']"
              [labelValue]="'app.organization.unitCode'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "50"
              [autofocus]="'autofocus'">
            </dynamic-input>
            <dynamic-input
              [property]="f['name']"
              [labelValue]="'app.organization.unitName'"
              [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
              [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
              [maxLength]= "500">
            </dynamic-input>
          </div>
          <div class="ui-g-12">
            <label [hidden]="f['status'].isHide"
                   [ngClass]="{'required': f['status'].isRequire}"
                   class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" translate>
              app.organization.status
            </label>
            <div [hidden]="f['status'].isHide" class="ui-g-12 ui-md-6 ui-lg-9">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input formControlName="status" [value]="-1" type="radio" class="form-check-input control-label" id="statusAll">
                  <i></i>
                  {{'app.organization.status.all' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input formControlName="status" [value]="1" type="radio"class="form-check-input control-label" id="statusActive">
                  <i></i>
                  {{'app.organization.status.active' | translate}}
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input formControlName="status" [value]="0" type="radio" class="form-check-input control-label" id="statusInactive">
                  <i></i>
                  {{'app.organization.status.inactive' | translate}}
                </label>
              </div>
              <app-control-messages [control]="f['status']"></app-control-messages>
            </div>
          </div>
        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" >
            <span [innerHTML]="'common.button.search' | translate"></span>
          </button>
        </div>
      </form>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c">
          <i class="fa fa-th"></i>
          <span translate> app.organization.listData</span>
        </strong>
      </div>

      <div class="panel-body panel-table" id="orgTable">
        <p-table
          #pTable
          [value]="resultList.data"
          [paginator]="true"
          (onLazyLoad)="processSearch($event)"
          [scrollable]="true"
          [lazy]="true" [rows]="10"
          [totalRecords]="resultList.recordsTotal"
          [responsive]="true"
          [lazyLoadOnInit]="false"
          tableStyleClass="table table-wrapper table-hover table-striped b-t b-b"
        >
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-1">
              <col *ngIf="hasPermission('action.delete')" class="size-1">
              <col class="size-6">
              <col>
              <col class="size-6">
              <col class="size-6">
              <col class="size-6">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th *ngIf="hasPermission('action.update')">{{'common.button.table.hEdit' | translate}}</th>
              <th *ngIf="hasPermission('action.delete')">{{'common.button.table.hDelete' | translate}}</th>
              <th [pSortableColumn]="'code'" translate>app.organization.unitCode <p-sortIcon [field]="'code'"></p-sortIcon></th>
              <th [pSortableColumn]="'name'" translate>app.organization.unitName <p-sortIcon [field]="'name'"></p-sortIcon></th>
              <th [pSortableColumn]="'lineUnit'" translate>app.organization.lineUnit <p-sortIcon [field]="'lineUnit'"></p-sortIcon></th>
              <th [pSortableColumn]="'effectiveDate'" translate>app.organization.effectiveDate<p-sortIcon [field]="'effectiveDate'"></p-sortIcon></th>
              <th [pSortableColumn]="'expiredDate'" translate>app.organization.expiredDate<p-sortIcon [field]="'expiredDate'"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td *ngIf="hasPermission('action.update')" class="vt-align-center">
                <a class="btn-table edit" (click)="edit(item)" title="{{'common.button.table.hEdit' | translate}}">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td *ngIf="hasPermission('action.delete')" class="vt-align-center">
                <a *ngIf="checkOrganizationEffect(item)" class="btn-table delete" (click)="processDelete(item)" title="{{'common.button.table.hDelete' | translate}}">
                  <i class="fa fa-trash-alt"></i>
                </a>
                <i *ngIf="!checkOrganizationEffect(item)" class="fa fa-lock" title="{{'common.button.table.hLock' | translate}}"></i>
              </td>
              <td class="vt-align-center">{{item.code}}</td>
              <td><a (click)="processViewDetail(item.organizationId)" class="text-link">{{item.name}}</a></td>
              <td class="vt-align-center">{{item.lineUnit}}</td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr class="emptymessage">
              <td [attr.colspan]="7" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
