<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12" style="padding-bottom: 10px;" [hidden]="processList.length == 0 && processGhrList.length == 0">
    <p-tabView #tabView>
      <p-tabPanel #tabPanel1 header="{{'workProcess.domesticWork' | translate}}">
        <p-scrollPanel [style]="{width: '100%', height: '71px'}" styleClass="custombar3 clearfix">
            <div class="time-line-div" style="text-align:center;">
              <table style="margin: 0 auto; display: block;" [ngStyle]="{'width': 10*(processList.length) + '%'}" cellspacing="0" cellpadding="0" >
                    <tr>
                      <td *ngFor="let item of processList; let i = index;" (mouseenter)="op2.show($event)" (mouseleave) ="op2.hide($event)" >
                        <div style="width:100px;" >
                          {{item.effectiveDate | displayDate}}
                        </div>
                        <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                          <table>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                            </tr>
                          </table>
                        </p-overlayPanel>
                      </td>
                    </tr>
      
                    <tr>
                      <td *ngFor="let item of processList; let i = index;" style="padding-bottom: 20px;" (mouseenter)="op2.show($event)"  (mouseleave) ="op2.hide($event)">
                        <div style="display: block; position: relative;">
                          <div style="float: left; position: absolute; z-index: 1;" class="lineStart line" *ngIf="item.inOutFlagStart == 1">
                          </div>
                          <div style="float: left;position: absolute; z-index: 1;" class="lineEnd line" *ngIf="item.inOutFlagEnd == 2">
                          </div>
                          <div class="line1 line" style="position: absolute;" *ngIf="item.type == 1"   >
                          </div>
                          <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                            <table>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                              </tr>
                              <tr>
                                <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                              </tr>
                            </table>
                          </p-overlayPanel>
                          <div class="line2 line" style="position: absolute;"  *ngIf="item.type == 2">
                          </div>
                          <!-- <div class="lineNull line" *ngIf="discontinuity === true" title="{{'app.workProcess.lineNull' | translate}}"></div> -->
                        </div>
                      </td>
                    </tr>
      
                    <tr>
                      <td *ngFor="let item of processList; let i = index;" onmouseover="" onmouseout="" (mouseenter)="op2.show($event)"  (mouseleave) ="op2.hide($event)">
                        <div style="width:100px;" *ngIf="item.type == 1">
                          {{item.positionName}}
                        </div>
                        <div style="width:100px;" *ngIf="item.type != 1">
                          {{item.position}}
                        </div>
                        <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                          <table>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                            </tr>
                            <tr>
                              <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                            </tr>
                          </table>
                        </p-overlayPanel>
                    </td>
                  </tr>
              </table>
            </div>
        </p-scrollPanel>
      </p-tabPanel>
      <p-tabPanel #tabPanel2 header="{{'workProcess.foreignWork' | translate}}">
        <p-scrollPanel [style]="{width: '100%', height: '71px'}" styleClass="custombar3 clearfix">
          <div class="time-line-div" style="text-align:center;">
            <table style="margin: 0 auto; display: block;" [ngStyle]="{'width': 10*(processGhrList.length) + '%'}" cellspacing="0" cellpadding="0" >
                <tr>
                  <td *ngFor="let item of processGhrList; let i = index;" (mouseenter)="op2.show($event)" (mouseleave) ="op2.hide($event)" >
                    <div style="width:100px;" >
                      {{item.effectiveDate | displayDate}}
                    </div>
                    <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                      <table>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                        </tr>
                      </table>
                    </p-overlayPanel>
                  </td>
                </tr>
  
                <tr>
                  <td *ngFor="let item of processGhrList; let i = index;" style="padding-bottom: 20px;" (mouseenter)="op2.show($event)"  (mouseleave) ="op2.hide($event)">
                    <div style="display: block; position: relative;">
                      <div style="float: left; position: absolute; z-index: 1;" class="lineStart line" *ngIf="item.inOutFlagStart == 1"></div>
                      <div style="float: left;position: absolute; z-index: 1;" class="lineEnd line" *ngIf="item.inOutFlagEnd == 2"></div>
                      <div class="line1 line" style="position: absolute;" *ngIf="item.type == 1"></div>
                      <div class="line2 line" style="position: absolute;"  *ngIf="item.type == 2"></div>
                      <!-- <div class="lineNull line" *ngIf="discontinuityGhr === true" title="{{'app.workProcess.lineNull' | translate}}"></div> -->

                      <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                        <table>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                          </tr>
                          <tr>
                            <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                          </tr>
                        </table>
                      </p-overlayPanel>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td *ngFor="let item of processGhrList; let i = index;" onmouseover="" onmouseout="" (mouseenter)="op2.show($event)"  (mouseleave) ="op2.hide($event)">
                    <div style="width:100px;" *ngIf="item.type == 1">
                      {{item.positionName}}
                    </div>
                    <div style="width:100px;" *ngIf="item.type != 1">
                      {{item.position}}
                    </div>
                    <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="false" appendTo="body"  baseZIndex="20000" >
                      <table>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.startDate</span> {{item.effectiveDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.endDate</span> {{item.expiredDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.timelineIntendedJoinDate</span> {{item.intendedJoinDate | displayDate}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.documentType</span> {{item.documentTypeName}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.reason</span> {{item.documentReasonName}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.organizationFullName</span> {{item.organizationFullName || item.organization}}</td>
                        </tr>
                        <tr>
                          <td style="max-width: 300px;"><span class ="leftPanel" translate>app.workProcess.positionName</span> {{item.positionName || item.position}}</td>
                        </tr>
                      </table>
                    </p-overlayPanel>
                </td>
              </tr>
            </table>
          </div>
        </p-scrollPanel>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading vt-relative">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span translate> app.workProcess.listTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <div *ngIf="hasPermission('action.insert')">
            <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.addNew' | translate"></button>
          </div>
        </div>
      </div>
      <div class="panel-body panel-table">
        <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
            [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [scrollable]="true" [lazyLoadOnInit]="false"
            tableStyleClass="table table-wrapper table-hover table-striped b-t b-b">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col class="size-1">
              <col *ngIf="hasPermission('action.update')" class="size-2">
              <col *ngIf="hasPermission('action.delete')" class="size-2">
              <col class="size-9">
              <col class="size-5">
              <col class="size-5">
              <col class="size-8">
              <col class="size-10">
              <col class="size-8">
              <col class="size-8">
              <col class="size-4">
              <col class="size-12">
              <col class="size-10">
              <col class="size-12">
              <col class="size-10">
              <col class="size-3">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th translate>common.table.index</th>
              <th *ngIf="hasPermission('action.update')" translate>common.button.table.hEdit</th>
              <th *ngIf="hasPermission('action.delete')" translate>common.button.table.hDelete</th>
              <th pSortableColumn="type" translate>app.workProcess.type
                <p-sortIcon field="type"></p-sortIcon>
              </th>
              <th pSortableColumn="effectiveDate" translate>app.workProcess.effectiveDate
                <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="expiredDate" translate>app.workProcess.expiredDate
                <p-sortIcon field="expiredDate"></p-sortIcon>
              </th>
              <th pSortableColumn="positionId" translate>app.workProcess.positionId
                <p-sortIcon field="positionId"></p-sortIcon>
              </th>
              <th pSortableColumn="organizationId" translate>app.workProcess.organizationId
                <p-sortIcon field="organizationId"></p-sortIcon>
              </th>
              <th pSortableColumn="documentNumber" translate>app.workProcess.documentNumber
                <p-sortIcon field="documentNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="documentTypeId" translate>app.workProcess.documentTypeId
                <p-sortIcon field="documentTypeId"></p-sortIcon>
              </th>
              <th pSortableColumn="signedDate" translate>app.workProcess.signedDate
                <p-sortIcon field="signedDate"></p-sortIcon>
              </th>
              <th pSortableColumn="documentReasonId" translate>app.workProcess.documentReasonId
                <p-sortIcon field="documentReasonId"></p-sortIcon>
              </th>
              <th pSortableColumn="concurrentOrganizationName" translate>app.workProcess.concurrentUnit
                  <p-sortIcon field="concurrentOrganizationName"></p-sortIcon>
              </th>
              <th pSortableColumn="concurrentPositionName" translate>app.workProcess.concurrentPositionId
                  <p-sortIcon field="concurrentPositionName"></p-sortIcon>
              </th>
              <th translate>app.workProcess.attachmentFile
              </th>
              <th pSortableColumn="isCurrent" translate>app.workProcess.isCurrent
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-index="rowIndex+1">
            <tr>
              <td class="vt-align-center">{{index}}</td>
              <td class="vt-align-center" *ngIf="hasPermission('action.update')"><a class="btn-table edit" (click)="prepareSaveOrUpdate(item)" title="{{'common.button.table.hEdit' | translate}}" ><i class="fa fa-edit"></i></a></td>
              <td class="vt-align-center" *ngIf="hasPermission('action.delete')" ><a class="btn-table delete" (click)="processDeletes(item)" title="{{'common.button.table.hDelete' | translate}}" ><i class="fa fa-trash-alt"></i></a></td>
              <td class="vt-align-left" translate="">
                <span *ngIf="item.type==1" span class="label-status warning">app.workProcess.interiot</span>
                <span *ngIf="item.type==2" span class="label-status danger">app.workProcess.exterior</span>
              </td>
              <td class="vt-align-center">{{item.effectiveDate | displayDate}}</td>
              <td class="vt-align-center">{{item.expiredDate | displayDate}}</td>
              <td class="vt-align-left" *ngIf="item.type == 1" >{{item.positionName}}</td>
              <td class="vt-align-left" *ngIf="item.type == 1" >{{item.organizationFullName}}</td>
              <td class="vt-align-left" *ngIf="item.type != 1" >{{item.position}}</td>
              <td class="vt-align-left" *ngIf="item.type != 1" >{{item.organization}}</td>
              <td class="vt-align-left">{{item.documentNumber}}</td>
              <td class="vt-align-left">{{item.documentTypeName}}</td>
              <td class="vt-align-center">{{item.signedDate | displayDate}}</td>
              <td class="vt-align-left">{{item.documentReasonName}}</td>
              <td class="vt-align-left">{{item.concurrentOrganizationName}}</td>
              <td class="vt-align-left">{{item.concurrentPositionName}}</td>
              <td class="vt-align-left">
                <a *ngFor="let data of item.fileAttachment.file"
                    style="color: rgb(0, 153, 255); white-space: nowrap; text-overflow: ellipsis; max-width: 200px; display: block; overflow: hidden"
                    (click)="downloadFile(data)">
                    - {{data.fileName}}
                </a>
              </td>
              <td class="vt-align-center">
                <i *ngIf="item.isCurrent==1" class="fas fa-check table-icon color-info"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr class="emptymessage">
              <td [attr.colspan]="14" [innerHTML]="'app.noRecords' | translate">
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <table-footer [resultList]="resultList"></table-footer>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  
</div>

<have-not-permission actionCode="action.view" resourceCode="resource.workProcess" translate>
  common.haveNoPermission
</have-not-permission>
