<div class="modal-body">
  <form id="frmPassport" [formGroup]="formSave">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="text-u-c"><i class="fa fa-th"></i>
          <span *ngIf="!formSave.get('passportId').value" translate> app.visaPassportInformation.passportInformation.addTitle</span>
          <span *ngIf="formSave.get('passportId').value" translate> app.visaPassportInformation.passportInformation.editTitle</span>
        </strong>
        <div class="vt-absolute vt-shotcut-button-in-heading">
          <span (click)="activeModal.close()" title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i class="fa fa-times"></i></span>
        </div>
      </div>
      <div class="panel-body padding-xl ui-g">
        <div class="ui-g-12">
          <label [hidden]="f['passportTypeId'].isHide"
                 [ngClass]="{'required': f['passportTypeId'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
              {{'app.passportInformation.category' | translate}}
          </label>
          <div [hidden]="f['passportTypeId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['passportTypeId']"
              [options]="passportTypeList"
              optionLabel="name"
              optionValue="sysCatId"
              [placeHolder]="f['passportTypeId'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['passportTypeId']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['passportNumber']"
                          [objectId]="f['passportId'].value"
                          [labelValue]="'app.passportInformation.passportNumber'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [autofocus]="'autofocus'"
                          [maxLength]='15'>
          </dynamic-input>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['issuedDate'].isHide"
                 [ngClass]="{'required': f['issuedDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.passportInformation.issuedDate' | translate}}
          </label>
          <div [hidden]="f['issuedDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['issuedDate']"></date-picker>
            <app-control-messages [control]="f['issuedDate']"></app-control-messages>
          </div>
          <label [hidden]="f['expiredDate'].isHide"
                 [ngClass]="{'required': f['expiredDate'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
            {{'app.passportInformation.expiredDate' | translate}}
          </label>
          <div [hidden]="f['expiredDate'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <date-picker [property]="f['expiredDate']"></date-picker>
            <app-control-messages [control]="f['expiredDate']"></app-control-messages>
          </div>
        </div>

        <div class="ui-g-12">
          <label [hidden]="f['issuedCountry'].isHide"
                 [ngClass]="{'required': f['issuedCountry'].isRequire}"
                 class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.passportInformation.issuedCountry' | translate}}
          </label>
          <div [hidden]="f['issuedCountry'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <select-filter
              [property]="f['issuedCountry']"
              [options]="listNation"
              optionLabel="name"
              optionValue="nationId"
              [placeHolder]="f['issuedCountry'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
            </select-filter>
            <app-control-messages [control]="f['issuedCountry']"></app-control-messages>
          </div>
          <dynamic-input  [property]="f['issuedAuthority']"
                          [objectId]="f['passportId'].value"
                          [labelValue]="'app.passportInformation.issuedAuthority'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-3'"
                          [maxLength]='100'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <dynamic-input  [property]="f['note']"
                          [objectId]="f['passportId'].value"
                          [labelValue]="'app.passportInformation.note'"
                          [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                          [inputClass]="'ui-g-12 ui-md-6 ui-lg-9'"
                          [type]="'text-area'"
                          [maxLength]='2000'>
          </dynamic-input>
        </div>
        <div class="ui-g-12">
          <label [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
            {{'app.passportInformation.attachmentFile' | translate}}
          </label>
          <div [hidden]="f['file'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
            <multil-file-choser
              [property]="f['file']"
              [validMaxSize]="10"
              [validType]="FILE_TYPE_PERSONAL_UPLOAD">
            </multil-file-choser>
            <app-control-messages [control]="f['file']"></app-control-messages>
          </div>
        </div>
	    </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info" [innerHTML]="'common.button.save' | translate"></button>
        <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger" [innerHTML]="'common.button.cancel' | translate"></button>
      </div>
    </div>
  </form>
</div>
