<div class="modal-body">
    <form id="frmSaveSysCat" [formGroup]="formSave">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="text-u-c">
                    <i class="fa fa-th"></i>
                    <span translate> app.payrolls.orgMapping.add</span>
                </strong>
                <div class="vt-absolute vt-shotcut-button-in-heading">
                    <button type="button" style="display: inline-block;" (click)="activeModal.close()"
                        title="{{'common.button.close' | translate}}" class="btn btn-span btn-sm btn-info"><i
                            class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="panel-body padding-xl ui-g">
                <div class="ui-g-12">
                    <label [hidden]="f['organnizationId'].isHide"
                        [ngClass]="{'required': f['organnizationId'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.orgMapping.organnizationName' | translate}}
                    </label>
                    <div [hidden]="f['organnizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <org-selector [property]="f['organnizationId']" operationKey="action.insert"
                            adResourceKey="resource.period" [defaultValue]="true" isRequiredField="true">
                        </org-selector>
                        <app-control-messages [control]="f['organnizationId']"></app-control-messages>
                    </div>
                    <label [hidden]="f['osOrgannizationId'].isHide"
                        [ngClass]="{'required': f['osOrgannizationId'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'app.payrolls.orgMapping.osOrgannizationName' | translate}}
                    </label>
                    <div [hidden]="f['osOrgannizationId'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <org-selector [property]="f['osOrgannizationId']" operationKey="action.insert"
                            adResourceKey="resource.period" [defaultValue]="true" isRequiredField="true">
                        </org-selector>
                        <app-control-messages [control]="f['osOrgannizationId']"></app-control-messages>
                    </div>
                </div>
                <div class="ui-g-12">
                    <dynamic-input [property]="f['shopCode']" [labelValue]="'app.payrolls.orgMapping.shopCode'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-left'">
                    </dynamic-input>
                    <dynamic-input [property]="f['erpShopCode']"
                        [labelValue]="'app.payrolls.orgMapping.erpShopCode'"
                        [labelClass]="'ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right'"
                        [inputClass]="'ui-g-12 ui-md-6 ui-lg-3 dynamic-align-left'">
                    </dynamic-input>
                </div>
                <div class="ui-g-12">
                    <label [hidden]="f['marketLocation'].isHide" [ngClass]="{'required': f['marketLocation'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">
                        {{'app.payrolls.orgMapping.marketLocation' | translate}}
                    </label>
                    <div [hidden]="f['marketLocation'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter [property]="f['marketLocation']" [options]="listMarketLocation" 
                            optionLabel="text" optionValue="value"
                            [placeHolder]="f['marketLocation'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                        </select-filter>
                        <app-control-messages [control]="f['marketLocation']"></app-control-messages>
                    </div>

                    <label [hidden]="f['marketGroup'].isHide" [ngClass]="{'required': f['marketGroup'].isRequire}"
                        class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">
                        {{'app.payrolls.orgMapping.marketGroup' | translate}}
                    </label>
                    <div [hidden]="f['marketGroup'].isHide" class="ui-g-12 ui-md-6 ui-lg-3">
                        <select-filter [property]="f['marketGroup']" [options]="listMarketGroup" 
                            optionLabel="text" optionValue="value"
                            [placeHolder]="f['marketGroup'].isRequire ? 'common.label.cboMustSelect' : 'common.label.cboSelectAll'">
                        </select-filter>
                        <app-control-messages [control]="f['marketGroup']"></app-control-messages>
                    </div>
                </div>
            </div>
            <div class="panel-footer vt-area-button">
                <button type="submit" (click)="processSaveOrUpdate()" class="btn btn-sm btn-info"
                    [innerHTML]="'common.button.save' | translate"></button>
                <button type="button" (click)="activeModal.close()" class="btn btn-sm btn-danger"
                    [innerHTML]="'common.button.cancel' | translate">
                </button>
            </div>
        </div>
    </form>
</div>