<div class="row" *ngIf="hasPermission('action.view')">
  <div class="col-md-12">
    <emp-position-salary-search></emp-position-salary-search>
  </div>
</div>

<div *ngIf="!hasPermission('action.view')" translate>
  common.haveNoPermission
</div>
