<div class="content">
  <p-tabView>
    <p-tabPanel [header]="'app.payrolls.attendanceTypeDefinition' | translate">
      <ng-template pTemplate="content">
        <attendance-type-definition></attendance-type-definition>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel [header]="'app.payrolls.holidayDefinitionInMarket' | translate">
      <ng-template pTemplate="content">
        <holiday-definition-in-market></holiday-definition-in-market>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
